[2015-07-19 20:29] wolfgangmm commented on #736
On the server it should still be possible to deploy a pre-built eXist and run it without requiring anything other than java installed, using a non-root user. The guy who installs eXist is often not the administrator.

I most often launch eXist in either of those ways, depending on the concrete scenario: 1) java -jar start.jar, 2) bin/startup.sh, 3) bin/client.sh -l, 4) tools/wrapper/bin/exist.sh.

[2015-07-19 20:34] shabanovd commented on #736
@wolfgangmm do you need 1,3,4 with installer or in development too?

[2015-07-19 20:42] wolfgangmm commented on #736
@shabanovd both, in development and production (the distinction is often blurred anyway). I normally start eXist using the start.jar launcher, but switch to bin/client.sh -l for debugging, maintenance and troubleshooting. And on some systems (windows), the wrapper is the only really save way to run eXist.

[2015-07-20 21:45] gspringtech opened #747 "xmldb:move causes IO Error in ConsistencyCheckTask"
After moving a binary file using xmldb:move from a sub-collection to its parent, the ConsistencyCheckTask will throw an IO error.

To reproduce, create a collection '/db/test' with a  sub-collection '/db/test/sub'. Add a binary file to the sub-collection.
Run xmldb:move('/db/test/sub','/db/test','file.jpg') from eXide

Then run a Backup from the Dashboard.

_The error can be overcome by moving the

[2015-07-22 14:18] dizzzz opened #748 "package repo: unclear exception"
After restoring a backup file, during startup the following stacktrace appears:unfortunately it is not clear which ZIP file is corrupt......

[code]

[2015-07-22 14:28] lcahlander opened #749 "Add an exit number to the system:shutdown()"
I have exist running in a Windows Server environment where I had admin privileges in order to do the install, but have to go through hoops to get it back to restart eXist-db.

Someone on stackoverflow asked "How can a windows service programmatically restart itself?"

http://stackoverflow.com/questions/220382/how-can-a-windows-service-programmatically-restart-itself

The answer was:

`Set the serv

[2015-07-22 14:29] ljo commented on #748
I am looking at some other exceptions in this are so should probably look at this too.

[2015-07-22 15:18] dizzzz commented on #748
it is actually triggered by running

[code]

[2015-07-22 21:42] ssire commented on #555
I use eXist-DB with most of my code (XQuery / XSLT) on the file system (in a version controlled folder under the webapp folder). I find it very convenient as it supports a clean workflow using a single "git pull origin master" command to deploy applications on production servers. I also develop with a file system editor (Text Mate) which I guess is common for many developers.

With the projected c

[2015-07-22 21:43] adamretter commented on #555
@ssire Okay don't worry. eXist 4.0 is a long way away and we may keep indeed keep it it if people like yourself are using it and we don't have a suitable replacement for version control

[2015-07-23 12:52] joewiz opened #753 "Add mailing list info to readme.MD"
From https://twitter.com/albertovski/status/624156766473973765:

[2015-07-29 15:35] ambs opened #755 "XML RPC, query vs retrieveAll"
Looking to `src/org/exist/xmlrpc/RpcConnection.java`, there are mainly two approaches to query eXist:

   1. Using the pair `executeQuery` + `retrieve(All)` methods.
   2. Using the `query` method.

The second has two interfaces, one returning a byte array, and marked as deprecated in the website, and another one returning a string, that I am not sure if it is deprecated or not.

Nevertheless, usi

[2015-07-29 15:45] ambs commented on #755
Some examples:

   1. REST:
      1. concatenated strings: http://per-fide.di.uminho.pt:8080/exist/rest/db/?_query=collection%28%27/db/dicaberto%27%29/entry/form/orth/text%28%29[contains%28.,%27avalo%27%29]
      2. structured result: http://per-fide.di.uminho.pt:8080/exist/rest/db/?_query=collection%28%27/db/dicaberto%27%29/entry[.//usg[@type=%22dom%22%20and%20contains%28.,%22Astron.%22%29]]!fn:b

[2015-07-29 17:50] ambs commented on #755
-- as an extra note, this was tested with version 2.2, but looked to code from git. Installing now 3.0rc1.

[2015-07-29 18:29] dizzzz commented on #755
in this context very little changes have been made since a few years

[2015-07-29 18:33] ambs commented on #755
Just confirmed the same behavior on 3.0rc1.

[2015-07-29 18:39] ambs opened #756 "XML-RPC example fix"
Sorry for not preparing a full pull request, but no idea where these pages are stored (if they are at all) in github.

But this page: http://exist-db.org/exist/apps/doc/devguide_xmlrpc.xml
the third example (with caption 'Another Query Examplet (XML-RPC)')
doesn't work as the executeQuery needs a third parameter with options.

This diff
https://gist.github.com/ambs/ea0a58cc14ac990b42d3
runs with 2

[2015-07-29 19:32] joewiz commented on #756
See https://github.com/eXist-db/documentation/blob/master/data/devguide_xmlrpc.xml. A pull request there would be most welcome.

[2015-07-29 19:53] ambs commented on #756
Will do it :)

[2015-07-29 20:34] ambs commented on #756
Done. So, closing this issue. Cheers.

[2015-07-29 20:34] #756 closed

[2015-07-31 13:10] ambs commented on #755
In case you think my analysis is correct and retrieveAll should be changed, let me know, and I'll try to work on a pull request.

[2015-08-03 11:04] wshager opened #758 "Error in nested fn:fold-left call"
The following code returns the wrong result:

[code]

The result should read `'a','x','y','b'` but instead it's `'a','x','x','b'`

[2015-08-03 13:42] adamretter commented on #755
@ambs I am not sure if the behvaiour should be changed or not.

Certainly the difference is in the two `else` statements of the code fragments that you posted. One of them is wrapping each atomic value in an `<exist:value>` whereas the other is not.

Does the current behavior cause a problem for you? If it does and it seems incorrect, then please do send a pull-request (don't forget you may need t

[2015-08-04 19:33] dizzzz commented on #753
actually it is there: "If you're looking for help or discussion, visit the eXist community mailing lists or......"

[2015-08-04 19:40] dizzzz commented on #753
maybe it is a virus scanner thing; i will continue to investigate but the error is..... vague

[2015-08-04 19:41] dizzzz commented on #748
maybe it is a virus scanner thing; i will continue to investigate but the error is..... vague

[2015-08-04 19:42] joewiz commented on #753
You're right. I should've checked first. Sorry!

[2015-08-04 19:42] #753 closed

[2015-08-04 19:44] dizzzz commented on #753
i'd vote to split the README.md a bit ; the text is rather long, so why not a DEVELOP.md containing most of the text, a README.md providing a limited introduction, link to the documentation and a link do DEVELOP.md  The current file scares me a bit off.... due to the size and the load of details in it.

[2015-08-05 17:51] ambs commented on #755
Dear @adamretter, thanks for your answer. At the moment I am in vacation mode, but I'll try to find out where in eXist that method is being used, and check if the change can break something.

Meanwhile, a little help would be good: what is the "semantic" difference from a `Type.NODE` and a `Type.ELEMENT`?

[2015-08-05 17:55] adamretter commented on #755
@ambs An Element is a type of Node, you can see the type model here - http://www.w3.org/TR/xpath-datamodel-30/#types-hierarchy

[2015-08-05 17:55] ambs commented on #755
:+1: thanks

[2015-08-05 22:23] adamretter commented on #753
@dizzzz I think the README.md should stay as it is. It is aimed at developers (and it appears as the text on our GitHub page), it briefly points to the website etc for non-developer docs.

[2015-08-06 15:03] agucabral21 opened #760 "unwanted unescaping escaped text in ExistDB 2.2"
I'm tying to migrate to 2.2 from 2.1.

I have an xml stored in my db that contains this element
[code]

I call an xquery using rest and what the response in 2.1 comes exactly the same, with the escape characters, but when i do the same with 2.2 the response comes like this
[code]

I want to be able to recieve the same response i was getting in existdb 2.1.

Is there any way to unable this escape p

[2015-08-06 15:07] joewiz commented on #760
Could you provide a little more context?  What serialization options are you using?  Are there any other transformations operating on the output of your query, such as a `<view>` directive in a `controller.xql` file?  Also, you say you're using the rest interface - so I assume your request is to a URL like `/exist/rest/db/...`; but if not, please specify.

[2015-08-06 15:14] agucabral21 commented on #760
No there are no transformations, i just filter some xml to get some elements and return it.
And im not using the controller.xql, im calling a .xquery file using soapui like this /exist/rest/db/.../file.xquery

Im using xquery version "3.0" , and im not using any serialization options

[2015-08-06 15:27] agucabral21 commented on #760
ive edited my previous response

[2015-08-06 17:10] agucabral21 commented on #760
The problem was soapui when if i save the document in the db it stays with the scape characters, sorry... and thanks!!!

[2015-08-07 15:06] #760 closed

[2015-08-10 18:52] wolfgangmm commented on #384
Just an update: I started a major redesign of the group by and order by handling, which does fix the issue described above. The redesign affects other areas though, so there's still a bit of work to be done. However, I hope to commit a final version in a week.

[2015-08-10 19:15] jonathanrobie commented on #384
Excellent news - thanks!

On Mon, Aug 10, 2015 at 2:52 PM, Wolfgang Meier <notifications@github.com>
wrote:

[2015-08-10 20:31] djbpitt commented on #384
Dear Wolfgang,

Thank you for the welcome news!

Best,

David

On Mon, Aug 10, 2015 at 3:15 PM, Jonathan Robie <notifications@github.com>
wrote:

[2015-08-11 07:51] claudius108 opened #761 "sm:get-group-managers"
Hi,

With eXist 3.0, sm:get-group-managers() does not return all the group managers. If I am looking into the group file itself, and set the group managers with sm:add-group-manager(), the function sm:get-group-managers() returns correctly the group managers. Although, the correct result does not persist if I restart eXist.

[2015-08-12 11:27] ChiSamurai commented on #495
To give you an example on that issue:

1. xmldb:create-collection(xmldb:encode-uri("/db/test@test1"))
2. xmldb:create-collection("/db/test@test1")
3. put different ressources in there

this leads to two different collections since the FS obviously can handle that. Accessing them using xmldb-functions works fine. But with WebDAV or by REST, the encoded one is not accessible. They are accessible on

[2015-08-12 13:23] ambs commented on #755
I am working on this, and have code already working, but I am trying to work with Perl XML::eXistDB author in order to make it behaving correctly (I hope).

But as far as I cold tell, eXist behavior on some things is quie ad-hoc, and difficult to convince the Perl module of the changed I am proposing.

Therefore, it would happen if there is a schema describing the `<exist:result>` element.
The sch

[2015-08-13 09:33] adamretter commented on #755
@ambs We don't provide any schemas for the XML-RPC API as the XML itself is generated from code. You can of course work backwards (as you have done) to create Schemas.

If for some reason it helps to add the Schemas to the official eXist, you can send a PR to place them in $EXIST_HOME/schemas. However please keep in mind that this then requires them to be maintained. I guess in the least you need

[2015-08-13 10:03] #755 closed

[2015-08-14 06:59] telic commented on #739
@wolfgangmm will your groupby-fix branch be addressing this issue?

[2015-08-14 08:46] wolfgangmm commented on #739
Yes, "order by" and "group by" are now expressions on the same level as "for" or "let". I just need to finish my cleanup of the xquery grammar, which is what I'm working on right now.

[2015-08-17 20:06] #384 closed

[2015-08-17 23:34] opax opened #764 "matching in catch clauses"
The matching of QNames in catch clauses seems to ignore the actually bound namespaces (eXist 2.2):

In this query, the error is caught although it is in a different namespace:

[code]

While in this query, the error is not caught although it should be:

[code]

This is probably related to issues #743, #744, #745

[2015-08-25 14:23] lcahlander opened #765 "Installer does not set memory for the wrapper in 3.0 RC1"
When installing eXist 3.0 RC1, I set the memory to 4096.  vm.properties has its values properly set, but wrapper/conf/wrapper.conf still has 1024 as the memory setting.

[2015-08-25 14:48] dizzzz commented on #765
via the installer ?

Hmmm I'd not think of a direct relation between the installer and the wrapper config; You think you typically need to adjust this file anyway to get reasonably settings....

[2015-08-26 09:53] wshager commented on #482
I took the idea of a RESTXQ library module and created a generic main module that consumes a library module. In this chain, the library module should be flagged for setUid/setGid, not the main module, as is the case in RESTXQ.

[2015-08-26 10:08] adamretter commented on #482
@wshager I am still not really understanding you. The setUid/setGid flag is interpreted an execution time, this can only be done through eXist's XQuery engine or the RESTXQ XQuery Executer.

[2015-08-26 10:27] wshager commented on #482
The problem remains that I don't want the generic main module to have a specific user or flag, only the app-specific library module. The main module is in a generic app, so I can redirect all requests there and don't need to duplicate code in each app.

[2015-08-28 08:44] #692 closed

[2015-08-28 10:05] adamretter commented on #429
Closed by https://github.com/eXist-db/exist/commit/ea34a8004a3a13f1440411f9ae10acb2e9c07b1f

[2015-08-28 10:05] #429 closed

[2015-08-28 14:35] dizzzz opened #769 "remove (or mute) logs"
In RC1/2 I see a lot of log lines like

[code]

I guess these can be removed?

[2015-08-28 14:43] adamretter commented on #769
Yes or you could change them to debug level

[2015-08-31 09:11] dizzzz opened #770 "SyncTask floods logging"
every 2-3 seconds the SyncTask logs two lines to the scheduler.log ; can/should we reduce the default logging  / loglevel here?

[code]

[2015-08-31 09:34] dizzzz opened #771 "Wrapper writes all logging into tools/wrapper/logs"
When eXist-db is started via the service wrapper, all logfiles are written into the `tools/wrapper/logs` directory.

For me it is OK to have all logs in one directory but it might be a bit confusing for existing users (the old logfiles are still on the old location).

Any opinions on this?

[2015-08-31 09:35] dizzzz commented on #765
It has never been set by the installer, I updated the title

[2015-08-31 09:54] ljo commented on #771
I don't think it is confusing to that many people. If you are running the wrapper you know where they are by default and can change it to any suitable location. If you run it container directly way you find the logs where most of the documentation refers to it. The only strangeness I have found people react to is when using the java admin client with other user than the wrapper is running.

[2015-08-31 10:18] adamretter commented on #770
In the above it seems to show that the log-level is already `DEBUG`?

[2015-08-31 10:20] dizzzz commented on #770
yes sure..... I am onlu wandering we we log the DEBUG messages out of the box, every 2-3 seconds?

[2015-08-31 10:28] adamretter commented on #770
The synchronisation, effectively a flush from in-memory to disk, happens every 2 seconds

[2015-08-31 12:09] dizzzz commented on #770
you miss my point

[2015-08-31 12:17] adamretter commented on #770
@dizzzz sorry, perhaps you could try to explain it in another way so that I can understand you?

[2015-08-31 12:23] dizzzz commented on #748
No the issue is real .... the ZIP files are corrupted, that is: not readable. I did some diagnosis but could not find the actual cause....

[2015-08-31 12:26] dizzzz commented on #747
I think/hope/expect it is solved with https://github.com/eXist-db/exist/pull/768

[2015-08-31 12:50] adamretter commented on #747
@dizzzz I would not expect it to be. This I suspect is related to the Journal logging of actions on binary files, of which I spotted a few problems whilst doing the above work. So I think the problem was always there and will still be there. Certainly some work needs to be done to fix/improve the Journal for binary resources...

[2015-08-31 12:53] dizzzz commented on #747
@gspringtech  ... are you running eXistdb on Windows?

[2015-08-31 18:48] #770 closed

[2015-08-31 21:29] gspringtech commented on #747
@dizzzz  no, deployed on CentOS 7.1 with Java 1.8.0_31 (and development on a Mac).
Can the NIO changes be pulled into 2.2?

[2015-09-01 06:49] dizzzz commented on #747
I think the merge is too large and risky...

[2015-09-01 09:53] adamretter commented on #747
@gspringtech I am using aspects of Java 8 in the NIO.2 changes that I made. eXist 2.2. is on Java 7, and I am afraid that I don't have any interest in back-porting those. Will you have a problem with moving to eXist 3.0?

[2015-09-01 10:14] gspringtech commented on #747
Looking forward to the upgrade. Is it production-ready (enough)?

[2015-09-01 10:23] adamretter commented on #747
@gspringtech There will be an RC2 shortly. Assuming that goes well, then there will be a production release. If issues are found then there will be a RC3.

[2015-09-02 07:20] dizzzz commented on #728
I have the same issue,  6.2/6.3 depend on GLIBC_2.12 ; An action must be taken to make the wrapper compatible with the original binary distribution.

on  http://wrapper.tanukisoftware.com/doc/english/supported-platforms-350.html   :

"During development and prior to each release of the Wrapper will be tested intensively to ensure functionality. The test environment uses the 2.6.18-6 + 2.6.31-20 ke

[2015-09-02 08:34] adamretter commented on #728
It's not a kernel version issue it's a glibc version issues. The version of Glibc was changed between RHEL/CentOS  6 and 7 branches. I will check which version the Tanuki release is compiled against, however I suspect it only supports one or the other...

[2015-09-04 10:39] christophe-g commented on #482
For the time being (version 3.0RC, recent build),  I can't have the RESTXQ Xquery Executer interpret setUid/setGid flag. I don't know if it it should be labeled as a bug, or if I miss something in this scenario.

Test case  (module owned by `admin/dba`, rights set to `-rwsr-sr-x`):
[code]
Hitting localhost/restxq/t3 returns :
[code]
If I understand correctly (?), it should instead return something

[2015-09-05 12:51] meshkin commented on #139
Hi,
I have this issue, too.
my config is (/db/system/config/db/collection.xconf):
<collection xmlns='http://exist-db.org/collection-config/1.0'>
     <triggers>
       <trigger class="org.exist.collections.triggers.HistoryTrigger"/>
     </triggers>
</collection>
when i change a document and save it, receive error (mentioned at top of page) and logs are:

2015-08-03 18:58:55,171 [eXistThread-32] E

[2015-09-05 14:57] dizzzz commented on #139
The following line fascinates me:

[code]

is your database set to readonly due to a diskspace issue?

[2015-09-06 03:42] meshkin commented on #139
I don't have diskspace issue, because when i disable HistoryTrigger feature, all transactions will done very well. I think HistoryTrigger cause this.
does the HistoryTrigger work on your db without error?

[2015-09-07 15:23] #492 closed

[2015-09-07 16:21] christophe-g opened #777 "html5 method eating attribute value when value is eq to name"
With very recent build on develop branch,

[code]

will return

[code]

This causes the browser to report

[code]

... and the wiki app to behave strangely as some parameter will never be sent to the server, like `name` in :

[code]

C.

[2015-09-08 08:36] zwobit commented on #39
This should be fixed with the 5ef94c1f484108077d869d8882533b358dc9c4f5. @peterstadler could you please test?

[2015-09-08 10:18] zwobit commented on #711
Current repo is on bitbucket. It more or less just contains the old code from the existdb git repo. My plan is to create a xar out of it, so it is easily installable into existdb.

[2015-09-08 15:57] christophe-g opened #778 "restxq Xquery Executer fail to interpret setUid/setGid flag"
As a follow-up of #482 :

Test case  (module owned by `admin/dba`, rights set to `-rwsr-sr-x`):
[code]
Hitting http://localhost:port/restxq/t3 returns :
[code]
If I understand correctly (?), it should instead return something like:
[code]
Cheers,
C.

[2015-09-09 10:13] peterstadler commented on #39
Sorry to say, but I'm still having difficulties.

My compression function is:
[code]

Though gz didn't work in the past, zip did. Now both of them fail. Trying a simple round trip

[code]

fails with error
[code]

My system:
* eXist Version : 3.0.RC1
* eXist Build : 20150908
* Git commmit : develop-5ef94c1
* Operating System : Mac OS X 10.10.5 x86_64

[2015-09-09 13:20] christian-schwaderer opened #779 "New range index causing trouble when going up an XML tree"
Consider an HTML file like this:

[code]

Now we try the query below:

[code]

This works perfectly fine without an index (and also in Oxygen). Once you set a new range index for @id with the following lines

[code]

-- it won't work anymore. It works for a single step, i.e. you can either go to the first span or to the second. It also works top-down, going first to the "higher" span than to the l

[2015-09-09 13:44] dizzzz commented on #779
after updating `conf.xml`, did you perform a re-index?
the engine does not return results if a collection of documents is only partially indexed...

[2015-09-09 14:03] christian-schwaderer commented on #779
Yes I did (sorry, forgot to mention). And I tested it also the other way round: Removing the index entry in collection.xconf (I guess, this is what you meant? Or does EXIST_HOME/conf.xml actually affect that behaviour?), re-indexing -> works perfectly. Re-inserting the entry for @id, re-index again -> doesn't work.

[2015-09-09 14:20] dizzzz commented on #779
ah sorry I meant `collection.xconf`

[2015-09-09 14:22] dizzzz commented on #779
please could you install Monex? This app provides details about the indexes......

[2015-09-09 15:00] christian-schwaderer commented on #779
Well, the output is not particularily helpful, I guess.
For the query
doc('/db/apps/test/test.html')//span[@id='foo2']/parent::span[@id='foo1']
 being the only line in "test_query", the profiling says
test_query.xq [1:41] 	new-range 	Full 	1 	0.0
test_query.xq [1:66] 	new-range 	Full 	1 	0.0

The "indexes" page is also not very exciting:

Keys for the New Range index defined on "@id" in the /db/ap

[2015-09-10 08:56] christian-schwaderer commented on #779
Did you succeed in reproducing this phenomenon?
BTW, it's meant more to be a bug report than a question. For my own project, I was able to re-structure my query to avoid that issue. However, if I'm right and it turns out that adding a range index prevents eXist from return the expected results of formerly working XPath expressions, that would be, in my opinion, a serious issue.

[2015-09-10 09:00] wolfgangmm commented on #779
I was able to reproduce the issue. It seems to be a problem with the optimizer rewriting the expression. Debugging it...

[2015-09-10 10:23] dizzzz commented on #779
Sorry I did not have time to reproduce it yet. Yes I think it is a bug too....

[2015-09-10 14:07] jensopetersen opened #780 "U+FFFD replacement characters appear instead of SMP and SIP characters"
eXist does a good job at maintaining higher-level Unicode values through transforms. However, there are exceptions. Take the following - innocent - script:

[code]

$test contains a CJK Extension B character, U+2A3C6, which should look something like http://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=2A3C6&useutf8=true (you may not have a font that allows you to view this character in eXide

[2015-09-10 16:29] adamretter commented on #761
I started investigating the issue here - https://github.com/adamretter/exist/tree/configurator-group-manager

I can reproduce the issue with this test case - https://github.com/adamretter/exist/blob/configurator-group-manager/test/src/org/exist/security/SecurityManagerRoundtripTest.java#L229

Unfortunately the issue is in the Configurator and it appears to be non-trivial to fix. Ideally we should

[2015-09-10 17:19] claudius108 commented on #761
Thanks for the insights, Adam.

[2015-09-11 12:29] dizzzz commented on #39
I can confirm... a recent change did break the compression:zip() function ; I think a last part of the file is missing.

[2015-09-11 12:34] adamretter commented on #39
@dizzzz Tobi (@zwobit) and I discussed this yesterday. The code for the zip stuff before worked by fluke rather than intention, cleaning up the code introduced the issue for sure. Tobi and I have a fix we discussed, however Tobi is looking at how to actually improve the code as it still misuses the compression stream.

[2015-09-11 12:42] dizzzz commented on #39
Ah ok; it probably explains why I had a hard time trying to fix the `repair:repo()` code where the same zip functions are used. [I thought I found the issue]

[2015-09-11 13:24] dizzzz opened #783 "Configuring eXist from Optional[....../eXist-db/tools/wrapper/bin/../../../conf.xml]"
The `Optional[....]` in the startup log looks a bit strange to me.....

[code]

[2015-09-11 13:25] #783 closed

[2015-09-11 13:26] dizzzz opened #784 "Configuring eXist from Optional[/...../eXist-db/tools/wrapper/bin/../../../conf.xml]"
The `Optional[....]` in the startup log looks a bit strange to me.....

[code]

[2015-09-11 18:17] wshager opened #786 "Feature request: map:put"
map:put is a very useful operation and part of the xquery 3.1 spec. please add it.

[2015-09-11 18:47] wolfgangmm commented on #786
Yes,  some functions were renamed or added between the last and the newest version of the spec. I planned to address them all in one go before 3.0 final. In fact, put does the same as

map:new(($map, map:entry($key, $value)))

in eXist 3.0RC1 (map:new is now called map:merge in the spec).

[2015-09-11 18:48] wshager commented on #786
Ok great. That's indeed how I wrote it.

[2015-09-11 18:48] #786 closed

[2015-09-13 14:45] jensopetersen opened #787 "Lucene index drops and ngram index chops up SMP and SIP characters"
The new range index appears to work without problems with high-range characters.

The ngram index chops up such characters in two, but due to the way ngram matches occur, this does not lead to problems with ordinary searches, only to searches using wildcards, for then two dots will represent one character.

The lucene index drops certain high-range characters, but it is not clear to me what the pa

[2015-09-16 08:46] jensopetersen commented on #787
With the following document, stored at /db/test

	<tests>
		<test group="1">&#x10000;</test>
		<test group="1">&#x10311;</test>
		<test group="1">&#x10425;</test>
		<test group="1">&#x10a68;</test>
		<test group="1">&#x10c00;</test>
		<test group="2">&#x10109;</test>
		<test group="2">&#x1018a;</test>
		<test group="2">&#x1f550;</test>
		<test group="2">&#x1f600;</test>
		<test group="2">&#x1d306;

[2015-09-16 16:21] lcahlander opened #789 "XQuery 3.1 indenting in JSON serialization"
According to

[code]

the following code

[code]

may generate

[code]

and not

[code]

Are there any plans to implement indentation in the JSON serializer?

[2015-09-16 16:26] adamretter commented on #789
Your not using the JSON serializer in the code you provided. You are just
using the xqjson library!
On 16 Sep 2015 17:21, "Loren Cahlander" <notifications@github.com> wrote:

[2015-09-16 16:41] lcahlander commented on #789
I changed my code to:

[code]

And now it works.

[2015-09-16 16:41] #789 closed

[2015-09-17 11:24] adamretter opened #790 "Binary streaming is broken"
To reproduce:
# Error Case 1
<a name="error-case-1"/>
1. Store a binary document into the database, e.g. `/db/me.jpg`.
2. Run the XQuery:

[code]

and you will get an error and the stack trace:

[code]
# Error Case 2
<a name="error-case-2"/>
1. Store the following XQuery into `/db/stream-image.xqy`:

[code]
1. Give execute rights to all users for `/db/stream-image.xqy`.
2. Call the stored query us

[2015-09-17 14:35] christian-schwaderer opened #791 "XSLT in eXist: suggestions and problems"
Dear eXist developers, dear all,

it certainly a big plus that you can make use of XSLT in eXist by having Saxon at hand. That makes in my case things a lot easier.

However, having used the transform:transform function now for some months, I encountered various issues, which I want to inform you about. Some I did already mention on the mailing list, but I considered it better to have them all in

[2015-09-18 17:40] telic commented on #482
I'd very much like to see this as well.  The use case is allowing users to create queries that modify sensitive data in a controlled way through a privileged module.  The main module would be written by an unprivileged user (and so cannot be given setuid), and a privileged user would provide a setuid module that provides an API to do "safe" things with the sensitive data.

[2015-09-19 16:48] trondaal opened #792 "Bug in monitoring modul for indexes on attributes with namespace-prefixes"
When working on a collection of rdf-documents with various indexes I have noticed that the monitoring app fails listing the entries for indexed attributes having a namespace prefix such as @rdf:about and @rdf:resource.

The error message indicates a problem with QName:
err:XPTY0004 checking function parameter 2 in call util:log("DEBUG", concat("INDEXES qname     :    ", $indexes:qname)): Invalid l

[2015-09-22 06:55] mjFakhar opened #793 "lock resouce"
enable lockResource method in xmldb module.
i want lock documents in shared collection for any user. i want lock document for edit user

[2015-09-22 08:44] ljo commented on #765
I am working on exposing this and choice of port(s) through the installer. It will take some time before I can get back to it though.

[2015-09-23 13:39] joewiz opened #794 "Lucene KeywordAnalyzer cannot be found"
Lucene's KeywordAnalyzer cannot be found on a standard trunk build.  When launching eXist with the following collection.xconf:

[code]

exist.log reports the following error:

[code]

For a reproducible test, including files, see this thread from exist-open: http://markmail.org/message/heesn3keggjkkmbg.

[2015-09-23 13:44] joewiz opened #795 "Unexpected results using ft:get-field() with whitespace analyzer index"
I've been experimenting with the whitespace analyzer as a named field as a way to offer case- and punctuation-sensitive full text search alongside the standard case & punctuation-insensitive analyzer.  However I'm getting unexpected results with the named whitespace fields.  The results have been confirmed by @jensopetersen. Below are the test files (a fuller version demonstrating #794 too can be

[2015-09-23 13:56] adamretter commented on #794
@joewiz Can you post a few more lines from the stacktrace? At least down to a few lines which are in the `org.exist` namespace.

[2015-09-23 14:02] joewiz commented on #794
Sure, here is the full stacktrace:

[code]

[2015-09-23 14:02] joewiz commented on #794
(Using a fresh installation of eXist-db 3.0RC1, downloaded via exist-db.org.)

[2015-09-23 14:05] ljo commented on #794
I am not shure there is any real problem here . The log just shows the default invocation (vith version) that fails which is followed by another attempt. I have changed this for the new Lucene version.
But I will check. Looking at other exceptions in this area anyway.

[2015-09-23 14:33] Annakan commented on #728
Should the RHEL/CentOS 6 considered dropped ? Or does a way around exist ?

[2015-09-23 14:37] joewiz commented on #794
Thanks, @ljo. If the error reported by the stacktrace isn't a problem, the original problem that prompted this thread is that the keyword analyzer — like the whitespace analyzer reported in #795 — isn't working.  For example, given a collection.xconf like this:

[code]

and a test file like this:

[code]

The following query returns 0 results:

[code]

[2015-09-23 14:37] joewiz commented on #794
(Confirmed by @jensopetersen.)

[2015-09-24 05:37] dizzzz commented on #728
Yes replacing two files makes it work again....

--
www.exist-db.org

[2015-09-24 15:58] adamretter commented on #790
Hey @zwobit Did you see this?

[2015-09-24 20:40] telic opened #796 "empty path step evaluated once in following steps"
When a path expression contains a step that evaluates to an empty sequence, subsequent path steps are nevertheless still evaluated. This works fine when subsequent path steps are `AxisStep`s (since the context is empty), but strange things happen when subsequent steps are `PostfixExpr`.

For example, eXist evaluates `()/true()` as `true()` instead of empty.

Notably, `() ! true()` evaluates to the

[2015-09-24 20:54] telic opened #797 "atomic `VarRef` not supported as `StepExpr`"
Using a `VarRef` with an atomic value where a `StepExpr` is expected results in an error, even though it is allowed by the spec.

For example,

[code]

results in "exerr:ERROR cannot convert xs:integer('2') to a node set". The expected result is 2.

Using an atomic `Literal` value works as expected (eg. `<a/>/2` returns 2)

[2015-09-24 21:32] telic opened #798 "different path result from in-memory vs stored"
If an atomic `Literal` value is used as a `StepExpr` in a `RelativePathExpr`, the results are different when working on in-memory nodes than with a stored document.

For example, given a document "test.xml" that contains

[code]

the query `doc('/db/test.xml')//b/3` evaluates to a single 3, whereas `(<a><b/><b/></a>)//b/3` evaluates to a sequence of _two_ 3's

[2015-09-25 15:22] telic opened #799 "context missing for '/' in predicate"
Using `/` or `//` at the start of a `PathExpr` in a predicate when working with stored documents results in an evaluation error, even when the equivalent `root(self::node())` does not.

For example, `collection('/db')[/]` results in the error "exerr:ERROR Internal evaluation error: context is missing for node 0 ! [source: String]", but `collection('/db')[root(self::node())]` returns the entire db

[2015-09-26 15:18] dizzzz commented on #798
please when filing an issue what you think wat is the correct answer......

[2015-09-26 17:12] telic commented on #798
The correct result is *two* 3's, since the last path step should be evaluated in the context of two `<b/>` elements.

Tested in eXist 3.0rc1 and 2.2, using Java 1.8.0_25-b17 on Mac OS.

[2015-09-26 17:41] telic commented on #799
Tested in eXist 3.0rc1 and 2.2, using Java 1.8.0_25-b17 on Mac OS.

[2015-09-26 17:42] telic commented on #797
Tested in eXist 3.0rc1 and 2.2, using Java 1.8.0_25-b17 on Mac OS.

[2015-09-26 17:42] telic commented on #796
Tested in eXist 3.0rc1 and 2.2, using Java 1.8.0_25-b17 on Mac OS.

[2015-09-27 12:09] adamretter opened #800 "Update Java Service Wrapper to 3.5.27"
Tanuki have release version 3.5.27 of the Java Service Wrapper. We should check whether this addresses the memory leaks previously detailed here - http://static.adamretter.org.uk/wrapper-patched/

I have emailed the wrapper-user mailing list asking for clarification - http://sourceforge.net/p/wrapper/mailman/message/34515098/

If they have fixed the issues we can do a straight upgrade. If not we w

[2015-09-27 17:47] dizzzz commented on #800
simon released the 64bit windows version on http://www.krenger.ch/blog/java-service-wrapper-3-5-27-for-windows-x64/

[2015-09-27 17:52] dizzzz commented on #800
the memory leak is not mentioned on http://wrapper.tanukisoftware.com/doc/english/release-notes.html .... i can ask the project, if i can find the reference....

[2015-09-27 18:30] dizzzz commented on #800
when implementing... please keep compatible as the original wrapper; it is not really acceptable if the patched version would not run on my RHEL whilst the original does!

[2015-09-29 12:59] ptrckb opened #801 "Problem POST-ing XML documents with RESTXQ trigger"
With the following resource function:

[code]

and trying to POST a (valid) XML file:

[code]

It works the first time (or, rarely, first few times) and then does not work anymore unless eXist-db is restarted. Is there a problem with the resource function?
- eXist-db 2.2

First time returns HTTP 200 then consistently returns HTTP 500 Server Error with body:

[code]

and message on standard output:

[2015-09-30 13:05] meshkin opened #802 "How can I convert Document to NodeValue"
hi all,
I am Writing a custom extension plugin, but I received the below error:
error: org.apache.xerces.dom.DocumentImpl cannot be cast to org.exist.xquery.value.NodeValue
how can I convert "org.w3c.dom.Document" object to NodeValue or a Document in eXist?
Thanks

[2015-09-30 19:38] joewiz commented on #802
Please ask questions on the exist-open mailing list. The eXist community reserves issues for bugs that've been confirmed on the mailing list; it's not the place for general questions. For more on this, see the project readme, which links to http://www.exist-db.org/exist/apps/doc/getting-help.xml.

[2015-10-01 11:48] dizzzz commented on #802
And..... if you post your question, please post a code fragment so we do not have to guess :-)

[2015-10-01 13:17] jensopetersen commented on #802
I would say that you should add "/*" to your expression …. You are getting a document node and you probably want a document element.

Just guessing …

[2015-10-01 13:29] wolfgangmm commented on #802
You need to convert your org.w3c.dom.Document into eXist's own in-memory DOM, so the query engine can process it further. There are several ways to do this, depending on where the data is coming from (SAX stream, XML parser)?

[2015-10-02 13:32] christophe-g commented on #777
@wolfgangmm... just before it disappears on page 2, can it be confirmed as a bug ?
Cheers,
C.

[2015-10-02 13:37] wolfgangmm commented on #777
Well, I guess the HTML5 serialiser needs a list of attributes which can be empty (e.g. "disabled") and should thus be collapsed. All other attributes should be preserved. I have not found such a list yet though.

[2015-10-02 14:09] joewiz commented on #777
According to the HTML5 spec on [boolean attributes](http://www.w3.org/html/wg/drafts/html/master/infrastructure.html#boolean-attributes) (see also the [WHATWG version](https://html.spec.whatwg.org/#boolean-attributes)), `<div test="test">` is absolutely equivalent to `<div test>`.  I think eXist's HTML5 serializer is correct.

My question is: what is responsible for issuing the error, "Specificati

[2015-10-02 14:58] christophe-g commented on #777
@joewiz Agreed (and thanks for the refs), but in this specific case, `test` is not a boolean attribute.
@wolfgangmm Should really `test="test"`, `name="name"` or `data-keepme="data-keepme"` attributes  be collapsed under html5 serialization?

There are 2 problems here :
- the actual string value of the attribute disappears. In the following, the submission data a server will receive are not equiva

[2015-10-02 17:54] joewiz commented on #777
Here's a list of boolean attributes drawn from the spec:

  https://github.com/kangax/html-minifier/issues/63#issuecomment-37763316

Since that list might be out of date, I've applied the same methodology to produce an up to date list from the current HTML 5.1 spec:

[code]

Results:

[code]

[2015-10-03 13:40] #713 closed

[2015-10-05 09:20] inormann opened #804 "Inconsistent full text search behaviour for plain versus XML Lucene queries"
According to http://exist-db.org/exist/apps/doc/lucene.xml there are two ways to pass a full text search expression to Lucene:

1. as plain text string in Lucene syntax
2. as XML-element expressing all Lucene search features in child elements and attributes

However, these two ways of text search don't correspond to each other completely: they handle case sensitivity differently! The XML variant o

[2015-10-05 11:54] adamretter commented on #800
@dizzzz I didn't previously update us to the patched version, I just built the patched version for a very specific need i.e. http://sourceforge.net/p/wrapper/mailman/message/33046914/. I was surprised when my patched version was added to eXist as it was without some testing on multiple platforms.

I performed the build on CentOS 7 which I guess has a newer glibc than your Centos/RHEL 6 platform. I

[2015-10-05 12:54] adamretter opened #805 "Split XQuery extension modules into seperate builds"
The XQuery extension modules under `$EXIST_HOME/extensions/modules` are at present built as a single Ant task. This has some disadvantages:

1. It is not clear where tests for these modules should go as there is just a `src/${package}` root which does not follow the standard java project layout. Also as modules in this single source root can be excluded from compilation via `$EXIST_HOME/extensions

[2015-10-05 16:17] dizzzz commented on #800
Hmmm I am pretty sure 'we' all agreed to have the patch included; yes if we can do things agnostic it would be great ~:-)

[2015-10-05 16:18] dizzzz commented on #805
you are right, but well we learned to live with it :-)  maybe not for 3.0 ?

[2015-10-14 22:08] trondaal opened #808 "Strange cardinality error when using field-index"
When querying a collection after adding a combined/field index I ended up with the following error that puzzled me:

`exerr:ERROR XPTY0004: The actual cardinality for parameter 1 does not match the cardinality declared in the function's signature:
range:field-eq($fields as xs:string+, $keys as xs:anyAtomicType*, ...) node()*.
Expected cardinality: one or more, got 0. [source: String]`

This seems

[2015-10-16 15:02] olvidalo opened #811 "Modification times for existing resources will change on a failed parse attempt after uploading using XML-RPC"
While using eXist's XML-RPC API I encountered some strange behavior. When parsing an uploaded resource to overwrite an existing one, and parsing fails due to non-wellformed XHTML, the modification time of the old existing resource gets updated while its content does not get changed.

Is this intended behavior? Because it strikes me as a little unlogical and it makes it tricky for example to only u

[2015-10-16 16:17] adamretter commented on #811
Nope that's not intended. Sounds like a bug

[2015-10-18 13:43] adamretter commented on #39
@peterstadler @dizzzz Can you tell me if this works for you in this branch - https://github.com/adamretter/exist/tree/feature/gzipfunction

[2015-10-19 15:21] joewiz commented on #792
Thank you, I was just hot on the trail of this issue. I found one other bug contributing to the errors and will submit a PR when I have a complete fix.

[2015-10-19 15:40] adamretter commented on #792
@joewiz Would you like this issue assigned to yourself?

[2015-10-19 15:53] joewiz commented on #792
Sure! I've got the PR ready to go - it's for the monex repository though. Will reference this one.

[2015-10-19 16:07] adamretter commented on #792
@Joewiz If you write 'Closes {$issue-uRL}' in your commit message. It will close this when it is merged.

[2015-10-19 17:20] caseydawsonjordan commented on #352
I agree it would be useful for triggers to be aware of events during a restore procedure vs regular operation.

Also, the same thing would also be useful for some indexes, to allow them to be disabled during a restore (as the index may rely on information in the database that is not yet present). Granted this means a re-index would need to be performed after the restore, but it would be better tha

[2015-10-19 19:42] peterstadler commented on #39
Hi @adamretter, just tried your branch and indeed it fixes the compression:zip() function for me. Yet, my gzip-roundtrip-example above still fails with (new error message):

[2015-10-19 20:09] dizzzz commented on #39
makes sense, I think the following lines need to be swapped:

[code]

[2015-10-19 20:17] adamretter commented on #39
@peterstadler Okay so this is weird, but I think we have a double encoding issue happening somewhere. The following code works for me:

[code]

Needing both the nested `util:base64-decode(util:binary-to-string(` is weird no? I expected to only need the `util:binary-to-string`

[2015-10-19 20:23] adamretter commented on #39
For comparison, this one works just fine:

[code]

[2015-10-19 21:32] peterstadler commented on #39
sorry, it's late … my above error message "Not in GZIP format" was due to my fault trying to ungzip a zipped archive, argh.

But the double encoding issue is still there. As I said, I'm using the gzip function for creating a sitemap and I can't convince Mr. Google to base64-decode the string ;)

[2015-10-20 15:31] christian-schwaderer opened #818 "util:binary-doc() can't cope with relative paths (via XQuery)"
I have a test sub-collection with two files: "test.xml" and "test.html5" (the latter stored as binary).
Retrieving those files via an XQuery file stored in the very same sub-collection leads to different results.

While `doc('test.xml')` works perfectly, `util:binary-doc('test.html5')` fails. Same goes for `util:binary-doc-available('test.html5')`. (The absolute path `util:binary-doc-available('/d

[2015-10-27 12:12] adamretter commented on #39
It turns out that `compression:gzip` was compressing the Base64 encoded representation of the binary value and not the raw binary value. I have fixed this in https://github.com/eXist-db/exist/pull/822

[2015-10-27 12:26] #39 closed

[2015-10-29 17:22] wshager opened #823 "mail:send-email uses wrong transformer for XHTML"
On one instance I get an error when trying to send an HTML email, while on another I don't. Both configurations are identical, run on Ubuntu 14 LTS and have sendmail. I use Saxon PE.

Stack trace:

2015-10-29 17:15:07,854 [eXistThread-227] ERROR (XQueryServlet.java [process]:556) - null
java.lang.NullPointerException
        at com.saxonica.config.Verifier.loadLicense(Verifier.java:141) ~[?:?]

[2015-11-10 15:24] wshager opened #829 "Reverting to old version of org.exist.Indexer.java produces invalid json"
When using doc() to resolve a document, and then you serialize it to json, the hints below give invalid json:

[code]

[2015-11-10 17:12] joewiz commented on #829
Please post a full reproducible example, with actual results and expected results, would be great.

[2015-11-10 22:12] wshager commented on #829
You'd have to store this XML and call

[code]

[2015-11-10 22:15] dizzzz commented on #829
Is storing the Xml required? Typically are tests without stored files easier to reproduce.

[2015-11-10 22:18] wshager commented on #829
Indeed, like I mentioned.

[2015-11-10 22:19] wshager commented on #829
The problem doesn't occur when the xml would be in the code.

[2015-11-10 22:20] dizzzz commented on #829
So when the Xml is in the query, it works ok?

[2015-11-11 11:21] wshager commented on #829
[code]
produces `{ "s" : { [{ "a" : "A", "b" : "B" }] } }

[code]

[2015-11-11 20:27] joewiz commented on #829
I'm getting the second result for both in-memory in database versions of your query, using the latest nightly of the develop branch.

What version of eXist are you using?

[2015-11-12 21:28] wshager commented on #829
This one was tricky... I reverted back to an older version of org.exist.Indexer, because it gives white space errors when storing XML. This version apparently produces the wrong XML to serialize.

Please fix the org.exist.Indexer issue referenced in https://github.com/eXist-db/exist/pull/670

[2015-11-12 21:34] joewiz commented on #829
Sorry, @wshager, I'm unable to reproduce what you are reporting about this JSON issue.  Using your sample data and code, I am getting *only* valid JSON.  Unless you're able to provide more info to help reproduce your results, I suggest closing the issue.

[2015-11-12 21:36] wshager commented on #829
@joewiz really? Did you revert org.exist.Indexer **and save** the XML again?

[2015-11-12 21:39] joewiz commented on #829
No, I just used the latest develop branch. Are you saying your problem only happens when you revert org.exist.Indexer? And you did this to work around the bug reported in #670? If so, isn't this issue just a dupe of #670 and thus should be closed?

[2015-11-12 21:42] wshager commented on #829
I don't know, this seems relevant.

[2015-11-12 21:43] joewiz commented on #829
Okay, I leave it to you and others better versed in #670 to decide.

[2015-11-12 21:43] joewiz commented on #829
Sounds frustrating though!  Good luck!

[2015-11-12 21:43] wshager commented on #829
@joewiz thanks.

[2015-11-17 04:09] jensopetersen opened #833 "exist:match missing from Lucene proximity searches"
It looks like exist:matches are missing from Lucene proximity searches that use standard search syntax.

The following feeds pairs of queries that should be equivalent, the first of a pair using standard syntax and the second XML syntax:

[code]

The first three queries using standard syntax have hits, but no exist:matches, which shouldn’t be possible. The corresponding queries using XML syntax ha

[2015-11-18 16:01] joewiz opened #835 "NPE when uploading a file to replace an existing file over WebDAV"
Steps to reproduce: Using the current develop branch, upload any XML document (e.g., `test.xml`) to the db (e.g., `/db/test.xml`) via WebDAV. This works. Upload it a second time: error 500, with exist.log showing the following error:

[code]

[2015-11-18 16:03] joewiz commented on #835
(Note: I've updated the description with steps to reproduce and the output from exist.log.)

[2015-11-18 16:20] joewiz commented on #835
(Note: I've updated the title to include "NPE".)

[2015-11-22 22:29] timathom opened #838 "Recent versions of XSLTForms fail to run in eXist 3.0.RC1"
XSLTForms is now on rev. 627, but any version later than rev. 594 is currently failing in eXist 3.0.RC1. This was first reported on the XSLTForms support list (http://sourceforge.net/p/xsltforms/mailman/message/34278223/) in July. Subsequent follow up with Alain Couthures and @wolfgangmm pointed to #670 as a potential source of the problem.

According to Alain:

[2015-11-25 14:24] wshager opened #839 "nested order by kills performance"
I have a data-intensive query that looks like this:

[code]

The query causes CPU usage to go off the charts. When the order by clauses are removed, resource usage remains low.

[2015-11-25 14:30] wshager opened #840 "XQuery sometimes doesn't return any results"
This problem occurs sometimes after a batch insert of XML files using the ant task. The request remains empty, and the only thing that helps is a reindex of the collection.

The xquery typically is retrieved via REST. The problem exists in some versions after 2.2. I can't find anything in the logs are reproduce the issue.

[2015-11-25 14:33] joewiz commented on #839
You said "nested" in your title. Is the nesting significant?

[2015-11-25 14:34] wshager commented on #840
I sent this in an email to the eXist mailing list (October 11 2015):

@wolfgangmm replied (October 11 2015):

This would indicate an issue with the structural index, which is
strange because that code didn't change since 2.1 or so. However, I
saw a similar problem recently, but blamed it on the development
version I'm using, which has a lot of other modifications. I'm
somewhat able to reproduce it

[2015-11-25 14:37] wshager commented on #840
I changed the title, because the issue may also occur with fn:collection()

[2015-11-25 14:39] wshager commented on #839
The impact of the single order by is there, but not as severe as having the second (nested) clause. Perhaps the nesting isn't significant, the second `order by` is.

[2015-11-25 14:41] wshager commented on #839
This was discussed around September 28 on the exist mailing list.

[2015-11-25 15:14] joewiz commented on #839
A link to the thread from exist-open.markmail.org would be useful for reference.

[2015-11-25 15:33] wshager commented on #839
http://exist-open.markmail.org/thread/bghfqexokge6iyh3
http://exist-open.markmail.org/thread/kfrkkfao2xgbmyu5

[2015-11-25 15:35] wshager commented on #840
http://exist-open.markmail.org/thread/qnhuvqv2gtxnlzuk

[2015-11-25 15:36] wshager commented on #840
The remarks in the email thread considering Windows or fn:doc can be ignored. The problem seems to be more structural.

[2015-11-27 20:06] joewiz commented on #835
I noticed the same problem when renaming a resource with WebDAV:

[code]

[2015-11-28 00:22] dizzzz commented on #835
Ok, thnx for reporting! It seems to be related to some recent changes where java8's Optional is used (introduced by @adamretter ?). This must be fixed for 3.0 for sure .

[2015-11-28 11:28] adamretter commented on #835
@joewiz Sorry about that.

@dizzzz When I read the WebDAV code, I thought that `subject` was immutable and not-nullable, and when I ran the test suite and everything passed I assumed everything was fine. At a closer look, it seems that I was mistaken, here is a fix - https://github.com/eXist-db/exist/pull/841
Also I can't seem to find any tests at all for WebDAV, I can't believe that is the case..

[2015-11-28 14:54] joewiz commented on #835
@adamretter Thanks so much! I've tested your branch and can confirm that my problem is fixed. I tested upload, move, rename, and delete - and all work as expected.

[2015-11-29 08:59] dizzzz commented on #835
No there are WebDAV tests, they have been on my wish list for a long time. That said, the issues that i fixed overtime were often specific client issues.

There is a more or less official test suite for webdav interfaces but is is not very great.

[2015-11-29 10:20] adamretter commented on #835
Okay cool. Do you want to merge it?

On Saturday, 28 November 2015, Joe Wicentowski <notifications@github.com>
wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2015-11-29 13:28] #835 closed

[2015-11-29 15:34] joewiz commented on #835
Thanks, Adam, Dannes, and Wolfgang!

[2015-11-30 13:06] meshkin opened #842 "Trailing slash shows xql source"
Hi all;
The security bugs of jetty are listed there: http://www.eclipse.org/jetty/documentation/current/security-reports.html
One of them is "Trailing slash shows JSP source"; that unfortunately there is same bug for xql files, too.
How can I fix this bug or neutralize it in eXist-db.
Or How can I update jetty to new version of it, because jetty version in eXist2.2 is very old!?
Thanks

[2015-11-30 13:14] adamretter commented on #842
@meshkin The version of Jetty we are using is not "very old", eXist HEAD is on Jetty `8.1.17.v20150415` which is the latest version of Jetty in the 8 series. If you are looking for a newer version of eXist then I would suggest eXist 3.0-RC1 or just taking a nightly build which will have the latest.

The reason we have not moved to Jetty 9 is that it requires both code and config changes as Jetty's

[2015-11-30 13:54] meshkin commented on #842
When the eXist-db 2.2 released, I downloaded, installed and using it. my logs are similar this:
30 Nov 2015 16:54:14,663 [main] INFO  (JettyStart.java [run]:122) - Running with Java 1.8.0_65 [Oracle Corporation (OpenJDK 64-Bit Server VM) in /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.65-3.b17.fc22.x86_64/jre]
30 Nov 2015 16:54:14,678 [main] INFO  (JettyStart.java [run]:131) - [eXist Version : 2.2]
30 No

[2015-11-30 14:15] adamretter commented on #842
@meshkin HEAD of GitHub `develop` branch of 3.0-RC1 are currently stable.

[2015-11-30 14:25] meshkin commented on #842
In download part of eXist-db site, for Version 3.0 RC1, is written : "not recommended for production"!
Do I download from that or clone from github?

[2015-11-30 16:41] adamretter commented on #842
I would suggest cloning from GitHub or taking a nightly build from http://static.adamretter.org.uk/exist-nightly/

I am led to believe that there should be an eXist 3.0-RC2 appearing around the end of December...

[2015-12-01 07:06] StephanMa opened #844 "eXist 3.0 RC1 doesn't start"
Dear Community,

yesterday i tried to start a fresh build of eXist 3.0 RC1 (dev 8b8fb2e).
Starting eXist with `sudo java -jar start.jar` doesn't work.
The Splashscreen appears but the server is not started.

The eXist-Log throws just one Error
"ERROR (Configuration.java [lookupModuleClass]:449) - Configuration problem: class not found for module 'http://exist-db.org/xquery/jndi' (ClassNotFoundExce

[2015-12-01 07:12] dizzzz commented on #844
What modules did you explicitly set in conf.xml ?

[2015-12-01 07:21] StephanMa commented on #844
I haven't changed anything. Just cloned and installed it without any changes.
JNDI is enabled in this version.

I temporary deleted this line in the conf.xml. The error disappears but the Server does not start either.

`
            <module uri="http://exist-db.org/xquery/contentextraction"  class="org.exist.contentextraction.xquery.ContentExtractionModule" />

            <module uri="http://exis

[2015-12-01 12:24] joewiz commented on #844
After you cloned the repo did you run build.sh/.bat?

[2015-12-01 13:05] StephanMa commented on #844
Yes, i run build.sh.

The building process afterwards was without any errors. And as i mentioned.... when i run `sudo java -jar start.jar` everything seems to went well. Unfortunately it does not start completely and it stucks at the Splashscreen.

Its not that urgent. But i wanted to report it in case that its not just my fault....

[2015-12-03 10:39] ChiSamurai opened #845 "Use of "order by" in recursively called function drops NPE"
There seems to be an issue with the use of "order by" in an recursively called function, leading to a NPE:

[...]

[...]

See full exception quoted here: http://pastebin.com/V9pNFiiL

This code will show the problem:

[code]

local:non-recursive("/db") works, local:recursive("/db") drops NPE. Maybe related to: https://github.com/eXist-db/exist/issues/839 ?

[2015-12-03 10:43] ChiSamurai commented on #845
Ah, forgot one information:

2015-12-02 15:10:43,148 [Thread-4] INFO  (JettyStart.java [run]:133) - [eXist Version : 3.0.RC1]
2015-12-02 15:10:43,148 [Thread-4] INFO  (JettyStart.java [run]:135) - [eXist Build : 20151116]
2015-12-02 15:10:43,149 [Thread-4] INFO  (JettyStart.java [run]:139) - [Git commmit : HEAD-2166e48]

[2015-12-03 10:55] ptrckb opened #846 "Incomplete regex character class with XQuery analyze-string()"
It seems that the shorthand character class '\w' does not include some (any?) accented letter in patterns for `analyze-string()`.

For example:

[code]

return:

[code]

Still the same shorthand character class does include them in patterns for `matches()`.

[code]

return

[code]

Tested with 2.2 and develop (395c00091059929adcef6f537c662e60f0a4e3a8)

[2015-12-03 13:44] ChiSamurai commented on #844
Same error on jndi here (after 'build.sh rebuild' ), too. Though on my machine 'java -jar start.jar' works and starts DB without any significant problem...

[2015-12-03 13:51] joewiz commented on #844
How odd...  Another troubleshooting step: before rebuilding could you do `build.sh clean-all` please?

[2015-12-03 13:52] ChiSamurai commented on #844
hmmm.. this drops my database, doesnt it? I could try it on a plain one it you like...

[2015-12-03 21:16] caseydawsonjordan commented on #565
@wolfgangmm @shabanovd @adamretter Can we work to get this idea merged into 3.0? This would be very important for allowing multiple data stores to work around the same trasaction object. This is something that we need very badly since our stack consists of eXist+SQL+MapDB.

We are planning to move to 3.0 soon and my company could provide considerable amount of testing with real world data and use-

[2015-12-03 21:27] adamretter commented on #565
If @wolfgangmm @shabanovd are interested in seeing this merged into eXist, then I have some further commits for pushing transactions into the APIs that I will merge into my public branch before I create a PR. However, if they are not interested I don't want to expend wasted effort. So @wolfgangmm and @shabanovd can you let me know please?

@shabanovd Note this involves a lot of "API" changes...

[2015-12-03 21:34] shabanovd commented on #565
@adamretter I'm not against API change but API change for nothing... To be more specific I and @caseydawsonjordan agree to spend next 2-3 months to force merge of latest eXist code to development and production. That is a lot of time and could be spend for something else. Hope, that it's clear what I was and will be "against" as hard as I can.

[2015-12-03 21:37] adamretter commented on #565
@shabanovd Well I am only proposing to change the API so that transactions are to be explicitly passed around. I am not proposing in the first instance to replace `Txn` with anything better. So it will appear to be API changes without a concrete implementation reason from me; The concrete reason is in @caseydawsonjordan's system. How does that sound?

[2015-12-03 21:45] caseydawsonjordan commented on #565
I have looked over much of the API changes and I think (in general) they
are good, and probably should have been done quite some time ago. Also, I
know that much of our code is messy and this would force us to clean it up
and make it safer. I don't mind putting in the effort to refactor. Knowing
what I know about our system, I think the effort to refactor everything,
and do it really well, is abou

[2015-12-04 02:50] dizzzz commented on #846
I might be wrong but the xpath regexp is different from the Java one. Maybe the wrong pattern || engine is used here....

[2015-12-04 08:13] shabanovd commented on #565
@adamretter Casey need simple pattern where transaction manager hold listeners and send events that transaction commit or rollback to that listeners. Do that require API changers?

[2015-12-04 09:54] ChiSamurai commented on #844
Build of clean checkout (develop branch) leads to that JNDI error:

[code]

@joewiz: I could send you the build log if you want. There are some errors like

[code]
I'm not familiar with the build process nor sure if related to that issue.

But: eXist starts with java -jar start.jar without problems.

[2015-12-04 13:02] alebastrov opened #847 "Is there a bug with sync access/modify in NativeBroker?"
It seems to me, saveCollection() method does non sync operation on pool.getCollectionsCache().
Moreover, all other places are using syncronize access to it

[2015-12-04 13:53] joewiz commented on #844
Just to confirm, I assume you haven't modified your $EXIST_HOME/extensions/build.properties or added your own local.build.properties in the same folder?  If you have changed these files, please state where.  But when you said "fresh checkout" I assumed you meant no modifications.

[2015-12-04 13:55] joewiz commented on #844
(I guess this is progress, though - despite the build errors related to JNDI, you're able to start the db normally...)

[2015-12-04 14:04] StephanMa commented on #844
Well for me, i haven't changed anything.

But, other then ChiSamurai, eXist doesn't seem to startup.
Tested different times in a VM or on my Testnotebook.

[2015-12-04 14:04] ChiSamurai commented on #844
no, i did very new checkout and build.properties are untouched. no modifications to any file at all.

[2015-12-04 15:04] jensopetersen commented on #845
The NPE comes with the first collection that has no collection inside it.

[2015-12-04 16:20] caseydawsonjordan commented on #565
Well @shabanovd I don't think we need listeners, I think that would be too sophisticated for our use case and possibly make things more complex. Right now I need 3 things:

1.) try-with-resouces support for transactions (This might already be in eXist 3.0, I haven't looked)
2.) I need the ability to create and use my own eXist transaction at the edges of the API, that way I can combine with a simp

[2015-12-04 17:19] shabanovd commented on #565
On Fri, Dec 4, 2015 at 7:20 PM, Casey Jordan <notifications@github.com>
wrote:

That was done at 2.1 and can be used for long time already.

Do you mean that you want annotations?

"combine with a simple transaction manager mechanism" will end up
notification from eXist storage on transaction status change to take action
on "external" transaction. JPA and similar just increase complexity.

APIs li

[2015-12-07 13:08] christian-schwaderer opened #848 "org.exist.storage.ConsistencyCheckTask always creates a backup"
I tried to trigger a Consistency Check **without** a backup via XQuery. According to the book, the parameter "backup" should default to "no". However, on my system (3.0RC1) it doesn't. The backup is created anyway.
Explicitly setting `<param name="backup" value="yes"/>` didn't help either. I still get a backup without wanting one. So, I guess there is a small bug herein.

[2015-12-07 16:10] alebastrov opened #849 "org.exist.soap classes have synchronized equals & hashcode methods, but others - not"
It looks very strange, and it takes CPU cycles to perform that.
I suggest to remove that (probably copied from somewhere) 'synchronized' keyword

[2015-12-07 16:18] shabanovd commented on #849
@alebastrov org.exist.soap was removed at latest develop branch.

[2015-12-07 16:18] #849 closed

[2015-12-07 16:23] alebastrov opened #850 "MemcachedModule class has non-synchronized get from HashMap in method retrieveClient()"
All others methods USE synchronized.
It may lead to 100% CPU usage (on core) and at least not valid at all

[2015-12-07 16:29] alebastrov opened #851 "Many classes has inner classes, which can be static"
For instance: XQueryContext has inner class ContextUpdateListener, which can easily be converted into static
{code}
private static class ContextUpdateListener implements UpdateListener {
...
}
{code}
It may help avoid memory leaks

[2015-12-08 07:10] alebastrov opened #852 "XQueryContext has helpless synchronization"
method:
- public synchronized ExistRepository getRepository(){...}
- usage of updateListener field may need sync (if there are several threads which add/remove listeners)
  Also
  inner class (should be static) class ContextUpdateListener does too long synchronization when _documentUpdated()_ and _unsubscribe()_ called, and of course _debug()_ and _nodeMoved()_ should use syncronization
  I would

[2015-12-08 07:44] shabanovd commented on #847
@alebastrov can you point to line at code?

[2015-12-08 07:46] shabanovd commented on #852
@alebastrov will you able to make PR?

[2015-12-08 08:29] alebastrov commented on #847
source
if(!pool.isInitializing()) {
            // don't cache the collection during initialization: SecurityManager is not yet online
            pool.getCollectionsCache().add(collection);
        }

fixed
if(!pool.isInitializing()) {
            // don't cache the collection during initialization: SecurityManager is not yet online
            final CollectionCache collectionsCache = pool.getCol

[2015-12-08 09:08] alebastrov commented on #852
Of course yes, but it may take some time

[2015-12-08 13:35] alebastrov commented on #852
added PR: https://github.com/eXist-db/exist/pull/853

[2015-12-08 13:36] alebastrov commented on #847
added PR: https://github.com/eXist-db/exist/pull/853

[2015-12-09 07:36] alebastrov opened #854 "NativeTextEngine has illegal contains calls"
stoplist.contains(token)
where TreeSet<String> stoplist = new TreeSet<String>();
but token is TextToken

contains in TreeSet is based on equality checking (o.equals(e))
but String NEVER equals to non-string classes,
so this would never contain

I suggest to check if it needs, it should be rewritten like
stoplist.contains(token.getText())

[2015-12-09 11:37] alebastrov commented on #851
added PR: #853

[2015-12-10 15:27] alebastrov opened #855 "NPE in Modification (sometimes)"
[code]

[2015-12-11 08:59] alebastrov opened #856 "Collection.getDocument() method holds the lock too long time"
It uses schema:
- acquire lock
- get document
- check permissions
- release lock

It could be more effectively, if it uses
- acquire lock
- get document
- release lock
- check permissions

[code]

[2015-12-11 09:10] alebastrov opened #857 "Collection.removeBinaryResource() checks getting READ lock, but should WRITE"
There is a fragment of code

[code]

I think below is valid code

[code]

[2015-12-11 09:20] alebastrov opened #858 "Collection class has several different schemes for lock and job"
It should be identical for all methods
- acquire lock
- db.getProcessMonitor().startJob(...);
- db.getProcessMonitor().endJob(...);
- release lock

or
- db.getProcessMonitor().startJob(...);
- acquire lock
- release lock
- db.getProcessMonitor().endJob(...);

In fact there are several ways to do that

[2015-12-11 13:48] adamretter commented on #857
@alebastrov Delete involves a write to collections.dbx. Why do you think it should be a read lock instead?

[2015-12-11 13:51] adamretter commented on #856
@alebastrov If we released the lock early as you suggest then we would have a concurrency issue between a document and its permissions where the two may no longer be in sync

[2015-12-11 13:57] alebastrov commented on #857
When we remove collection, we try to get
[code]

[2015-12-11 13:58] alebastrov commented on #857
So I've changed valid code for WRITE lock instead

[2015-12-11 14:02] alebastrov commented on #856
No
Because when we write document/collection/permission we are holding lock all the time, so just after got read document, no matter how permission changed, because we do not see changes anyway

[2015-12-11 14:05] alebastrov commented on #856
Maybe it will be clearer, if we draw schema:
T1 --WRITE-LOCK----WRITE_DOC-----CHANGE-PERMS----RELEASE-LOCK----
T2 -------READ-LOCK(WAITS)----------------------------------------------------------------GOT_LOCK---...---

where ... is reading collection/doc, checking permission, etc

[2015-12-11 14:06] alebastrov commented on #856
so if we got read lock - it means there were writing successfully

[2015-12-11 14:08] alebastrov commented on #856
Other situation is:

T1 --READ_LOCK-----GOT_DOC----RELEASE_LOCK--------CHECK_PERMS-----
T2 --------WRITE_LOCK(WAITS)---------------------------GOT_LOCK----WRITE_DOC---....-RELEASE_LOCK

[2015-12-14 07:10] alebastrov commented on #847
We spent lot of time to determine where we got lock, so that's the answer - it's a definitely bug.
Many threads (about 30) are waiting for lock (enter a sync), like this one
[code]

and there is one thread, which enters the lock above
[code]

[2015-12-14 07:13] alebastrov commented on #847
My fix is checked and issue went away

[2015-12-15 09:57] alebastrov opened #859 "Invalid usage of finalize methods"
There are dozen finalize methods, which do something, like closing resources, etc.

For instance:
:x: GZIPInputSource.java
[code]
:x: VirtualTempFileInputSource.java
[code]

:x: TemporaryFileManager.java
[code]

:x: AbstractRemoteResource.java
[code]

Moreover, in this class there is a defined method close() which does nothing, it would be better if it calls free() method instead of being empty.

[2015-12-15 10:16] adamretter commented on #859
We should never use finalize. Instead we should implement Closeable.

[2015-12-15 13:01] alebastrov commented on #859
Of course yes, but we have what we have to deal with

[2015-12-15 13:25] joewiz commented on #800
As stated in the thread Adam linked to, Tanuki has fixed the glibc memory leak in the forthcoming version, 3.5.28: http://sourceforge.net/p/wrapper/code/1938/tree/trunk/wrapper/doc/revisions.txt (wrapper-cvs, revision 1938, dated November 4). It's not out yet (they said November, and it's now December), but this is promising!

[2015-12-15 13:25] alebastrov opened #860 "The application, based on ExistDB is not being stopped properly"
The ExistDB has a lot of ThreadLocal variables, which are not cleared on shutting down event.

For instance:
:x: ByteArrayPool.java (as well as CharArrayPool.java, Coordinator.java, etc.)
[code]

this *pools_* SHOULD be cleared when ExistDB stopping, like below
[code]
and of course this method should be invoked in BrokerPool shutdown procedure

:warning: This practice not to clear ThreadLocal lead

[2015-12-15 13:26] adamretter commented on #859
Okay but the solution can be refactoring ;-)

[2015-12-15 13:29] adamretter commented on #800
The latest version of Tanuki only fixes one of the leaks. The leak related to an older glibc version won't ever be fixed by them as I think they expect you to just update to a newer OS. There is also a small bug with their SYSTEMD script which I reported and will be fixed in the next subsequent release. When their next release appears my preference would be to just move eXist to that.

[2015-12-15 13:30] alebastrov commented on #859
I think it's time to do this, because exist-db version 3 should be free from child errors/issues

[2015-12-15 13:32] adamretter commented on #859
I'm on holiday until the end of December and am just checking the odd email. Do you want to send a PR and I can take a look when I return

[2015-12-15 13:33] joewiz commented on #800
The entry in the revisions.txt file I linked to suggested that 3.5.28 does work around the problem caused by older glibc:

As I read this, this means no OS upgrade is necessary, right?

Thanks for your catch of the SYSTEMD script issue - that's awesome.

+1 to upgrading when 3.5.28 is released.

[2015-12-15 13:33] alebastrov commented on #859
:ghost:
[code]

[2015-12-15 13:37] adamretter commented on #800
Okay weird. The email I had from Tanuki said that only one of the memory leak issues that I had patches for was fixed. Perhaps the other has somehow gone away?

[2015-12-15 14:09] alebastrov commented on #859
I've found a better way, see PR

[2015-12-16 08:39] alebastrov opened #861 "Configurator class has saving field (Set), which has been accessing without sync"
It might be an issue, if there are several threads reading
[code]
I would suggest to use ConcurrentSkipListSet instead

[2015-12-16 08:52] alebastrov opened #862 "BrokerPool has not-synchronized access to its field activeBrokers"
Methods below are using (& others)
[code]
It definitely looks as an potencial issue

[2015-12-16 12:21] alebastrov opened #863 ":?: XQueryPool (& XQueryServlet) does not have ability to call timeoutCheck() method."
It means the memory won't be released until cache size is less, than maxPoolSize
[code]
But in real applications we periodically need to clear up used memory, so I would like to have the method timeoutCheck() as public

[2015-12-16 12:22] alebastrov commented on #863
Of course I need that for detecting memory leaks

[2015-12-16 13:26] alebastrov opened #864 "ThreadLocal fields SHOULD be cleared when stopping"
It's linked with https://github.com/eXist-db/exist/issues/859 and https://github.com/eXist-db/exist/issues/860
Application cannot be restarted in Admin Panel of Tomcat without leaking memory, after dozen restarting, the application cannot start at all.

[2015-12-17 08:27] zopyx opened #865 "MKCOL failing in existdb 2.2 with URLs containing double slashes"
my WebDAV client is connected to

http://localhost:6080/exist/webdav/db/testing-dexterity-460367f0-afd1-4fb3-93c8-d55660ecfe3d//plone.api-plone/e27566c1-a73a-4ce6-b031-e682e465c8c3

and I am trying to create a new collection "foo".

2015-12-16 19:46:18,390 [eXistThread-140] INFO  (HttpManager.java [process]:213) - MKCOL :: http://localhost:6080/exist/webdav/db/testing-dexterity-460367f0-afd1-4fb3-

[2015-12-17 09:03] dizzzz commented on #865
It looks like a Milton issue; the string provided is as-is;
No eXist code can be changed for this :(

[code]

That makes me think... Do you use a reverse proxy ?

[2015-12-17 09:10] zopyx commented on #865
The double slash was constructed in my own code, so I was able to fix it.
I don't want to be picky but all webdav clients that I know deal with this more gracefully...but as said...not a big thing...

[2015-12-17 09:20] dizzzz commented on #865
The current Milton library is not supporter anymore. Upgrading is not an option, license wise.

So, yes I agree it is not a good thing, but I don't think there is an option.

but.... Is there a reverse proxy involved ?

[2015-12-21 09:14] alebastrov commented on #847
I've forgotten to add important info
Instead of
[code]
We should use
[code]

[2016-01-05 17:34] adamretter commented on #778
@christophe-g you are of course correct :-)

[2016-01-05 18:48] #778 closed

[2016-01-05 19:23] rvdb opened #873 "optimizer regression for indirect queries on Lucene full-text and range indexes in eXist-2.2 and eXist-3.0.RC1"
In eXist-2.2 and eXist-3.3.RC1, the optimizer seems to behave buggy for indirect queries on node sets that have been stored in a variable first. When such indirect queries are run on the Lucene full-text and range indexes, the search is either slow or incorrect, which suggests that the optimizer isn't working optimally.

For comparison, behaviour for both 'direct' and 'indirect' versions of querie

[2016-01-06 14:53] amclark42 opened #874 "Some functions in the XSLT module are unimplemented"
Some functions in the XSLT module return the message "Method not implemented". The functions still show up in the XQuery Function Docs, because they have some documentation, but there is no code implementing those functions.

Functions in question: `xsl:unparsed-text`, `xsl:unparsed-text-available`, `xsl:unparsed-entity-uri`, `xsl:unparsed-entity-public-id`.

I'm using eXist 2.2. I'm not bothered

[2016-01-06 15:27] adamretter commented on #874
@amclark42 An implementation of XSLT for eXist was started some years ago by @shabanovd but it was never finished. I think it is abandonware now, @shabanovd should we remove it?

[2016-01-07 08:41] pherk commented on #844
I'm not shure if my problem is the same:
I did clean build of today's develop branch (RC2)
the JNDI error (class not found) persists,
despite this the server starts
... but I cannot login via dashboard (admin, guest passswords should be blank after clean build)
exist log shows:
2016-01-07 09:16:49,733 [eXistThread-26] WARN  (ServletHandler.java [doHandle]:538) -
javax.servlet.ServletException: An

[2016-01-07 08:51] dizzzz commented on #844
Please could you clean your browser cache?

[2016-01-07 11:07] pherk commented on #844
already done (Cache, Cookies, Browser-Data cleared), but same picture
- Login error
- after refresh "admin" as logged in but no actions possible

Peter

Ubuntu 14.04LTS, Java8, FF43

Quoting Dannes Wessels <notifications@github.com>:

[2016-01-07 11:41] dizzzz commented on #844
@pherk I'd prefer not to hijack this thread :-)
please start a new thread,  and verify if you have any plugin in the browser that blocks javascript,  ads,  etc; please switch them all off.

[2016-01-07 12:50] pherk opened #875 "login problem with 3.0RC2"
I did clean build of today's develop branch (RC2 2016-01-07)
the JNDI error (class not found, see issue#844) pops up, despite this the server starts
... but I cannot login via dashboard (admin, guest passswords should be blank after clean build)
exist log shows:
2016-01-07 09:16:49,733 [eXistThread-26] WARN (ServletHandler.java [doHandle]:538) -
javax.servlet.ServletException: An error occurred wh

[2016-01-07 12:54] dizzzz commented on #875
"fail" ... how does this reflect? messages in exist.log?

[2016-01-07 12:55] pherk commented on #875
user not authenticated (errors in exist.log)

[2016-01-07 12:57] dizzzz commented on #875
it must be something local; can you login into a completely empty database?
if not: then it is something local to your system/configuration

please provide details like OS/java version/browser etc.

[2016-01-07 12:58] dizzzz commented on #875
do you have privacy blockers installed in your browser? noscript? please switch off...

[2016-01-07 17:04] pherk commented on #875
I have no blockers. Meanwhile I had another try.
Ubuntu 14.04LTS, Oracle Java1.8_66, FF 43.0
my steps/observations:
fresh dir, fresh git clone of develop branch, no changes, browser cache cleared
build.sh (no errors, eXist 3.0.RC2 build)
servers started with startup.sh, banner shows eXist 3.0.RC1 !?
- JNDI not found
admin with blank password -> login error
refresh of dashboard website -> admin log

[2016-01-07 19:00] dizzzz commented on #875
I have no idea.... what does `git status` show? did you update conf.xml(.tmp)? did you run `build.sh rebuild` ?

[2016-01-07 21:21] wolfgangmm commented on #875
I just fixed the error you always get on develop if you first log into the dashboard. Please try version 0.4.5 of the dashboard available from the public repo.

I don't know if this will also help on the other issues reported (user manager), which might have other causes.

[2016-01-08 10:00] pherk commented on #875
AFAICS the login problem is resolved.
many thanks
Peter

[2016-01-10 09:55] dizzzz commented on #875
good to hear!

[2016-01-10 09:55] #875 closed

[2016-01-10 09:56] dizzzz commented on #874
Yeas, we should at least consider it.... @wolfgangmm, @ljo  ?

[2016-01-10 09:59] dizzzz commented on #874
Well there are two aspects: (1) the 'native' XSLT engine and (2) the XSL functions @amclark42 refers to.

[2016-01-10 11:13] adamretter commented on #874
@dizzzz Both of those things are part of the same "native" XSLT engine, no?

[2016-01-10 11:37] dizzzz commented on #874
Looks like, But I think the functions could be split off

[2016-01-10 11:46] adamretter commented on #874
@dizzzz Okay, but what would be the benefit of that?

[2016-01-10 11:55] dizzzz commented on #874
note sure yet :-)

I can imagine there are a few functions in the xsl: function namespace that are in that namespace exclusive only which provide nice functionality. I can also imagine that really require XSL domain things making them useless in xquery.

[2016-01-10 11:58] adamretter commented on #874
@dizzzz Hopefully as of XPath 3.1, there are no functions in the XSL namespace that are useful in XQuery. Some effort was undertaken by the WG to ensure that any useful common functions were promoted from XQuery or XSL into XPath.

[2016-01-10 12:25] dizzzz commented on #874
@adamretter ok that makes sense :-)

[2016-01-10 19:36] joewiz commented on #874
I think this report of what XQuery 3.1 functions eXist has and lacks is still basically up to date: https://gist.github.com/joewiz/acb0558f078c0576a5e7#file-exist-xpath-functions_results-xml-L10

[2016-01-10 21:07] adamretter commented on #874
@joewiz You might want to re-run your comparison after https://github.com/eXist-db/exist/pull/879 is merged.

[2016-01-11 07:28] median1st opened #880 "XQuery fails to compile try-catch under certain circumstances"
I've encountered a possible bug in XQuery parser in eXist 3.0 RC1 while evaluating the database. The try-catch parses and works correctly when used as this (XQuery 3.0):

    <dates>
    {
        let $coll := collection('/db/ray')
        for $i in $coll//item[datace]
        where (string-length($i/datace) gt 0)
        return try {
            xs:integer($i/datace)
        }
        catch err:F

[2016-01-11 09:56] claudius108 commented on #845
Hi,

Any news on this bug?

Claudius

[2016-01-11 11:04] alebastrov opened #881 "Collection.java has invalid equality checking"
class Account cannot be equal to class Subject. (line 1800)
[code]
:+1:  There should be getName() or getId() calls for checking
[code]

[2016-01-11 14:01] adamretter commented on #881
@alebastrov `lockUser.equals` calls `AbstractAccount.equals` which looks okay to me, what do you think is wrong there?

[2016-01-11 18:19] joewiz commented on #880
1. Could you reduce this report to a set of steps we can follow to reproduce your results (without your data or other application fragments)?

2. Could you confirm whether the contents of the `catch` clause of your 2nd sample code snippet are correct? It says `false` - which I imagine is a typo and should be `false()`.

[2016-01-12 07:01] median1st commented on #880
Hello Joe,

Thanks for your reply and the hint with the typo - indeed, this was my error
(false instead of false() in the catch block) and it was also the cause of
the error message. Once corrected to false(), the funciton behaves as
expected.
A question remains whether a bit more explicative error message would be
helpful here. I guess such typo could possibly happen frequently to those
who have

[2016-01-12 22:04] joewiz commented on #880
Hi Rene - Great, I'm glad this helped overcome the error, and thanks for following up.  I agree that this is a really terrible error message, and one I've never encountered before.  I would have expected an error like what you get if you enter `false` into a new XQuery tab in eXide:

    err:XPDY0002 Undefined context sequence for 'child::{}false' [at line 3, column 1, source: String]

The hint he

[2016-01-13 08:09] alebastrov commented on #881
[code]
:-1: There are 2 different classes (A extends B i.e. Subject extends Account). There is no any valid way to check equality of them, see J.Bloch book (Effective Java)

[2016-01-13 10:51] adamretter commented on #881
@alebastrov Can you be more specific? Which page in the book?

[2016-01-13 11:33] adamretter commented on #847
@alebastrov Can you elaborate on your last comment? Why do you think we should get the permissions without locking?

[2016-01-13 12:13] adamretter commented on #847
The synchronization fix is dealt with here - https://github.com/eXist-db/exist/pull/886

[2016-01-13 12:32] adamretter commented on #857
@alebastrov As the code standard the process is this:

1. Take a READ lock on the Collection
2. Retrieve a document from the Collection
3. Check if the Document has a WRITE LOCK (if so abort)
4. Upgrade to a WRITE lock on the Collection
5. Take a WRITE lock on the Document
6. Perform the removal
7. Release the WRITE lock on the document
8. Release the WRITE lock on the Collection
9. Release the RE

[2016-01-13 20:49] joewiz commented on #874
As a preview, here's what eXist registers as available using your map-improvements branch:

[code]

Thanks so much for getting these into place, not to mention adding support for the older deprecated functions. I should look to see whether the util functions for probing modules & function signatures can tell us which functions are deprecated, to be able to add that distinction to scripts like mine

[2016-01-14 00:35] gspringtech opened #888 "Implement Text serialization"
It would be greatly appreciated if Text serialization could be added as per the XQuery Serialization specification.

http://www.w3.org/TR/xslt-xquery-serialization-31/#text-output

In particular, the output:item-separator should be supported.

[2016-01-14 07:31] median1st commented on #880
Not a bug.
Closing as suggested.

[2016-01-14 07:31] #880 closed

[2016-01-14 07:55] median1st opened #889 "More explicative message for try-catch errors"
(This issue follows the discussion within the closed issue #880 - minor, low priority.)
When an error is made using a bareword within try or catch blocks in XQuery 3.0, the parser reports the trouble using error messages that do not sufficiently identify the cause and spot of the error.

Reproducible: always. Steps to reproduce:

Parse error:
1.  Use eXide to create a new XQuery (3.0)
2.  Write a

[2016-01-14 09:59] dizzzz opened #890 "Extend doc job org.exist.storage.ConsistencyCheckTask"
The following parameters are supported, and should be documented in 'conf.xml.tmpl':

'''java
    public final static String OUTPUT_PROP_NAME = "output";
    public final static String ZIP_PROP_NAME = "zip";
    public final static String BACKUP_PROP_NAME = "backup";
    public final static String INCREMENTAL_PROP_NAME = "incremental";
    public final static String INCREMENTAL_CHECK_PROP_NAME = "

[2016-01-14 10:01] dizzzz opened #891 "ConsistencyCheckTask: parameter max nr of backups"
Currently 'ConsistencyCheckTask' does not have a max. nur of exports that can be written to a disk. As a result my disks flood over time :-)

What about.... adding an option to limit the nr of backups?

[2016-01-15 10:05] alebastrov commented on #881
Part: Methods Common to All Objects.
Item 8: Obey the general contract when overriding equals

• Symmetric: For any non-null reference values x and y, x.equals(y) must re-
turn true if and only if y.equals(x) returns true.

In this case we have an error, because A equals B but B not equals A if B extends A

[2016-01-15 10:21] alebastrov commented on #857
Now it looks fine

[2016-01-15 10:24] alebastrov commented on #857
but there is still one mistake:
[code]

As you can see there is non-simmetric calls for
- startJob
- lock
-endJob
-unlock

It should be ETHER
- startJob
- lock
-unlock
-endJob

OR
- lock
- startJob
-endJob
-unlock

[2016-01-15 10:42] alebastrov commented on #847
As I can see
[code]
I.e. current.getPermissions() used arm-to-arm with current.getPermissionsNoLock()
It was strange for me, so I had to investigate this

[2016-01-15 10:48] alebastrov commented on #847
getPermissions() holds/releases the READ  lock to permissions for Collection (in example current) and after all saves the current collection, but permissions WOULD not be changed at all in this code fragment, so it is unnecessary locking

[2016-01-15 10:54] alebastrov commented on #856
I believe that permissions get read when document read, so whenever you place the checking, permissions would not be changed at all, so it might be checked after lock releasing

[2016-01-15 10:58] alebastrov commented on #850
It might be not related with ExistDB project, if so, just remove the ticket

[2016-01-15 11:00] alebastrov commented on #857
I've just seen the PR for that, thank you!

[2016-01-17 16:25] markov2 opened #894 "xmlrpc shows paths as base64 java-object"
Running 3.0RC1 XMLRPC, some calls not return "serializable" paths, in stead of strings in previous releases.  For instance, /db/rO0ABXNyABhvcmcuZXhpc3QueG1sZGIuWG1sZGJVUkltDg3x/lYKSgIAAloADmhhZFhtbGRiUHJlZml4TAAVZW5jb2RlZENvbGxlY3Rpb25QYXRodAASTGphdmEvbGFuZy9TdHJpbmc7eHABdAAEYXBwcw==

The returned is a java serialized object, where the documentation and previous release say that
it is a simple str

[2016-01-18 17:28] pherk opened #896 "client.sh URISyntaxException"
I use client.sh with -x -ouri=xmldb:exist:// parameters without problems,
therefore the following error surprises me:

./bin/client.sh -u admin -P xxxxxx -s -ouri=xmldb:exist://
-u admin -P xxxx -s -ouri=xmldb:exist://
Using locale: en_US.UTF-8
eXist version 3.0.RC2 (develop-1f14fa6), Copyright (C) 2001-2016 The eXist-db Project
eXist-db comes with ABSOLUTELY NO WARRANTY.
This is free software, an

[2016-01-19 05:46] dizzzz commented on #896
Hi,

I think another / is needed on the end, reflecting a 'no host name' ....

regards
Dannes

--
www.exist-db.org

[2016-01-21 11:48] median1st opened #898 "Unable to select nodes after rename"
When elements whose names consist of mixed case letters are renamed to lowercase equivalents, the XPath expression is unable to find them under the new names, e.g. renaming &lt;Level&gt; to &lt;level&gt; causes the newly named element to be unaddressable. Exist version 3.0 RC1.
Steps to reproduce:
1. Create an empty collection.
2. Upload a simple XML file, containing four elements under its root,

[2016-01-21 14:20] jensopetersen commented on #898
I don't know what `collection(...)` is supposed to do, but I get all 4 elements in 6.

I do `for $i in //root//* let $newname := lower-case(name($i)) return update rename $i as $newname` and then run `//root/elem[level]` and get 4 `<elem>`.

[2016-01-21 14:27] dizzzz commented on #898
I agree with @jensopetersen , please provide more concrete details e.g. about 'collection(...)', since details might count.

[2016-01-22 10:24] median1st commented on #898
Gentlemen,

The ellipsis in collection(...) is no magic. It is just a placeholder,
because I did not know in advance how you named your diagnostic collection.
So for example, if you named your collection '/db/diag', then collection(...
) became collection('/db/diag').

The described behavior repeated once again just few minutes ago - I've
imported an XML export from MS Access containing the mixed-

[2016-01-22 11:13] jensopetersen commented on #898
I have tried with a fresh install of eXist-db-3.0.RC1 and I still get 4 items returned.

I see your point about the structural index, but I can't see anything wrong here. I don't use Tomcat and run this on Mac OS X, but I don't think this should make any difference.

[2016-01-22 14:15] median1st commented on #898
I agree that the OS and web container should not make difference in this
case.
I've tried a fresh deploy of the same exist.war to a different server (both
SW and HW) and to repeat the steps and this time the query behaved
correctly. The only difference between the faulty db and the fresh install
is the data within. I've left the freshly installed one empty and it behaves
correctly. The faulty one

[2016-01-23 13:56] dizzzz commented on #898
indexed using lucene and new range indices (data + indices = 19GB total).

please provide index config details too when you find query issues

[2016-01-25 06:08] median1st commented on #898
The collection has no index config at all. The lucene and new range indices are used in a different collection.

[2016-01-25 14:49] wshager opened #902 "Lucene analyzer consumes too much resources (entire db lockdown for a long period)"
When running a new full text index against current develop, the db hangs, CPU at 100%. I'm using a snowball analyzer, which may be relevant.

[2016-01-25 14:51] dizzzz commented on #902
I see similar behaviour; does t help you e.g. to increase (or decrease) the size of the buffer in 'conf.xml' ? Not sure yet if it benefits

[2016-01-25 14:55] wshager commented on #902
@dizzzz the value is currently 32 (in `<module id="lucene-index" buffer="32" class="org.exist.indexing.lucene.LuceneIndex" />`). What value do you suggest?

[2016-01-25 14:58] dizzzz commented on #902
there is a pointer in http://exist-db.org/exist/apps/doc/lucene.xml : which points to https://lucene.apache.org/core/4_4_0/core/org/apache/lucene/index/IndexWriterConfig.html#setRAMBufferSizeMB(double)

[code]

[2016-01-25 15:00] dizzzz commented on #902
so "use as large a RAM buffer as you can" ....

[2016-01-25 15:04] wshager commented on #902
@dizzzz I'm kinda pessimistic about this setting, as Java already takes up a lot of RAM.

[2016-01-25 15:10] wshager commented on #902
@dizzzz exist seems to remain more stable during the reindexing with a higher setting. Thanks.

[2016-01-25 15:14] wshager commented on #902
@dizzzz hmm the CPU still goes up to 100%. I don't really see a change in memory usage.

[2016-01-25 15:16] dizzzz commented on #902
it is a pretty intense process, as it seems. I did run with a profiler last week, but I found it complex to come to a conclusion.

[2016-01-25 15:16] wshager commented on #902
@dizzzz I can see the number of brokers is growing fast in monex.

[2016-01-25 15:17] dizzzz commented on #902
hmmm I typically can't access monex anymore

[2016-01-31 11:46] wshager commented on #350
I get an error when merging the code with current develop:

javax.xml.transform.TransformerFactoryConfigurationError: Class org.exist.validation.resolver.eXistXMLCatalogResolver is not a SAX2 XMLReader or SAXParserFactory
	at net.sf.saxon.Configuration.makeParser(Configuration.java:2904)
	at net.sf.saxon.Configuration.getStyleParser(Configuration.java:2386)
	at net.sf.saxon.style.StylesheetModule.

[2016-01-31 17:09] dizzzz commented on #350
for sure the resolver class is not an XML parser nor such a factory.

[2016-02-01 11:20] wshager opened #906 "file:serialize prepends content to file"
In current develop file:serialize inserts the serialized content into file. Is this the expected behavior or a bug?

[2016-02-01 11:21] wshager commented on #350
@dizzzz is your comment meant for me? If so, what can I do?

[2016-02-01 11:30] joewiz commented on #906
... as opposed to?

[2016-02-01 11:40] wshager commented on #906
@joewiz replacing the content, obviously.

[2016-02-01 11:45] joewiz commented on #906
Have you read the docs on `file:serialize()`?

http://exist-db.org/exist/apps/fundocs/view.html?uri=http://exist-db.org/xquery/file#serialize.3

See especially the variant with the `$append` parameter.

[2016-02-01 11:47] wshager commented on #906
I would expect file:serialize#3 to replace the entire file, not prepend the content. I didn't mention appending.

[2016-02-01 12:02] wshager commented on #350
@adamretter did you check this? It seems rather obvious from http://www.saxonica.com/html/documentation/javadoc/net/sf/saxon/lib/FeatureKeys.html#SOURCE_PARSER_CLASS

[2016-02-01 12:08] joewiz commented on #906
Ah, thanks for clarifying. I can confirm your issue. Test to reproduce:

[code]

Expected result:

[code]

Actual result:

[code]

I'd suggest

[2016-02-02 03:42] dizzzz commented on #896
please respond?

[2016-02-04 07:15] median1st commented on #898
Update: it seems that the failing database instance has a corrupted index due to previous lack of disk space. When backed up and restored to a different instance with all the pertinent data and indices the error occurs no more. Closing the issue.

[2016-02-04 07:15] #898 closed

[2016-02-04 18:23] pherk commented on #896
yes, with another / client.sh connects properly
With two / it says also: Connected :-) but is not
NB
-ouri=xmldb:exist://localhost:8080/exist/xmlrpc       gives "Connection refused" to me
-l     connects properly

regards
Peter

[2016-02-10 13:43] #255 closed

[2016-02-10 14:14] thomasmeeus opened #911 "Importing backup fails with java-stacktrace"
Hi,

I took a backup of an empty exist-database. The only value changed is the admin password. I now want to import the backup on a new server. Both servers are using eXist-2.2 and were installed using default settings.

It appears that the import is successful, but that some kind of automatic maintenance task after the import is still using the old admin-password and fails.

[code]

[2016-02-11 08:00] dizzzz commented on #911
I'd expect you need to pass a -P options to set a password..... but you are restoring to an empty database? hmmm I did not see this before....

[2016-02-11 09:41] thomasmeeus commented on #911
True, but the initial clean database has no password set for the admin user
so this parameter doesn't work. Let me clarify my situation:

I'm packaging ExistDB as an RPM and I want to set a database password when
ExistDB gets installed. Configuring a password seems only possible using
the GUI or via an interactive shell which we can't use in our case.

As a workaround for this I was trying to inst

[2016-02-11 09:54] dizzzz commented on #911
there is another option: the eXist-db installer asks for the admin password, starts the databqse in embedded mode, configures the password, and shuts it down;

could could use the same approach?

[2016-02-11 13:30] thomasmeeus commented on #911
That might be a solution. Can you clarify which parameters for the `build.sh` command are required to let the installer ask for the admin password? I can't find such a feature in the documentation: http://www.exist-db.org/exist/apps/doc/building.xml

[2016-02-14 11:11] dizzzz opened #915 "equals issue?"
in org.exist.storage.NativeValueIndex.ExactMatcher#matches the following code is there:

[code]

intellij gives a warning for `term.toString() == expr`

[code]

is IntelliJ correct here? Or is an object comparison really sufficient? @wolfgangmm

[2016-02-14 11:25] dizzzz opened #916 "equals question"
in `org.exist.security.internal.Password#equals` IntelliJ triggers on the following code:

[code]

the relevant fragment is `pw == p.pw`

is this check done on purpose? I can imagine this is done to handle `null==null`, but I'd like to be sure, @adamretter @shabanovd  ?

[2016-02-14 12:25] shabanovd commented on #915
That one looks as bug for me.

On Sun, Feb 14, 2016, 14:11 Dannes Wessels <notifications@github.com> wrote:

[2016-02-14 12:38] adamretter commented on #915
Yes

[2016-02-14 12:42] dizzzz commented on #915
Yes..... Means???

[2016-02-14 12:43] adamretter commented on #915
Yes intellij is correct. It is s bug, you should never compare strings by reference

[2016-02-14 13:03] dizzzz commented on #915
Ok I'll fix

[2016-02-14 13:04] dizzzz commented on #916
And this one?

[2016-02-14 13:35] shabanovd commented on #916
I'm away from my laptop. Base on code I see it's OK.

On Sun, Feb 14, 2016, 16:04 Dannes Wessels <notifications@github.com> wrote:

[2016-02-14 15:20] dizzzz commented on #916
ok, thnx

[2016-02-14 15:20] #916 closed

[2016-02-15 12:02] dizzzz commented on #915
fixes #915

[2016-02-15 12:02] #915 closed

[2016-02-15 16:42] wshager opened #918 "Hidden DOCTYPE causes validation in Saxon"
Since a recent build, Saxon no longer resolved paths into the db with xmldb:exist:///db or xmldb:///db.

[2016-02-15 16:46] wshager commented on #918
Correction, this was due to DTD that is being enforced where there is none specified. Closing and investigating.

[2016-02-16 05:25] nessyh opened #919 "How to get the difference between two versions in exist-db"
I have enabled the version trigger in the db/system/config, and the versions of the files are listed under
system/versions/db. I need to list the differences between versions. How can i list the differences in exist-db. I am currently using exist-db 2.2.

[2016-02-19 14:55] wshager commented on #918
We suspect that a declaration is being stored that contains DTD information. Is that possible?

[2016-02-21 13:16] adamretter commented on #918
@wshager The resolver should be registered during startup by this line in your `conf.xml`:

[code]

Can you provide a simple example of how to reproduce the issue you are seeing please?

[2016-02-21 13:40] adamretter commented on #873
I think this is one for @wolfgangmm as he has been looking at the Lucene index and regressions recently.

[2016-02-21 13:43] adamretter commented on #873
* Copying from
Ron van den Branden's post to the mailing list http://markmail.org/message/kmz6ecktup3ztvjr *

[2016-02-24 16:05] wshager opened #921 "Rounding error xs:double math"
[code]
yields 2.0900000000000003

There's more but I'm leaving for holidays so no time to investigate now.

[2016-02-25 14:56] alebastrov opened #922 "AbstractUnixStylePermission has non-thread safe static Matchers"
For instance
[code]
But Matcher class is not thread-safe (#see javadoc), so
we have such error
[code]

[2016-02-25 15:01] alebastrov commented on #922
As an fix, you should not create static Matchers, they have to be created per thread in method setMode(final String modeStr)
[code]

[2016-02-25 15:14] alebastrov commented on #922
Option class has the same issue as well

[2016-02-25 15:31] shabanovd commented on #922
there was some more places too https://github.com/shabanovd/exist/commit/60a193891cf34df5831b35b4bf0e875c8fff09af

[2016-02-26 08:28] alebastrov commented on #922
But Option class has defensive synchronization for that Matcher

[2016-02-29 14:13] windauer opened #923 "Issue with attributes"
Following query return also TEI:blibl elements with types different to linguistic (e.g. 'auxiliary')

[code]

if the query is split like this:

[code]

the results are as expected.

I can provide access to a server demonstrating this issue if someone wants to have a look and fix it.

[2016-02-29 14:26] dizzzz commented on #923
optimizer issue?

[2016-02-29 14:29] ljo commented on #923
Or too lazy evaluation. I can reproduce it so no need for access.

[2016-03-01 19:55] lagivan opened #924 "eXist-db 2.2 web.xml validation issue"
Not sure if there are plans for maintenance releases in 2.x. But there is a validation issue with web.xml and it'd be great to fix it. There is a big stacktrace which ends with:

[code]

I face it when building war and deploying it under JBoss AS 7. Element `init-param` is not allowed as a child of `servlet-mapping` and should be added under `servlet` element instead. The issue occurs for `Resourc

[2016-03-01 22:30] dizzzz commented on #924
@zwobit one for you ?

[2016-03-04 12:08] wshager commented on #921
`number(xs:double(2.1) - .01)` yields 2.0900000000000003
`number(xs:float(2.1) - .01)` yields 2.0899999141693115

[2016-03-04 12:41] alebastrov opened #925 "BrokerPool has insufficient synchronization on activeBrokers field"
Though MapRWLock is looked OK (on the first glance)

[code]

synchronized(this) {
...
activeBrokers.remove(Thread.currentThread())
...
if(activeBrokers.size() == 0) ...
}

[code]

public boolean setSubject(final Subject subject) {
        //synchronized(this) {
        //Try to get an active broker
        final DBBroker broker = activeBrokers.get(Thread.currentThread());
        if(broker != null

[2016-03-04 12:43] alebastrov opened #926 "DBBroker has no legal sync on its referenceCount field"
BrokerPool uses this field without sync
[code]
I suggest to replace field **referenceCount  **from int to AtomicInteger

[2016-03-04 12:46] alebastrov commented on #925
I would suggest to use ObjectPool from apache project instead of using this obsolete code

[2016-03-04 12:52] alebastrov commented on #926
as well as **brokersCount** incrementing/decrementing without sync

[2016-03-04 13:02] dizzzz commented on #926
Why? Can you explain?

[2016-03-04 19:58] #906 closed

[2016-03-04 23:20] adamretter commented on #854
NativeTextEngine was removed from eXist when the legacy Full-text index was removed.

[2016-03-04 23:20] #854 closed

[2016-03-04 23:22] adamretter commented on #855
Which version of eXist emitted this stacktrace? In the HEAD of develop there is nothing on line 249 of org.exist.xupdate.Modification

[2016-03-05 07:29] adamretter commented on #925
I am not sure which version of the code you are looking at, but the latest version doesn't look as you mention above, instead it looks like:
[code]

However, there may still be synchronisation issues with the members of brokerPool.

[2016-03-05 19:37] #850 closed

[2016-03-05 19:37] #859 closed

[2016-03-05 19:37] #860 closed

[2016-03-05 19:37] #864 closed

[2016-03-05 19:37] #881 closed

[2016-03-05 19:37] #922 closed

[2016-03-05 19:37] #861 closed

[2016-03-07 19:24] adamretter opened #931 "Log4j2 is not writing logs to the correct path"
Log4j2 is writing its logs relative to where eXist is started from, not relative to where eXist is installed.

There is a PR which attempted to fix that - https://github.com/eXist-db/exist/pull/637. However the solution was not satisfactory.

I have submitted patches to the Log4j project here - https://issues.apache.org/jira/browse/LOG4J2-1050. As soon as the most recent bugfix is merged to their

[2016-03-08 09:37] #931 closed

[2016-03-09 08:29] alebastrov commented on #926
It's pretty much easy. This field may be used different threads, and sync is needed here not for synchronization itself, but for visibility reasons, cause referenceCount may be cached somewhere in CPU, and another CPU's core cannot see changing this field

[2016-03-09 08:42] alebastrov commented on #925
Yea. I see the latest code (last commit was 4 days ago)
and there are lot inactiveBrokers calls without sync
[code]
It needs to be fixed because though logic of Stack is based on Vector (which is synchronized inside itself), the inactiveBrokers logic (in couple with activeBrokers) should use external sync

[2016-03-09 08:46] alebastrov commented on #862
Now activeBrokers is ConcurrentHashMap, so issue may be closed

[2016-03-09 08:46] #862 closed

[2016-03-09 11:54] alebastrov opened #935 "Deadlock appears"
[code]

[2016-03-09 12:25] shabanovd commented on #935
what eXist version do you use?

[2016-03-09 13:32] alebastrov commented on #935
2.2 but several patches were included

[2016-03-09 13:34] alebastrov commented on #935
I can put my version here
[code]

[2016-03-09 13:35] shabanovd commented on #935
what is chance that your patch lead to that?

[2016-03-09 14:29] alebastrov commented on #935
I don't think so. i.e. I would say that the chance is running to 0.

Removing collections in parallel is rarely operation, and in my example it was synctetic test, which creates collections like /db/XXX/YY/zz1, /db/XXX/YY/zz2, /db/XXX/YY/zz3, /db/XXX/YY/zz4, then removing collections zz1, zz2, zz3, zz4. When I ran test in 4 threads, deadlock appears with 100 % percent garantee, deleting them in 1

[2016-03-09 14:30] alebastrov commented on #935
another problems were fixed, so I may give you all our fixed files for ExistDB 2.2

[2016-03-09 14:35] shabanovd commented on #935
@alebastrov can you share test code?

[2016-03-10 08:23] alebastrov commented on #935
I'm not sure if it is usefull, but the common scheme is below
[code]

[2016-03-10 08:59] shabanovd commented on #935
Well, I need something that I can run locally to try to fix issue.

[2016-03-10 14:20] joewiz opened #937 "contentextraction (tika) library problem with compressed files (xslx, docx)"
Using the current develop branch, contentextraction functions fail with a java.lang.NoClassDefFoundError error.

Steps to reproduce:

1. Upload the attached test files:

  - [test.docx](https://github.com/eXist-db/exist/files/167258/test.docx)
  - [test.xlsx](https://github.com/eXist-db/exist/files/167259/test.xlsx)

2. Submit the following queries in eXide:

[code]

[code]

Resulting error from e

[2016-03-10 15:51] adamretter commented on #937
Okay, so I would recommend -

Update Tika 1.12

Remove whatever POI version eXist has and replace it with POI 3.13, you
will need at least:

http://search.maven.org/remotecontent?filepath=org/apache/poi/poi/3.13/poi-3.13.jar
http://search.maven.org/remotecontent?filepath=org/apache/poi/poi-ooxml/3.13/poi-ooxml-3.13.jar
http://search.maven.org/remotecontent?filepath=org/apache/poi/poi-scratchpad/3.

[2016-03-10 16:09] joewiz commented on #937
@adamretter Thank you! A couple of questions based on my earlier attempt:

When I updated to 1.12, I modified my local copy of https://github.com/eXist-db/exist/blob/develop/extensions/contentextraction/ivy.xml#L5 and changed:

`<dependency org="org.apache.tika" name="tika-parsers" rev="1.8" conf="*->*,!sources,!javadoc">`

from line 5 to:

`<dependency org="org.apache.tika" name="tika-parsers" re

[2016-03-10 16:14] dizzzz commented on #937
I can revise the exclude list for known JAR files. as @joewiz said, have done that over and over again, not really a problem.

In essence, this kind of issues can pop-up with with any XAR file that deploys JAR files....

[2016-03-10 16:15] dizzzz commented on #937
I'd propose to have ivy do the dependancies ; I have excluded some jar files, because they were large and I could not think of any usage (why include database drivers :-) )

[2016-03-10 16:16] adamretter commented on #937
Yeah so that is Ivy, which tries to do dependency management for you.

Unfortunately most of eXist is not Ivy aware, and where we do have Ivy we
have multiple Ivy scripts that are unaware of each other, so you will
always have the potential for version conflicts and duplicates. Apart from
you manually pruning it, there is nothing to be done easily without
replacing the build process of eXist.

On

[2016-03-10 16:17] adamretter commented on #937
That won't work as eXist is composed as optional modules. To use Ivy
successfully we would need a single Ivy context which is aware of all
dependencies in eXist (including optional modules), at the moment we have
several independent Ivy contexts, hence the potential for duplicates etc.

As far as I am aware, a single Ivy context cannot handle optional modules
and their dependencies. So I don't see

[2016-03-10 16:19] dizzzz commented on #937
we don't look for a perfect solution ; how just wants to have it working again :-)

[2016-03-10 16:20] adamretter commented on #937
@dizzzz Yes I understand. I was just commenting on the larger issue ;-)

[2016-03-14 17:17] adamretter commented on #863
@alebastrov Please submit a PR.

[2016-03-14 21:05] line-o opened #940 "Is any state or some build artifacts kept in /build even when switching commits?"
All of a sudden my existDB instance threw errors on each startup.
It was complaining about some duplicate entries or similar in `PermissionRequiredAspect.class`.
A rebuild of exist to get rid of the problems failed as well.
It failed for any version that was checked out (develop branch  and hsg-shell tag).
Neither `git reset --hard <commit>` nor `./build.sh clean-default-data-dir` did help.
It alw

[2016-03-14 21:17] adamretter commented on #940
No I haven't seen that before. Perhaps you had a interesting JDK installed which was not compatible with  iajc?

[2016-03-14 23:27] line-o commented on #940
It is an OSX Capitan with the standard Oracle JDK.

[2016-03-14 23:34] adamretter commented on #940
@line-o Then I am afraid that I don't know. You could perhaps also ask the AspectJ people who make `iajc`...

[2016-03-14 23:38] line-o commented on #940
Currently, it is just important that work can go on again. If anyone else ever has this issue, removing the build folder and checking it out again did the trick.

[2016-03-15 00:56] adamretter commented on #940
Okay thanks for reporting @line-o. I am going to close this for now.

[2016-03-15 00:56] #940 closed

[2016-03-15 01:55] adamretter commented on #925
@alebastrov I have spent some time looking into Apache Commons Pool 2 as you suggested. Unfortunately out of the box it is not suitable, as we rely on the fact that a single thread can call `getBroker` (i.e.. `borrowObject`) over and over and always be handed the same object.

I have attempted to extend `GenericObjectPool` from Commons Pool to add such a facility by using `ThreadLocal` caching. I

[2016-03-15 09:58] shabanovd commented on #940
@line-o do `build.sh rebuild` help?

[2016-03-15 10:40] dizzzz commented on #935
in the stacktraces I see quite a lot of non-exist-db classes .... correct?
so when reporting... please specify the exact context eXist-db is used in.

[2016-03-15 14:45] ChiSamurai opened #942 "Restore leads to "Reason: networking error" errors using backup.sh and JAC"
Easy way to reproduce (submitted by @jensopetersen ):

- clone exist-develop
- build.sh
- install a few apps from the package manager (imo not needed)
- backup from the Dashboard
- clean build of the installation
- restore the backup through rpc (ie using backup.sh or JAC)

Leads to:

Reason: networking error
WARN: Failed to restore resource 'icon.png'
from file 'xxx.zip#db/system/repo/xqjson-0.2.

[2016-03-15 15:13] wolfgangmm commented on #942
A similar issue pops up when using ant to upload binary resources. Rolling back to #927 fixes it as well:

at java.util.Objects.requireNonNull(Objects.java:203) ~[?:1.8.0_66]
        at java.nio.file.Files.copy(Files.java:2984) ~[?:1.8.0_66]
        at org.exist.storage.NativeBroker.lambda$storeBinaryResource$23(NativeBroker.java:2077) ~[exist.jar:?]
        at org.exist.storage.NativeBroker.store

[2016-03-15 15:19] adamretter commented on #942
@ChiSamurai @wolfgangmm I will look into this later today/tomorrow.

[2016-03-15 18:00] gmella commented on #324
Hi,

  I just test on the daily distribution with version
[eXist Version : 3.0.RC2]
[eXist Build : 20160305]
[Git commmit : develop-e0d6078]

but the issue is still present :(

Should we work arround this and avoid such kind of nested call ? Is there any other smarter way to get the first error ?

Best regards,
--
Guillaume

[2016-03-15 20:07] dizzzz commented on #324
your query cannot be executed, there are syntax errors. That does not help accellerating  a fix...

[code]

[2016-03-15 22:51] gmella commented on #324
Thank yo udizz for having a look on this.
Ok, the first given test-code had a bad xquery declaration.
Next bunch of code seems valid:
[code]

It returns (axb,err:XPTY0004) in exide instead of (axb,error).

Sorry, I don't see the second syntax error.

Regards,

[2016-03-16 09:33] welblaud opened #944 "%test:args with a function argument that has either no explicit type or an explicit type of node() doesn't work"
[code]

[2016-03-16 15:08] wshager commented on #918
@adamretter It seems a DOCTYPE declaration is stored with the XML when calling

[code]

I suspect parsing the file first would strip the DOCTYPE declaration, but it seems to me that when it can't be accessed, it should be removed. I would really like to know where the declaration is stored and if it can be accessed or removed after the `xmldb:store` is called.

[2016-03-17 11:17] #942 closed

[2016-03-17 12:57] ChiSamurai commented on #942
Fix works like a charme! Thanks a lot.

[2016-03-17 15:07] dizzzz commented on #942
thnx guys!  ()also @ChiSamurai for testing!)

[2016-03-21 15:26] wshager commented on #840
@claudius108 suspected this was an issue for documents in the null namespace. I can confirm this. It isn't a Windows-specific issue AFAICT. I need to manually reindex documents that return empty results, inevitably leading to reindexing issues (#902).

[2016-03-21 15:31] joewiz commented on #840
Four months since your initial report. Have you had any luck nailing down steps to reproduce the issue?

[2016-03-21 15:34] wshager commented on #840
@joewiz How could I repoduce it?

[2016-03-21 15:34] wolfgangmm commented on #840
Just to be sure, "null namespace" means: xmlns=""?

[2016-03-21 15:35] wshager commented on #840
@wolfgangmm yes, any xml node without explicit xmlns declaration.

[2016-03-21 15:41] wolfgangmm commented on #840
So it applies to any document which does not have a namespace set? Would it be possible to provide me a dump of one of your data sets via private email?

[2016-03-21 15:44] wshager commented on #840
@wolfgangmm sure. I usually don't set namespaces on HTML documents/fragments, for example.

[2016-03-21 15:52] wolfgangmm commented on #873
My bugfix #949 addresses the failing range index queries. It does not improve the performance of indirect queries. This would be possible by making the optimizer inline the context variable (we do that for constants already). However, inlining is not always desirable. In some contexts inlining would have the contrary effect, in particular if there's no index defined. So the optimizer would need to

[2016-03-21 16:04] rvdb commented on #873
Ok, some progress, great! Is it wise, though, to close the issue? This way, you might risk sub-optimal performance for a common type of queries in eXist-3.0. Or should I isolate the performance of indirect queries in a separate issue?

[2016-03-21 16:20] wolfgangmm commented on #873
Yes, right, the issue should not have been closed. Reopening it.

[2016-03-22 02:49] gspringtech commented on #139
The HistoryTrigger causes a StackOverflow because it includes a BeforeCopy method AND attempts to copy the modified document. This causes infinite recursion.

The simple fix is to comment out the makeCopy call in the beforeCopyDocument method (line 144).

This attached test demonstrates the overflow error.
[HistoryTrigger-test.txt](https://github.com/eXist-db/exist/files/183441/HistoryTrigger-test

[2016-03-22 08:12] dizzzz commented on #139
On 3.0RC2 the script does not give the problem; probably solved by
- https://github.com/eXist-db/exist/pull/904
- https://github.com/eXist-db/exist/pull/910

another good reason to get 3.0 released....

[2016-03-22 16:22] adamretter opened #950 "Update XMLCalabash plugin for Saxon HE-9.6.0-7 (for eXist-3.0)"
When we release eXist 3.0.RC2, the XML Calabash plugin will need to be updated to the correct version of Calabash which supports Saxon HE-9.6.0-7. See:

https://github.com/eXist-db/eXist-XMLCalabash/pull/2
https://github.com/eXist-db/eXist-XMLCalabash/pull/1

[2016-03-23 13:45] windauer opened #952 "fop config -> issue resolving fonts via embed-url"
As described in https://github.com/eXist-db/exist/pull/938 I tried to adjust the fop config for the tei-simple-pm app (https://github.com/wolfgangmm/tei-simple-pm).

I changed the fop config in fo.xql (https://github.com/wolfgangmm/tei-simple-pm/blob/master/modules/fo.xql)  as follows:

* removed <font-base> base from the config
* changed  <font embed-url="Junicode.ttf" ../> to "<font embed-url="e

[2016-03-24 11:39] opax commented on #921
That is not a bug. xs:double is assumed to be IEEE 754 double (64bit), which yields a precision of 15 to 16 decimal digits. A xs:float is assumed to be a IEEE 754 single precision float (32bit), with a precision of between 7 and 8 decimal digits. If you look at your examples, you will see that this is exactly the precision you get.

You can try the same calculations in any other programming langua

[2016-03-24 11:53] dizzzz commented on #921
@opax thx for referring to the IEEE specs; did not find the time yet.

[2016-03-24 12:17] wshager commented on #921
The double - double is correct, the float - double is not, unless I'm missing something.
[code]
yields 2.0899999046325686

[2016-03-24 12:33] wshager commented on #921
[code]

yields 2.0899999046325686

[2016-03-24 12:36] wshager commented on #921
Finally, this is incorrect:

[code]

yields 2.09

[2016-03-24 12:44] wshager commented on #921
Ah, so the default floating point number is xs:float, that changes things...

[2016-03-24 12:44] opax commented on #921
Your example:

 #include "stdio.h"

is also correct, because the 2.1 stored in a float is of course only an approximation, i.e. it is within a precision of 8 decimal digits approximately 2.1. If you convert it to a double afterwards, it cannot be more precise than before. For reference, `(float) 2.1` has the value `2.099999904632568359375`

[2016-03-24 12:46] wshager commented on #921
No it's xs:decimal, of course.

[2016-03-24 12:47] opax commented on #921
And that is why 2.1 - 0.01 is 2.09.

[2016-03-24 12:48] opax commented on #921
So I guess the issue may be closed?

[2016-03-24 12:48] wshager commented on #921
What the hell is a decimal?

[2016-03-24 12:50] opax commented on #921
A number that is not stored in binary but in decimal format, hence no rounding errors when using decimal literals.

[2016-03-24 12:53] wshager commented on #921
@opax isn't that called a fixed-point? Java doesn't have that, right?

[2016-03-24 12:54] opax commented on #921
BigDecimal.

[2016-03-24 12:54] shabanovd commented on #921
note: `fn:number() as xs:double`

[2016-03-24 12:58] wshager commented on #921
Ok, so to conclude,

[code]

How does that work?

[2016-03-24 13:07] wshager commented on #921
float - decimal yields a float, which is rounded. That probably explains the source of my confusion. It's a mad world...

[2016-03-24 18:30] shabanovd commented on #921
@wshager you are right https://www.w3.org/TR/xpath-31/#mapping

[2016-03-24 18:50] wshager commented on #921
@shabanovd about what exactly?

I'm reopening the issue, because the resulting float should not be rounded IMO.

[2016-03-24 18:55] wshager commented on #921
Or should it?

"Numeric type promotion:
...
A value of type xs:decimal (or any type derived by restriction from xs:decimal) can be promoted to either of the types xs:float or xs:double. The result of this promotion is created by casting the original value to the required type. This kind of promotion may cause loss of precision."

https://www.w3.org/TR/xpath-31/#dt-type-promotion

[2016-03-24 18:58] wshager commented on #921
Aargh...

[2016-03-24 19:28] wshager commented on #921
Hah!

`xs:float(4.1) - xs:float(0.01)`

[2016-03-24 19:36] wshager commented on #921
I guess it all depends on how the float is rounded. I use eXide to run the scripts, so I think the rounding may occur anywhere on the server or the client.

[2016-03-24 21:26] wshager opened #953 "Locks not released when saving a lot in eXide"
Locks keep appearing when I'm trying to store xquery files in eXide. This pertains to the current develop branch.

[2016-03-24 21:28] wshager commented on #953
I have a waiting thread:
`
java.lang.Object.wait(Native Method)
org.exist.storage.lock.ReentrantReadWriteLock.acquire(ReentrantReadWriteLock.java:148)
org.exist.storage.NativeBroker.openCollection(NativeBroker.java:976)
org.exist.storage.NativeBroker.openCollection(NativeBroker.java:812)
org.exist.storage.NativeBroker.getXMLResource(NativeBroker.java:2168)
org.exist.xquery.XQueryContext.importModu

[2016-03-24 21:28] joewiz commented on #953
eXist version? Steps to reproduce?

[2016-03-24 21:29] wshager commented on #953
Another thing is that the index is corrupted when I stop eXist if it hangs like this...

Hi joe, I was expecting you...

I run Windows.

[2016-03-24 21:30] dizzzz commented on #953
it seems to hang on an import statement. please provide the relevant part of the script(s) please.

[2016-03-24 21:31] wshager commented on #953
@dizzzz ok, that's what I'd expect. It's a bit complex though, there's some circular imports. Below is another stack trace:

java.lang.Throwable.fillInStackTrace(Native Method)
java.lang.Throwable.fillInStackTrace(Unknown Source)
java.lang.Throwable.(Unknown Source)
java.lang.Exception.(Unknown Source)
antlr.ANTLRException.(ANTLRException.java:17)
antlr.RecognitionException.(RecognitionException.j

[2016-03-24 21:37] wshager commented on #953
@dizzzz I suspect it hangs on an piece of code executed with fn:apply, that has some recursion. I'm going to kill eXist now and look at the script. I don't expect this kind of voodoo is easily debugged, so perhaps we should leave it at that...

[2016-03-24 21:45] wshager commented on #953
The strange thing is that this happens on saving, as though the compilation of the query by eXide triggers an import that hangs...

[2016-03-24 21:47] wshager commented on #953
Maybe switching from one xquery pane to the other in eXide can cause a read+resolve for the imports used in the code completer, while the storing is caught in between. Just a wild guess of course.

[2016-03-24 21:49] wshager commented on #953
Possible steps to reproduce:
* open two xquery files in eXide that import the same modules
* edit one file
* switch between tabs
* store the file, quickly switching between tabs

[2016-03-24 22:02] wshager commented on #953
There's nothing in the logs. The lock is of a mode READ type COLLECTION.

[2016-03-24 22:10] wolfgangmm commented on #953
As always when you encounter a lock up, please try to save a thread dump as provided by jstack, plus the jmx output of /exist/status. The combination of both would tell us if and where the deadlock actually is.

[2016-03-25 09:34] wshager commented on #953
@wolfgangmm I would, but I can't. It seems eXist is run as a 32 bits java program on my windows machine, which is strange because it uses the 64 bits wrapper.

[2016-03-25 09:44] dizzzz commented on #953
@wshager please fix that first :-/

[2016-03-25 10:02] wshager commented on #953
@dizzzz obviously ;-)

[2016-03-25 16:54] tremms18 opened #954 "WebDav xmldb and xmlrpc -> Moving files locked by another user is prevented directly but not via collections"
I found that I am prevented from moving a file that is locked by another user if I try to move it by itself.  If I go to the same file's parent collection and move the collection, I am able to move the file via the collection.

[2016-03-25 17:08] adamretter commented on #954
It looks like this effects the `WebDAV`, `XML-RPC` and `XML:DB` API's.

It seems that `UserLocks` are only checked in `NativeBroker#moveResource` and not `NativeBroker#moveCollection`.

`moveResource` looks has these lines:

[code]

It seems to be that we should be consistent in the least, i.e. either:
1. Ignore the User Lock completely (which would seem silly)
2. Respect the User Lock in both `mo

[2016-03-25 17:08] adamretter commented on #954
@dizzzz As this effects the WebDAV API, what do you think?

[2016-03-25 17:10] dizzzz commented on #954
I Will have a look later today....

[2016-03-25 18:26] dizzzz commented on #954
Pooh, isn't a (kind of) fundamental issue? I realise that for this operation recursively must be checked if somewhere a lock is active (webdav is not special in this I guess, except that propound must report it too).

I wonder why we did not think of this before.

[2016-03-25 18:28] dizzzz commented on #952
do you have a longer trace?

[2016-03-25 18:31] dizzzz commented on #935
no answer to my question...... ?  I am really concerned about the the context (custom classes, tomcat, existdb version).  Considering this, and there is not a ready-to-use test available, I don't think anyone shall look at it?

[2016-03-25 18:33] adamretter commented on #954
@dizzzz Yeah to solve we have to either introduce a lock table or recursively search the sub-collection hierarchy for locked documents at Collection move time.

[2016-03-25 18:37] adamretter commented on #952
@windauer Can you push your changes to `tei-simple-pm` to your fork and let me know where it is so I can test?

[2016-03-25 18:47] dizzzz commented on #954
A locktable... Would be very helpful! I have been thinking to make one , when I implemented the WebDAV stuff. The way how locktokens are stored... Is sub optimal.

A locktable would be awesome and fast!

[2016-03-25 20:39] windauer commented on #952
simply try to render a pdf in https://github.com/wolfgangmm/tei-simple-pm (fop font config in fo.xql breaks pdf rendering)

[2016-03-25 22:55] shabanovd commented on #954
@adamretter @dizzzz @wolfgangmm there is metadata storage, can it be useful for that? also, move current resource metadata will improve performance a lot.

[2016-03-26 18:33] adamretter commented on #954
@shabanovd I am not really sure what you are proposing?

[2016-03-26 19:10] dizzzz commented on #954
probably https://github.com/eXist-db/exist/tree/develop/extensions/metadata ...
https://github.com/eXist-db/exist/blob/develop/extensions/metadata/sleepycat/src/main/java/org/exist/storage/md/MetaDataImpl.java

[2016-03-26 21:08] shabanovd commented on #954
@adamretter, yeap, @dizzzz is right. Metadata storage (extension) design to store key-value pair per resource (collections, xml & binary documents). It have simple methods to set & get that pairs. There is also backup integration.

[2016-03-27 16:31] adamretter commented on #954
@shabanovd @dizzzz Sure I understood Dmitriy mean the metadata extension, but I don't see how that is relevant here?

[2016-03-27 16:34] dizzzz commented on #954
My impression that he suggest not to built a separate lock-table, but to use this extension in stead; also it could be used to offload the current dbx files with (other) document meta-data.

[2016-03-27 17:03] adamretter commented on #954
Hmm a lock table would be core to the database so I don't think an extension is a good idea. Also the lock-table does not need persistent storage.

[2016-03-27 18:13] #924 closed

[2016-03-27 18:22] shabanovd commented on #954
@adamretter why metadata storage can't become core feature?

[2016-03-27 18:31] adamretter commented on #954
@shabanovd It uses an external data-store, IMHO this doesn't make it easy in future to integrate transactions etc across both stores. Also, I don't see that the lock table needs to be persistent and so this seems like a lot of overhead for something simple.
The lock table will need to be fast though, so something like an in-memory skip list is probably enough.

[2016-03-27 18:44] dizzzz commented on #954
i tend to agree with @adamretter here;

[2016-03-27 18:49] shabanovd commented on #954
@adamretter "I don't see that the lock table needs to be persistent" ... hmmm, are you 100% sure on that?

[2016-03-27 19:01] adamretter commented on #954
@shabanovd Nope ;-) So... why do you think we need to be able to persist it?

[2016-03-27 19:30] shabanovd commented on #954
@adamretter because production server upgrade must not be visible for end user. All locks must persistent.

Also, eXist's metadata operations very heavy and must be optimized, making metadata storage core feature is good step for that too, IMHO

[2016-03-27 20:10] dizzzz commented on #954
Ah I missed something crucial ; until now I have always been convinced that locks should be persistent (It adds additional complexity for sure).

But..... I need to think about the rationale about this; would it hurt if a lock is gone after server reset? not sure , @wolfgangmm ? @ljo ?

[2016-03-27 20:15] dizzzz commented on #954
My initial idea is and was to add an new btree thingy to exist for metadata; all logic is their already no?

[2016-03-27 20:33] #937 closed

[2016-03-27 21:42] shabanovd commented on #954
@dizzzz @adamretter @wolfgangmm @ljo Metadata storage is not just "add another btree", but question of infrastructure: backup/restore, handle copy, move, remove operations. Right now, metadata storage implemented with sleepycat storage, and it modular design allow to implement storage based on eXist's btree. Rest in place already.

[2016-03-28 00:26] caseydawsonjordan commented on #954
Just wanted to chime in and add that the existing behavior of locks
persisting across restarts is pretty important to maintain. Users may lock
(checkout) files, and expect those locks to be maintained through restarts,
upgrades etc. For systems doing document management this is pretty crucial
behavior. Thanks!

On Sun, Mar 27, 2016 at 5:42 PM Dmitriy Shabanov <notifications@github.com>
wrote:

[2016-03-28 09:12] dizzzz commented on #921
Always verify with Saxon if an xquery bug is suspected:
`xs:float(4.1) - xs:float(0.01)` = 4.0899997
`number(xs:float(2.1) - .01)` = 2.0899999141693115
`2.0900000000000003` = xs:double(2.1) - .01

[2016-03-28 09:12] #921 closed

[2016-03-30 13:37] alebastrov commented on #925
OK, I'll look at it

[2016-03-30 14:33] alebastrov commented on #935
When I have time to provide test I'll do it. Unfortunately I'm busy at my work and I do not know when I am ready

[2016-03-30 14:33] alebastrov commented on #863
Some time later

[2016-03-30 14:39] alebastrov commented on #855
[code]

[2016-03-30 14:44] alebastrov commented on #855
I added if (ql[i] == null) continue;
to prevent NPE

[2016-03-30 14:48] wshager opened #962 "Configuration error on startup"
I've configured exist to use the snowball analyzer, but I get a long list of error messages. This causes the db to take a long time to start.

[exist.log.txt](https://github.com/eXist-db/exist/files/195751/exist.log.txt)

I run windows server 2008r2
current develop

[2016-03-30 14:49] wshager commented on #962
I run windows server 2008r2

[2016-03-30 14:49] wshager commented on #962
current develop

[2016-03-30 14:50] dizzzz commented on #962
@wshager please make compact mails/notes/issues ; please don;t use exist-open or this tracker as an notebook of one-liners

[2016-03-30 15:11] dizzzz commented on #855
please could you confirm the eXist-db version?

[2016-03-30 15:22] dizzzz commented on #962
can you share the `conf.xml` file?

[2016-03-30 15:26] dizzzz commented on #962
it is possible to call an specific Analyser constructor manually: http://www.exist-db.org/exist/apps/doc/lucene.xml#D2.2.4.27.6

the Constructor def is at https://lucene.apache.org/core/4_0_0/analyzers-common/org/apache/lucene/analysis/snowball/SnowballAnalyzer.html ....

[2016-03-31 10:15] alebastrov commented on #855
2.2

[2016-03-31 15:55] #811 closed

[2016-04-04 10:45] wshager commented on #962
@dizzzz thanks for the research on this one. I'll try a replacing analyzer.

[2016-04-04 10:59] wshager commented on #840
@wolfgangmm I have a problem with triggers not starting at db launch, which may indicate that XML within an XMLNS may appear empty too. I can't imagine that I'm the only user that experiences this. Perhaps it's caused by some configuration problem, but I only slightly divert from the default setup.

[2016-04-04 11:10] wshager commented on #840
Again, an empty document encountered, just a simple config file that wasn't returned. Storing it again solved the issue...

[code]

[2016-04-04 13:33] awagner-mainz opened #964 "Feature Request: Unattended Console Install"
Dear all,
presently I am reying on the 'expect' command to automate my -console install, but this brings in lots of dependencies that are otherwise unnecessary. A mail on the list (from a long time ago) mentioned it was possible to read install parameters from stdin, but it required re-packaging the distribution jarfile.

Could you make an unattended mode for the console installer?

[2016-04-04 14:05] wolfgangmm commented on #840
Since I have no idea how to reproduce this, the only option would be to get my hands on a binary dump. So next time the issue happens, could you tar up your data directory (with eXist stopped) and put it somewhere, along with a description of how the issue can be seen?

Unfortunately none of the apps we're actively working on does show similar issues.

[2016-04-04 20:01] dizzzz opened #965 "Upgrade jing library"
see https://stackoverflow.com/questions/35746833/validation-error-for-xsl-fo-file-in-exist-db-using-jing-and-jaxp/36411801#36411801

a new version has been released quite some time ago; need to ask @georgebina to create a tag, and or to mavenize the build

[2016-04-06 11:05] welblaud opened #966 "Apache FOP error"
I am trying to migrate my app onto the last nightly-build (**#ecc4df4**). When trying to test FOP outputs, I get this error:

[code]

[2016-04-06 11:08] welblaud opened #967 "NPE in "group by" combined with "for at""
In versions 2.2 and 3.0.RC1, everything worked as expected. After migrating onto the last build I got this error (when trying to access a particular protected site, other sites work well). I guess it has something to do with the rewriting:

[code]

[2016-04-06 13:10] StephanMa commented on #844
Well i will take the opportunity to give you a small feedback.

Now i am using the Version 3.0.RC2 (develop-503ad32).

The log says still the same
"Configuration problem: class not found for module 'http://exist-db.org/xquery/jndi' (ClassNotFoundException); class:'org.exist.xquery.modules.jndi.JNDIModule'; message:'org.exist.xquery.modules.jndi.JNDIModule' "

No changes were made to any of the con

[2016-04-06 14:00] StephanMa commented on #844
2016-04-06 15:59:21,405 [WrapperListener_start_runner] WARN  (WebAppContext.java [doStart]:503) - Failed startup of context eXist-db Open Source Native XML Database
javax.servlet.UnavailableException: org.directwebremoting.servlet.DwrServlet
	at org.eclipse.jetty.servlet.Holder.doStart(Holder.java:114) ~[jetty-servlet-8.1.17.v20150415.jar:8.1.17.v20150415]
	at org.eclipse.jetty.servlet.ServletHold

[2016-04-10 10:43] atanasg opened #968 "Question about feature: SCXML support inside existdb"
Hello existdb-Community,

I wanted to ask the question whether SCXML support (similar to Apache's Commons SCXML) is planned for existdb in any of the future releases? I wasn't able to find such information on the web page or here in GitHub.

Best regards,
atanasg

[2016-04-10 13:48] dizzzz commented on #968
I did not hear of a request like this before. If one would build such an extension, probably the apache library will be used (But I am not really impressed by the quality of the documentation...)

[2016-04-10 13:53] dizzzz commented on #967
[code]

there have been fixes in RC2 (https://github.com/eXist-db/exist/pulls?utf8=✓&q=is%3Apr+is%3Aclosed+group+by) so it might actually be solved right now.

To judge about the (a) bug, we need to have a runnable (piece of) xquery code and some date.....

[2016-04-10 17:57] atanasg commented on #968
Thank you for the quick answer!

[2016-04-10 17:59] dizzzz commented on #968
You might want to ask the question on exist-open ; there are many more ppl reading messages (and answering them)

[2016-04-10 20:35] atanasg commented on #968
Thank you for the hint, I didn't know the mailing list. I will email my question there as well.

[2016-04-11 02:24] gspringtech opened #969 "system:export function documentation is incorrect"
(See src/../xquery/functions/system/FnExport.java)
The documentation for this function says "Restore the database or a section of the database" - when in fact this function generates a backup file or directory.

The $dir-or-file parameter should be $target-directory - "The destination for the backup - this directory must be writeable by the database process".
The other parameters are correct.

The

[2016-04-11 03:49] adamretter commented on #966
The latest version is `eXist-3.0.RC1` not `RC02`.

`eXist-3.0.RC1` only supports FOP 1.1. However, the latest source code for eXist supports `FOP 2.1`, I added this support on March 14th 2016 - https://github.com/eXist-db/exist/commits/develop/extensions/modules/src/org/exist/xquery/modules/xslfo

[2016-04-11 03:57] adamretter commented on #969
@gspringtech Can you send us a PR please with the updated documentation that you would like to see?

[2016-04-11 07:13] welblaud commented on #966
Understand! Thanks!

[2016-04-11 12:27] welblaud commented on #967
Here is the templating function:

[code]
Here the rich xhtml snippet:

[code]

Here the controller:

[code]

[2016-04-11 12:44] dizzzz opened #972 "NPE in security manager @restore"
in current 'develop'

[code]

[2016-04-11 12:45] dizzzz opened #973 "Log flood during restore"
during restore the next *_two *_ blocks flood `exist.log`; it this bad or ok?

(current develop)

[code]

and

[code]

[2016-04-11 13:51] adamretter commented on #972
@dizzzz any idea how I can reproduce this?

[2016-04-11 13:57] adamretter commented on #973
The TransactionManager ones may be a worry. It means either a Transaction block is missing a `commit` or an exception is thrown which is aborting the transaction, in which case you should related errors in the log. You would need to chase the `close` call to TransactionManager where that warning is generated to find the cause

[2016-04-11 14:15] dizzzz commented on #972
- rebuild exist-db, remove data
- start exist-db `java -jar start.jar`, have databse initialized
- stop exist-db
- start eXist-db with `build.sh -l`
- restore a backup (I used one that required a password)
- `exist.log` shows the exception

[2016-04-11 14:21] dizzzz commented on #973
it happens at a restore, it is reported for *each* item, from which I hope right now that the doucment data is actually there :-)

[2016-04-11 14:23] adamretter commented on #973
@dizzzz okay you need to find the underlying cause otherwise I am not sure I can help much :-/

[2016-04-11 14:25] dizzzz commented on #967
Is it possible for you test the query with exist-db 3.0RC2 ?

a build can be retrieved from http://static.adamretter.org.uk/exist-nightly/

[2016-04-11 14:26] dizzzz commented on #973
I estimate that any restore of a backup will trigger the issue.....

[2016-04-11 14:27] welblaud commented on #967
This **is** an error from 3.0RC2. As I wrote, I use the query in 3.0RC1 without any hassle. Thanks!

[2016-04-11 14:29] adamretter commented on #973
Hmmm... I don't see such problems restoring my own backups here

[2016-04-11 14:31] adamretter commented on #967
Can we stop talking about 3.0.RC2 please? Unless I am mistaken, there is no
such thing yet!
On 11 Apr 2016 10:25 am, "Dannes Wessels" <notifications@github.com> wrote:

[2016-04-11 14:32] dizzzz commented on #967
what do you suggest?

[2016-04-11 14:38] dizzzz commented on #962
I propose to close this ticket.

[2016-04-11 14:38] #962 closed

[2016-04-11 14:40] welblaud commented on #967
Ok, I should stick to exact terms. I thought **3.0.RC2-develop-ecc4df4**

[2016-04-11 14:41] dizzzz commented on #967
#ecc4df4

[2016-04-11 16:50] sonymoparthi opened #974 "range index not working as expected"
My xml file is with the structure:

[code]

I have created a range index:

[code]

I expected the index terms are హరి ర్హరతిహరిః హరతి and తద్విష్ణోఃతత్ విష్ణోః but I found హరి ర్హరతి and తద్విష్ణోః under index link in monitoring and profiling window. And also the search string:

`//compound[.="హరి ర్హరతిహరిః హరతి"]`
giving 0 results.

Can any one help in creating index on the whole contents of com

[2016-04-11 16:54] joewiz commented on #974
Please surround your XML markup with backticks, e.g., `<compound>`. For more info on marking up text with GitHub-flavored markdown, see https://guides.github.com/features/mastering-markdown/.

[2016-04-11 18:02] dizzzz commented on #973
hmmmm

I made a clean database, installed some apps, made a backup via de web ui.
Cleaned the database again, restored the backup: immediately I see the floods...... You should see it too?

[existlog.txt](https://github.com/eXist-db/exist/files/213568/existlog.txt)

[2016-04-11 19:58] dizzzz commented on #973
ok in `org.exist.repo.Deployment#storeRepoXML` the following code fails...

[code]

the exception is `Illegal QName: not a valid local name.`

[2016-04-11 22:06] adamretter commented on #967
Yup, thanks. Ideally the term "3.0.RC2" should not be set until the release, I don't know why it is set before the release?!?

...Anyway, any version after the last release is always best described using the Git Hash :-)

[2016-04-11 22:11] adamretter commented on #973
@dizzzz Yes I had seen the `Illegal QName: not a valid local name.` error when switching the log level up to `debug`. I had traced it to some package installation problem which happens when you run eXist from within an IDE. I don't use packages myself, so I stopped looking into it...

Basically it's related to the file `src/org/exist/system.properties` only having it's properties correctly set whe

[2016-04-12 06:36] welblaud commented on #966
Updated, I meant the last nightly-build (**#ecc4df4**).

[2016-04-13 16:05] adamretter commented on #966
@welblaud Okay can you please look in $EXIST_HOME/lib/user. I suspect you have more than one version of fop or the associated libraries (e.g. xmlgraphics) in there?

[2016-04-13 18:40] welblaud commented on #966
I should stress that in the case of FOP, I have it (always) in $EXIST_HOME/extensions/modules/lib. $EXIST_HOME/lib/user I use only for XEP, as recommended. At the moment, it seems really interesting because in this directory, there are these files:

[code]
They are there since the fresh install. I will test more tomorrow and let you know. It seems promising!

[2016-04-13 19:27] dizzzz commented on #966
This might be conflicting

[2016-04-14 00:51] adamretter commented on #966
@welblaud My apologies, it seems there was a problem with the nightly build script which caused some old dependencies in `extensions/modules/lib` to leak into the build. I have now fixed that here - https://github.com/adamretter/exist-nightly-build/commit/e8c86b4f760bf518dfdf6adb119d0a1ad7b6ff92

If you take the latest nightly build then you should have a good version with working FOP 2.1.

[2016-04-14 00:51] #966 closed

[2016-04-14 07:49] welblaud commented on #966
@adamretter, good work, it seems FOP 2.1 is starting—when I got the error below. Maybe it could be associated with my scenario. I have the app as "self-contained" as possible, which means I have fonts there and configs for FOP are passed dynamically. Here I guess is something with loading fonts? Again, in 3.0.RC1 it works perfectly.

[code]

[2016-04-14 08:56] dizzzz commented on #966
related to https://github.com/eXist-db/exist/issues/952 ?

[2016-04-14 09:01] welblaud commented on #966
Very probably, thanks!

[2016-04-14 18:32] adamretter commented on #952
@windauer Using the latest code from `https://github.com/wolfgangmm/tei-simple-pm` I get a different error (to the one you reported):

[code]

[2016-04-16 13:45] wshager commented on #953
@wolfgangmm here's the stack dump.
[jstack_exist.txt](https://github.com/eXist-db/exist/files/222211/jstack_exist.txt)

[2016-04-16 13:51] wshager commented on #953
@wolfgangmm Here's the status.

[status.xml.txt](https://github.com/eXist-db/exist/files/222213/status.xml.txt)

Yes, I did name my PC after a Transformer...

[2016-04-16 13:58] wshager opened #976 "EOF error during transform"
Just for bookkeeping, because I haven't a clue... Exist spontaneously quits when it encounters a org.eclipse.jetty.io.EofException after a javax.xml.transform.TransformerException after a javax.servlet.ServletException: Error while serializing xml.

Curious thing is that this seems to me a Xerces related error (unless I'm utterly mistaken) while I run Saxon...

2016-04-14 15:48:20,844 [eXistThread

[2016-04-16 14:31] wshager commented on #953
Another lockup, I suspect a circular module reference.

[jstack_exist2.dmp.txt](https://github.com/eXist-db/exist/files/222229/jstack_exist2.dmp.txt)

[2016-04-16 21:18] adamretter commented on #952
I also submitted a PR to wolfgangmm/tei-simple-pm to fix the XQuery code to correctly resolve the font paths - https://github.com/wolfgangmm/tei-simple-pm/pull/23

For the moment we have to disable font caching until the Apache project accept my patch - See also - https://issues.apache.org/jira/browse/FOP-2601. However with font caching disabled it does all work as it should on eXist with FOP 2.1

[2016-04-17 06:55] dizzzz commented on #976
not sure about your idea if Xerces. But... that is `/exist/apps/benjamins/new/journal_issues/content/customers/mailinglist/catalog/sl.26.1` ? A collection? a binary resource?

[2016-04-17 15:40] #952 closed

[2016-04-18 10:31] #969 closed

[2016-04-18 10:33] dizzzz commented on #923
@wolfgangmm have you seen /talked about this ?

[2016-04-18 10:45] line-o commented on #894
@markov2 Can you provide an example call?

[2016-04-18 11:00] wshager commented on #976
@dizzzz that's a path from the controller, but it doesn't resolve anything (as it's incorrect).

[2016-04-18 11:05] dizzzz commented on #976
but who does does this setting> what is is the issue? what means "quits" ? I just don't understand your ticket....

[2016-04-18 11:13] wshager commented on #976
@dizzzz exist exits and restarts itself, we're having trouble tracking down the reason, but I did want to mention it. Investigations continue.

[2016-04-18 11:15] dizzzz commented on #976
really restarts? ouch!

are you running existdb with the service wrapper? is so, please check the wrapper.log too ;

please state version: 2.x ? 3.x  ?

[2016-04-18 11:29] wshager commented on #976
@dizzzz hmm this is the log from that day, but the timestamp is slightly off.

INFO   | jvm 1    | 2016/04/14 10:16:24 | [Fatal Error] :1:1: Content is not allowed in prolog.
STATUS | wrapper  | 2016/04/14 16:33:29 | TERM trapped.  Shutting down.
ERROR  | wrapper  | 2016/04/14 16:34:28 | Shutdown failed: Timed out waiting for signal from JVM.
ERROR  | wrapper  | 2016/04/14 16:34:28 | JVM did not e

[2016-04-18 11:30] wshager commented on #976
@dizzzz after the log entry I posted there's some "journal scanning" and another reboot that I probably did manually.

[2016-04-18 11:36] wshager commented on #976
@dizzzz sorry, this doesn't help. I can't seem to find the log back...

[2016-04-18 11:39] wshager commented on #976
@dizzzz unfortunately I deleted the exist.log of april 16, which was the correct date. The wrapper.log says exactly what I have pasted (SIGKILL 9), only from  2016/04/16 13:54:45. I think I messed up the log posting due to stress...

[2016-04-18 11:46] wshager commented on #976
@dizzzz below is the correct log posting I sent to @wolfgangmm. It's roughly the same error, and there's also quite a difference in the timestamp. I wonder why?

2016-04-16 13:17:03,749 [eXistThread-263648] WARN  (ServletHandler.java [doHandle]:563) - /exist/apps/benjamins/catalog/books/content/catalog/pumrl
javax.servlet.ServletException: Error while serializing xml: javax.xml.transform.Transform

[2016-04-18 11:51] wshager commented on #976
@dizzzz in both cases the path to the controller is messed up, so there may be a pattern here. Possibly there's a configuration error in my app, but I'd never be able to reproduce this path. The "content" path never follows the "catalog" path: both may only appear after "benjamins". The repeating "catalog" is a bad sign.

[2016-04-18 12:01] wshager commented on #976
Another finding: when I access the above paths directly, there's no error in the logs.

[2016-04-25 19:22] caseydawsonjordan opened #984 "Reindexing collection does not drop existing indexes"
I ran into this when debugging an index that I have, where I found that my `StreamListener` was only  receiving nodes in `ReindexMode.STORE` mode while I was expecting that a reindex would first call `NativeBroker.dropIndex()` (Triggering and index op with `ReindexMode.REMOVE_ALL_NODES`) then scan nodes for storage.

While just doing `STORE` is more efficient, it seems it would cause bugs. For ins

[2016-04-25 19:37] adamretter commented on #984
@casey Are you saying that if I store an XML document into a Collection:

[code]

and then I was to replace it with:
[code]

[2016-04-25 19:44] caseydawsonjordan commented on #984
@adamretter that case would be fine because you are doing a store on the document, and stores call dropIndex() before re-indexing the new content.

The scenario that presents itself is not when the document content changes, but when the indexing logic changes. For instance, take for example if you changed your collection.xconf configuration for a given indexed and made it more restrictive, under t

[2016-04-25 20:14] adamretter commented on #984
@caseydawsonjordan Yes, I have taken a look and I think you have found a good bug here. @wolfgangmm @ljo do you agree?

[2016-04-27 07:04] alebastrov opened #985 "DateFormatter should be single-thread processed"
[code]

Use synchronized there

[2016-04-27 09:02] shabanovd commented on #985
It's synchronized  https://github.com/eXist-db/exist/blob/36b1309a1cb4988669f4d1c40f9c4a48aebb2b1d/src/org/exist/atom/util/DateFormatter.java#L33

[2016-04-27 09:02] #985 closed

[2016-04-27 12:04] ljo commented on #984
@adamretter Yes, I agree.

[2016-04-27 13:20] alebastrov commented on #985
OK. I did not look at 3.0, only detect at existDB 2.2

[2016-04-29 12:55] welblaud opened #986 "XQuery 3.0 serialization does not work in 3.0.RC1"
**eXist 3.0.RC1**

[code]
… does not work, whereas the old approach
[code]
… works as expected.

[2016-04-29 13:35] joewiz commented on #986
Please expand on "expected" results. A minimal example would be helpful.

[2016-04-29 13:45] welblaud commented on #986
Yes sir!

Maybe I could note I use this for packing files into epubs. For testing, indendation is great. For production, it only increases the file size.

In the first case the beginning of the file looks:
[code]
In the second case the beginning of the file looks:

[code]
For me this means the old notation works, the new one does not.

[2016-05-02 19:00] telic opened #988 "multi-field range index returns only first result"
The new range index doesn't seem to handle comparison to sequences in predicates properly when using multi-field "combined" indexes. Instead of returning all results that compare true to any item in the sequence, only items that compare true to the first item are returned.

For example, given the following index configuration:

[code]

applied to the document:

[code]

The xquery `//ex:ms[@t=('q',

[2016-05-03 07:14] jensopetersen commented on #988
In 3.0.RC2, build from 20160412, all three elements are correctly returned in the first test. The second test also succeeds.

[2016-05-03 13:54] median1st opened #990 "3.0 RC1: Incorrect tuple mapping to where clause?"
In some cases the WHERE clause in a simple FOR-WHERE-RETURN construct gets the variable mapped to the whole sequence iterated by the FOR clause instead to a single member at a time. This changes to the correct behavior once the construct is expanded of a do-nothing LET:

[test.xml.zip](https://github.com/eXist-db/exist/files/246945/test.xml.zip)
Create a simple document in an empty collection (/db

[2016-05-04 09:34] rvdb opened #991 "ft:search() returns all index fields (even those that don't match the search terms)"
When querying a custom full-text Lucene index with the ft:search() function, all fields of that index are returned, regardless if they match the search term. This is tested with eXist-develop, revision a8f2b0a  on Windows-64bit 7 Pro, with Oracle JDK 1.8.0_92.

Take, for example, an index created as follows:

    ft:index('/db/apps/test.txt',
      <doc>
        <field name="title" store="yes">Ind

[2016-05-04 10:05] jensopetersen commented on #991
If I am not mistaken, this is the behaviour than we should expect; see [Content Extraction and Binary Resource Indexing](http://exist-db.org/exist/apps/wiki/blogs/eXist/ContentExtraction). The function is supposed to retrieve a document and supply it with matches, and one is asked to post-process the result to get the feature you desire. Of course, one could wish a different behaviour, but I would

[2016-05-04 15:30] rvdb commented on #991
Well, perhaps the problem is that it's somehow confusing what to expect. The example query in the documentation (`ft:search("/db/apps/demo/test.txt", "para:paragraph and title:indexing")`) doesn't help much, since it generates matches in all index fields and hence returns the complete document. If, as you say, ft:search() returns the complete document (and could be suggested by the [function docum

[2016-05-04 17:27] adamretter opened #992 "shutdown deadlock"
[code]

[2016-05-04 17:34] jensopetersen commented on #991
Thank you for this clear analysis. The use case targeted by content extraction was the indexing of PDFs and EXIF data in images. We wanted to be able to display the hit context and retrieve the document (in the case of PDFs), displaying the page with the hit. With post-processing of the matches, this was possible. That the result contained too many fields (fields of a type that had hits, but which

[2016-05-04 20:39] shabanovd commented on #992
@adamretter I don't see who own 0x00000007bedd7f50, ideas?

[2016-05-05 14:53] adamretter opened #993 "eXist may have the wrong namespace for xqt-errors"
See: https://www.w3.org/Bugs/Public/show_bug.cgi?id=29610

[2016-05-06 18:52] adamretter opened #998 "Collection: locking around subCollections and documents is inconsisent"
As an example, consider the following method from `org.exist.collections.Collection`:

[code]

It takes a READ lock on the `subCollections` so that it may take a stable iterator (which copies the keys); However, there are many unlocked accesses to `subCollections` including writes (which defeats the purpose of the above READ locking) e.g.

1. `Collection#update`.

2. `Collection#addCollection`. Th

[2016-05-06 20:43] rvdb commented on #991
Ok, thanks for pointing out the wider scope. Personally, I would find it least confusing if ft:search() would just return the matching fields, since that is what you'd expect from a search. (IMO this is equally confusing as if ft:query() would return entire documents, just with &lt;exist:match> elements around matching text.) Apologies if I still don't get the full implications of your design conc

[2016-05-10 07:42] gmella commented on #324
Hi,

I just tried with the nignly build provided by Adam. The issue is still present :(
I also modified a little the snippet code to remove an 'unused variable' warning inside exide. This code seems clean ?
May I try some other test to help fixing this ?
Regards,
--
Guillaume
[eXist Version : 3.0.RC2]
[eXist Build : 20160509]
[eXist Home : unknown]
[Git commmit : develop-faded87]
[Operating System

[2016-05-10 19:28] #324 closed

[2016-05-12 14:34] nerdychic12 opened #1009 "xquery trying to access wrong directory"
I started a directory in exist-db called "annotation" but then deleted this directory and started a new one called "annotations".

I wrote some xquery that should be retrieving from the second directory:
   /db/apps/annotations/data/cases.xml

but when I run the xquery I get a 404 message that says "/db/apps/annotation" not found. In other words, it is searching the first directory that I created,

[2016-05-12 15:34] joewiz commented on #1009
It's hard to suggest an answer without seeing the code; feel free to paste it in here. What I would look for is: Are there any lingering references to the old collection? Does the URL you're requesting in your browser line up with the actual path to the resource in your database?

[2016-05-13 09:03] duncdrum commented on #1009
If you are querying via exide, your current application context might not be where you want to be.

[2016-05-13 11:20] peterstadler opened #1010 "Recursion RestXQ: deploying web app fails"
I just upgraded my eXist instance via git and did a `build.sh rebuild`.
All went fine, but now I’m having problems installing my [web app](https://github.com/Edirom/WeGA-WebApp/releases/download/v2.0.0/WeGA-WebApp-2.0.0.xar). The deployment process simply hangs, whether I upload via browser or try via autodeploy.
I updated from commit 72b4bc7d3112593df2d508ca563ad23a31189c3e (February 1st) and I c

[2016-05-18 10:43] #998 closed

[2016-05-23 03:47] opax commented on #186
Is there any progress with this issue?

[2016-05-23 12:23] adamretter commented on #186
@opax Nothing from me, I am afraid that this ticket was not assigned to me somehow in the past and so it dropped off my radar. I have now self assigned it, but won't have anytime to look into it for a few weeks.

[2016-05-23 12:30] Infiniverse commented on #186
I'm not sure why my pull request wasn't merged - I spent a lot of time investigating and digging out the cause and fixing it. It's a bit disappointing that over 18 months later it's not been merged, and of course now the fix has diverged :(.

[2016-05-23 12:54] adamretter commented on #186
@Infiniverse Unfortunately it was simply a matter of resources. I am not paid to work on eXist-db, and so as an Open Source project, getting things fixed is reliant on the ability of the core developers to spend their paid or spare time on this. Unfortunately I have very little spare time and the other core developers left this one to me, so yes it is my fault this wasn't merged.

The reason it wa

[2016-05-25 17:23] joewiz opened #1024 "Presentation modifiers for Z datetime formatting picture string not supported"
Since #364, eXist added support for `[Z]` and `[z]` - the specifiers for formatting the timezone components of the datetime formatting picture string from the spec (https://www.w3.org/TR/xpath-functions-30/#rules-for-datetime-formatting). However, eXist doesn't handle the presentation modifiers for these two specifiers. For example:

[code]

Should return `-1000`, but eXist returns `+00:00`.  Ther

[2016-05-26 16:28] joewiz opened #1026 "Upgrade Tika to 1.13"
From the tika-user list:

[2016-05-26 16:29] joewiz commented on #1026
eXist uses 1.12:

https://github.com/eXist-db/exist/blob/503ad3283e7f1cb7049b05eb3c5ed3d5d9a8b891/extensions/contentextraction/ivy.xml#L11

[2016-05-26 16:39] dizzzz commented on #1026
Ok, I know what I should do :)

[2016-05-28 23:49] gspringtech opened #1028 "Deadlock caused by expath zip:update"
The zip:update function reads an existing zip file (or ODT, DOCX etc) and adds the supplied binary data at the named path:
   `zip:update('/db/temp/test.zip', 'content.xml', $binary-data)`
It returns the modified zip file - the original is not changed.

If "shortly after" a function like sm:chmod() is used on the original zip file, there will be a Read lock which does not get released. Querying th

[2016-05-29 13:51] shabanovd commented on #1028
@gspringtech test [this branch](https://github.com/shabanovd/exist/tree/bugfix/expath)

[2016-05-30 19:30] rvdb opened #1031 "importing xquery modules fails in latest develop code"
In eXist-develop (tested with rev. 18a7151, on Windows 7 pro 64 bit, with oracle-jdk-1.8.0_92), when an XQuery file stored in the file system imports a XQuery module, an error is thrown.

For example, this query (hello.xq):

    xquery version "3.0";
    import module namespace echo="echo" at "echo.xq";

    <p>{echo:hello('world')}</p>

...which imports following module (echo.xq):

    xquery ver

[2016-05-31 09:49] gspringtech commented on #1028
@shabanovd - thank you. This seems to have resolved the issue.

[2016-05-31 12:31] dizzzz opened #1032 "New java service wrapper: cannot change properties of windows service"
- windows 7 / java 8 / 64 bit
- started with `java -jar start.jar` , install as service

the following error appears when selecting 'properties' from the context menu

![image](https://cloud.githubusercontent.com/assets/1700062/15674322/56c3b486-273c-11e6-95a4-e27f3509f2b4.png)

[2016-05-31 12:48] ljo commented on #1032
My win7/64-bit is a bit outdated, so I can only check later today.

[2016-05-31 19:40] dizzzz commented on #1010
@adamretter  please could you have a look?

[2016-05-31 19:47] dizzzz commented on #1031
it might have a relation with https://github.com/eXist-db/exist/pull/938 or https://github.com/eXist-db/exist/pull/914

[2016-05-31 19:51] dizzzz commented on #1009
no response for three weeks, I close this for now; please feel free to reopen for a followup

[2016-05-31 19:51] #1009 closed

[2016-05-31 19:52] dizzzz commented on #1026
should we invest time to make this a separate XAR file?

[2016-06-02 10:01] adamretter commented on #1010
@dizzzz Yes, but I won't have time to look into this for at least a week. Feel free to keep reminding me though ;-)

[2016-06-02 19:01] dizzzz commented on #986
Does not work..... does that apply on running  the query in eXide or in the REST interface ?

[2016-06-02 19:11] dizzzz commented on #986
For me it works correctly  (RC2)

[2016-06-02 19:11] dizzzz commented on #986
Ok to close?

[2016-06-02 19:11] #986 closed

[2016-06-02 19:16] dizzzz opened #1035 "Discuss: Remove sources from installer package"
Since the eXist-db sources are so easy to download from GitHub, I'd like to suggest to remove the sources out of the installer package.

It would make our distribution significantly smaller.....

[2016-06-02 19:25] dizzzz opened #1036 "Performance regression: new log4j2' LogManager.getLogger slows doen queries"
As reported by @wolfgangmm in HipChat:

Since the update of log4j, `LogManager.getLogger()` is consuming an amazing amount of time, up to 98% for some queries.

It's the same effect on two different instances. log4j configuration unchanged.

Confirmation: going back to the previous version removes the bottleneck.

[2016-06-02 19:25] dizzzz commented on #1036
@adamretter are you aware of any regression in this area?

[2016-06-02 19:44] shabanovd commented on #1035
+1

On Thu, Jun 2, 2016 at 10:16 PM, Dannes Wessels <notifications@github.com>
wrote:

--
Dmitriy Shabanov

[2016-06-03 08:25] adamretter commented on #1036
@dizzzz I am not aware of any issues in this area, can you figure out how to reproduce and open an issue with the Apache Log4j project and paste the ticket reference in here please?

[2016-06-03 10:02] adamretter commented on #1035
Are the sources in the distribution a copy of a git checkout? i.e. Can I start working with them immediately?

[2016-06-03 10:27] wolfgangmm commented on #1035
Being able to quickly apply small patches is sometimes useful, even on a version installed via the installer. If you have to support users, you can tell them to try this or that to figure out where the problem is. I actually do this quite often and it takes time if you first have to ask them to separately install the sources of the version they are running.

[2016-06-08 14:43] rvdb opened #1040 "suggestion to fix logging with log4j2 in "WAR deployment context""
The switch from log4j to log4j2 in eXist-3.0.RC1 has broken logging when eXist is deployed as a WAR file in Tomcat. More precisely, no log files are written at all.

I've figured out what needs to be done for fixing this:

- log4j-web.jar should be added to %EXIST_HOME%/lib/core (see the [log4j2 documentation](https://logging.apache.org/log4j/2.x/manual/webapp.html))
- in the log4j2.xml file that

[2016-06-08 20:17] rvdb opened #1041 "doc() no longer accepts file: protocol"
In the current development code (exist-3.0.RC2-develop, rev. a88848d), the doc() function no longer accepts the `file:` protocol.

For example, suppose I want to fetch a document that lives at F:/eXist/eXist-git/log4j2.xml, following function call:

[code]

throws following error:

[code]

There's nothing wrong with the URL, nor the file. This still worked in eXist-3.0.RC1 (rev. e34eb95). Also, th

[2016-06-09 09:54] tasmo commented on #1036
Have the same issue with latest HEAD.

[2016-06-09 10:19] adamretter commented on #1036
@dizzzz Can you post a reference to the log4j ticket in Apache's Jira?

[2016-06-09 10:27] adamretter commented on #1040
@rvdb Thanks I have read through your detailed update. Would an alternative solution be to:

1. Add `log4j-web.jar` to the WAR file when you call `build.sh dist-war`, I guess this should be done around line 105 of `build/scripts/dist.xml`, I guess we could use @dizzzz's `nl.ow.dilemma.ant.fetch.FetchTask` to retrieve it from Maven Central, just like we do for the Apache FOP FO processor in `extens

[2016-06-09 10:45] alebastrov opened #1042 "Invalid usage of check-and-set pattern"
There are classes with such checking

[code]

This checking SHOULD be performed only on volatile references, so I suggest to change the declaration to

[code]

This also happen with other implementation of UpdateListener interface, for instance
in BindingExpression, XQueryContext

I found this through investigation such problem

[code]

[2016-06-09 10:54] rvdb commented on #1040
@adamretter Sure, that definitely sounds like the way to go! Thanks for the pointers for concrete fixes; I think I'm able to figure it out. I have no experience with the GifFlow branching model, however. If I can set it up and get it working, I hope I'll get everything right and wrap it up in a proper PR.

On a side note, do you think the JNDI issue I noticed when trying to get at a working `log4j

[2016-06-09 11:51] adamretter commented on #1040
@rvdb, don't worry too much about GitFlow, you can simply create a branch from the `develop` branch, do your work there, and then send a PR from that branch.

Regards, JNDI, I don't see how that is related to the log4j2 config?

[2016-06-09 13:15] rvdb commented on #1040
@adamretter Ok, fine. Just two concerns regarding the download of the jar file during the build process:

- IIUC, the `fetch` task downloads and extracts files to a specific folder, so I think that has to be done before the War Ant task. Therefore, I'd think the preparatory "webapps" target is the right place, but where should the `log4j-web.jar` file be stored preferably? In a temporary folder in

[2016-06-09 13:54] dizzzz commented on #1040
re: JNDI ...as far as I remember internally in tomcat, resources are resolved via a JDNI construction, therefore the `jndi:` protocol is (used to be) registered as new protocol handler.  This is actually the reason why our protocol resolver (for `exist://`) does not work.....

[2016-06-09 13:56] adamretter commented on #1040
@rvdb I added the `${log4j:configParentLocation}` construct to log4j2, it is not resolved via JNDI.

[2016-06-09 13:57] dizzzz commented on #1036
I'd need to create a reproducible test case myself first, I was only
echoing @wolfgangmm findings...

On Thu, Jun 9, 2016 at 12:19 PM, Adam Retter <notifications@github.com>
wrote:

--
eXist-db Native XML Database - http://exist-db.org
Join us on linked-in: http://www.linkedin.com/groups?gid=35624

[2016-06-09 14:14] rvdb commented on #1040
@adamretter Not in eXist's embedded Jetty server, but maybe JNDI is involved in Tomcat. Since the `java.io.FileNotFoundException` error indicates that it ends up being expanded to `jndi:\localhost\` in Tomcat, and that Tomcat doesn't know how to handle it, I thought it might be related to JNDI not functioning properly. But since we have a working alternative for the log4j2 configuration, we probab

[2016-06-10 13:03] adamretter commented on #1036
Maybe worth testing again with https://github.com/eXist-db/exist/pull/1045

[2016-06-10 15:59] wolfgangmm commented on #1036
Yes, #1045 seems to have fixed the issue, thanks. The slowdown was visible in any app as loading a page became really slow.

[2016-06-10 15:59] #1036 closed

[2016-06-10 18:50] adamretter commented on #1036
Very happy to hear that this was a simple fix :-)

[2016-06-14 07:59] alebastrov opened #1046 "NPE while multithreading access"
ExistDB 2.2
[code]

[2016-06-15 10:52] adamretter commented on #1046
Seems to be an issue with the caching of results from evaluation of Predicate expressions, https://github.com/eXist-db/exist/blob/eXist-2.2/src/org/exist/xquery/Predicate.java#L451

@wolfgangmm Could this be a `reset` issue?

[2016-06-16 06:19] alebastrov commented on #1046
If it is so, then
[code]
should be
[code]

[2016-06-16 10:25] TonyTchang opened #1049 "Cannot save XML doc with xml:id + valide NCname"
Hello,

The following XQuery code:
`xquery version "3.0";
let $test := <testelt xml:id="{util:uuid()}">Machin chose</testelt>
return xmldb:store("/db/apps/newIAM/", "test.txt", $test)`

fails with the following error:
`<exception><path>/db/apps/newIAM/test.xql</path><message>err:XQDY0091 Value of xml:id attribute is not a valid NCName: 44fa3a98-e215-4996-bb76-614d03720181 [at line 3, column 15, so

[2016-06-16 12:27] joewiz commented on #1049
Which version of eXist?

[2016-06-16 12:37] TonyTchang commented on #1049
Sorry for not specifying: 3.0.RC1 (HEAD-e34eb95)

[2016-06-16 12:39] dizzzz commented on #1049
did you store the script as `test.xql` ?

[2016-06-16 12:51] TonyTchang commented on #1049
Yes, I do confirm it's test.xql trying to write to file test.txt. Same error message when I try writing to test.xml.

Have you tried reproducing the bug?

[2016-06-16 13:25] ljo commented on #1049
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Den 2016-06-16 kl. 12:25, skrev TonyTchang:

Dear Tony et al, the error is correct if a bit inprecise. A valid xml:id
does not start with a digit. Prepend a valid initial char or a prefix if
you use uuid and it will be fine.

Regards,
Leif-Jöran

EuVu1msKks5qMSSWgaJpZM4I3Pc9>.

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iEYEARECAAYFAldiqL8ACgkQh

[2016-06-16 13:29] #1049 closed

[2016-06-18 11:33] adamretter opened #1052 "What is the intended consistency of NativeValueIndex?"
NOTE - remember there is one instance of `NativeValueIndex` per `DBBroker`, however they all share the same `BFile` e.g. `NativeValueIndex#dbValues` is effectively static.

1.If both QName and Path values indexes are defined for the same collection, the write pattern is not serializable.
  1. `NativeValueIndex#flush()` has the following pattern:
[code]

  2. `NativeValueIndex#remove()` has the fol

[2016-06-18 15:45] adamretter opened #1053 "Redundant code in NativeValueIndex#remove"
It looks to me like the following code in `NativeValueIndex#remove(PendingChanges, FunctionE)` is redundant:

https://github.com/eXist-db/exist/blob/develop/src/org/exist/storage/NativeValueIndex.java#L549
[code]

It is only ever invoked if `dbValues.get(searchKey)` returns `null`, and when it is called `os` will be empty (unless an error previously occurred), and so it just writes an empty value

[2016-06-20 16:45] wsalesky opened #1055 "Bug in Lucene full text query with diacritics="no" filter"
We are using the diacritics="no" filter on our Lucene index.  When searching for a name with diacritics and a wildcard I get no results, while searching for the same name without diacritics and a wildcard will return the expected results.

Here are a few links demonstrating the various results:

Full name without diacritics and a wildcard:
http://syriaca.org/geo/search.html?q=abajal*

Diacritics a

[2016-06-29 13:04] rvdb opened #1057 "regression since eXist-3.0.RC1 in regex matching with ft:query()"
Some regex queries with `ft:query()` that used to work in eXist-2.2 don't work anymore since eXist-3.0.RC1. More specifically, when regular expressions contain word anchors (`^` or `$`), they no longer produce hits since eXist-3.0.RC1 (up to the current development version).

Given following test document:

    <div>
      <p>a test document</p>
      <p>containing a number of paragraphs</p>

[2016-06-30 09:37] rvdb commented on #1057
Ok, after [ML discussion](http://exist-open.markmail.org/thread/ciw5que5ldnjqeq3) with @jensopetersen I realized I was mistaken. My observation was based on an older eXist-2.1 instance (instead of eXist-2.2), where `ft:query()` did support "anchored" regular expressions. Yet, already in eXist-2.2, this had changed to the current behaviour, so I was probably reporting what once was a bug in eXist-2

[2016-06-30 09:38] #1057 closed

[2016-07-06 08:50] pherk opened #1060 "errors with 'illegal file'"
dear ExistDB gurus,
FYI
a lock file from libreoffice was accidentally included in a package
loading the package via dashboard->package manager succeeded without error
but the collection browser gives an error while navigating to the subdir with the lock file

the lock file holds just one line without eol:
,peter,T440,01.07.2016 18:37,file:///home/peter/.config/libreoffice/4;

exist.log:
javax.serv

[2016-07-06 09:39] pherk commented on #1060
after deleting the package and reloading via package manager (without the lock file)
many exceptions in the terminal, the exist.log does not show new errors
java.lang.NullPointerException
	at org.exist.repo.Deployment.storeFiles(Deployment.java:771)
	at org.exist.repo.Deployment.scanDirectory(Deployment.java:693)
	at org.exist.repo.Deployment.lambda$scanDirectory$4(Deployment.java:698)
	at java.ut

[2016-07-11 18:04] dizzzz commented on #1060
sorry for not responding earlier. what version of eXist-db?
You are not mentioning the webDAV interface... I had a similar issue using this interface, kinda gave up to find a good solution in the code (that is what I think I remember).  Can you 'escape' the hash character?

[2016-07-11 18:05] dizzzz commented on #1055
Which eXist-db version? lucene has been updated over time.....

[2016-07-12 06:58] pherk commented on #1060
existdb 3.0RC2 develop-9558475
I don't use webDAV. The file was loaded via Package Manager.
I have no problem with the error (just removed the extra file).
I only reported it because it took some time to find the cause of package failure and the error has led to an inconsistent state of the database. The database had to be killed and setup afresh.

Peter

[2016-07-12 13:09] joewiz commented on #1060
Any chance you could upload a sample package and set of steps for reproducing the NPE?

It sounds like the lock file, `xmldb:/db/apps/nabudocs/scripts/xmldb:.~lock.NeuhalfenJanSebastian1115.htm#`, was invalid XML and/or contained invalid characters in the filename, and the repo installation routine choked on this. Still, there shouldn't be an NPE, so steps to reproduce could help. Please also incl

[2016-07-13 06:53] dizzzz commented on #791
Hmmm there has been no feedback on this issue for a long time. Sorry.
You make valuable suggestions! I am not sure if the more complex issues can be solved, because the xslt processor is an 3rd party library.  In the situation that somethings is behaving different, the only thing we probably can change is the XML serializer (which is somehow triggered by the XSLT:doc() function)

[2016-07-13 07:11] dizzzz opened #1063 "Jetty9 : startup issue"
*only* when exist-db is started with `java -jar start.jar' the following error is visible:

![clipboard01](https://cloud.githubusercontent.com/assets/1700062/16794639/761fba00-48d9-11e6-8472-e03cb07a597d.png)

`bin\startup.sh` looks just fine..... and 'jetty.xml' hasn't changed....

[2016-07-13 07:12] dizzzz commented on #1063
any idea @adamretter ?

[2016-07-13 09:19] jensopetersen opened #1064 "util:parse doesn't accept BOM"
Posting on behalf of Nick Sincaglia; cf. <http://markmail.org/thread/dhktz4p3eqidt2iq>. The attached file has been zipped in order to allow upload. - Jens

#

The code I am using is this:

    let $binary-file := ft-client:retrieve-resource($connection, $path)
    let $string-of-file := util:binary-to-string($binary-file,'UTF-8’)
    let $xml := util:parse($string-of-file)

Here is the error messa

[2016-07-13 09:25] jensopetersen commented on #540
´<x xml:id=“1”/>´ is well-formed, but Xerces holds on to the original XML 1.0 definition of NCName  which was quite quickly superseded in XML 1.0 by the definition made in XML 1.1. Since eXist uses Xerces, this means that xml:id’s beginning with digits are held to be malformed in eXist, though they are well-formed according to XML 1.0.

[2016-07-13 09:39] jensopetersen commented on #1064
How to easily insert a BOM in a UTF-8 file (on a Mac).

Use TextWrangler or BBEdit to open a UTF-8 text/XML file with no BOM. On the encoding popup at the bottom of the page, choose "Unicode (UTF-8 ( with BOM)" and save.

[2016-07-13 10:22] adamretter commented on #1063
@dizzzz I have never used the launcher or started eXist in that way, so I completely forgot about it! I just sent a very simple PR which fixes this. Basically the launcher was sending the old config file path to JettyStart, it now sends the correct one.

[2016-07-13 10:32] adamretter commented on #791
So a few comments:

1) At the moment eXist abstracts the XSLT processor behind the JAXP API, this allows us to use any JAXP compatible library (e.g. Xalan or Saxon). This is really a legacy thing as eXist started with Xalan and then we added support for Saxon. The problem with using JAXP is it does not allow for a nice integration with Saxon, for example we can't get the detailed error information

[2016-07-13 10:46] adamretter commented on #540
@jensopetersen I wonder if the Xerces property `http://xml.org/sax/properties/document-xml-version` could help, or perhaps even the feature `http://xml.org/sax/features/xml-1.1`?

See:
https://xerces.apache.org/xerces2-j/properties.html
https://xerces.apache.org/xerces2-j/features.html

[2016-07-13 12:31] jensopetersen opened #1066 "use Woodstox instead of Xerces for parsing XML"
I suggest a move to Woodstox away from Xerces, to alleviate the shortcomings that have come to the fore as of late.

See [GitHub repo](https://github.com/FasterXML/woodstox) and [project home page](http://wiki.fasterxml.com/WoodstoxHome).

[2016-07-13 15:03] dizzzz commented on #1066
as I said... a lot of work will be there re: validation

[2016-07-13 15:03] dizzzz commented on #1066
note: jboss has a separate xerces fork, well maintained. We could have a look at that one ...

[2016-07-13 15:05] #1063 closed

[2016-07-13 15:06] dizzzz commented on #791
I agree, for the amount of work and the nature, finding some funding would be fair,

[2016-07-13 16:47] adamretter commented on #1066
@dizzzz @jensopetersen  I have made a start on moving to Woodstox but I need to expose options for Entity Resolution, XML URI Resolution and possibly a Grammar Pool equivalent. I have opened issues here:

https://github.com/FasterXML/woodstox/issues/6
https://github.com/FasterXML/woodstox/issues/20

[2016-07-13 19:22] dizzzz commented on #1066
both parsers (or three: the altoo) can coexist inone install, there is nothing wrong with that. I think just a few users need the XML validation (implicit), en it would be possible to define a parser per collection.... right?

[2016-07-13 19:27] dizzzz commented on #1066
As long there is a serviceloader definition.... https://github.com/eXist-db/exist/blob/develop/src/org/exist/validation/XmlLibraryChecker.java#L136

[2016-07-13 19:28] dizzzz commented on #1066
I think any results of this 'issue' should endup probably in exist-db 3.1 or 3.2 ;

[2016-07-14 20:08] dizzzz commented on #1066
here is the xerces fork: https://github.com/jboss/xerces/pull/10

[2016-07-15 14:40] Newtopian commented on #1035
plus the space savings are not that significant, 10MB - 20MB

[2016-07-15 15:47] median1st opened #1067 "3.0 RC1: fold-right omits the rightmost sequence element in processing"
The fn:fold-right function omits the rightmost element from the processed sequence. This xquery snippet demonstrates the bug:
[code]
eXist-db 3.0 RC1 returns the following sequence as a result:

[code]
Note that the rightmost number ( 4 ) is omitted. When the same query is run in eXist-db 2.2, the result is correct:

[code]

[2016-07-15 23:08] wsalesky commented on #1055
We are using 2.2. I will try to test the development version this week.

[2016-07-16 08:33] jensopetersen commented on #1055
I tested against 3.1 in May and found the same issues (plus similar regex issues).
[ML thread](http://markmail.org/thread/wj3ubzyp4zd3ddv2)

[2016-07-16 11:02] dizzzz commented on #1067
confirmed for existdb 3.0 (RC2)

[2016-07-17 21:06] dizzzz commented on #1035
For non-Western users each mb counts on slow lines.....

That is kinda my idea

[2016-07-17 22:22] joewiz commented on #1035
How about a build target, `get-sources`? This could fetch the source based on the originally-built revision.

[2016-07-17 23:00] joewiz commented on #1035
Now that I think about it, there's no good way to fetch a subdirectory of a git revision (GitHub provides only complete tarballs), and there are sources in several directories...

[2016-07-19 16:10] YassineMouhli opened #1068 "After OutOfMemory error, lots of "IOException : error while writing to page X""
Our production database - eXist 2.1 - got a PermGen OutOfMemory error last week. We "solved" it by increasing the size of the PermGen memory pool. Since then we get constantly this error:

2016-07-18 12:24:36,761 [DefaultQuartzScheduler_Worker-2] ERROR (BTree.java [sync]:868) - IO error while writing page: 24713
java.io.IOException: Bad file descriptor

2016-07-18 12:26:39,239 [DefaultQuartzSchedu

[2016-07-21 10:15] wolfgangmm commented on #1068
This sounds like the out of memory has damaged one of the index files. I would recommend to run a full export using the system export tool and reimport everything into a clean database.

[2016-07-21 12:00] YassineMouhli commented on #1068
thank you for your replay, I'll try it .

currently I have another problem, after admin login successfully, I have a "Database is read-only"

Is that because the wrong index ?

This is the Exception in log file :
[eXistThread-33] ERROR (LocalCollection.java [storeXMLResource]:892) - org.exist.security.PermissionDeniedException: Database is read-only

[2016-07-21 17:54] joewiz opened #1069 "Wrapper startup broken on macOS"
As first discussed in https://github.com/eXist-db/exist/pull/1065#issuecomment-232386003, something about the changes in https://github.com/eXist-db/exist/pull/1016 (merged in on May 18) resulted in wrapper startup failures on macOS with builds of the develop branch since that day.  As a result, methods of startup which used to work - double-clicking on the macOS `.app` version of eXist (from a .d

[2016-07-21 18:34] dizzzz commented on #1069
So start.jar uses the (new) service wrapper, an interesting and nice design. But actually the wrapper should be used in a different way. in the `EXIST_HOME/tools/yajsw/bin/` directory there are a few files of interest:

- `installDaemon.sh` and `uninstallDaemon.sh` are used to register exist-dn to have it started/stopped during the boot/shutdown of the UNIX server. The script is UNIX-flavour agnos

[2016-07-21 18:48] dizzzz commented on #1069
So, the issue is: the scripts mentioned above do not seem to work for macOS. Jetty does not seem to be started, There is no trance of stdout. in the wrapper log the only lines are:

[code]

[2016-07-23 20:42] joewiz commented on #1069
With https://github.com/eXist-db/exist/pull/1070, `java -jar start.jar` now works on macOS: the splash screen and task bar icon appear. Also, I now see two new entries in the task bar:

<img width="242" alt="screen_shot_2016-07-23_at_4_07_41_pm" src="https://cloud.githubusercontent.com/assets/59118/17080142/c4950d18-50f2-11e6-8549-060446fa4961.png">

However, double-clicking on start.jar (and the

[2016-07-23 22:21] adamretter commented on #1069
Hmm are you sure to related? Even before #1070 I think 'java -jar
start.jar' worked just fine for me on Mac.

On Saturday, 23 July 2016, Joe Wicentowski <notifications@github.com> wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2016-07-23 23:14] joewiz commented on #1069
My recollection is that the server started but that there was no splash screen or menu bar entry. I will rewind and double check.

[2016-07-23 23:34] joewiz commented on #1069
Thanks for the pointer, I had misremembered. Please disregard my comments from today. #1070 had no effect on the ability to start eXist via 2 of the 3 methods reported in the initial issue above. The issues, as originally reported, remain:

- Double-clicking on `start.jar` fails to start the server
- Likewise, the command `open start.jar` fails to start the server

I'm unsure whether #1070 had any

[2016-07-24 01:50] joewiz commented on #1069
I ran `sh build.sh app` and found a new eXist-db.app in `$EXIST_HOME/dist`. (I didn't do anything before this to prepare, i.e., install any installer dependencies. None is needed, right?)

Double-clicking on the app caused an eXist icon to appear and bounce in the dock a few times, then go away. No splash screen appeared, no menu bar icon. No warning about running an unsigned app. Just to be sure

[2016-07-24 01:56] joewiz commented on #1069
Also, should this be of any help, here's what happens when I go into `$EXIST_HOME/tools/yajsw/bin` and run `queryDaemon.sh`:

[code]

I'm not sure if any of the `INFO: lib not found:` statements are an indication of problems or not, but I thought the output here might be helpful info about my system.

[2016-07-24 14:43] adamretter commented on #1069
@joewiz I am still certain that these issues you describe:

Are specific to your Mac because of the file type associations configured on your machine.

Regards the `.dmg` and `.app` I suspect these are YAJSW and are still broken. I believe @wolfgangmm and @zwobit are looking into that at the moment...

Regards building your own `.app`, I believe that the process would be `./build.sh clean && ./bui

[2016-07-24 18:20] joewiz commented on #1069
@adamretter Hmm, if so, then I'm confused as to why, with 3.0RC1 (dmg release), does double-clicking its start.jar does start the splash screen and task bar icon.

Ah, I hadn't performed the `dist` step. And, in fact, running this command, the build fails on the `dist` step:

[2016-07-24 18:25] joewiz commented on #1069
Changing `/Users/joe/workspace/exist/build/scripts/dist.xml:332` from `<fileset dir="${dist.dir}/yajsw/bin">` to `<fileset dir="${dist.dir}/tools/yajsw/bin">` allowed the `dist` target to build successfully.

[2016-07-24 18:32] adamretter commented on #1069
@joewiz Ah ha! Regards the `dist` build script can you send a PR please?

Regards the Mac specific stuff and double clicking a `start.jar` to launch, I think you should check two different `start.jar` versions, (**not** from a `.dmg` or `.app`), a previous version which you believe works, i.e. the official `eXist-3.0.RC1` release and a recent build.

[2016-07-24 18:36] joewiz commented on #1069
@adamretter Certainly, the PR will be on its way shortly.

Shall I perform a check as follows: compare double-clicking `start.jar` on (1) official `eXist-3.0.RC1` release versus (2) the most recent nightly build from your static site?

[2016-07-24 18:41] adamretter commented on #1069
@joewiz Sounds like a reasonable comparison to me :-)

[2016-07-24 18:58] joewiz commented on #1069
@adamretter Okay, I retrieved the most recent nightly available on your nightlies site:

Via http://static.adamretter.org.uk/exist-nightly/eXist-db-3.0.RC2-develop-f99352e.dmg.

I opened the dmg, dragged the app to my desktop, performed a right-click > Show Package Contents, drilled into Contents > Resources > eXist-db, right-clicked on `start.jar` > Open with, confirmed that the default applicati

[2016-07-24 19:23] adamretter commented on #1069
@joewiz I just realised that the nightlies has stopped building as I ran out of disk space. I have just added a step which will now discard any nightlies that are older than ~2 months (62 days).

Could you try with the latest nightly `3.0.RC2-develop-56ba9c4` instead of the one you used from July 6th?

[2016-07-24 19:37] joewiz commented on #1069
@adamretter Ah, I see. Thanks for that fix! I've downloaded `3.0.RC2-develop-56ba9c4` (Jul 24) and repeated my test. The results were identical to the results with `3.0.RC2-develop-f99352e`.

[2016-07-24 19:40] joewiz commented on #1069
I found a class in the source whose description stuck out to me:

This class is found at: https://github.com/eXist-db/exist/blob/develop/src/org/exist/launcher/LauncherWrapper.java#L42-L50. This class is the source of one string, `-Dapple.awt.UIElement=true` that (1) is nowhere else in source and (2) appears in the process when started via `java -jar start.jar` (3) but does not appear when double-

[2016-07-24 19:51] joewiz commented on #1069
One other surface level difference between the "old" version (official 3.0-RC1) and the "new" version (3.0-RC2 nightly, Jul 24), which is perhaps worth noting if it's a clue. (Or perhaps this is more due to the Jetty 9 upgrade?)

In the old version, the console logging stopped after a few lines:

[code]

In the new version the logging out to the console continues, and even keeps getting inserted w

[2016-07-24 21:29] adamretter commented on #1069
If I take both `3.0.RC1` release and `3.0.RC2-develop-56ba9c4` and reach inside the `.dmg` and attempt to run start.jar directly I get the same error for both:

[code]

[code]

However if I double-click the 3.0.RC1 `eXist-db.app` file, then it runs correctly, the same is not true of the 3.0.RC2-develop-56ba9c4 version which fails to start. I think the problem is very much in the Mac JavaAppLaunche

[2016-07-24 22:46] joewiz commented on #1069
Fair enough. I certainly don't have any more ideas ;)

[2016-07-26 06:58] dizzzz commented on #1069
@wolfgangmm figured out that `open start.jar` and the equivalent clicking on the jar file, does not work because of the missing ` exist.home` ; to be continued

[2016-07-26 06:59] dizzzz opened #1072 "XSLTforms demo broken"
Heading for release 3.0: the XSLTforms demo seems to be disfunctional

[2016-07-26 07:03] dizzzz commented on #1068
The database  becomes readonly typically when there is not sufficient diskspace left. Please could you check?

Are you running windows? on the older exist-2.1 version, on windows, Java sometimes reports wrong values, making the database go in this state.  in the 3.0RCx improvements have been made, I think they are on in the 2.2 version already.

[2016-07-26 07:07] dizzzz commented on #1041
@adamretter  I vaguely recall some changes in this area?  But do we really would like to support the `file:`  due to security reasons? ( also a question for @wolfgangmm and @ljo )

[2016-07-26 09:47] adamretter commented on #1069
@wolfgangmm @dizzzz I don't think that's the issue, as that existed on 3.0.RC1 which worked ok...

[2016-07-26 20:57] wolfgangmm commented on #1069
I found out the issue with the mac app is caused by whitespace in the path to the java executable. I have a fix but need to retest on windows tomorrow to make sure all is ok.

[2016-07-26 22:36] joewiz commented on #1069
Three cheers for @wolfgangmm!

[2016-07-27 07:44] dizzzz commented on #1069
Nice catch!

[2016-07-29 16:52] #1069 closed

[2016-07-30 08:52] #1068 closed

[2016-07-30 11:13] dizzzz opened #1074 "Design issue Valuesequence"
![valuesequence_java_-_exist_-____development_git_dizzzz_exist_](https://cloud.githubusercontent.com/assets/1700062/17269935/85b47bce-5656-11e6-8707-f19bbed89b3f.png)

this class variable 'size' has is initialized with value "-1"  (UNSET_SIZE)  yielding into some interesting issue in the addItem code:
![additem](https://cloud.githubusercontent.com/assets/1700062/17269956/f75fa1f4-5656-11e6-9237-35

[2016-07-30 12:53] dizzzz commented on #1074
suggested solution: initialize to 'size' in stead of 'size -1'

recommendation: rename 'size' to a semantically correct variable name

[2016-07-30 17:29] dizzzz opened #1075 "Unit suite hangs on jetty shutdown"
There trace is attached. My runs do never finish :-(

[locktraces.txt](https://github.com/eXist-db/exist/files/392011/locktraces.txt)

your kit profiler output:

![junittestrunner_-_yourkit_java_profiler_2016_02-b40_-_64-bit](https://cloud.githubusercontent.com/assets/1700062/17272018/e35641b0-568b-11e6-8df6-cbc1fe03ade6.png)

@adamretter ? @wolfgangmm  ? can you reproduce?

the last logs:

![exis

[2016-07-30 17:33] dizzzz commented on #1074
working on it ; fixes https://github.com/eXist-db/exist/issues/1067

[2016-07-30 18:05] wolfgangmm commented on #1075
I did not get this hang. Test suite did run through, reporting 2 errors and 1 failure.

[2016-07-30 18:07] dizzzz commented on #1075
ok, interesting. which java JDK version? I tried 3 times, 3 hangs....

[2016-07-31 11:17] dizzzz commented on #1035
I think my idea still holds :-)

[2016-07-31 11:17] #1035 closed

[2016-07-31 11:17] dizzzz commented on #1067
waiting for a pull-in and review

[2016-07-31 12:53] dizzzz commented on #1075
Confirmed on my PC and my Notebook (both Macs, latest OS, recent JDKs, SSD)

[2016-07-31 13:56] joewiz commented on #1075
Just to confirm, you're both on the current develop branch?

[2016-07-31 20:41] dizzzz commented on #1075
good point; yes :-)

[2016-08-01 18:56] #1067 closed

[2016-08-03 17:45] adamretter commented on #1041
@dizzzz I don't see a problem with supporting `file:` here, the OS will control access to files via the user account that eXist is running as.

[2016-08-03 18:47] caseydawsonjordan commented on #1041
I would have to disagree here. It is possible to get the conf.xml and other
eXist configuration files with this.
That means an attacker could gain significant information as to what xquery
modules are used, java libraries, jetty config like servlets,
authentication realms and other configuration. Sometimes very sensitive
data is stored in jetty config files.

With a little scripting it is then pos

[2016-08-04 13:57] StephanMa opened #1079 "Current develop-Branch does not sign any jar"
Cloning develop-branch does not sign any necessary jars.
(Ubuntu 16.04 Server, JRE 1.8.0._101)
Local: JRE 1.8.0_101
1) Cloning code `git clone http://github.com/eXist-db/exist -b develop --single-branch`
2) start building with `sudo ./build.sh`
3) run exist with `sudo ./startup.sh`
4) Try to connect to eXist via Java Admin Client

Missing signed jar: `xmlrpc-client-3.1.3.jar`

Fix:
`sudo ant jnlp-

[2016-08-04 14:02] joewiz commented on #1079
Building from source has always required a separate jar signing step to allow jnlp-based launching of the Java Admin Client. This is only unnecessary when using a prebuilt (and presigned) installer.

[2016-08-04 14:04] joewiz commented on #1079
See the section called "Signing jar files for webstart" in http://exist-db.org/exist/apps/doc/building.xml.

[2016-08-04 14:06] StephanMa commented on #1079
Its  strange... i've never done this before and it worked "out of the box"...

thank you anyway

[2016-08-04 14:06] #1079 closed

[2016-08-04 16:23] adamretter commented on #1075
@dizzzz I am unable to reproduce this from `develop` on Mac OS X (10.11.6) with Oracle jdk1.8.0_92.jdk. Which OS version / JDK do you have?

However, I did see a shutdown deadlock issue once in a branch from develop that I have, I am trying to reproduce your issue now.

[2016-08-04 17:35] adamretter commented on #1075
@dizzzz Okay I can reproduce it from `txn-thread` on Mac OS X (10.11.6) with Azul Zulu 8.15.0.1-macosx (openjdk version "1.8.0_92")

[code]

[2016-08-04 18:28] adamretter commented on #1075
@dizzzz @wolfgangmm so I can see why this happens:

# jetty shutdown schedule thread
1. Locks Transaction Manager
2. Attempts to lock BrokerPool instance

# main thread
1. Locks BrokerPool instance
2. Attempts to lock Transaction Manager

Unfortunately I have no idea why we are trying to shutdown the database at the same time as we are trying to initialize the database?!?

Every time I look at Bro