[2013-08-01 07:31] ghost opened #15 "buggy bin/startup.bat"
There is a small but serious bug in bin/startup.bat, which prevents starting exist-db with this script on WIndows systems:

Line 51:
`set JAVA_ENDORSED_DIRS="%EXIST_HOME%"\lib\endorsed`

Should read as:
`set JAVA_ENDORSED_DIRS="%EXIST_HOME%\lib\endorsed"`

If you use this script as it is, although jetty seems to start up and the logs look OK, jetty will not respond to any requests (like http://loc

[2013-08-01 07:43] ghost opened #16 "Installing AtomicWiki from the dashboard doesn't work"
Install AtomicWiki via Package Manager on a fresh exist-db instance.
The installation process runs without error and AtomicWiki appears in the dashboard.
When you click this icon you get:

[code]

System Status:

[code]

[2013-08-01 08:01] ghost opened #17 "shutdown.bat not working"
When you use bin/shutdown.bat you get error message

[code]

when jetty is running on a non-standard http port, e.g. 8083 instead of 8080.

Looks like the standard http port is hardcoded in class org.exist.jetty.ShutdownServer line 73:

`String uri = properties.getProperty("uri", "xmldb:exist://localhost:8080/exist/xmlrpc");`

[2013-08-01 19:20] #17 closed, assigned to nobody

[2013-08-02 09:12] #15 closed, assigned to nobody

[2013-08-02 17:49] #16 closed, assigned to nobody

[2013-09-05 11:10] ahenket opened #35 "sm:passwd() returns "You must be a DBA to create a User Account.""
[eXist 2.1]

Hi,

I tried to set it up so Joe Average user could change his own password instead of through me. Code:

[code]

I can run this code as DBA, thereby being able to change any password, but when I run this code as Joe Average (using his username obviously) I get:

[code]

At the very least there's bug in this text as I'm not creating anything, but I'd much rather be able to achieve my

[2013-09-11 15:08] peterstadler opened #39 "compression:gzip() malfunction"
see http://exist.2174344.n4.nabble.com/compression-gzip-tp4661212.html

[2013-09-12 01:09] lcahlander opened #41 "Need for a more flexible catalog-loader"
When trying to load the DocBook XSLT files, there are failures due to entities that are not recognized by eXist.

I tried to make another pass at creating an EXPath library that encapsulates the DocBook 5 XSLT files.  The entities in entities.ent are not recognized since they are not in eXist's catalog.xml.  It would be nice if the EXPath packaging allowed for a catalog.xml for the app?

When tryi

[2013-09-15 10:43] hungerburg opened #44 "Coding of path components in URIs"
This is a port of SF ticket http://sourceforge.net/p/exist/bugs/766/ - for short:

In a few places the eXist codebase uses "java.net.URLDecoder" (which is intended to be used on http _query strings_) instead of "java.net.URI", resulting in wrong coding of _path components_ in URIs and thereby creation of ressources, that cannot be fetched by the name, they were uploaded with.

Simplest way to show

[2013-09-18 22:42] martindholmes opened #46 "Empty tag "source" should be self-closing in HTML5"
When serializing output as HTML5, the `<source>` tag is output with a separate closing tag, instead of being a self-closing tag -- it's an empty tag according to the specification:

http://www.w3.org/TR/html51/embedded-content-0.html#the-source-element

I think this is because the HTML5 serializer is a subclass of the XHTML serializer, and this uses a list of element names (emptyTags) to determine

[2013-09-18 22:45] gtnewton opened #47 "Missing dirs for dist-war target (sourceforge bug #826)"
Running ./build.sh dist-war I get two errors:
1) BUILD FAILED $home/exist/build/scripts/dist.xml:35: $MYBUILDDIR/extensions/indexes/spatial/lib does not exist.
2) BUILD FAILED $home/exist/build/scripts/dist.xml:35: $MYBUILDDIR/extensions/betterform/main/xrx does not exist.
The problem is that the $home/exist/extensions/indexes/spatial/lib/ and $home/exist/extensions/betterform/main/xrx/ directorie

[2013-09-19 17:52] gtnewton opened #49 "Spatial module doesn't build"
Environment: ubuntu 13.04 64-bit, OpenJDK 7, latest exist from git

Steps to reproduce:
1) Activate spatial module in $build-dir/extensions/indexes/local.build.properties
2) ./build.sh download-additional-jars
3) ./build.sh all

The end of the compile looks like this

[code]

Also, note that the fetch url in $build-dir/extensions/indexes/spatial/extension.xml pointing to geoapi-nogenerics-2.1.1.ja

[2013-09-23 19:28] #35 closed, assigned to adamretter

[2013-09-25 10:02] #47 closed, assigned to dizzzz

[2013-09-27 18:43] hungerburg opened #56 "I18N: format-number and decimal separator"
The xquery 3.0 specification, section 4.10, introduces a declaration to change the decimal separator. This example from there:

[code]

It would be a very welcome feature in eg. Europe.

[2013-10-01 09:37] dizzzz opened #57 "NPE in new lucene"
While performing a 'search' in the documentation app an NPE appeared:

HTTP ERROR 500

Problem accessing /exist/apps/doc/search.html. Reason:

[code]

Caused by:

javax.servlet.ServletException: An unknown error occurred: null
    at org.exist.http.servlets.EXistServlet.doPost(EXistServlet.java:473)
    at javax.servlet.http.HttpServlet.service(HttpServlet.java:755)
    at javax.servlet.http.HttpS

[2013-10-02 19:31] adamretter opened #58 "enable-xsl setting in conf.xml is ignored"
In `$EXIST_HOME/conf.xml` there is a setting attribute on the "serializer" named "enable-xsl", by default this is set to "no".

Even when set to "no", eXist attempts to process XSL PIs on documents retrieved via REST, this is incorrect and is a regression.

[2013-10-08 10:52] rvdb opened #59 "matches(): non-compliant to the spec and buggy"
eXist's implementation of matches(xs:string*, xs:string) differs w.r.t. the official matches(xs:string?, xs:string) function. As the cardinality for the first string parameter suggests, eXist accepts multiple strings as first argument for matches(), while this throws an error against the standard XPath function. This can be demonstrated by running following query with Saxon and eXist (tested with

[2013-10-17 12:04] christianforster opened #63 "xqDoc annotations"
In the master branch, commit 7ba4f551eedf82ed75357992bf6bd1aecf638839, some xqDoc annotation functionality seems to be broken:
In the code below, `@see` is not working as I expect. The following code produces the attached documentation, where `@see` is omitted.

[code]

![xquery function documentation 2013-10-17 13-25-47](https://f.cloud.github.com/assets/5708213/1351239/f159c244-371e-11e3-9b4a-0f

[2013-10-17 13:48] #63 closed, assigned to nobody

[2013-10-22 07:33] shabanovd opened #66 "HashMap vs FastMap"
I use http://javolution.org/target/site/apidocs/javolution/util/FastMap.html in several project and like it a lot, because it faster and memory footprint of object low than HashMap (that's why map create is low cost). Can we start replacing HashMap by FastMap?

[2013-10-22 07:40] shabanovd opened #67 "Code Conventions"
Should we force to use code conventions?

https://en.wikipedia.org/wiki/Coding_conventions

[2013-10-24 14:31] rogro82 opened #68 "jetty hangs in SelectChannelEndPoint.blockWritable"
When doing repeated requests against jetty and connections are dropped before a response is given jetty will hang itself in a wait loop when trying to write ( and therefor will blocks all other threads ).

This has been tested by creating a simple test-case that uses XQJ/XQS to query exist-db and using a query which results in a decent-sized resultset.

Queries executed at a normal rate ( and with

[2013-10-24 20:30] dizzzz opened #69 "util:string-to-binary() leaks files"
During intensive usage of util:string-to-binary() we found out that many files were written to jetty/tmp but these were never cleaned up.

As a result a system (linux, oracle java7) ran out of file handles over time.

example:

java      28644 29132 username  219u      REG              202,1      1700     411310 /opt/exist-trunk/tools/jetty/tmp/_mmtfm_16f53166-157f-4f5d-82a1-5c8c2c42e6bf/mmtf_1382

[2013-10-24 20:48] dizzzz opened #70 "wrapper does not start on MacOSX 10.9/Mavericks"
The sysctl cannot be found on the path, as a result it falls back to 32bit:

STATUS | wrapper  | 2013/10/24 20:27:14 | --> Wrapper Started as Daemon
STATUS | wrapper  | 2013/10/24 20:27:14 | Java Service Wrapper Community Edition 32-bit 3.5.20
STATUS | wrapper  | 2013/10/24 20:27:14 |   Copyright (C) 1999-2013 Tanuki Software, Ltd. All Rights Reserved.
STATUS | wrapper  | 2013/10/24 20:27:14 |

[2013-10-25 10:16] rvdb opened #71 "eXist seems to treat 'xquery' as reserved namespace prefix in xquery modules"
When an imported xquery module declares 'xquery' as its namespace prefix, eXist-2.1 throws an error.  A test case can be found at https://gist.github.com/rvdb/7152363. If ns_main.xq is executed with eXist (eXide / Java client / controller), following error is thrown:

[code]

This seems incorrect: 'xquery' is not listed as reserved namespace prefix in the spec (http://www.w3.org/TR/xquery/#id-basi

[2013-10-27 18:28] #70 closed, assigned to dizzzz

[2013-10-28 07:28] #71 closed, assigned to nobody

[2013-11-10 21:21] caseydawsonjordan opened #81 "Change to ExternalModuleImpl.isReady causes regression in lookup for external resources"
Before this commit (2fa9b22ad67b9d0a4d6a0f25556d9ea95c57cbab) it was possible to reference a xsl stylesheet in an external .xqm like so:

transform:transform($doc,xs:anyURI('stylesheet.xsl'), $params)

Where xs:anyURI('stylesheet.xsl') was intended to be a relative reference to the stylesheet from the .xqm.

After this commit it seems that the calculated absolute path is now incorrect and an error

[2013-11-12 13:13] #66 closed, assigned to nobody

[2013-11-22 09:11] #81 closed, assigned to nobody

[2013-12-12 03:51] caseydawsonjordan opened #99 "copyCollection creates orphaned documents when target collection name is the same as source"
To reproduce:

1.) Create a collection with documents in it.
2.) Copy that collection to a seperate location
3.) Copy it back over the original
4.) Take a backup and see all the original files are now in the **lost_and_found**

IHMO the correct solution to this is to throw an exception when the target collection exists to prevent data loss. The same should be applied to moveCollection, which will

[2013-12-12 07:27] #68 closed, assigned to nobody

[2013-12-19 22:21] martindholmes opened #101 "Deleting a user can leave an undeletable group"
If a user is the sole member and manager of a personal group, and the administrator deletes the user, then the group remains and cannot be deleted by conventional means (through the JNLP client or through XQuery). The discussion thread on exist-open is here:

http://exist.2174344.n4.nabble.com/sm-remove-group-groupname-fails-tp4662591.html

[2013-12-27 10:39] coderChase opened #107 "About collection design"
I'm really interested in this project, and I'm ready to build our EHR project using this database. Native XML database is new to me. I don't know how to design the structure of the database(or collection). For example, in my EHR project, each user has his/her basic information along with his/her various clinical information. I can't just organize these information in one XML file. So I should crea

[2013-12-27 12:34] #107 closed, assigned to nobody

[2014-01-13 17:36] iheOnwuka opened #120 "Signature of fn:filter doesn't look like it conforms to the spec"
The fn:filter() function is not according to spec;

spec-> http://www.w3.org/TR/xpath-functions-30/#func-filter

[code]

exist --> http://exist-db.org/exist/apps/fundocs/view.html?uri=http://www.w3.org/2005/xpath-functions&location=java:org.exist.xquery.functions.fn.FnModule

[code]

[2014-01-22 13:20] jensopetersen opened #128 "unable to change password of users other than admin in Admin Client"
One is unable to change the password of a user one has created in the Admin Client

On Mac OS 10.9.1, using Oracle build 1.7.0_51-b13, I have done the following:

1 download develop (8dc2e164dd)
2 build
2 start up eXist
3 open up admin client against new build
4 accept default settings (connect type: remote) and log in to admin account with the default empty password
5 choose Edit Users from Tools

[2014-01-22 13:22] jensopetersen opened #129 "when backing up with the Admin Client, an existing backup file is always overwritten"
On Mac OS 10.9.1, using Oracle build 1.7.0_51-b13, I have done the following:

1 download latest develop (8dc2e164dd)
2 build
2 start up eXist
3 open up admin client against new build
4 accept default settings (connect type: remote) and log in to admin account with the default empty password
5 export the contents of the database to some destination
6 export the contents of the database to the same

[2014-01-31 14:58] lcahlander opened #139 "History trigger fails"
Current (pull #128) develop branch:

| General |  |
| --- | --- |
| Uptime: | PT49M2.568S |
| eXist Version: | 2.1 |
| eXist Build: | 20140131 |
| eXist Home: | C:\exist |
| SVN Revision: |  |
| Operating System: | Windows 7 6.1 amd64 |
| File encoding: | UTF-8 |

| Java |  |
| --- | --- |
| Vendor: | Oracle Corporation |
| Version: | 1.7.0_51 |
| Implementation: | Java HotSpot(TM) 64-Bit Server V

[2014-02-03 19:11] dizzzz opened #141 "Move to Java7"
Let's move to Java7.......

time is ready, tests run well

[2014-02-12 10:08] jensopetersen opened #147 ""boundary-space preserve" declaration not observed"
With a "boundary-space preserve" declaration, white-space between elements is supposed to be maintained. However, when I feed the function below with the exact same contents from an in-memory variable and from a document stored in the database, the result of the in-memory fragment is returned with white-space preserved, whereas the result of the stored document is returned as if the declaration ha

[2014-03-06 14:20] dizzzz opened #162 "Trace at startup: (NoClassDefFoundError): TarArchiveOutputStream"
The tracelog explains it all

[code]

[2014-03-06 14:21] #141 closed, assigned to dizzzz

[2014-03-06 14:25] dizzzz opened #163 "Proxy firewall: trace at startup"
Behind a proxy/firewall it seems during startup a call is made to a server. Need to verify why, it makes exist hang for some time.

[2014-03-06 20:31] cmisztur opened #164 "XQ-3.1 import-module() with support for function-lookup()"
I am trying to get a import-module() function added into XQuery 3.1 at the moment. Sometime ago I managed to convince them to add function-lookup, but they said that import-module would have to wait for the future... well now it is the future ;-)

Personally I suspect that there is a bug/deficiency with the implementation of util:import-module/fn:function-lookup.

[2014-03-07 16:22] dizzzz opened #166 "NPE in LuceneMatchListener.scanMatches"
configuration was not OK -my fault-, but a NPE should not happen....

[code]

[2014-03-13 20:59] Sarafian opened #168 "Stability of exist 2.1 against exist 1.4"
This is a question
My company has an application developed on exist 1.4 which is hosted under tomcat7. There have been a lot of complaints from productions deployments about the stability of the recovery. Many times they had to resolve into a restore from a last backup.
We are working on a POC to see what are the differences between these two versions with regards to this subject
To achieve this I

[2014-03-17 11:15] #168 closed, assigned to nobody

[2014-03-17 11:23] dizzzz opened #171 "Local mode: err:XPST0081 error found while loading module repair"
The following xquery yields in a trace when running in localmode:

[code]

[code]

[2014-03-17 12:20] jensopetersen opened #172 "fuzzy search in XML syntax for Lucene queries"
In the XML syntax for Lucene queries, one is supposed (https://en.wikibooks.org/wiki/XQuery/Lucene_Search#XML_Query_Syntax_vs._Default_Lucene_Syntax) to be able to fire off a query against the old Shakespeare files like

[code]

However, it does not matter which value one gives @min-similarity - 379 records are returned no matter what. This is also what //SPEECH[ft:query(., 'snake~')], with the de

[2014-03-22 16:35] dizzzz opened #174 "Remove warnings Java8"
with java8 there are some warnings; over time we need to clean these

[code]

[2014-03-25 22:27] joewiz opened #177 "NPE in Lucene"
Similar to the error reported in #166 (was #57), I am seeing an NPE at <http://history.state.gov/search?q=peace&within=frus-history>.  Other search terms like <http://history.state.gov/search?q=piece&within=frus-history> do not return any error.  This page is doing a Lucene full text search on a collection of TEI documents.  The server is running v2.1 develop branch rev. a36fbcff from Mar 2.  Rest

[2014-03-26 11:39] #57 closed, assigned to shabanovd

[2014-03-26 11:43] pcolot01 opened #178 "compression:zip is not supporting Xquery 3.0 serialize option"
In exist 2.1 build 20130717 svn revision 18721

compression:zip is supporting
declare option exist:serialize "method=xml indent=no";

but not

declare namespace output = "http://www.w3.org/2010/xslt-xquery-serialization";
declare option output:method "xml";
declare option output:indent "yes";

The supported options should be documented in the function documentation.
Both modes of serialization pra

[2014-03-27 13:07] joewiz opened #179 "Permissions incorrect in Java admin tool Properties"
With multiple files selected in the Java admin client, opening the Properties window always shows the permissions for the selected files as rw-rw-rw-, regardless of the actual permissions of the selected files.

![screen shot 2014-03-27 at 8 58 12 am](https://cloud.githubusercontent.com/assets/59118/2537402/f84cfcd2-b5af-11e3-9d0d-303c6e9e6c86.png)

Notice here that the original files are rw-r--r-

[2014-03-28 21:04] public-user opened #180 "Regression in ant adduser task; creating users break the admin client"
Invoking the following ant task against a clean eXist 2.1 server, as well as the 2.2RC1:

[code]

Seems to create the user successfully, but when running the admin client I receive the following error:

[code]

Incidentally, since upgrading from eXist 2.0 I also see a change in behaviour when changing the password from the ant tasks, the target reports an error in making the change but the passwor

[2014-04-01 00:07] public-user opened #186 "JVM Hang from RestXQ resource leak"
As we've been ramping up for our first release using eXist we've discovered that the eXist server is completely unreliable failing after a couple days of continuous testing. The JVM would become unresponsive, we discovered that the process reached its file limit. No amount of forced garbage collections, or even shutting down the web app (we had eXist deployed in tomcat) would free the open file re

[2014-04-01 21:00] pcolot01 opened #187 "Untranslated numerical entity &#160; in UTF-8 serialization Question + Patch"
In the default context or encoding set to UTF-8, Every numérical entity is converted as a character represented by his binary value. By example: &#65; became A (binary 65)

All except the non breaking space, follow this rule.
The non breaking space is always converted as &#160;

This is happening at a so low level, it seems impossible to force it. Especially if you want to zip on the fly the resul

[2014-04-12 20:53] vogelsgesang opened #194 "Index usage breaks text() selector"
I stumbled across the following bug while I was trying to setup indexing:

I have an easy Xquery:

[code]

This query returns one matching result.

If I add the following file as "/db/system/config/db/od/collection.xconf" (without reindexing the database!), the above Xquery returns an empty set of results.

[code]

~~It seems that eXistDb tries to use the range index although it was not created so

[2014-04-13 04:15] vogelsgesang opened #195 "admin web application: indexes: contents of arbitrary files listed"
I just added some files with names like `a.a`, `coll.xc`, ... in `/db/system/config/db/test/`. I was expecting that only the `collection.xconf` file has any influence on the configuration.

But it seems as if every file (indepedent of its name) is used for index configuration or at least displayed in the admin panel under "indexes". This results in the attached screenshot
![screenshot from 2014-04

[2014-04-14 12:21] ghost opened #197 "Betterform (at exist 2.2RC1) does multiply tbody if used with xf:repeat-nodeset"
If a table is given with one tbody element, than the resulting HTML document does have multiple tbody elements:

&lt;table&gt;
&#160;&#160;&lt;thead&gt;
&#160;&#160;&#160;&#160;&lt;tr&gt;
&#160;&#160;&#160;&#160;&#160;&#160;&lt;th&gt;my headline&lt;/th&gt;
&#160;&#160;&#160;&#160;&lt;/tr&gt;
&#160;&#160;&lt;/thead&gt;
&#160;&#160;&lt;tbody xf:repeat-nodeset="instance('myinstance')/values/value"&gt

[2014-04-14 12:27] ghost opened #198 "Betterform (at exist 2.2RC1) is loosing tfoot elements"
If a table is used with tbody and xf:repeat-nodeset="xyz" and tfoot, the later will be removed:

If the XForms is defining a table including the &lt;tfoot&gt; like this

&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;my headline&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody xf:repeat-nodeset="instance('myinstance')/values/value"&gt;
        &lt;tr&gt;

[2014-04-18 18:07] lagivan opened #200 "NPE when running util:serialize with doctype parameters"
I'm trying to serialize DITA topic to string with DOCTYPE's added. So the following code block is used:

[code]

It fails with the following NPE:

[code]

According to the code, it splits the string using space character as a delimiter. It looks like the same code is used to parse the serialization parameters that can be provided in `declare option exist:serialize` statement. However, in case of u

[2014-04-22 23:49] martindholmes opened #201 "Oddity in rendering of searched documentation"
This page:

http://exist-db.org/exist/apps/doc/security.xml

looks fine when accessed directly, but if you search it for e.g. "hash", the results are corrupted; content appears to be duplicated. For instance, this search:

http://exist-db.org/exist/apps/doc/security.xml?q=hash&field=all&id=D2.2.4#D2.2.4

contains this:

"...it is difficult to derive the original password from the hashhash stored i

[2014-04-23 14:17] lagivan opened #203 "Excessive empty element created by templates:each"
The following template:

[code]

results in the following markup:

[code]

The first empty tr tag is always added. This looks like a bug.

This example is taken from the documentation:
http://exist-db.org/exist/apps/demo/examples/templating/templates.html

[2014-04-23 14:53] #201 closed, assigned to nobody

[2014-04-24 08:58] #198 closed, assigned to windauer

[2014-04-24 09:16] #197 closed, assigned to windauer

[2014-04-27 15:48] #195 closed, assigned to nobody

[2014-05-09 22:29] rvdb opened #214 "transform:transform() bug: incorrect processing order of nodes imported via doc()"
Testing with eXist-2.1, I've bumped into an XSLT bug. The problem occurs when an XSLT stylesheet that has been stored in eXist-db imports an XML document via the `doc()` function, and tries to process its nodes.

This simple stylesheet (`style.xsl`) illustrates the problem:

[code]

The `$test` variable imports following simple document (test.xml):

[code]

Yet, when applying this stylesheet onto

[2014-05-16 12:12] Infiniverse opened #219 "RESTXQ endpoint doesn't produce the right content type."
It looks like the RESTXQ endpoints don't produce the right content type.

Here's an endpoint:

[code]

And here's what it produces:

[code]

Adding a specific accept header doesn't fix it.

[2014-05-18 18:02] jensopetersen opened #221 "bad XML upon authentication event"
Upon an authentication event, something like the following is output when in debug or trace mode:

Authenticated by 'exist' as '[auth] &lt;account name="guest" id="1048573"&gt;&lt;group name="guest" id="1048574"&gt;&lt;manager name="admin"/&gt;&lt;/group&gt;&lt;/user&gt;'.

This is not well-formed: &lt;/user&gt; should be &lt;/account&gt; (&lt;or <account&gt; should be &lt;user&gt;). I know it is

[2014-06-03 11:18] #221 closed, assigned to shabanovd

[2014-06-05 07:31] jesselet opened #227 "Save in eXide, the SetUID permission will be disabled."
Save a xquery with a SetUID permission in eXide,
the SetUID permission of this xquery will be disable.

[2014-06-06 10:17] RemiKoutcherawy opened #228 "Parameter named "source" serialize response as TEXT"
When you use a parameter named "source" the response is TEXT instead of HTML.

You can see it in action on exist-db home page :
http://exist-db.org/exist/apps/homepage/index.html?source => text
http://exist-db.org/exist/apps/homepage/index.html?sourc => html

Bug5.xql :

xquery version "3.0" encoding "UTF-8";
declare option exist:serialize "method=xhtml media-type=text/html";

let $form := <form a

[2014-06-06 19:27] mbreeb opened #229 "triggers: after-create-document event does not fire when a document is created as a result of another trigger"
Suppose there is a trigger on collection A set by a collection.xconf. Adding a file to collection A triggers an XQuery which reads the file and creates new files Q1; Q2; etc. in collection B. The XQuery uses the xmldb:store function to create these files.

As collection B is a sibling from collection A, there is a different collection.xconf on B. This one sets a after-document-create event which s

[2014-06-13 10:23] christophe-g opened #237 "triggers:after-create-collection - could not locate collection"
Trying to store a new resource to the newly created collection on the `after-create-collection` trigger, without success.

Latest build on develop branch, proper credentials and rights on the collection.

Cheers,
C.

[code]

[2014-06-13 10:28] christophe-g opened #238 "triggers:after/before-update-collection - does not trigger"
I fail to make both `after` and `before` `update-collection` events properly trigger - latest build on develop branch.

Cheers,
C.

[2014-06-13 13:18] #238 closed, assigned to nobody

[2014-06-15 18:08] zopyx opened #241 "Collection names displayed using URL quoting"
I created a collection through the web with name 'ß'. The collection browser display the name of this collection as the url encoded represenation of the UTF8 char values.

![screenshot 2014-06-15 20 04 29](https://cloud.githubusercontent.com/assets/594239/3281600/da030996-f4b7-11e3-9daf-5e8c0d938358.png)

[2014-06-23 10:07] ChiSamurai opened #246 "Collection without group leads to java-error"
We had a problem with a recursive function checking permissions using the security module function sm:get-permissions(). Our function broke up due to a java exception because one collection had an owner but was missing a group.

Maybe this should better not lead into java-exception but in some exist-exception or into an entry in the error log?

[2014-06-24 10:23] #172 closed, assigned to nobody

[2014-06-24 15:27] jensopetersen opened #248 "query rewriter issue"
As shown by Gerrit (http://markmail.org/thread/ecossedrufb5yamp) whether or not indexing is applied influences the outcome of a query like,

[code]

With indexing of both TITLE and STAGEDIR, it results in 0 items; without indexing or with an index on just one of these, it results in 2 items.

Curiously, if one supplies a dummy attribute to one or both of the indexed elements (*:TITLE or *:STAGEDIR

[2014-06-25 19:26] dizzzz opened #250 "storeMetadata() is not always called"
e.g. storeXMLResource does not call storeMetadata;
as a consequence metadata like owner/group kan not be updated

DS: think better to check all places where calling storeXMLResource to update metadata and replace by storeMetadata

[2014-06-26 06:07] zopyx opened #251 "Feature requests: make HTTP port configurable during installation"
The default port of exist-db is 8080. Unfortunately this port is widely used by other services.
It would be handy if you could configure the default port during the installation process as part the installer.

[2014-06-26 20:41] wshager opened #252 "sm:is-authenticated() in module throws error"
When sm:is-authenticated() is called in a module, the function throws an error.

test.xqm:

[code]

test.xql:

[code]

Error:

java.lang.NullPointerException
    at org.exist.xquery.functions.securitymanager.IsAuthenticatedFunction.eval(IsAuthenticatedFunction.java:64)
    at org.exist.xquery.BasicFunction.eval(BasicFunction.java:70)
    at org.exist.xquery.InternalFunctionCall.eval(InternalFuncti

[2014-06-27 20:21] fyergeau opened #254 "sql:execute with prepared statement crashes on empty param"
The following script:

declare namespace sql="http://exist-db.org/xquery/sql";
let $conn := sql:get-connection("com.mysql.jdbc.Driver", "jdbc:mysql://localhost/codif", "root", "")
let $stmt := sql:prepare($conn, "insert into table1 (foo) values (?)")
let $params := sql:parameters<sql:param sql:type="varchar">/sql:param/sql:parameters
return sql:execute($conn, $stmt, $params, false())

causes an ex

[2014-06-30 15:02] phattire opened #255 "move and copy triggers not firing"
It appears the move document (before and after) and copy (before and after) document are not working in eXist 2.1.  (We have not verified move/copy collection triggers.)  We are not having issues with the other document triggers.  Our collection.xconf trigger definition does not call out which trigger events to fire on.

[2014-06-30 15:06] phattire opened #256 "conf.xml / jobs / unschedule-on-exception not working"
Within conf.xml user jobs, we have added unschedule-on-exception not working="false" (and tried "no" also).  Jobs are still stopping (showing as COMPLETE) when a syntax error is found within the xquery being called in the job.

eXist 2.1

[2014-06-30 17:50] #166 closed, assigned to wolfgangmm

[2014-07-09 20:10] #254 closed, assigned to dizzzz

[2014-07-21 09:31] phattire opened #274 "scheduler:resume-scheduled-job appears to always return true"
scheduler:resume-scheduled-job always returns true regardless of job-name supplied.

When attempting to resume a job in the "COMPLETE" state, scheduler:resume-scheduled-job returns "true" -- but the job does not return to "NORMAL".  Additionally, when supplying ANY string to the scheduler:resume-scheduled-job function, it is ALWAYS returning true.

There is no output to the logs.

[2014-07-24 10:34] cmontemuino opened #278 "MIgrating from 1.4.x to 2.x case study"
I'm trying to migrate data from 1.4.x, but besides release notes from version 2.0 and some writings:
http://exist-db.org/exist/apps/doc/upgrading.xml
http://www.adamretter.org.uk/presentations/security-in-existdb_xml-prague_existdb_20120210.pdf

...it would be nice to know if there exist a case study for the migration.

[2014-07-24 17:09] #278 closed, assigned to nobody

[2014-07-31 20:08] matthewlopez0977 opened #279 "Revive xqib"
I request you an the other xml database engine form an alliance to revive xqib: http://www.xqib.org

[2014-07-31 20:16] #279 closed, assigned to nobody

[2014-08-04 15:01] JoernT opened #281 "show Version number on splash screen"
Especially when working with different versions at the same time it would be convenient to see the exact version number display on the splashscreen so one doesn't have a doubt which version now actually was started.

[2014-08-06 11:19] #219 closed, assigned to adamretter

[2014-08-06 14:19] mathias-goebel opened #289 "dirname returns whitespace instead of an escaped whitespace"
in
exist / bin / functions.d / eXist-settings.sh
you are using `dirname` that can't handle whitespaces very well.
see for example:

[code]

in my case this causes an error when executing `startup.sh`, but starting with `run.sh` works just fine. strange.

[2014-08-06 16:07] opax opened #290 "Creating users without group in the command-line client should throw an error"
With the command-line client, the `adduser` command allows to create users without groups. The corresponding `/db/system/security/exist/accounts/user.xml` does not contain a group element.

The correct behavior would be to display an error instead of creating the user.

[2014-08-08 09:48] opax opened #291 "Problem with XQuery literal construction"
The following (legal, according to my and Saxon's understanding) XQuery expressions fails to parse in eXist-db-2.2RC2:

[code]

The error is: err:XPST0003 unexpected token: ' (while expecting closing tag for element constructor: root)

Other literals do no cause this problem; for instance `<root a="{1}"/>` works without problems.

[2014-08-12 14:05] lagivan opened #292 "Feature request: eXide - support XSLT file type"
It'd be very helpful to have XSLT file type supported in eXide, plus:
- "Function doc" feature for standard and custom functions;
- Autocomplete feature.

[2014-08-12 14:20] dizzzz opened #293 "HttpClient timeout (proxy firewall) -> locked database"
often exist-db shuts slowely down because of hanging locks:

[code]

[2014-08-12 20:03] WillemvdW opened #294 "RC2.2 causes an error when inserting a library that is recursively referenced."
I have just installed RC2.2 and was copying our application code when I noticed that the db seems become unresponsive when saving certain module files. From the logs it appears that it is in some sort of an endless loop recompiling dependencies.

This is how it happened. I renamed the file that was already present, and copied it using oxygen from an instance running v2.1.
I had to forcibly kill ex

[2014-08-14 11:34] duncdrum opened #296 "RC2 display bug of cache config"
Resources/exist-db/conf.xml
contains the following which is what I set-up at install.
db-connection cacheSize="512M" checkMaxCacheSize="true" collectionCache="508M" .../

however -> System Configuration UI from the menu bar claims that:
General Cache: 293
Collection Cache: 508

Looking at the performance of this system compared to another with lower cache settings, this seems to be a display bug o

[2014-08-14 19:37] dizzzz opened #297 "Embedded: repair:clean-all(), repair:repair() give stack trace"
In embedded (local) mode running the following query

[code]

results in the following trace

[code]

this is bad for repairing the database :-). Query is taken from documentation.
In ``exist.log` the following trace is visible:

[code]

[2014-08-16 17:41] #297 closed, assigned to nobody

[2014-08-17 13:46] lcahlander opened #300 "templating output should remove the data-template* attributes from the html output"
When the html is output from the templating process, then data-template\* attributes should be filtered out from the output.  It is showing users how the page is being generated.  It could lead to a security breach.

I think that it should be configured so that they show up during development and debugging, but not in production.

[2014-08-17 21:31] #203 closed, assigned to nobody

[2014-08-18 06:08] matthewlopez0977 opened #301 "Support for JSON"
Support for JSON.

[2014-08-18 11:26] #301 closed, assigned to nobody

[2014-08-18 19:10] #300 closed, assigned to nobody

[2014-08-19 20:04] aerhard opened #304 "ant: xml resources without .xml suffix get an additional .xml suffix in data extraction"
For example, collection.xconf gets stored as collection.xconf.xml in the file system when extracted without explicitly specifying the target file name. I'm not sure if this is intended, but see https://github.com/eXist-db/exist/blob/develop/src/org/exist/ant/XMLDBExtractTask.java#L276-L277 and the following build file to reproduce the behavior:

[code]

[2014-08-20 18:19] matthewlopez0977 opened #305 "eXist in node?"
Do you have a method to write xQuery in node?

e.g:

[code]

Or

[code]

This look so pleasant.... Let xQuery be to node, what SQL is to php.

[2014-08-20 18:58] #305 closed, assigned to nobody

[2014-08-21 15:42] cmontemuino opened #306 "Spatial index: GMLHSQLIndexWorker doesn't compiles"
Please note that [GMLHSQLIndexWorker](https://github.com/eXist-db/exist/blob/develop/extensions/indexes/spatial/src/org/exist/indexing/spatial/GMLHSQLIndexWorker.java) class is not implementing [method getQueryRewriter from IndexWorker class](https://github.com/eXist-db/exist/blob/develop/src/org/exist/indexing/IndexWorker.java#L215).

BTW, I already checked the [AbstractGMLJDBCIndexWorker](https:

[2014-08-22 11:19] cmontemuino opened #307 "QuartzSchedulerImpl initialization is broken"
It seems like the [QuartzSchedulerImpl initialization section](https://github.com/eXist-db/exist/blob/develop/src/org/exist/scheduler/impl/QuartzSchedulerImpl.java#L98) is wrong because the thread pool class name is invalid:

[code]

This would lead to a runtime exception (i.e. `java.lang.ClassNotFoundException: org.quartz.threadPool.class`)

Shouldn't the configuration be changed to something lik

[2014-08-22 12:21] #307 closed, assigned to nobody

[2014-08-23 09:21] #120 closed, assigned to nobody

[2014-08-24 22:06] drmacro opened #310 "file:directory-list() returns wrong path for some files"
[eXist Version : 2.2RC2]
[eXist Build : 20140722]

Running under Jetty on OS X with Java 7:

[code]

The sample files I'm testing with can be downloaded here: http://sourceforge.net/p/dita4publishers/git/ci/master/tree/sample_data/epub-test/

In my local environment I have a copy of the sample_data/epub-test directory.

I run this XQuery:

[code]

With $dir set to the sample_data/epub-test directo

[2014-08-30 14:11] #310 closed, assigned to dizzzz

[2014-09-03 19:01] lcahlander opened #323 "Comments in the conf.xml about where documentation exists is incorrect."
The comment in conf.xml is:

[code]

It should be:

[code]

[2014-09-04 09:52] ptrckb opened #324 "Exception override in string-join()"
If the evaluation of the parameters of `string-join()` triggers an error, the error gets overriden and is reported instead as a dynamic type mismatch.

In the following test-case `err:XPTY0004` is returned instead of `error`.

Tested with version 2.2RC2 and 2.1.

[code]

[2014-09-06 15:30] #323 closed, assigned to nobody

[2014-09-06 15:31] #304 closed, assigned to nobody

[2014-09-07 23:24] matthewlopez0977 opened #325 "Questions"
I look in exist database... It said exist can be use as a stand alone server... Receiving and serving get request... Is this true?

If so that mean I can connect to the database via a get request from a server to serve to a client...

Is this how I was appose to connect to the exist style database, or is this one way to go by it?

What is recommended to connect to the exist database? By what metho

[2014-09-08 12:54] simski opened #326 "templates:each generates an additional surrounding tag"
Hi
I am having this reproducable behaviour using 2.2RC2

[code]

generates

[code]

[2014-09-08 13:17] #325 closed, assigned to nobody

[2014-09-08 19:22] #326 closed, assigned to nobody

[2014-09-15 15:40] adamretter opened #329 "Cannot install Java Service Wrapper in Ubuntu 14.04 LTS"
When running `tools/wrapper/bin/exist.sh install` the following appears in `wrapper.log`:

[code]

However running file, shows that the file does exist:

[code]

[2014-09-15 15:58] #329 closed, assigned to nobody

[2014-09-19 06:51] #281 closed, assigned to ljo

[2014-09-22 20:29] #248 closed, assigned to nobody

[2014-09-29 19:48] dizzzz opened #344 "NPE in BasicAuthenticator.java (junit)"
Seen in the junit suite; tests do not fail though.....

[code]

[2014-09-29 19:50] dizzzz opened #345 "Fluent: NPE in Trigger.java (junit)"
While running the junit/fluents tests, there are stacktraces visible; the tests pass nevertheless. This is the NPE, but there is more.

[code]

[2014-09-30 07:16] mgaerber opened #347 "new-range Indexes not displayed in web admin panel"
Seems like the new range index is not included under "Browse -> Indexes". The query profiler however does indicate its usage.
eXist version: 2.2  RC2

[2014-09-30 08:48] #347 closed, assigned to nobody

[2014-09-30 20:28] #171 closed, assigned to dizzzz

[2014-10-01 09:59] wshager opened #350 "Feature request: configure saxon to use webapp/WEB-INF/catalog.xml"
Currently it's not possible to set the catalog file for Saxon. Please configure it so it uses the same catalog file as eXist does.

[2014-10-01 10:01] wshager opened #351 "Feature request: Have Saxon resolve doc() and collection() from xmldb"
Saxon or other XSLT engines could benefit from resolving docs and collections from eXist's storage directly.

[2014-10-01 10:08] wshager opened #352 "Feature request: do not fire triggers on restore"
When restoring, "create" and/or "update" triggers should NOT fire, since documents aren't actually created or updated, merely read back from a previous state.

[2014-10-01 14:41] mgaerber opened #353 "restxq encoding issue with media-type "application/json""
In 2.2 RC2

setting the %output:media-type to application/json removes the default UTF-8 encoding from the HTTP Content-Type Header

I've found no other way to set the encoding - only omitting the media-type works

[code]

[2014-10-04 15:45] #174 closed, assigned to dizzzz

[2014-10-04 18:06] dizzzz opened #356 "Travis: make build fail when the junit tests do not 100% pass"
at this moment a travis build always results in OK, even though for Java8 there are test failures;

it would be verrrrrry nice to have indicators that a  test run was not 100% ok....

[2014-10-08 07:45] EfraimFeinstein opened #359 "grouping fails inside a default-namespaced element"
On a recent eXist 2.2RC build from git.

Executing the following test case XQuery:

[code]

gives an error: variable '$y' is not set.

Removing xmlns="test:example" removes the error.

Using declare default element namespace "test:example"; also has the error.

[2014-10-08 09:39] duncdrum opened #360 "Eval is run, and run is eval"
![screenshot 2014-10-08 11 35 20](https://cloud.githubusercontent.com/assets/6205362/4556948/96aad16c-4ece-11e4-8ef3-6e08c359ec8b.png)
Latest gitversion of develop as of posting. The run button executes eval, and the eval button executes run.
Love the directory browser, and thanks for adding Monex to drop down.
2.2 is looking better by the day .

checked on Os X 10.9.5 Safari 7.1 Java 7,
win7 ente

[2014-10-08 11:50] wshager opened #361 "Login asked for REST request when already logged in"
A login box is presented when I try to PUT content but I'm already logged in. The PUT request was forwarded to REST from the controller via this entry:

[code]

[2014-10-08 12:26] jensopetersen opened #362 "position() on reverse axes"
position() on reverse axes goes by forward document order, but should count backwards, as discovered by @gioele.

http://markmail.org/thread/ijvbtkejott2bwj7

	xquery version "3.0";

	let $doc :=
		<doc>
			<entry>a</entry>
			<entry>b</entry>
			<entry>c</entry>
		</doc>

	let $preceding-siblings-a := $doc//entry[. eq "c"]/preceding-sibling::entry[position() = 1] (:incorrect:)
	let $preceding-sib

[2014-10-10 18:52] ahenket opened #364 "format-dateTime does not support [Z] in picture string"
[Z] is not recognized as timezone indicator on the regular format-dateTime

[code]

[Z] is defined here http://www.w3.org/TR/xpath-functions-30/#date-picture-string.

[2014-10-11 13:21] #364 closed, assigned to adamretter

[2014-10-17 13:24] lagivan opened #373 "eXide DB Manager Delete Resource Error for a file name with tilde character"
I'm facing issues while deleting files via eXide DB Manager. It looks like eXide encodes the file/directory name replacing tilde character with %7E, thus, fails to delete the target. There must be a bug with handling the DB paths.

![issue_screen](https://cloud.githubusercontent.com/assets/2240347/4679321/4ee8ac08-5600-11e4-8369-23f92fc7dbb1.jpg)

[2014-10-19 21:36] #373 closed, assigned to nobody

[2014-10-20 08:16] dizzzz opened #375 "wrapper does not work for MacOSX 10.10 Yosemite"
With the newest MacOsX  the wrapper detects the OS (numbered 10.10) as an older OS (pre 10.5)

[code]

see http://sourceforge.net/p/wrapper/mailman/message/32947751/

[2014-10-20 08:17] #375 closed, assigned to dizzzz

[2014-10-20 08:55] #360 closed, assigned to wolfgangmm

[2014-10-29 20:51] shabanovd opened #377 "Permissions does not copy on copy operation"
here an old fix https://github.com/shabanovd/exist/commit/8d36f0fa33a65dc235ea7068196de2ea708fd5e6

[2014-11-03 13:01] jensopetersen opened #381 "attributes can be accessed on child axis"
It should not be possible to access attributes on the child or descendant axes.

    let $doc-1 :=
    <doc xml:id="x">
        <a>
            <b x="1" n="7">text1<e>text2</e>text3</b>
            <b>text0</b>
        </a>
    </doc>

    let $doc-2 := doc('/db/test/test-doc.xml') (:$doc-2.xml is $doc-1.xml stored.:)

    return
        <result>
            <a-1>{$doc-1//b[contains(., 'text1')]/c

[2014-11-03 13:07] jensopetersen opened #382 "document-node()"
Calling document-node() returns in all nodes in an in-memory document and all nodes accessed by node() in a stored document, whereas it should return all document nodes in the context. The document node cannot be accessed on the child or descendant axes.

See http://markmail.org/thread/bpgngbsg3suliioo.

[2014-11-03 15:15] lcahlander opened #383 "Error in fn:format-number"
If you evaluate the following in eXide:

&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
    &lt;head&gt;
        &lt;title&gt;&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;table&gt;
            &lt;tr&gt;
                &lt;th&gt;Formula&lt;/th&gt;
                &lt;th&gt;Expected&lt;/th&gt;
                &lt;th&gt;Actual&lt;/th&gt;
            &lt;/tr&gt;
            &lt;t

[2014-11-04 16:12] jonathanrobie opened #384 "Failure to recognize grouping variable"
Problem: eXist fails to recognize the grouping variable in the following query, and returns this error:

    "Definition for grouping var character not found"

Query:

[code]

Expected result:

[code]

[2014-11-09 19:44] pcolot01 opened #385 "Installer building failed on Windows [with solution]"
The building of the installer failed on a windows system.

The primary issue was XSLT deprecated style usage warning and the tokenize function not reckognized during ant XSLT operation.

I trace back to the following problems :

In build\scripts\installer.xml

[code]

is obviously specific to linux oriented system due to the usage of / as file separator.

For allowing a proper path analysis, using

[2014-11-11 15:34] christophe-g opened #388 "sm:id() in module throws error"
Potentially linked to https://github.com/eXist-db/exist/issues/252, this code throws an NPE :

**tesging.xqm**:

[code]

**test.xql**:

[code]

**error**:

[code]

[2014-11-11 16:48] shabanovd opened #389 "remove http://exist-db.org/exist/apps/doc/ldap-security.xml"

[2014-11-13 13:44] xristy opened #392 "Patch: add support for minimum-must-match on BooleanQuery"
Below is a small patch for your consideration to allow specification of the minimumNumberShouldMatch for BooleanQuery(s) in XMLToQuery.

The feature is not available in the classic Lucene query syntax. It is made available in the SOLR eDisMax query parser.

The feature allows to cut-off needless disjunctive searches.

It used like:

[code]

Here is the patch since I don't see how to attach the pat

[2014-11-14 20:36] twcook opened #393 "validation mode="no""
2.2RC build

Fails to skip validation if document contains a reference to a schema.

IOW: If I want to upload documents that reference schemas with XML Schema 1.1 features, I cannot turn off validation and upload them.  I would have to edit all the documents to remove the reference to the schema.

I validated this by removing the schema ref in a document after it failed to upload with a validation

[2014-11-26 14:46] christophe-g opened #401 "lang() seems broken"
[code]
returns
[code]

testing directly against the attribute $test//*[@xml:lang='en'] works fine though
C.

Exist Version 2.2

[2014-11-28 07:34] raducoravu opened #402 "[Exist 2.2] - No module found matching namespace "http://exist-db.org/xquery/console""
I have an XQuery like:

       <builtin-functions> {
           for $mod in util:registered-modules()
           let $functions := util:registered-functions($mod)
           order by $mod descending
           return
           <module namespace="{$mod}">
           <description>{util:get-module-info($mod)}</description>
           {
               for $f in $functions
               return

[2014-11-28 11:25] awagner-mainz opened #403 "Disable xinclude processing in eXide's "download app" command"
After running into this problem for the fiftieth time (or so it feels), I have again lost my xi:include statements somewhere along the download/edit/distribute/deploy path and ended up with flat (and redundant) xml files. On the eXist-db mailing list, other persons have confirmed to have run into this.

I would suggest disabling resolving/expanding XIncludes in eXide's "download app" or at least h

[2014-12-03 08:42] jesselet opened #404 "output XQuery comments"
xquery version "3.0";
    (:for eXist 2.2:)
    <r>
        <a>1</a>(:comment:)
        <b>2</b>
        (:<c>3</c>:)
        <d>4</d>
    </r>

    (:output as follows: ----------
    <r>
        <a>1</a>
        <b>2</b>
    (:
        <c>3</c>
    :)
        <d>4</d>
    </r>
    ----------:)

[2014-12-03 23:41] gtnewton opened #406 "Java admin client launches on different workspace in Ubuntu (unity)"
Launching a jnlp file (icedtea openjdk 7, 64bit Ubuntu 14.04, unity, two monitors) causes the admin client to launch on another workspace (i.e. workspace to the right instead of on the current workspace). Also, no icon is displayed for the running client, making it appear as though the client has crashed. I'm not sure if this is reproducible on a single-monitor machine.
To reproduce (from cli):
1)

[2014-12-04 17:31] #385 closed, assigned to nobody

[2014-12-09 17:20] gtnewton opened #410 "build dist doesn't build working distribution - missing autodeploy"
Issue: dist creation fail (404 dashboard not found)
Process: clone, ./build.sh, ./build.sh dist
Problem: no autodeploy directory in dist result
Solution: copy autodeploy folder to dist directory
Forked and fixed by adding necessary stanza to dist.xml script
Making pull request

ps. startup.sh output complains about lib/test directory missing. Added mkdir lib/test to dist.xml.

[2014-12-11 17:28] #353 closed, assigned to adamretter

[2014-12-12 08:53] henrik-ryom opened #413 "Upload of directories fails"
I have a lot of xml (legacy) documents encoded in iso-8859-1, with doctype declarations and with named character entities where the encoding can't handle the character. I have a catalog which gives me the DTDs and information on how to resolve character entities. These documents are spread over many folders and subfolders.

I use the catalog in many other applications and I have updated my conf.xm

[2014-12-14 03:40] joewiz opened #419 "Delete stale branch feature/lucence-range-index"
There's a stale branch called "feature/lucence-range-index", which looks like it would've been deleted had there not been a typo in the feature name (lucence instead of lucene).  See https://github.com/eXist-db/exist/branches/stale.

[2014-12-15 13:21] #419 closed, assigned to adamretter

[2014-12-16 11:22] #252 closed, assigned to adamretter

[2014-12-16 11:22] #388 closed, assigned to adamretter

[2014-12-18 17:53] gioele opened #426 "XPaths with `[1]` attribute return wrong results"
XPath queries that contain a `[1]` attribute will return only some of the nodes that they should return.

For example, the following query will return only 1 item, the one with ID `lemma-AnuvaMSya`. Instead it should have returned 4 results, as confirmed by libxml and oXygen.

A note on the query. This is a minimal test case reduction; in this particular case removing the `[1]` will lead to the ex

[2014-12-22 15:12] adamretter opened #427 "RESTXQ needs to respond to Collection events"
At the moment RESTXQ only implements `FilteringTrigger`, it should also implement `CollectionTrigger` so that it can respond to a Collection (which may contain modules or resource functions) being deleted, and deregister any resource functions.

[2014-12-22 22:58] adamretter opened #429 "Memory leak in Java Service Wrapper"
As reported by Casey Jordan [(background is here)](http://markmail.org/thread/y2qre26tdqu62hqm):

Just wanted to give everyone a heads up that Java service wrapper versions 3.5.25 and below (Which is used by eXist) is subject to a fairly serious memory leak on Linux systems with glibc 2.17.x and lower.

This is mainly just Debian based distros like CentOS.

To fix, you can upgrade glibc (Which is

[2014-12-28 23:08] MortalCatalyst opened #434 "Windows 7 exist fails to start correctly 64 bit"
Hi

New to existdb and just installed on windows 7 pro 64bit. Each time I go to start it the first time it seems to start to splash ok and then disappears. I start existdb from start menu again and then it proceeds through to main screen however pops up an error with this log.

[code]

[2015-01-04 14:30] meshkin opened #435 "jvm remains open when database is shutdown"
hello,
the java process remains open, when i shutdown exist from dashboard "Shutdown" button (or xquery), !! it assigns 200mb to itself!
how can I close java process or close jvm when shutdown db?
thanks all;

[2015-01-04 15:28] dizzzz commented on #435
Exist version? Platform/os? Java vendor + version? How do you start Existdb? What is in the logs?=

[2015-01-04 15:38] meshkin commented on #435
eXist version : 2.2RC2
Platform/os : windows 7 - 32/64 bits
java:
    java version "1.8.0_25"
    Java(TM) SE Runtime Environment (build 1.8.0_25-b18)
    Java HotSpot(TM) Client VM (build 25.25-b02, mixed mode)
I run startup.bat
I don't see logs; i will report it tomorrow;
thanks for reply.

On Sun, Jan 4, 2015 at 6:58 PM, Dannes Wessels <notifications@github.com>
wrote:

[2015-01-05 11:38] henrik-ryom commented on #413
I uploaded the documents with the gui client.
It looks like, I get the errors with documents in sub-folders and subsub...-folders.

[2015-01-05 13:33] dizzzz commented on #434
if you refer to the ` The database directory seems to be locked by another database instance. Found a valid lock file: c:\eXist-db\webapp\WEB-INF\data\dbx_dir.lck` message... there is probably actually an other eXist-db instance running. Make sure the other exist java vm is killed, or, reboot the system.

[2015-01-05 13:35] dizzzz commented on #434
how do you stop the server? there are no messages visible indicating the server is nicely stopped....

[2015-01-05 13:39] zopyx opened #438 "Deleting a collection over WebDAV -> 500 error"
Running exist-db 2.2.

I am trying to delete the collection 'onkopedia.old' over WebDAV.
This gives me a 500 HTTP error!?

Andreas

[code]

---

Ok, it looks that the collection you refer to is not existent, but there is no check:

[code]

[2015-01-07 16:37] lcahlander opened #441 "The tray - Open Dashboard in Launcher assumes contextPath or /exist"
Since it is possible to change the contextPath from '/exist' to '/' in tools/jetty/etc/jetty.xml, the Launcher class should take the contextPath into account.

/Configure/Set/New/Set/Array/Item/New/Set[@name = 'contextPath']

[2015-01-07 17:06] joewiz commented on #441
+1

[2015-01-08 14:59] pcolot01 opened #442 "functx info warning at each eXist-db Startup"
During each eXist-db startup including the library functx, the following line is displayed :

INFO: Warning: package uses old-style content dir: 'c:\eXist-db2.2\webapp\WEB-INF\data\expathrepo\functx-1.0\functx'

The error is very simple to correct. The new libraries expect to find the content collection in place of the functx collection in the package.

Could you correct the package deployed on ht

[2015-01-09 12:50] gmella commented on #324
:+1:
Hi,
  This issue prevent the right error catching and report in our user interface. I suppose that improvment on this topic could save time on error debugging for many project.
I hope that this reminder may help to get the right level of priority :) .

Best wish and happy new year to the existdb community! Many thanks to the contributors of this very nice tool.
--
Guillaume

[2015-01-10 10:48] jensopetersen opened #443 "calling normalize-unicode() has no effect"
normalize-unicode() does nothing, no matter which normalization form one asks for.

See http://markmail.org/thread/szmulgolc3fkisob.

This influences searchability. Test case:

[code]
#
[code]
#
[code]

[2015-01-10 16:29] dizzzz commented on #443
hmm  not sure it is related, but did you install the icu4j library ?

[2015-01-10 16:44] jensopetersen commented on #443
Sure.

[2015-01-14 09:13] mdekleine opened #444 "asm java library prevents ExistDB from starting"
We are using a java component called Parboiled (https://github.com/sirthias/parboiled/wiki) to analyze and construct xml files from text files. This component itself uses ASM 4.0 (http://asm.ow2.org/).  When I place the jar file (asm-all-4.0.jar) file in the /lib/user map, then the ExistDb refuses to start and reports an error in the event log ;
"The eXist-db Native XML Database service terminated

[2015-01-14 09:39] dizzzz commented on #444
the ASM lib has been causing some issues in the past, e.g.

- https://github.com/eXist-db/exist/pull/247
- https://github.com/eXist-db/exist/pull/242

I guess the conflict is caused by the already existing asm.jar provided by jetty:

https://github.com/eXist-db/exist/tree/develop/tools/jetty/lib

*maybe* it helps removing the jetty version (set aside).

[2015-01-14 11:09] mdekleine commented on #444
Thanks for the suggestion (hmm, i could have searched myself...)
unfortunately moving the jetty version doesn't help; when moved eXist-db doesn't even start. Moving the asm-all.4.0.jar in the Jetty lib also isn't working.

[2015-01-14 11:36] dizzzz commented on #444
moving = removing?

[2015-01-14 11:44] mdekleine commented on #444
I made an 'archive' map and moved the org.objectweb.asm-3.1.0.v200803061910.jar file into that map.

[2015-01-15 21:38] dizzzz commented on #444
if moving out does not help, I have no solution for you :-( Does de ASML project indicate incompatibilities or workarounds?

[2015-01-19 00:48] cmisztur commented on #229
I am experiencing this as well in 2.2 RTM.

[2015-01-23 17:38] joewiz opened #445 "Add support for SequenceTypeUnions in typeswitch case expressions"
In the XQuery 3 spec, [typeswitch case clauses](http://www.w3.org/TR/xquery-30/#id-typeswitch) can contain union operators (or more properly, can contain [SequenceTypeUnions](http://www.w3.org/TR/xquery-30/#doc-xquery30-SequenceTypeUnion)).  Here is an example adapted from the spec:

[code]

In eXide, this triggers the following error:

    error found while executing expression: org.exist.xquery.

[2015-01-30 01:09] bkcsfi opened #455 "backup.sh -q option is not quiet"
when restoring with -r option, I also specified -q  to 'only report errors', however details of all restored are written out to stderr anyway

using 2.2 with openjdk 7 jre

if I specify -q option twice, it does complain "duplicate option specified"

[2015-01-30 07:47] diego1a opened #456 "Problem saving in exist"
I want to save in exist an xml with tags without blancks beetween them, for example i tried to save this:
(XML TAG)sfggfdg(CLOSING XML TAG)(XML TAG)lololooo(CLOSING XML TAG)

And when i reload the collection there is this:
        (XML TAG)sfggfdg(CLOSING XML TAG)
       (XML TAG)lololooo(CLOSING XML TAG)

Has exist any parameter to avoid this estructure saving the collection ?

Thanks in advance.

[2015-01-30 08:12] joewiz commented on #456
There may be a few factors at play.  So, a few questions:  First, did you modify your conf.xml file's whitespace handling settings, or did you leave them as they are by default?  Second, how are you "reloading the collection"?  With eXide, a WebDAV client, or some other editor?

[2015-01-30 08:46] diego1a commented on #456
Yes , firstly I've detect the problem inserting with XUpdate from web application with conf.xml default settings.
Then I've tried to make the change directly with exide and after saved I reload it with the same result.

After that, I changed conf.xml settings(suppress-whitespace, preserve-whitespace-mixed-content, serializer indent, ...), with the same result.

[2015-01-30 13:42] dizzzz opened #457 "Misc messages in webstart console"
on stdout I see the following messages; we might need to repair these.....

jar siging

[code]

logging

[code]

The rest is ok

[code]

[2015-01-30 16:03] ford-thomas-w opened #458 "file:serialize json"
I need to write out some json to the file system from an xml doc.  So, I tried the following:

[code]

In data.json the node is duplicated as such:
[code]

My system info:

System Status
General
Uptime:	PT8H43M14.379S
eXist Version:	2.1.6-LTS
eXist Build:	20140616
eXist Home:	C:\eXist216
SVN Revision:
Operating System:	Windows Server 2008 R2 6.1 amd64
File encoding:	UTF-8
Java
Vendor:	Oracle Corpo

[2015-01-30 21:00] wolfgangmm commented on #458
The problem shows up on 2.2 as well, but it seems to be limited to file:serialize. I'll look into it.

[2015-02-02 12:07] diego1a opened #460 "Avoid indenting HTML in Exist DB"
I've a problem with Exist, when I save an HTML and I can´t avoid the indenting that exists makes to my HTML.(Unwanted spaces around some tags)

I tried to change the serialize ident parameter to no, the expand-xincludes to no, with the same result.

Any idea ??

Thanks in advance.

[2015-02-02 15:08] diego1a opened #461 "Serializer indention doesn't work"
I am running the following query:

[code]
What I expect to have in the document is:

[code]

But instead I have:

[code]
How is that, and how can I have the former instead of the latter?

(I have tried to set `<serializer indent="no">` in conf.xml, but I guess the
serializer is not involved here.)

[2015-02-02 18:18] joewiz commented on #460
Is this not a duplicate of #456?

[2015-02-02 18:18] joewiz commented on #461
Is this not a duplicate of #456?

[2015-02-03 07:11] diego1a commented on #460
Yes, but with different examples and explanation and examples.

Any idea ?

[2015-02-03 07:13] diego1a commented on #461
Yes, but with different explanation and example, so there is not answer to this problem ?

Thanks.

[2015-02-04 08:05] christophe-g opened #462 "problem with sequence selection containing util:random in predicate"
Sometimes, this query returns no result and sometimes more than 1 (1 result would be expected).
[code]
Cheers,
C.

[2015-02-06 08:53] kohsah commented on #426
I am having a similar issue. In my case a query returns results only if drop the indexes, adding the indexes makes the query return 0 results.
However noticed one odd behaviour, this works :
[code]
but this fails :
[code]

[2015-02-06 09:25] dizzzz opened #464 "Regression: Waiting for thread DefaultQuartzScheduler_Worker-3 to shut down"
on travis - https://s3.amazonaws.com/archive.travis-ci.org/jobs/49711973/log.txt - there is a lot of logging like:

[code]

seems to be related to Oracle Java7 only ; recently we had some db shutdown changes, this might be related?

@adamretter @shabanovd @wolfgangmm

[2015-02-06 13:30] wshager opened #465 "JSON annotation error"
The following should serialize to `intarray:[1]`

[code]

[2015-02-06 18:18] shabanovd commented on #464
Looks like QuartzScheduler shutdown wasn't called

[2015-02-09 13:06] pcolot01 commented on #460
I am able to generate files without indentation using the XML serializing option.
If your HTML is well formed (all HTML tags ares imbricated, closed or empty),
this workaround should work. My sole problem was the hard spaces always
saved a numerical entity. I created a local patch for my own usage to have it
saved as a UTF8 unicode character.

[2015-02-09 14:49] diego1a commented on #461
I've resolved finally with the indent parameter, finally it has work fine.

Apart that the exide editor writes with indention the file is ok.

[2015-02-09 14:49] diego1a commented on #460
I've resolved finally with the indent parameter, finally it has work fine.

Apart that the exide editor writes with indention the file is ok.

[2015-02-09 14:50] diego1a commented on #456
I've resolved finally with the indent parameter, finally it has work fine.

Apart that the exide editor writes with indention the file is ok.

[2015-02-09 15:09] joewiz commented on #456
Could you be a little more specific about what you did to achieve the desired result?  Also, could you please close this and the other two related issues, #460 and #461?  Thanks.

[2015-02-15 13:07] lcahlander opened #473 "Errors while storing the DocBook XSL files in eXist-db"
I downloaded the DocBook XSL stylesheets from http://sourceforge.net/projects/docbook/files/docbook-xsl-ns/1.78.1/

I then used to Java Admin Client to store the stylesheets in eXist and got the following error messages:

[code]

[2015-02-15 13:34] dizzzz commented on #473
You need to register your DTD entities before uploading your data
file extensions are needed to determine what kind of data we are dealing with
all extensions need to be known upfront; by design

[2015-02-16 14:47] nicg-corbas opened #474 "some windows batch files have wrong line ends"
The Windows batch files in the 2.2 release appear to have been saved with Linux line endings.

[2015-02-16 14:50] dizzzz commented on #474
Could you elaborate which of the scripts are affected?

[2015-02-16 15:22] #473 closed

[2015-02-16 15:55] nicg-corbas commented on #474
Apologies - should have been much more clear - I'm seeing client.bat, check_jmx_status.bat and get_opts.bat all with (proper operating system) LF only linebreaks

[2015-02-17 09:33] borsna opened #479 "Progressbar when reindexing collections"
It would be great to have some kind of progressbar when indexing collections in the webbinterface and/or in the java-client.

[2015-02-18 10:17] wshager opened #482 "Feature request: setUid/setGid module in chain"
Currently it doesn't seem possible to flag a module for setUid/Gid that is in a chain of modules. I'd like to propose this be made possible. Please consider:

generic controller.xql or RESTXQ module -> generic REST mapping module -> app-specific CRUD module (flag should be set here) -> generic CRUD module (does the actual writing to db, but should not be flagged for all apps)

[2015-02-19 13:34] meshkin commented on #435
excuse me for long delay time.
when i run system:shutdown() command in eXide, following lines written in log files:

2015-02-19 16:47:59,344 [eXistThread-30] INFO  (XQueryServlet.java [init]:158) - encoding = UTF-8
2015-02-19 16:47:59,346 [eXistThread-30] DEBUG (XQueryContext.java [importModule]:2680) - Module http://exist-db.org/xquery/os already present.
2015-02-19 16:47:59,346 [eXistThread-30]

[2015-02-19 17:20] sebastianrahtz opened #485 "poor admin performance with large collection"
I have created a collection with 32000 XML files in, and find that I cannot do admin-like operations (e.g. change group permissions) because the system sits trying to load up the name of all the files (I assume). This seems a bit odd?

[2015-02-19 18:19] joewiz commented on #485
Could you specify which tool you're using to perform these operations?  Java admin client, Dashboard > Collection Browser, Dashboard > eXide > File > Manage (aka DB Manager), or via your own custom XQuery code?

[2015-02-19 19:23] wolfgangmm commented on #485
The Java admin client does indeed try to retrieve the metadata for all resources in the collection at once. The file dialog in eXide is a bit better because it loads the resources in batches. Increasing the collectionCache size in conf.xml may also help a bit in general.

However, changing permissions on thousands of resources is not very efficient through either of the graphical interfaces. Scrip

[2015-02-19 19:27] dizzzz commented on #485
An option could be to enable http compression in the XMLRPC interface....

[2015-02-19 20:23] adamretter opened #486 "XQuery Parser issue with call to inline function"
The following query:

[code]

Results an exception from the parser:
[code]

The trace of the XQuery parse tree looks like:
[code]

and the trace of the XQuery Tree parse looks like:

[code]

[2015-02-19 22:29] sebastianrahtz commented on #485
I was working in the simple "Collections" thing (
http://eebotcp.cloudapp.net:8080/exist/apps/dashboard/index.html). All I
wanted to was change the ownership of the whole collection, but I when I
select the collection name and try to change that, the lower pane just
starts endlessly "Loading...". Which puzzled me. I didn't want to change
all the texts in there, just the collection itself.

thanks

[2015-02-19 23:02] jensopetersen commented on #485
Hi Sebastian,

To change the owner of the collection, open eXide from the Dashboard, log in as admin, enter

	sm:chown(' /db/eebo/', 'fernando')

(using an actual username as the second argument),

and click Eval.

Best,

Jens

PS: I see that you do not index the collection. You will probably want to do that. Have a look at the Shakespeare app and <http://exist-db.org/exist/apps/doc/indexing.xml>.

[2015-02-19 23:16] jensopetersen commented on #485
Make that 

sm:chown(xs:anyURI(' /db/eebo/'), 'fernando')

Sorry,

Jens

On 20 Feb 2015 at 00:02:03, Jens Østergaard Petersen (oesterg@gmail.com) wrote:

Hi Sebastian,

To change the owner of the collection, open eXide from the Dashboard, log in as admin, enter

sm:chown(' /db/eebo/', 'fernando')

(using an actual username as the second argument),

and click Eval.

Best,

Jens

PS: I see that you

[2015-02-19 23:27] sebastianrahtz commented on #485
thanks, Jens! makes sense.

Yes, I am indexing that huge great collection now. Its not a real
production system, i was just curious to see how long it would take me to
set up an eXist server using Azure.

Sebastian

[2015-02-20 14:06] rbotto-ids commented on #435
Same problem using exist 2.2 on openSuse 12.3 with Java 1.7.0_51 64 bits.
Exist-db started with startup.sh and tried to shutdown with shutdown.sh
I don't have the Exception on XQueryServlet, the other log is the same.
Temporary I made a change that seems to work, on JettyStart.java, on method shutdown, after server.join, forcing a System.exit(0), but I need confirmation of this change

[2015-02-20 14:18] rbotto-ids commented on #435
Thread dump without code change after , JettyStart declare jetty is stopped:

Full thread dump Java HotSpot(TM) 64-Bit Server VM (24.51-b03 mixed mode):

"jetty shutdown schedule" daemon prio=10 tid=0x00007f386c004800 nid=0x139a in Object.wait() [0x00007f3907dfc000]
   java.lang.Thread.State: WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	- waiting on <0x00000007c71b82b0> (a

[2015-02-20 14:21] rbotto-ids commented on #435
Code change is at line 385 of JettyStart.java , on shutdown method of ShutdownListenerImpl, adding System.exit(0), after server.join()

[2015-02-24 23:01] lagivan opened #491 "Support "count" clause in FLWOR expressions"
http://exist-db.org/exist/apps/doc/xquery.xml#D2.2.3.9

While it's clearly mentioned in the eXist docs that there are not many use cases for this feature, I've stumbled on the use case. The "count" clause differs from "at" clause as it counts the items after the ordering. Here I'd like to vote for this feature to be implemented. For now I'll have to find a workaround using multiple steps - first o

[2015-02-25 07:52] dizzzz commented on #491
I did not know of the clause... http://www.w3.org/TR/xquery-30/#id-count

[2015-02-25 07:53] dizzzz commented on #479
There have been some taks about this; it is not as simple to implement....

[2015-02-25 07:57] dizzzz commented on #462
there was a discussion on the mailinglist : http://exist.markmail.org/thread/rbasz5xjwuautfde

so... a bug or a feature ? :-)

[2015-02-25 07:57] dizzzz commented on #461
close issue?

[2015-02-25 07:58] dizzzz commented on #460
'indent' parameter ...... wehere did you set this?

[2015-02-25 07:59] dizzzz commented on #456
@diego1a  please a follow up....

[2015-02-25 08:00] dizzzz commented on #445
I guess it is fixed.

[2015-02-25 08:00] #445 closed

[2015-02-25 08:02] dizzzz commented on #444
Is it fixed for you right now? It must be something specific on your system

[2015-02-25 08:03] dizzzz commented on #435
@adamretter @shabanovd you have been working on the shutdown part, is this fixed in 2.3?

[2015-02-25 08:04] dizzzz commented on #434
No response, clearly a hanging lock

[2015-02-25 08:04] #434 closed

[2015-02-25 08:09] dizzzz commented on #403
SHould be moved to @wolfgangmm eXide tracker https://github.com/wolfgangmm/eXide

[2015-02-25 08:10] dizzzz commented on #403
moved to eXide bugtracker

[2015-02-25 08:10] #403 closed

[2015-02-25 08:11] dizzzz commented on #402
This information is available in most modules, but I am not sure if/how it is exposed to xqueries

[2015-02-25 08:34] mdekleine commented on #444
It is not fixed. We didn't have the knowledge and resources to investigate this any further and will continue using 2.1 which does it's job pretty good. The actual solution will probably be to remove the actual routine and move it outside the exist-db space; then we definitely will upgrade to get all the benefits of the newer version.

[2015-02-25 11:37] adamretter commented on #435
@dizzzz There is still a shutdown issue in HEAD which I occasionally encounter. Seems to occur when Quartz Scheduler tries to shutdown at the same time that a System Task tries to take a broker. As System Tasks are scheduled with Quartz, this implies a concurrency issue in BrokerPool. Probably a good review and audit of that code could find the issue. When it occurs my stack looks like this:

[cod

[2015-02-25 12:10] adamretter commented on #462
Oh yes this is definitely a bug. Not only does it sometimes return no items, sometimes it also returns more than 1 item. Almost certainly a problem in `position()` which has had many problems in eXist in the past also.

Switching from `util:random` to `math:random` shows the same problem too:

[code]

[2015-02-25 12:44] shabanovd commented on #462
@christophe-g why you think that `util:random` must be deterministic function? and why you expect predicate act as function?

http://www.w3.org/TR/xquery-30/#id-filter-expression

[2015-02-25 12:48] jensopetersen commented on #462
See also https://github.com/eXist-db/exist/issues/426, https://github.com/eXist-db/exist/issues/362.

[2015-02-25 12:48] shabanovd commented on #435
solution for that issue very simple: shutdown schedule before start-up shutdown sequence (or it can be called 'first step of it')

[2015-02-25 12:50] shabanovd commented on #462
that issues are different (all of them -)

[2015-02-25 13:01] wolfgangmm commented on #462
It is probably a wrong flag being set, most likely due to the cast. If you factor out the call to random, it works as expected:

[code]

[2015-02-25 13:13] adamretter commented on #435
@shabanovd I don't think that solves the issue... as the scheduler may already be running System Tasks when you request it to shutdown, it will wait for those system tasks to complete. However, those system tasks may be attempting to take brokers, of which there are none available and we wait. I think that is exactly what we already see here.

[2015-02-25 13:17] adamretter commented on #462
So yes I think @shabanovd is correct here :-)

As he points out, it is just as the XQuery spec says, the predicate is evaluated once for each item in the sequence, so `util:random` or `math:random` is called 65 times. Placing the eval or random outside of the predicate means that the random is only evaluated once.

[2015-02-25 13:17] adamretter commented on #462
This is expected behaviour, thanks @shabanovd

[2015-02-25 13:17] #462 closed

[2015-02-25 13:26] shabanovd commented on #435
until `scheduler.shutdown(true);`

http://quartz-scheduler.org/documentation/quartz-2.x/cookbook/ShutdownScheduler

[2015-02-25 13:30] adamretter commented on #435
@shabanovd yeah we already do that.

[2015-02-25 13:36] shabanovd commented on #435
with small note: it under `synchronized(this) {`. I said it must be outside it, before `processMonitor.stopRunningJobs();`. That small detail make big difference.

[2015-02-25 13:53] shabanovd commented on #435
message at code quite clear, no?

that looking must be after `scheduler.shutdown(true);`

[2015-02-25 15:14] christophe-g commented on #462
Oh ! thanks.
You are right, once you  remember functions in predicates are evaluated for each sequence member, it is quite clear it's the expected behavior (thanks @shabanovd).

That could be a nice example of counter-intuitive programming though.
C.

[2015-02-25 16:26] dizzzz commented on #462
I did not realize....... thnx for this aha-moment :-)

[2015-02-25 16:32] joewiz commented on #462
Fascinating!  Thanks, guys!

[2015-02-25 17:00] #456 closed

[2015-02-25 17:01] #460 closed

[2015-02-25 17:01] #461 closed

[2015-02-26 09:16] ChiSamurai opened #492 "Content of base64Binary not available under certain circumstances"
When working with Contentextraction- and image-module I encountered some weird behaviour of an base64Binary variable: If processed with one of these modules, the binary itself is empty aftwards. I first thought, that this modules just swallow the binary somehow (which would not be a good thing at all), but I made some further investigations which revealed that the value of a base64Binary variable

[2015-02-26 09:20] dizzzz commented on #492
This issue has been discussed very recently. @adamretter confirmed it has his attention

[2015-02-26 12:50] ChiSamurai commented on #492
Thanks for your suggestion about changing the Binarydata manager. I tried both MemoryMappedFileFilterInputStreamCache and MemoryFilterInputStreamCache as well (at least I changed it in conf.xml, but can't find anything in the logs about which one is used), but got the same issue.

[2015-02-26 14:58] agucabral21 opened #494 "Usage of xmlns:xml prefix causes org.exist.xquery.XPathException: exerr:ERROR err:XQST0070 can not redefine 'xmlns:xml'"
When using a xml document which has xmlns:xml="http://www.w3.org/XML/1998/namespace" declaration, exist returns org.exist.xquery.XPathException: exerr:ERROR err:XQST0070 can not redefine 'xmlns:xml'.

But according to the spec, it should raise no error because the prefix is using the correct namespace. It is correct to raise an error if the namespace were different to "http://www.w3.org/XML/1998/n

[2015-02-26 15:09] ChiSamurai opened #495 "xmldb:create-collection() and encoding"
Some time ago we have been struggling with encoding in our collection-names. For example: `xmldb:create-collection()` allows creating collections with unencoded `@`  like `a@b` which then indeed is created and accessible by XQuery functions. Using that function with `xmldb:encode-uri("a@b")` also works, resulting two different collections: `a@b` and `a%40b`.

This leads to some issues using WebDAV

[2015-02-26 15:30] shabanovd commented on #494
On Thu, Feb 26, 2015 at 5:58 PM, Agustin Cabral <notifications@github.com>
wrote:

I can't run that script -(

--
Dmitriy Shabanov

[2015-02-26 16:03] agucabral21 commented on #494
There! sorry!

'xquery version "3.0";'
'let $row := <parent xmlns:xml="http://www.w3.org/XML/1998/namespace"> ''<dummyElement>blabla</dummyElement> </parent>'
'return $row'

[2015-02-26 16:04] agucabral21 commented on #494
I fixed it in the first comment, sorry!

[2015-02-26 16:14] jensopetersen commented on #494
The code at https://github.com/eXist-db/exist/blob/develop/src/org/exist/xquery/ElementConstructor.java#L109 doesn't really check for the four conditions listed at http://www.w3.org/TR/xpath-30/#ERRXQST0070. As Augustin writes, it is not an error to apply the default xml namespace, if one does so correctly. Case is also relevant.

[2015-03-02 13:52] lcahlander opened #497 "Dashboard an eXide keep on losing authentication when contextPath is set to / and port is set to 80"
With the following jetty.xml, then authentication keeps on getting lost in both the dashboard and eXide.

&lt;?xml version="1.0"?&gt;
&lt;!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure.dtd"&gt;

&lt;!-- =============================================================== --&gt;
&lt;!-- Configure the Jetty Server                                      --&gt;
&l

[2015-03-04 06:08] joewiz commented on #497
Your XML got mangled; surround it with 3 backticks (```) before & after, and it'll be formatted properly.

Also, some important info might include eXist version, browsers tried and version, and typical duration before session is lost or actions that trigger it.

[2015-03-07 12:53] jensopetersen opened #503 "@xml:lang information lost after applying util:expand()"
The @xml:lang of the context item should always be available. Applying util:expand() causes this information to be lost.

	xquery version "3.0";

	declare function local:report-lang($element as element())
	as element()
	{
		element { node-name($element) } {
			$element/@*,
			for $child in $element/node()
			return
				if ($child instance of element()) then
					local:report-lang($child)
				else

[2015-03-07 12:58] jensopetersen opened #504 "lang() function raises type error"
This code should return the first desc element:

	xquery version "3.0";
	let $doc :=
	<desclist xml:lang="en">
		<desc xml:lang="en-US">
			<line>The first line of the description.</line>
		</desc>
		<desc xml:lang="fr">
			<line>La premi&#232;re ligne de la déscription.</line>
		</desc>
	</desclist>
	return
		$doc//desc[lang("en-US")]

It raises a type error (XPTY0004).

[2015-03-08 08:34] jensopetersen opened #505 "A template function can only have 10 parameters."
declare function app:hello($a as node()*, $model as map(*), $p1 as xs:string?,
	$p2 as xs:string?, $p3 as xs:string?, $p4 as xs:string?, $p5 as xs:string?,
	$p6 as xs:string?, $p7 as xs:string?, $p8 as xs:string?, $p9 as xs:string?) {
		'hello world'
	};

raises the error,

	templates:NotFound No template function found for call app:hello [at line 189, column 85, source: /Applications/exist_dev/we

[2015-03-08 15:42] wolfgangmm commented on #505
The current version of templates.xql allows 15 parameters. It is easy to support an arbitrary number of parameters if we switch to the new fn:apply function, but this will break backwards compatibility. I'm currently extending the package repo to properly handle version incompatibilities. Once this is done, we can release a new templating package without limits.

[2015-03-08 16:58] jensopetersen commented on #505
I see that, but I still have to say that it breaks with 10 parameters. And it's not just my own setup: I just tried it out in the Shakespeare app on exist-db.org.

[2015-03-08 17:53] wolfgangmm commented on #505
As I said, it's easy to fix with the help of arrays and fn:apply. I just committed the corresponding changes to a branch:

https://github.com/eXist-db/shared-resources/tree/xq31-templating

You may copy templates.xql from there. Before we can officially update the app, I have to finish some work to ensure compatibility.

[2015-03-08 18:08] jensopetersen commented on #505
This is fine, but it does not really help, for the error comes from templates:call(), not templates:call-with-args(). The error still occurs after shifting in the new templates.xql.

[2015-03-08 18:43] wolfgangmm commented on #505
Yes, I understand. templates:call calls templates:resolve, which contained this:

[code]

I removed this in my version because it's no longer needed. It does work for me. Note that you also have to replace templates.xql in the EXIST_DATA/expathrepo dir, so it gets picked up by the loader.

[2015-03-08 19:43] jensopetersen commented on #505
Even though 15 parameters were made possible a long time ago in templates:call-with-args(), templates:resolve() at first ruled this out, limiting the arity to 10. This was fixed 6 months ago in https://github.com/eXist-db/shared-resources/pull/13, but this commit is not included in the latest xar, which is from 2014-07-21. This explains the error. What is needed is therefore an up-to-date xar.

[2015-03-09 08:50] ljo commented on #504
Yes, this seems to be the same as a previous issue with fn:lang. I have started to fix it.

[2015-03-10 09:00] #504 closed

[2015-03-10 14:52] rbotto-ids commented on #435
The discussion here goes to a more complex problem. The case I noticed is that exist shutdowns correctly (no locks on database), jetty shutdowns correctly (no ports used by the process), but Java Process is still running, consuming process, system memory and some open files.
In a system with many startups, we can arrive to user limits for processes or open files.

[2015-03-10 19:04] dizzzz commented on #505
move to correct repo

[2015-03-10 19:04] #505 closed

[2015-03-10 19:31] dizzzz commented on #410
in  'develop' I don't see the lib/test message.

[2015-03-10 19:31] #410 closed

[2015-03-10 19:34] dizzzz commented on #497
no response? close  issue?
this tracker should NOT be a fire and forget location. No dumps please, and do a follow up when requested.

is this the default configuration? only add the actually changes.

[2015-03-10 19:34] #497 closed

[2015-03-10 20:39] amclark42 opened #509 "Can't build an installer from working instance"
Briefly: I cannot build an installer from a working installation of eXist without mucking around in the install code.

The long version:

Running eXist 2.2 (stable), I wanted to build a custom installer for local development work. To do so, I ran `./build.sh installer` from my working instance, then secure-copied the resulting JAR to my local Vagrant box. Installing on the VM worked fine, except t

[2015-03-10 21:04] dizzzz commented on #509
The main use-case of these scripts are indeed to create an installer out of the git-repository.

I am not sure if I fully understand the change you are suggesting (does it work in our main use-case?) Please could you create a pull-request for your idea?

[2015-03-10 21:12] amclark42 commented on #509
I believe that this would work for both cases (build-from-source and build-from-installation). I'll send a pull request ASAP (need to set up git-flow).

[2015-03-11 20:13] dizzzz opened #511 "XQSuite: report syntax errors"
when developing XQuery-based tests, executed from the java testsuite, xquery syntax errors are not reported; there is no feedback about the problem, the .xq file is simply skipped/ignored.

if more .xq files are registered in a suite, there is no hint that some tests files are skipped; this way i missed that I had some serious regressions :-(

If atleast one .xq file can be executed, the javatest

[2015-03-11 20:21] dizzzz commented on #511
right... in ```org.exist.xquery.functions.inspect.ModuleFunctions.eval(Sequence[], Sequence)`` an exception is converted into an XPathException, which is logged ad DEBUG and is muted.

[2015-03-12 08:11] dizzzz opened #512 "Predicate issue (NPE)"
Reported by @joewiz

simplified test case that produces the NPE using current develop branch in eXide:

[code]

The NPE is detailed in the `exist.log` entry below.

Here are three similar expressions that produce the expected result (false) instead of the NPE:

[code]

I tested all versions in Saxon and got the expected result for all (false).

[code]

[2015-03-12 17:50] pboz opened #513 "XQuery set user password from digest"
As an administrator, I need an XQuery function that lets me set a user's password from a digest password. If I am managing users between instances of eXist, I can only access an existing users digest password, I (correctly) do not have access to their original password.

[2015-03-12 17:51] pboz opened #514 "As an eXist server administrator, I need a backup function which only exports a specified collection structure and only includes user accounts associated with documents in that structure"

[2015-03-12 19:02] sarkipo commented on #491
+1 vote!

This is exactly why I need it now. Otherwise, it also differs from "at" if there's more than one variable in the for clause.

[2015-03-13 14:33] adamretter commented on #464
Possibly related to https://github.com/eXist-db/exist/issues/435

[2015-03-13 14:33] adamretter commented on #435
Possibly related to https://github.com/eXist-db/exist/issues/464

[2015-03-13 15:09] #464 closed

[2015-03-16 15:56] borsna commented on #479
I realize having some kind of progress of the total work is hard to do (some document take alot more time than other).
But it would be great to see total number of documents to index and documents done when calling reindex on a collection.

[2015-03-16 16:18] joewiz commented on #441
@windauer seems to have successfully added this check in the form of javascript to https://github.com/wolfgangmm/monex/commit/4655c92b2b744c37e5101cd52a23798ce429ee17?w=1 - I'm not sure if this is applicable at all, but am mentioning it just in case.

[2015-03-17 08:22] adamretter commented on #509
@dizzzz That is not the main use-case of the .sh scripts, see my comments in https://github.com/eXist-db/exist/pull/520

[2015-03-17 09:42] rvdb opened #522 "parentheses around context node disturb evaluation of ft: and range: functions"
When the ft:query() function is called inside a predicate, parentheses around the context node seem to throw the evaluation of ft:query() in single-node execution mode, resulting in a substantial performance penalty.

This can be illustrated on the sample demo data in a vanilla eXist-2.2 installation. When following query is executed in eXide:

    collection('/db/apps/demo/data')//SCENE[ft:query(

[2015-03-18 15:12] #513 closed

[2015-03-18 21:35] #227 closed

[2015-03-19 10:10] adamretter opened #532 "Delete the deprecated SOAP API"
Hey guys, the SOAP API has been deprecated for a long time. I don't want to maintain it any more and I guess no one else does either. Can I delete it for the next release?

[2015-03-19 10:16] ljo commented on #532
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Den 2015-03-19 11:10, Adam Retter skrev:

Could we just make a small test poll to see how many actually using it
still? If it is a lot of people maybe find a maintainer otherwise I agree.

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iD8DBQFVCqHlhcIn5aVXOPIRAvitAKC5HSfzsCRl+036iKgGWiLeTaQcnACgvhe9
FvdTjogM03bn6EzTYKvN5ZA=
=j4p1
-----END PGP SIGNAT

[2015-03-19 10:17] dizzzz commented on #532
Probably yes, but sending out a question on exist open would be a good thing

[2015-03-19 10:24] dizzzz opened #533 "Webstart ... set Java8"
1) in https://github.com/eXist-db/exist/blob/develop/src/org/exist/webstart/JnlpWriter.java#L174 the java version needs to be set on Java 8.....
2) update/review list of jars

[2015-03-19 10:31] shabanovd commented on #532
+1 to remove or move to it own repo.

On Thu, Mar 19, 2015 at 1:10 PM, Adam Retter <notifications@github.com>
wrote:

--
Dmitriy Shabanov

[2015-03-19 11:46] dizzzz opened #534 "Windows/shutdown FATAL message (develop)"
Question: is the FATAL below a problem? (WIn7, Java8, develop)

reproduce:
- run `bin\startup.sh`
- open `dashboard`, open e.g. `eXide` (essential!)
- press `control-c`

message:
[code]

[2015-03-19 12:52] shabanovd commented on #534
it is, because db will not have shut down procedure for sure.

[2015-03-19 14:57] jensopetersen commented on #534
happens on OS X, Java 8, develop as well.

19 Mar 2015 15:54:58,676 [Thread-4] INFO  (JettyStart.java [lifeCycleStopping]:433) - Jetty server stopping...
2015-03-19 15:54:59,782 FATAL Unable to register shutdown hook because JVM is shutting down.

[2015-03-19 22:17] ljo commented on #401
This has been fixed in develop.

[2015-03-19 22:17] #401 closed

[2015-03-20 11:36] dizzzz commented on #532
One must contact the users first before removing a public API;

there as no maintenance, sure, but the code just works, why remove it then?
; moving it into an extension costs time.....

[2015-03-20 11:40] shabanovd commented on #532
`the code just works` ... I'm not sure for 100% because there was some issues reports on ML

[2015-03-20 11:46] shabanovd commented on #532
if we agree on move to extension somebody will/may find time for that -)

[2015-03-20 11:46] JoernT commented on #532
I agree with Dannes - you can't know for sure if someone's probably relying on it. Though it's good thing to get rid of things that nobody really likes to put work in we still should ask before removing it.

[2015-03-20 11:51] shabanovd commented on #532
I'm not against 'ask on ML', just some notes

[2015-03-20 11:52] JoernT commented on #532
i can do it

[2015-03-20 11:59] JoernT commented on #532
Ok, i've send a message to the list - if we don't hear something within a week or so i think we can remove it for next release.

[2015-03-20 12:36] shabanovd commented on #534
here some that should help to fix http://stackoverflow.com/questions/17400136/how-to-log-within-shutdown-hooks-with-log4j2

[2015-03-20 13:15] adamretter commented on #532
Thanks @JoernT.

The reason I want to remove it is because I am trying to modernise the API code as it is some of the oldest in eXist. If there is one less API I have to rewrite then that is good. If anyone wants to suggest removing any of the other APIs then I am open to suggestions...

[2015-03-20 13:35] JoernT commented on #532
i completely with you in this point - if there's something nobody uses we should really get rid of it - it's just unnecessary noise then.

[2015-03-21 11:34] dizzzz commented on #486
fixed, returns "hello" in develop

[2015-03-21 11:34] #486 closed

[2015-03-22 10:53] #533 closed

[2015-03-22 12:27] dizzzz commented on #534
Ok, I raised the level of this issue, because it really might be a problem for stability?

[2015-03-23 14:22] jensopetersen opened #540 "definition of NCName too strict"
I would normally use ASCII characters only for xml:id's and suchlike, but for a specific project it makes sense to use Chinese characters as xml:id's. Here eXist appears to me to be too strict. While it accepts characters in the Basic Multilingual Plane (the second one below), it refuses later additions to Unicode. Other XQuery processors do accept these and documents containing them are valid acc

[2015-03-24 07:37] dizzzz commented on #356
improved with
- https://github.com/eXist-db/exist/pull/524
- https://github.com/eXist-db/exist/pull/518

[2015-03-24 07:37] #356 closed

[2015-03-24 09:45] dizzzz opened #541 "Add error + solution to FAQ"
[code]

yields into (java7- running develop)

[code]

[2015-03-24 09:45] #541 closed

[2015-03-28 13:11] jensopetersen commented on #503
Two other inherited attributes should be carried over when making fragments: xml:space and xml:base.

[2015-03-29 12:16] shabanovd opened #547 "Broken tests on Travis-CI investigation"
Let's try to find out why tests failing.

I see that problems starts right after `org.exist.collections.CollectionRemovalTest` or it happen before it?

Maybe we should try to disable test(s) (one that we'll think is problem maker) till tests start pass and enable it one by one till start failing again?

[2015-03-29 12:55] adamretter commented on #547
@shabanovd Is this the travis-ci build?

[2015-03-29 13:02] shabanovd commented on #547
yes, there

[2015-03-29 14:12] adamretter commented on #547
If you ask Travis-CI support in their IRC room or by email, they can provide you with a hosted Travis VM for testing. This is probably the best approach. I did try and reproduce locally on Linux mint but could not.

[2015-03-29 23:08] shabanovd commented on #547
TeamCity on RH give same errors

[2015-03-29 23:10] adamretter commented on #547
@shabanovd Is that your own TeamCity? Maybe it is easier for you to chase the issue there...

[2015-03-30 06:42] dizzzz commented on #547
if on RH gives similar results..... that is scary and encouraging the same time.

my question: what is the underlying filesystem? native? nfs3/4? iscsi?

[2015-03-30 09:15] shabanovd commented on #547
ext4, but it can be virtual one ... need to check

[2015-03-31 08:35] JoernT opened #550 "add a uninstall hook for xar packages"
Currently there's a pre-install and post-install hook when deploying packages. Sometimes xar applications require additional resources that might exist outside of the database - in these cases an uninstall hook would be handy to erase all these external files from the system.

Other scenarios are:
- installation of files in the system collection
- creation of users and groups

Same applies here -

[2015-03-31 13:03] dizzzz commented on #550
so you suggest a uninstall hook? (pre-uninstall or even post-)

[2015-04-01 14:14] christophe-g commented on #237
Here is simple example code
[code]

[2015-04-01 19:30] #444 closed

[2015-04-01 19:47] dizzzz commented on #435
should be fixed

[2015-04-01 19:47] #435 closed

[2015-04-01 19:53] dizzzz commented on #393
it is specific about xsd1.1? there is no support for that (yet).
uploading XML with references to schemas should just work, as documented (use of catalogs etc)

ok to close?

[2015-04-01 19:53] #393 closed

[2015-04-01 20:03] dizzzz commented on #404
confirmed, it is still there.

[2015-04-01 20:06] dizzzz commented on #383
Formula	| Expected	| Actual
-------------|---------|-----
format-number(12345.6, '#,###.00')	| 12,345.60	| 12,345.60
format-number(12345678.9, '9,999.99')	|  12,345,678.90  | 	err:XTDE1310
format-number(123.9, '9999')	 | 0124	 | err:XTDE1310
format-number(0.14, '01%')	 | 14%	 | 14
format-number(-6, '000')  | 	-006	 | 0-6
format-number(12.34, '0.000e00')	 | 1.234e01	 |  err:XTDE1310
format-number(1

[2015-04-02 07:53] adamretter commented on #532
Okay @JoernT asked on the exist-open mailing list. Due to a lack of requests to keep it, we will now remove it.

[2015-04-02 07:55] adamretter opened #554 "Delete the deprecated SOAPServer"
Related to https://github.com/eXist-db/exist/issues/532

[2015-04-02 07:57] adamretter opened #555 "Remove XQueryServlet"
For quite some time XQueryServlet has been deprecated and we have recommended that people instead store their XQuery in the database. The eXist book also makes the same recomendation.
I would like to remove this old for a long time deprecated code.

[2015-04-02 07:58] adamretter opened #556 "Remove legacy full-text index"
The legacy full-text index should be removed for the 3.0 release. We have been advising people not to use it since before eXist 2.0 was released!

[2015-04-02 08:00] adamretter opened #557 "ARM (Automatic Resource Management)"
The functional lambdas added in https://github.com/eXist-db/exist/pull/549 should be generalised and applied to anywhere that a database broker is obtained, and a Collection/Document is read/written.

This is a large piece of work, so perhaps it will happen in two tranches.

[2015-04-02 08:16] shabanovd commented on #492
Some fixes was in that area. Is this bug report still valid for latest develop branch?

[2015-04-02 08:18] shabanovd commented on #351
This should work. @wshager can you confirm that this actually do not work in last develop branch?

[2015-04-02 08:19] shabanovd commented on #306
Should we keep it, or it can be removed? Ask on ML?

[2015-04-02 08:24] dizzzz commented on #532
+1

[2015-04-02 08:26] dizzzz commented on #306
check with pierrick at least ; he is the author; I studied the deps a few times, some downloads are missing. The spatial jars are now on Maven, but we only need a subset. The question is....... which? Tests are not complete

[2015-04-02 08:27] dizzzz commented on #492
I remember that on the ML a budget was offered to have this fixed.

[2015-04-02 08:27] dizzzz commented on #556
Agree.

[2015-04-02 08:29] shabanovd commented on #557
Can you provide example? (in PR you reference no example and several commits)

[2015-04-02 08:31] dizzzz commented on #555
Isn't the controller using this servlet? or betterForm? It would cause regression for some people, but for a v3.0 release -when correctly documented and announced- acceptible IMO.

[2015-04-02 08:32] dizzzz commented on #554
Also the soap server? hmmm :-/  I liked the wsdl like approach. But you are right....

[2015-04-02 08:33] shabanovd commented on #555
It used for in db xquery scripts too. Maybe, it can be split by usecases: db, FS and code as request parameter. I'd like to remove last one, but there people that use it, so removing may/will break there apps.

[2015-04-02 08:35] claudius108 commented on #492
It is not really funding (I should have said "support" instead of "fund"), but workforce, which is me working on this issue.

[2015-04-02 08:36] shabanovd commented on #492
First step is to confirm that it still valid. @claudius108 can you do that?

[2015-04-02 08:45] wolfgangmm commented on #555
It is still being used quite a lot as I know from customers, e.g. in applications which embed eXist. In some scenarios it makes sense to keep queries on the file system.

eXide also uses it to post XQuery code if you press the "Eval" button (same for the demo app). Changing all this would imply a lot of work, taking time from other things.

[2015-04-02 08:48] wolfgangmm commented on #556
+1 Removing the index should not do any harm.

[2015-04-02 08:54] claudius108 commented on #492
Error persists with the latest develop:
exerr:ERROR Unable to encode string value: The underlying InputStream has been closed.

[2015-04-02 08:55] adamretter opened #558 "Deadlock in validation (and more?)"
I have found a repeatable deadlock in validation:

[code]

So the real issue is the interaction between `broker.getOrCreateCollection` and `EmbeddedDownload` used by the validation. Basically what happens is -

1) The `main` thread executing the `broker.getOrCreateCollection` will acquire a `WRITE_LOCK` on the collection `/db/validate-test` and add it to the transaction.

2) When `driver.loadSchem

[2015-04-02 08:57] adamretter commented on #554
Sure it's a cool approach. A precursor which led me to develop RESTXQ. However this can be duplicated in XQuery or you could build atop RESTXQ. I did think about a SOAPXQ set of XQuery 3.0 annotations but unless someone pays me to implement them, I have more interesting spare-time projects :-)

[2015-04-02 08:59] adamretter commented on #557
@shabanovd Basically abstracting the higher-order-functions in RESTServer, i.e. `withDb`, `readDocument`, `writeDocument`, `readCollection` and `writeCollection`. Eventually becoming an internal lambda API in their own right for accessing the DB.

[2015-04-02 09:01] adamretter commented on #306
@dizzzz I think it is kinda cool. However someone needs to own this code, i.e. make it compile, pass its tests and write some documentation so people can use it. I am not sure I am that person...

[2015-04-02 09:02] shabanovd commented on #404
Funny staff here that bug is missing first comment -)
Return must be
[code]

[2015-04-02 09:02] adamretter commented on #492
Yes this is still valid @claudius108 is working on it and I have given him some pointers.

[2015-04-02 09:03] dizzzz commented on #306
I could take the lead here.....

[2015-04-02 09:03] wolfgangmm opened #559 "Prevent loading incompatible expath package jars"
Fix the "pull and you're dead" issue by having the classloader check the semver of a package before enabling bundled jars. Allow package authors to ship different versions of a xar targetting different releases of eXist:

* enforce checks of semver-min/-max etc. when deploying an expath package
* to prevent a stale installation: make the class loader ignore jars from packages defining a version no

[2015-04-02 09:04] adamretter commented on #306
Sold! ...to the man in the Orange avatar.

[2015-04-02 09:05] JoernT opened #560 "integrate betterFORM ModelValidator"
ModelValidator is a new facility supporting automatic server-side validation of plain HTML5 forms. In addition it creates an XML structure from the request params as input for an xquery. It is part of the betterFORM framework. ModelValidator runs side-by-side with XForms.

Several parts needs update:
- updating of some libs either in betterform extension and eXistdb
- updates to betterform-config.

[2015-04-02 10:01] adamretter commented on #555
@shabanovd Sorry can you tell me why it would be used in DB XQuery Scripts? I thought that was what RESTServer was for?

@wolfgangmm Can you explain why eXide uses this rather than posting the XQuery via RESTServer?

[2015-04-02 10:10] adamretter commented on #560
:-)

[2015-04-02 10:12] wolfgangmm opened #562 "LuceneIndexWorker.getFieldContent is broken"
* getFieldContent still uses old Lucene API and doesn't work properly
* extend ft:search to optionally return selected field content of hits for sorting and display

[2015-04-02 10:16] dizzzz commented on #555
@adamretter please read wolf's answer a bit slower ; there is no real reason as I read it but since there are dependencies with for example eXide, and timing constraints, it cannot be removed.

[2015-04-02 10:24] adamretter commented on #555
@dizzzz I read the answer. I just wanted more information. Surely I could do the changes on eXide if I wished to - I think it is still Open Source right?

[2015-04-02 10:25] dizzzz commented on #555
:-) yes :-)

[2015-04-02 10:29] wolfgangmm commented on #555
Ignore eXide. We can change that ourselves if we like to.

The relevant info is that some of the biggest users of eXist I know of still rely on XQueryServlet in an embedded context.

[2015-04-02 10:34] wshager commented on #351
I'll check, but this issue was opened @adamretter 's request, so perhaps he had different intentions with the resolver, i.e. replacing the current one.

[2015-04-02 11:20] adamretter commented on #555
@wolfgangmm Is the goal to continue to advise against the XQueryServlet. Is so what is the timescale for removing it?

[2015-04-02 11:42] JoernT commented on #555
I think it was not wrong what we did with the SOAP API - we can simply ask people if they still rely on it (and why) and probably (optionally) make clear that the XQueryServlet is deprecated and give some advise what to use instead. If there are still users of it we can probably set some relaxed deadline before removal.

However if there's still a valid use case for it - XQueries being stored on t

[2015-04-02 12:01] wolfgangmm commented on #555
@adamretter I always advise against the XQueryServlet and communicate this to our customers. Some of them are currently struggling hard (involving large teams) to finally migrate to eXist 2.x and I certainly don't want to make it even harder for them by raising the bar too high. Switching from a file system based architecture to one in the database is not always straightforward. We definitely have

[2015-04-02 12:08] ljo commented on #555
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Den 2015-04-02 14:01, Wolfgang Meier skrev:

Yes, I suggest we decide to communicate a date in the coming release.
So the next next (the one after the coming) release would be an
obvious target I say.

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iD8DBQFVHTE9hcIn5aVXOPIRAvqtAJ9Gy09j/Gjjv7sI/5FC2iQ6Q9vfawCgkYUA
7OHII33d4Uwgu062QGl7QpE=
=XTQv
-----E

[2015-04-02 12:28] JoernT commented on #555
ok, i just learned that there are defnitely people using it and migration would cause  a lot of work. So yes, we need a relaxed timespan for them to migrate. We even might need to show the way.

[2015-04-02 12:56] adamretter commented on #555
Okay scheduled for eXist 4.0.

[2015-04-02 17:42] shabanovd commented on #492
k

[2015-04-04 11:29] adamretter opened #564 "Stable Java API"
It would be nice to have a Java API which is both inherently safe to use and remains stable. The work that has gone into refactoring the XML:DB, XML-RPC and RESTServer APIs has a greater purpose, which is to be refactored into a Java 8 lambda based API for eXist, let's call it `JAPI` for the moment (better names welcome).

This API would sit between eXist core and any interaction with 3rd party Ja

[2015-04-04 11:35] adamretter opened #565 "Real user controllable transactions"
The goal here is to push the Txn object out to the edges of eXist so that its lifetime is controllable by the user. A follow-up task is then to replace Txn with a truly isolated and consistent transaction mechanism.

1) The first step is to push use and access of Txn to the edges of eXist's APIs.

2) Once at the edges, Txn will be controlled initially by the existing APIs. So this means no disrupt

[2015-04-06 10:09] adamretter opened #570 "Resolve Diff license issue"
See https://github.com/eXist-db/exist/blob/develop/extensions/versioning/src/bmsi/util/Diff.java

[2015-04-06 11:11] shabanovd commented on #570
Can you give some details?

[2015-04-06 12:26] adamretter commented on #570
It is GPL - https://github.com/eXist-db/exist/blob/develop/extensions/versioning/src/bmsi/util/Diff.java#L43

[2015-04-06 17:15] wolfgangmm opened #572 "Reindex is way too slow"
Reindexing a collection takes nearly as long as re-uploading all data (sometimes even longer). However, some of the steps are redundant if the reindex is triggered by the user: for example, while the `dom.dbx` index must be rebuild during crash recovery, this is unnecessary if just the `collection.xconf` was changed. The same applies to the structural index.

[2015-04-06 17:15] joewiz commented on #572
Speeding up reindexing would be great!  Thanks in advance!

[2015-04-06 17:19] wolfgangmm opened #573 "Performance of //*[...]"
A wildcard expression in combination with an index-supported filter used to be very fast before eXist 2.2. For example, `//*[ft:query(p, "xxx")]` is quick on 1.4.x but takes ages on 2.2 when run on a sufficiently large data set.

[2015-04-06 17:28] wolfgangmm opened #574 "Potential memory leak in session"
I observe a rather high memory consumption in some apps which store temporary query results into the HTTP session. It turns out this is caused by ValueSequence keeping references to variables in the current XQuery context.

Consider to detach/clean up sequences before storing them into the session.

[2015-04-06 17:32] shabanovd commented on #574
There is cleanup thread, no? Is it live system observation, or in test evnviroment?

[2015-04-06 17:38] wolfgangmm commented on #574
I recognized it while running jmeter tests on a live system and applied a quick fix there. I'm not yet completely happy with it though, so I opened this issue to remember the problem.

[2015-04-06 22:18] adamretter commented on #556
I found some detail/discussion that I started about doing this previously: http://exist.markmail.org/thread/uymso4dl6idflmwc#query:+page:1+mid:uymso4dl6idflmwc+state:results

@wolfgangmm It would be good if you could give me any follow-up on that thread, i.e. if you have any strong thoughts on how to deal with `fn:matches`.

[2015-04-07 07:01] dizzzz commented on #556
+1 :-)   note that the antlr-grammar needs to be updated as well, e.g. the `&=` thinghy shall go ...

[2015-04-07 10:23] shabanovd opened #577 "OpenId & OAuth should use single servlet"
To simplify configuration process setup single servlet that handle authentication requests for OpenID and OAuth. Locate at `/auth`?

Request example: `/auth/oauth/serviceId?....`

[2015-04-07 13:42] adamretter opened #578 "Replace Configurator et al"
The goal is to replace the Configurator (e.g. `org.exist.config.*`) with an approach that is less intrusive, leaks less abstractions and is more robust.

Current issues with Configurator:

1. Intrusion into the object itself:
    1. The object must call the Configurator to instantiate itself
    2. The object must annotate its member correctly

2. Calling `Configurator.configure(this, config);` fr

[2015-04-08 18:22] #562 closed

[2015-04-08 18:53] adamretter commented on #558
I am working on this here https://github.com/adamretter/exist/tree/fix-validation

[2015-04-08 18:56] adamretter opened #581 "Remove legacy range-index (NativeValueIndex)"
I found some detail/discussion that I started about doing this previously: http://exist.markmail.org/thread/uymso4dl6idflmwc#query:+page:1+mid:uymso4dl6idflmwc+state:results

@wolfgangmm It would be good if you could give me any follow-up on that thread, i.e. if you have any strong thoughts on how to deal with fn:matches.

[2015-04-08 18:57] shabanovd commented on #556
Functions that may be affected https://github.com/eXist-db/exist/tree/develop/src/org/exist/xquery/functions/text

[2015-04-08 18:59] wolfgangmm commented on #581
There are still some functions which could not be ported to the new range index yet, including ft:matches, ft:id and ft:idref. Moving the id functions into lucene shouldn't be difficult. fn:matches is more of a problem due to the limited support for regex in lucene.

[2015-04-08 19:00] adamretter commented on #556
Thanks @shabanovd We will also remove https://github.com/eXist-db/exist/blob/develop/src/org/exist/xquery/functions/text/TextModule.java and functions.

[2015-04-08 19:06] adamretter commented on #429
http://static.adamretter.org.uk/wrapper-patched/

[2015-04-08 19:08] adamretter commented on #429
Should we replace the wrapper in eXist with my 3.2.56 patched version?

[2015-04-08 19:13] adamretter commented on #406
@zwobit Could you try my patch and report if it works? It is rumoured you have a Ubuntu with dual screens ;-)

[2015-04-08 19:21] shabanovd commented on #404
Note for code update
[code]

[2015-04-08 19:24] adamretter commented on #351
@wshager Do you have tests that show this doesn't work?

[2015-04-08 19:26] adamretter commented on #350
@dizzzz If you want to put the catalog resolve in the database, then could you open a different ticket please?

[2015-04-08 19:38] adamretter commented on #59
This issue https://github.com/eXist-db/exist/issues/581 would also have an impact here.

[2015-04-08 19:49] adamretter commented on #59
It is unlikely we are going to fix this as it is a useful optimisation. However, before we close this ticket we should add to the documentation that `fn:matches`, `fn:contains`, `fn:starts-with` and `fn:ends-with` are non-standard and update the descriptions of the function signatures to mention this also.

[2015-04-08 19:55] wolfgangmm commented on #550
This is already possible. Use <cleanup> in repo.xml and specify a query.

[2015-04-08 19:55] #550 closed

[2015-04-08 19:56] #389 closed

[2015-04-08 19:57] adamretter commented on #495
I think this is likely related/similar to https://github.com/eXist-db/exist/pull/127

[2015-04-08 20:03] adamretter commented on #377
Can you be specific, are you copying a collection or file?

[2015-04-08 20:04] wolfgangmm commented on #402
util:get-module-info and util:describe-function have been marked deprecated

[2015-04-08 20:04] #402 closed

[2015-04-08 20:05] wshager commented on #351
AFAIK doc() does work, but collection() doesn't. Here's the stack trace for `<xsl:for-each select="collection('xmldb:///db/test/collection')"><xsl:copy-of select="."/></xsl:for-each>`

2015-04-08 22:03:53,211 [eXistThread-233] WARN  (Transform.java [fatalError]:816) - XSL transform reports fatal error: Error reported by XML parser
; Line#: -1; Column#: -1
net.sf.saxon.trans.XPathException: Error r

[2015-04-08 20:06] shabanovd commented on #377
To reproduce
 - create collection
 - add document there
 - set permissions
 - copy that collection

new document must have same permissions as source one have

[2015-04-08 20:08] adamretter commented on #290
@opax What is the `command-line` client? Do you mean the Java Admin Client?

[2015-04-08 20:10] dizzzz commented on #351
'collection()' will never work right? we can stream out XML data, but we can't give saxon access to the exist-db internals. Different products, different domains.

[2015-04-08 20:11] shabanovd commented on #345
here potential fix for that https://github.com/shabanovd/exist/commit/3aff5bffb0bb83577111588daad0f9c666176658

[2015-04-08 20:13] wshager commented on #351
@dizzzz I'd probably never need collection() ...

[2015-04-08 20:14] adamretter commented on #351
@dizzzz I don't see why we could not do `collection()`. It just resolves a URI to *n* nodes

[2015-04-08 20:16] dizzzz commented on #351
Just have it another thought again. It will require changes in saxon.

[2015-04-08 20:18] dizzzz commented on #290
The client has a headless option in which you can type
Commands. Same can be done in the gui...

[2015-04-08 20:33] gtnewton commented on #406
I just tried refreshing my tree and rebuilding, but I got 'Fatal: Launch Error: Could not launch JNLP file. The application has not been initialized'. I haven't tried a completely fresh pull/build/test cycle, but can if need be. I could also try against a public-facing machine running a build with your patch.

[2015-04-08 21:27] shabanovd commented on #351
It's simple to do, here some links:
 - http://www.saxonica.com/html/documentation/javadoc/net/sf/saxon/lib/CollectionURIResolver.html
 - http://www.saxonica.com/documentation9.3/javadoc/net/sf/saxon/Configuration.html#setCollectionURIResolver(net.sf.saxon.lib.CollectionURIResolver)

[2015-04-09 06:43] dizzzz commented on #406
Greg, is there any trace visible? Note that the client requires Java8 since
recently....

regards

Dannes

[2015-04-09 06:56] dizzzz commented on #351
welll, there you have it already; :-) I did not see it before, but how to deal with a collection like `/db` ... that would load the whole content of the database into Saxon ! That sounds very wrong to me, good luck for those who will answer the problems over and over again on the mailinglist.

no, a 'per document' approach sounds good to me, we should not just support all wishes from our users.

*

[2015-04-09 07:59] awagner-mainz commented on #351
Just for the record, here is a use case: http://stackoverflow.com/questions/26276705/access-to-filesystem-from-exist-xslt-find-html-myid-html-with-collecti

Second, my lay knowledge/reading stumbled upon a passage in the CollectionURIResolver interface description that Dimitri pointed to, which (perhaps) said that the resolver could return a sequence of URIs to documents and need not necessarily "

[2015-04-09 08:03] dizzzz commented on #351
ah, no, the resolver returns a sequence of saxon [Item](http://www.saxonica.com/html/documentation/javadoc/net/sf/saxon/om/Item.html)s, one doc-node per document, each Item shall contain all data.

[2015-04-09 09:08] hungerburg commented on #495
The @ character belongs to the reserved set, yet it is explicitly allowed to appear literally in path-segments of the path-component of a URI (RFC text section-3.3). Eg http://email.directory/someone@host.com is a fully RFC-compliant URI that needs no special encoding.

[2015-04-09 09:41] shabanovd commented on #351
@dizzzz I think you wrong two times here. 1st `The items returned by this iterator must be instances either of xs:anyURI, or of node() (specifically, NodeInfo)`, so it can be sequence of urls. 2nd, if people do stupid things it's not possible to stop doing it, even now there are huge options for that. But if someone understand all effects and know/want to use feature to make code simple why interr

[2015-04-09 11:49] dizzzz commented on #351
@shabanovd good to know the uri-sequence; that makes it a bit better;

[2015-04-09 11:51] dizzzz commented on #351
and... the 1st next question on exist-open will be: why is saxon collection() operations soooo slow? the fist bug report will appear (since all subsequent operations are again done on xml-byte streams)

[2015-04-09 12:13] adamretter opened #582 "Remove all deprecated XQuery functions which have replacements"
Where an XQuery function has been marked as deprecated and it has a replacement readily available. We should remove it to reduce the amount of legacy code that we have to maintain. Any test cases should be migrated to the newer function if they don't already exist.

[2015-04-09 12:14] adamretter commented on #351
With a little bit of work they don't need to be done on byte streams. We
could implement NodeInfo with lazy evaluation.

On 9 April 2015 at 12:51, Dannes Wessels <notifications@github.com> wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2015-04-09 13:19] adamretter opened #583 "Creating Collection/Resource could have wrong owner group"
If a user is a member of the DBA group as their primary group and N other groups and then creates a resource/collection. The group owner of that collection could be any of the groups they are a member of instead of the DBA group.

To reproduce -

1. Create a user, set their primary group to the DBA group.
2. Add them to *n* other groups
3. Shutdown eXist
4. Startup eXist, login as your new user.
5

[2015-04-09 15:04] gtnewton commented on #406
That's probably my problem. I'm on Ubuntu 14.04 and OpenJDK 8 is not available in repos. I'll try to work around it and will respond again when I have this aspect sorted out.

[2015-04-09 17:18] dizzzz commented on #406
You can download an rpm from oracle ?

[2015-04-09 19:10] gtnewton commented on #406
OK. I grabbed Oracle's java 8 and ran its javaws against a fresh build of eXist. The effect was the same: the admin client launches on a separate workspace.
Question: to test the new patch, do I just do a fresh pull from github and run a build, or is it more complicated?

[2015-04-09 19:37] dizzzz commented on #406
For webstart you also need to sign the jars; http://exist-db.org/exist/apps/doc/building.xml

[2015-04-09 20:08] gtnewton commented on #406
OK, so I did a fresh git clone to a new directory, checked out the develop branch and ran build.sh, then build.sh jnlp-all. Turned on SSL and launched using startup.sh and then ran the oracle java 8 javaws with an htpps URL. Everything works just fine - that is, I *do* get an admin client.
The problem is that it launches on the workspace to the right, as before. There is also no indicator that the

[2015-04-09 21:33] adamretter commented on #406
The easiest way to get Java 8 on Ubuntu with updates is to use this ppa for
Oracle's JDK -
http://www.webupd8.org/2012/09/install-oracle-java-8-in-ubuntu-via-ppa.html

On 9 April 2015 at 16:04, Greg Newton <notifications@github.com> wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2015-04-09 21:35] adamretter commented on #406
@gtnewton The patch has not been committed yet, I was just asking @zwobit if he could apply and test it. But... as you are here, you can apply the patch to your local copy by changing the line as described here https://github.com/eXist-db/exist/issues/406#issuecomment-65797807 and then rebuilding eXist and seeing if it works for you. Let me know...

[2015-04-09 22:38] gtnewton commented on #406
OK, I tried changing that line and re-compiled. No joy I'm afraid. Still launches on the workspace to the right.

[2015-04-09 23:13] adamretter commented on #406
@gtnewton Okay thanks for reporting, I will try and test when I am next in the office as there is a second screen there.

[2015-04-09 23:36] #583 closed

[2015-04-10 12:43] opax commented on #290
I did open the ticket because of the discussion on pull request #285.

[2015-04-10 17:35] adamretter commented on #581
It looks to me like `org.exist.storage.StorageAddress` encodes the type of the value for a node as indexed by the Legacy Range Index and stores that into the `dom.dbx`. Presumably if the legacy range index was removed we could also remove this now unnecessary storage. @wolfgangmm can you confirm?

[2015-04-11 03:41] gspringtech commented on #255
The copy- and move-document triggers are documented as having 2 parameters (old-uri,new-uri) - you can see this in the example code above and in the documentation. In fact, these should only have ONE parameter. I have read XQueryTrigger.java (from about 729) and successfully tested the move-document trigger with one parameter.

So - the 'bug' is in the documentation - not the code.

[2015-04-11 06:08] gspringtech commented on #255
Further to the previous comment, the after-move-document is receiving the OLD URI, not the new. This needs to be fixed in the source - either by adding the NEW uri (to match the documentation) or changing the uri from old to new.

[2015-04-11 06:10] gspringtech commented on #255
And finally, the after-copy-collection parameters are in the wrong order in the documentation - they should be (old-url, new-url).

[2015-04-11 11:49] adamretter commented on #581
Will also lead to the removal of `DBBroker#endElement` and `NativeBroker#endElement`

[2015-04-11 15:41] #228 closed

[2015-04-11 15:42] #128 closed

[2015-04-11 15:42] #290 closed

[2015-04-11 22:20] #494 closed

[2015-04-12 09:48] #474 closed

[2015-04-12 09:56] adamretter commented on #39
This is related to https://github.com/eXist-db/exist/issues/492

[2015-04-12 11:59] #404 closed

[2015-04-12 14:21] #455 closed

[2015-04-12 17:53] #296 closed

[2015-04-13 11:50] dizzzz opened #599 "Package manager: Error deleting dir"
The following lines were displayed in stdout while restoring a backup;
during a normal start it is visible often as well
- Windows 7
- Java 8
- Todays 'develop'

Potential solution: Use Java7/8's `Path` classinstead of the old `File`

[code]

[2015-04-14 19:38] mgr34 opened #602 "bin/shutdown.sh not shuting down"
In fact it appears to be doing nothing at all. I have to manually kill the thread. I've tried this on the most recent commit a277568192 and also the one from earlier today on two different machines. Both linux, one debain 7 and the other archlinux. Both with java 8. It was working fine the last few times I've updated.

 More information available upon request.

[2015-04-14 19:43] mgr34 opened #603 "Monex failing"
using a277568192 and a different commit from earlier today I take a fresh install, open the package manager and install Monex. Thereafter, I receive the following message

[code]

I've tried restarting the server after some reading some about a different monex issue I saw in the mailing list.

My apologies if I should put this in [here, on the monex issue tracker](https://github.com/wolfgangmm/mon

[2015-04-14 20:23] adamretter commented on #602
@mgr34 Yes sorry about that. @zwobit made me aware of this just a couple of days ago. It is a small regression recently introduced that I need to address. You should be able to shutdown eXist in the meantime by sending a SIGINT kill signal to it.

[2015-04-14 20:31] mgr34 commented on #602
Thanks for the fast response.

[2015-04-15 15:45] mgr34 commented on #603
Ok, I just commented out the offending line and changed the following `else if`  to an `if` and so far so good. I need to page through the recent commits, I guess that legacy fulltext index was finally removed.

[code]

So Far, so good.

[2015-04-15 17:18] dizzzz commented on #603
Yes, last weekend the old FT index had been removed. On existopen there was a statement from @wolfgangmm  that eXide and the dashboard neer to be updated...

[2015-04-15 17:49] mgr34 commented on #603
Great, I thought I recall seeing some discussion or an announcement about this on the mailing list recently. It looks like removal has also effected Monex. Which on a second thought makes me think I should have attached this toe the monex project.

[2015-04-15 20:21] dizzzz commented on #603
https://gist.github.com/wolfgangmm/5880377 ; but I did not check monex myself yet, there might be an issue overlooked yet.

[2015-04-17 14:39] adripol94 opened #606 "key alt not work #bug"
key "alt" not found.
When i press alt it doesn't paint nothing...
s.o client: Yosemite IOs
client java: 2.2

Alt+2 expected @ got nothing
Alt+` expected [ got nothing
Alt+´ expected ] got nothing
Alt+3 expected # got nothing

[2015-04-17 16:30] dizzzz commented on #606
Please could you be more specific and do not use abbreviations? I have some difficulty understanding you. Which client?

[2015-04-18 01:42] jensopetersen commented on #606
Pressing Alt (⎇) in the Java Admin Client on Mac OS X in a window with an opened file or in the query dialog has no effect, making it difficult to input many common characters. In other windows, it is possible.

[2015-04-18 18:44] adripol94 commented on #606
jensopetersen described very well the problem.

[2015-04-22 17:29] adamretter commented on #581
It seems that we have two options with Lucene and regular expressions:

1. We use the older [RegexQuery](http://lucene.apache.org/core/4_4_0/sandbox/org/apache/lucene/sandbox/queries/regex/RegexQuery.html) class and call `setRegexImplementation(new JavaUtilRegexCapabilities())`.

2. We attempt to compile the XPath regular expression language down into multiple [Regexp](https://lucene.apache.org/co

[2015-04-24 13:48] adripol94 commented on #606
Can anyone help me?

[2015-04-27 15:07] lcahlander opened #611 "Calling sm:get-group-metadata-keys($group) with an invalid group causes a null point exception"
In 2.2 and a call to sm:get-group-metadata-keys($group) with an invalid group causes a null point exception.

[2015-04-27 16:22] dizzzz commented on #611
Please could you attach a stack trace?

[2015-04-27 16:45] lcahlander commented on #611
[code]

[2015-04-28 17:15] adamretter commented on #606
I think I need some more specifics. For example you cannot access the Menu directly using Alt on a Mac if that is what you are attempting? i.e. see http://superuser.com/questions/504111/how-to-select-file-menu-in-mac-just-like-alt-f-in-windows

Hmm it seems that for some combinations it works, and for others it does not. For example I can type a `ö` with `Alt+u o`, however I cannot type a `€` or a

[2015-04-28 23:08] adamretter commented on #606
Apart from the pull-request above, there is a known issue in JDK 8 which has recently been fixed. Once the pull-request is merged, if the fix does not work for you, then you also need to update to at least JDK 1.8.0_u45 (see https://bugs.openjdk.java.net/browse/JDK-8068283).

[2015-04-28 23:32] rcastromamani opened #613 "Issues when adding a xml content with UTF-8 characters to an eXist-db collection using Perl"
I am trying to add dynamically generated XML content to a eXist-db collection (see the code below ```addFile.pl```) using Perl, the issue is that whenever the content contains UTF-8 characters I receive the error ``` Failed to parse XML-RPC request: Byte "195" is not a member of the (7-bit) ASCII character set.```

[code]

When I run the xquery script (see below) directly with eXide it runs normal

[2015-04-29 07:18] #606 closed

[2015-04-29 12:57] dizzzz opened #614 "Update webstart to use rsyntaxtextarea.jar"
on its way...

[2015-04-29 20:26] dizzzz commented on #614
fixed with #615

[2015-04-29 20:26] #614 closed

[2015-04-30 07:07] dizzzz commented on #613
the 'Failed to parse XML-RPC request' ... is that  server side or Perl-client side?

[2015-04-30 08:35] adamretter commented on #613
@rcastromamani You asked this on Stackoverflow and it has been answered and solved - http://stackoverflow.com/questions/29930349/issues-when-adding-a-xml-content-with-utf-8-characters-to-an-exist-db-collection

[2015-04-30 08:35] #613 closed

[2015-04-30 10:26] dizzzz commented on #429
replacing would be ok for me (check sizes, remove symbols if required) but.... if an new wrapper version comes out, without this fix, i'll not spend too much time in re-applying and testing the patched version. IMO we should not do that....

[2015-04-30 12:35] shabanovd commented on #429
Did you mean "we should not update if new version do not have the fix"?

[2015-04-30 12:39] dizzzz commented on #429
I really don't like the idea to be forced to hold back improvements because ppl cannot/do not want to update highly recommended (security) updates on their system. And... We should not have the ownership of a well-maintained 3rd party software

[2015-04-30 12:58] shabanovd commented on #429
So you recomend to crash by OOM, right?

[2015-04-30 13:09] dizzzz commented on #429
no, i recommend ppl to keep their system patched

[2015-04-30 16:57] shabanovd opened #618 "Use JAXB for configurations"
Replace `org.exist.config.*` and `org.exist.util.Configuration` by JAXB

[2015-04-30 17:36] adamretter commented on #618
@shabanovd Actually I already started this and logged an issue here - https://github.com/eXist-db/exist/issues/578. In addition JAXB also has some undesirable properties. I will close this as it is a duplicate of the other issue.

[2015-04-30 17:36] #618 closed

[2015-04-30 18:27] shabanovd commented on #618
`JAXB also has some undesirable properties` - what kind?

[2015-04-30 18:31] adamretter commented on #618
@No support for incremental updates and requires the entire object model to be in memory.

[2015-04-30 19:05] shabanovd commented on #618
Ok, you remind me why I started Configurator ... same time I like idea to use standard annotations (if that be possible at all)

[2015-04-30 19:08] adamretter commented on #618
@shabanovd what do you consider as "standard annotations"?

[2015-04-30 19:46] shabanovd commented on #618
http://docs.oracle.com/javase/8/docs/api/javax/xml/bind/annotation/package-summary.html

[2015-04-30 21:04] adamretter commented on #618
@shabanovd I think those are only for customising the generation of XML Schema and instances from POJOs. I would rather be inclined to go in the opposite direction

[2015-04-30 21:23] shabanovd commented on #618
Can you describe it?

[2015-05-07 00:36] joewiz opened #623 "AssertFailure when addressing comment nodes outside root elements for db documents"
I can confirm the issue reported at http://stackoverflow.com/questions/30086095/select-comments-before-root-node with a fresh build of eXist from the [current develop branch](https://github.com/eXist-db/exist/commit/fa949a73fad7d9c62ab2e78e9676b3cf07425d30).

Reproducible test:

Store the following document as `/db/test.xml`

[code]

The following query will fail:

[code]

Expected result:

[code]

[2015-05-11 14:41] zopyx opened #624 "Missing documentation on webdav.properties"
"""
Hi,

On Mon, May 11, 2015 at 2:51 PM, Andreas Jung <lists@zopyx.com> wrote:
 We read and write data through WebDAV.
Is there any chance to suppress the pretty printing?

Yes, this should be possible; but I realize it is not documented (code)

- create file webdav.properties,store in document on classpath, e.g. webapps/WEB-INF/classes
- add the required options (EXistOutputKeys and OutputKeys)

[2015-05-11 14:43] adamretter commented on #624
Seems to me that this webdav.properties file should eXist by default and pretty-printing should be disabled in WebDAV by default. WebDAV is an API for connecting to other programs, it shouldn't really mess with the XML formatting. Even better would be to move the settings into conf.xml so they can be configured by the user rather than a developer.

[2015-05-11 15:04] dizzzz commented on #624
@adam ; actually it should not be in conf.xml, it shuld be a configurable item (runtime). The current solutions is good enough as a workaround. Unfortunately wo do not have a good solution for this, at this moment

We should not change current settings, that would make a lot of people unhappy. Keeping the existing indenting would be good, but there is no way of doing this. Using the default format

[2015-05-11 15:07] adamretter commented on #624
@dizzzz I don't understand, what are your reasons for not wanting this config to be moved to conf.xml?

[2015-05-11 15:14] dizzzz commented on #624
IMO `conf.xml` is "not the best location", because any changes in this file requires a restart; i'd prefer to have a "document" in the database, and a trigger that reparses the document.

[2015-05-11 15:21] adamretter commented on #624
hmmm... I am not sure why I would change the WebDAV configuration more than once ever? I mean I set it how I want it and then start eXist right?

[2015-05-13 09:21] zopyx opened #625 "webdav.properties -> ident=no -> swallowing whitespaces"
My *webdav.properties* contains *indent=no* in order to avoid reformatting
of the markup. However there is painful side-effect (likely a bug) when storing XHTML.

Markup containing whitespaces between <span> tags like

    <span class="firstname">Wilfried</span> <span class="lastname">Eberhardt</span>

will be returned over WebDAV  without whitespace:

    <span class="firstname">Wilfried</span><s

[2015-05-13 09:25] dizzzz commented on #625
hmmm, did you set the 'preserve-whitespace-mixed-content' in `conf.xml` ?

[2015-05-13 10:09] zopyx commented on #625
Indeed, this solves the problem.

[2015-05-13 10:09] #625 closed

[2015-05-18 07:33] StephanMa opened #626 "Annotate Differences from Versions"
Java Version 1.6.0_35
eXist-db Version 2.0
Ubuntu 15.04 x64

also testet with
Java Version 1.8.0_40
eXist-db Version 2.2
Ubuntu 15.04 x64

There are two bugs inside the version:annotate function:

1)
Document Origin

[code]

Document Modified

[code]

The version:diff shows the Information about the deleted and added Entries.

[code]

But when i want to have an Annotation of the Origin file, i get

[2015-05-18 12:53] mathias-goebel opened #627 "extensions/build.properties: Apache FOP mirror down 404"
extensions/build.properties
link to http://apache.cs.uu.nl/dist/xmlgraphics/fop/binaries/
which is down.
try:
http://apache.openmirror.de/xmlgraphics/fop/binaries/fop-1.1-bin.zip

[2015-05-18 12:57] adamretter commented on #627
Thanks @mathias-goebel I think the real solution here though would be for us to switch this to Ivy so that the dependencies are resolved without worrying about a downed mirror.

[2015-05-18 14:47] dizzzz commented on #627
I have worked on that.... Lemme check

[2015-05-18 15:45] mgr34 opened #628 "updating/inserting/deleting comment()'s before the root element"
Not able to update (or insert) comments before the root element. Take for example

**db/test.xml**
[code]
**db/update.xq**
[code]

**Responds with:**

**expected db/test.xml**:
[code]

I am currently working  develop branch  from Apr 15. (4a94ebd). On Debian 7.8. I suspect this is likely the case in eXist 2.2, but cannot confirm.

[1]: https://sourceforge.net/p/exist/mailman/exist-open/thread/CAOF

[2015-05-18 19:17] joewiz commented on #628
Possibly related to #623?

[2015-05-18 19:39] mgr34 commented on #628
@joewiz I made that original stackoverflow post so it is related there. But I think otherwise this issue may be unrelated.

For example if you look at the [particular error message displayed ][1] it looks at the `parentNode` and throws an error if its null, But in this case that makes sense. But comments and processing instructions would still be valid?

[code]

My interpretation could be wrong. I

[2015-05-19 01:05] timathom opened #629 "XSLTServlet truncates namespace prefixes"
Originally submitted to [Exist-open](http://sourceforge.net/p/exist/mailman/message/34121401/). Also separately reported on [XSLTForms list](http://sourceforge.net/p/xsltforms/mailman/message/24064765/), by a different user, in 2009.

Scenario: trying to run XSLTForms server-side in eXist 2.2, using a controller pipeline[[1](http://exist-db.org/exist/apps/doc/xforms.xml#D1.2.6.3)]. When documents

[2015-05-20 20:55] lagivan commented on #383
@refond you saved my day mentioning `xsl:format-number`, thanks! This issue is very confusing.

@dizzzz one more example:

Formula  | Expected | Actual
----------- | ------------ | ---------
format-number(0.100, '0.#####') | 0.1 | 0.10000

[2015-05-23 19:24] joewiz opened #631 "util:document-name() fails with simple map operator (!)"
`util:document-name()` returns empty when in the context of a simple map operator (!).  For example, this query returns empty:

[code]

The same operation, expressed as a FLWOR expression, works:

[code]

This is using the current eXist develop branch.

[2015-05-27 12:25] ptrckb opened #632 "Unable to resolve URIs of combined (include/import) internal stylesheets with XSLTServlet"
I have the case of an XSLT stylesheet combining with another one from another collection. The URI of the second stylesheet is correctly resolved.

However if the second stylesheet also has imports, it fails to resolve their URIs unless the hrefs are relative to the first stylesheet.

For example, with this route in an application controller:

[code]

and a toplevel stylesheet (xsl/test.xsl):

[cod

[2015-05-28 20:37] wshager opened #634 "Logs not written to correct location"
Currently the logs are not written to `/webapp/WEB-INF/logs`, but to `/tools/wrapper/bin/webapp/WEB-INF/logs`. This is confirmed to be the case when running eXist as a service, or at least installed as upstart daemon. The cause lies in the new log4j configuration for the wrapper, in `/tools/wrapper/conf/log4j2.xml`.

[2015-05-28 22:07] adamretter commented on #634
I think there used to be an XSLT that was executed against the log4j config file. How and when this was executed was not very clear to me when I did the log4j upgrade, perhaps this has caused an issue...

[2015-05-29 06:20] dizzzz commented on #634
I think the xslt is still executed, but no modifications are changed. I remember we had to set the correctly directory because.... of the reason reported by wouter. same thing holds for the WAR deployment, I guess we have an issue there now as well...... or not :-)

[2015-05-29 21:50] #634 closed

[2015-05-30 14:16] #556 closed

[2015-05-30 14:44] dizzzz commented on #162
fixed by https://github.com/eXist-db/exist/commit/dca4b93318e25968abfb4cbd68db1d4b845d94ad

[2015-05-30 14:44] #162 closed

[2015-05-30 14:50] dizzzz commented on #627
please *always* report which version you use;  has been fixed in december..

https://github.com/eXist-db/exist/blame/develop/extensions/build.properties#L162

fixed by https://github.com/eXist-db/exist/commit/f8bf0b84a79bfd6d36889556d1eb17465a5a16a2

[2015-05-30 14:50] #627 closed

[2015-05-30 15:41] mathias-goebel commented on #627
the link i reported (as it appears in the current develop branch) was down during the last weeks, which indicates that it not an appropriate mirror you are using. now the server seems to be is back online, fine.

[2015-05-30 17:59] dizzzz commented on #627
No the link had already been updated some time ago. It was already fixed for the upcoming release.

[2015-05-31 14:45] #532 closed

[2015-05-31 14:45] #554 closed

[2015-05-31 14:47] #602 closed

[2015-06-01 07:07] dizzzz commented on #632
@adamretter @shabanovd something for you?

[2015-06-01 09:44] adamretter commented on #534
@dizzzz @jensopetersen I think this might now be fixed in the current HEAD of develop because of the changes in https://github.com/eXist-db/exist/pull/640 and https://github.com/eXist-db/exist/pull/642. Can someone check and verify this independently please?

[2015-06-01 13:56] adamretter commented on #294
@WillemvdW @wolfgangmm @dizzzz I can attack this one before the 3.0 release if someone can tell me how to simply reproduce it?

[2015-06-01 14:11] jensopetersen commented on #534
Nope, I still get "FATAL Unable to register shutdown hook because JVM is shutting down." On Mac OS 10.10.3, java version "1.8.0_45", from standard build of fresh zip.

[2015-06-01 17:39] lcahlander opened #643 "quartz.properties should be referenced from conf.xml"
This is from an email exchange in the exist-open mailing list:

It seems that the properties should be loaded from conf.xml due to the fact that making this change in some environments requires paperwork to perform.

Since the properties are loaded by src/org/exist/scheduler/impl/QuartzSchedulerImpl.java.

[code]

This code could be modified to get the properties from conf.xml.

[2015-06-01 20:03] dizzzz commented on #534
for me the same; note the change of date format in last line....

[code]

[2015-06-02 07:11] jensopetersen commented on #534
@adamretter Also, stopping via the Dashboard does not seem possible. Jetty stops, but total shutdown does not happen.

[2015-06-02 13:01] adamretter commented on #534
Okay so the issue seems to be with betterForm trying to log some data with log4j during it's shutdown, however log4j is already shutdown which leads to log4j trying to reinitialise itself (add add its shutdown hook) during JVM shutdown which is prohibited.

The error message `FATAL Unable to register shutdown hook because JVM is shutting down.` comes from the following stacktrace (using log4j 2.3

[2015-06-03 13:05] jensopetersen commented on #534
@adamretter How can this be a betterform problem when it is possible to shut down eXist cleanly and fully using the Admin Client or the command line?

[2015-06-03 15:33] adamretter commented on #534
@jensopetersen The problem only occurs when running in server mode with Jetty, i.e. not when running in embedded mode. It may be that it only occurs on `SIGINT` (e.g. `Ctrl-c`). However the stack trace clearly shows betterForm as the culprit, although it may not be the underlying cause...

[2015-06-04 07:06] jensopetersen commented on #534
@adamretter Has SIGINT ever been a recommended method to shut down eXist? I don't see this method described in the documentation or in the book. Are there comparable database systems where one can shut down in this way? It is of course interesting why it is now not possible to cleanly interrupt eXist, but the real bug, in my view, is that it is not possible to shut down via the Dashboard (I have n

[2015-06-04 07:10] adamretter commented on #534
@jensopetersen `SIGINT` is equivalent to pressing `Ctrl-c` on the terminal for an interactive process e.g. `$EXIST_HOME/bin/startup.sh`. This is the problem that @dizzzz described and which we are trying to fix. If you cannot shutdown from the Dashboard that is a different issue, I don't want to confuse these, can you open a new issue for that please?

[2015-06-04 07:15] jensopetersen commented on #534
@adamretter Yeah, we have all used it, but has this ever been a recommended method?

[2015-06-04 07:27] dizzzz commented on #534
Recommended is: press shutdown button on dashboard, monitor log files, and verify that the database is actually shutdown; if the original process still runs, then it is save to press control-c / send sig-int

[2015-06-04 07:29] jensopetersen commented on #534
@dizzzz That's the first time I have seen this in print.

[2015-06-04 07:32] jensopetersen commented on #534
I have raised the dashboard issue, https://github.com/eXist-db/dashboard/issues/37.

[2015-06-05 12:38] dizzzz commented on #534
@jensopetersen It's what @wolfgangmm once told me....

[2015-06-05 14:06] adamretter commented on #534
@dizzzz Can you reproduce the issue you filed still?

[2015-06-06 03:59] joewiz commented on #177
You're right, both links are working now (and we're running develop 89e3eef9, from November 11, 2014).  I wasn't monitoring to see which update resulted in this fix, but I can call this issue - at least as I was seeing it - fixed.

[2015-06-06 03:59] #177 closed

[2015-06-06 04:02] joewiz commented on #628
After discussing this with @wolfgangmm in Oxford, I understand the XQuery Update code would need to be drastically reworked to allow update expressions to modify comment nodes outside the root element. I propose this be closed and labelled "won't fix."

[2015-06-06 20:31] #559 closed

[2015-06-08 11:22] adamretter commented on #534
@jensopetersen @dizzzz Can you still reproduce after @zwobit's fix?

[2015-06-08 11:40] zwobit commented on #534
This will "only" fix the "FATAL" message. eXist-db/dashboard#37 seems not to be affected by this commit. :(

[2015-06-08 11:44] adamretter commented on #534
@zwobit That's fine, we will deal with the other issue separately

[2015-06-08 12:29] dizzzz commented on #534
I'll check

[2015-06-08 12:40] alexrwd opened #651 "TransformerFactory factory should be singleton"
We can see a lot of such rows in logs if we change level exist logs to debug:
2015-06-03 18:28:04,446 [http-bio-8080-exec-10] DEBUG (TransformerFactoryAllocator.java [getTransformerFactory]:91) - Set transformer factory: com.saxonica.config.ProfessionalTransformerFactory
2015-06-03 18:28:04,447 [http-bio-8080-exec-10] DEBUG (TransformerFactoryAllocator.java [getTransformerFactory]:101) - Set trans

[2015-06-08 12:45] dizzzz commented on #534
look god to me !

[2015-06-08 18:56] #534 closed

[2015-06-09 12:28] adamretter commented on #628
@joewiz I do think this could be fixed, but it would require some rearchitecting of the XQuery Update code. I  do consider this to be a bug, simply saying its a lot of work does not change that IMHO. We should leave the ticket open as it serves as a reference.

[2015-06-09 13:29] adamretter commented on #294
@WillemvdW @wolfgangmm @dizzzz Any update please, it has now been 8 days. I would like to get this resolved for you...

[2015-06-09 13:47] adamretter commented on #382
Unfortunately I can no longer find the test that shows the issue with differing whitespace nodes between memtree and persistent DOMs. So I will just submit the fix for the issue describing by @jensopetersen

[2015-06-09 14:03] #382 closed

[2015-06-09 18:42] #651 closed

[2015-06-09 18:44] #377 closed

[2015-06-09 20:24] adamretter commented on #294
@WillemvdW I cannot reproduce your issue with the backup that you provided @wolfgangmm. I would appreciate it if you could tell me how to reproduce please?

[2015-06-09 22:31] adamretter commented on #350
@wshager Can you test out the branch https://github.com/adamretter/exist/tree/saxon-resolvers and let me know if it works for what you need.

[2015-06-10 03:44] joewiz commented on #628
@adamretter Fair enough. Given the choice between adding this feature and adding official XQuery Update Facility support to eXist, what would you say is the best use of resources?

[2015-06-10 03:45] joewiz commented on #628
(Implicit in my statement was that XQUF would work on persistent as well as in-memory nodes.)

[2015-06-10 07:13] WillemvdW commented on #294
Hi Wolfgang, Adam

      The issue manifests only if you take a new instance of exist on
      which the application has not been loaded, and then I use Oxygen
      to copy all the files (xql and xqm) into the new instance. At some
      point in the copy this fails. Then you recopy the missing files,
      and thereafter the problem goes away because the referenced
      libraries are now presen

[2015-06-10 07:44] alexrwd commented on #651
Guys, will you include this fix in some intermediate version between 2.2 and 3.0? I would like to upgrade our eXist DB with this changes soon.

[2015-06-10 07:55] adamretter commented on #628
XQUF is the way to go, maintaining something non-standard and broken in bad. However, adding XQUF is much more work of coursevand so their is a quality vs time/resources trade off.

Also if people wanted to apply XQUF inline, then we would need some parts of XQuery Scripting too.

[2015-06-10 08:57] shabanovd commented on #651
That change was merged to develop branch and will be in next release.

[2015-06-10 09:12] alexrwd commented on #651
Where can I find information when we can expect next release?

[2015-06-10 10:47] shabanovd commented on #651
That is nobody know for sure -)
You can build from source or I can build one for you.

[2015-06-10 11:04] dizzzz commented on #651
a nighly build is made availabe by @adamretter on http://static.adamretter.org.uk/exist-nightly/
the jars seem to be no signed.

[2015-06-10 11:28] adamretter commented on #651
@dizzzz Indeed the Jars are not signed as I have never needed signed jars. If someone *really* needs signed jars I could also create a signed build...

[2015-06-10 11:29] adamretter commented on #651
@dizzzz I think we should link the nightly builds from the website perhaps, as we are frequently pointing people to them...

[2015-06-10 13:34] dizzzz commented on #651
Yes, that sounds like a good idea!

[2015-06-10 14:21] shabanovd commented on #651
@adamretter can you add link to README.md?

[2015-06-10 15:01] dizzzz commented on #651
it is on the main pagie of exist on github

[2015-06-10 15:17] adamretter commented on #651
@JoernT Please can you add the nightly builds to the eXist-db homepage?

[2015-06-10 15:17] adamretter commented on #651
@shabanovd Yes, just did that for you :-)

[2015-06-10 15:30] shabanovd commented on #651
@adamretter thanks -)

[2015-06-10 16:00] borsna opened #659 "Download at exist-db.org points to sourceforge"
Sourceforge is doing some pretty bad stuff to the binaries and i think it would be good to point the download to the releases on github.com instead.

http://sourceforge.net/projects/exist/files/Stable/2.2/ -> https://github.com/eXist-db/exist/releases/tag/eXist-2.2 on http://exist-db.org/exist/apps/homepage/index.html

More info:
https://helb.github.io/goodbye-sourceforge/

[2015-06-10 16:16] adamretter commented on #659
@borsna They are not the same thing I am afraid. On SourceForge the downloads we provide are builds of our Installer etc. GitHub just provides Tarballs/zips of the source code.

We could perhaps use bintray.com instead of SourceForge for downloads though, I have certainly seen other Open Source projects moving there. @JoernT and @wolfgangmm should I look at doing that move for us?

[2015-06-10 16:28] adamretter commented on #294
@WillemvdW I need more detail please, I have a folder called `kwantu-resources` but in which order should I import the various sub-folders and files via oXygen?

I really need exact steps to reproduce this from you if you want it fixed please.

[2015-06-10 16:34] zwobit commented on #659
@adamretter i think it is also possible attach binaries to github releases/tags

[2015-06-10 16:36] joewiz commented on #659
Yes, see https://help.github.com/articles/creating-releases/

[2015-06-10 16:41] wshager opened #660 "betterform opt-out"
Once again betterform is in the way of a clean startup. Is there a betterform opt-in/opt-out for the build system? If not, could one please be provided?

[2015-06-10 16:42] dizzzz commented on #659
The max size of files is rather small on GitHub. (Last time I checked). Not an option

Yes, sf.net is doing strange things lately, fortunately the community pressure is highly. Probably they have financial problems and a desperately searching for funding. Or a non-tech guy tries to make a career there.

Note that the strong point of sf.net is that they have a very large distributed and reliable ne

[2015-06-10 16:42] zwobit commented on #660
yes, extensions/build.properties ->

# betterFORM XForms engine
include.feature.betterform = false

[2015-06-10 16:43] dizzzz commented on #659
In a recent 'alternatives for' article , the alternative for sf.net is sf.net :)

[2015-06-10 16:52] zwobit commented on #659
For the file size [GitHub help](https://help.github.com/articles/distributing-large-binaries/)  says 1GB.

[2015-06-10 16:58] wshager commented on #660
Thank you. FYI the issue is caused with an incompatible version of Saxon.

[2015-06-10 16:58] #660 closed

[2015-06-10 17:12] WillemvdW commented on #294
On 6/10/2015 6:28 PM, Adam Retter
      wrote:

      @WillemvdW I need more detail please,
        I have a folder called kwantu-resources but in
        which order should I import the various sub-folders and files
        via oXygen?
      I really need exact steps to reproduce this from you if you
        want it fixed please.
      —
        Reply to this email directly or view
          it o

[2015-06-10 17:19] joewiz commented on #659
Then we're all set, I think the largest jar at http://sourceforge.net/projects/exist/files/Stable/2.2/ is 123 MB.

[2015-06-10 17:26] adamretter commented on #659
@dizzzz I think you are mistaken, bintray.com list one of their core features as a powerful CDN.

[2015-06-10 17:37] dizzzz commented on #659
@zwobit... That is for the whole account?

http://stackoverflow.com/questions/6978954/add-binary-distribution-to-githubs-download-link deel below?

[2015-06-10 17:40] dizzzz commented on #659
Bintray is maxed on 30mb?

Anyway the globe wide distribution channel i consider essential.

[2015-06-10 17:43] joewiz commented on #659
So the 1 GB limit is per file.

That stackoverflow thread is pretty old - but what exactly was your question about it (didn't understand "deel below").

I'd be surprised if github didn't have a CDN. Fastly reports github as a customer: https://www.fastly.com/customers/github/. That said, I don't have evidence github binaries is fast to Asia, Africa, Russia and South America. Might be worth a try -

[2015-06-10 18:42] dizzzz commented on #659
I actually started to look for sf.net alternatives earlier this week; I found this article, but.... does not give too much hope. though he has probably different 'requirements' ....

* [14 Potential Alternatives to SourceForge for Binary Downloads](http://michaeltunnell.com/blog/15-miscellaneous/53-14-potential-alternatives-to-sourceforge-for-binary-downloads) (18/11/2014)

[2015-06-11 07:53] dizzzz commented on #659
@joewiz sorry, auto spell corrector was active and set on dutch

[2015-06-11 07:55] dizzzz commented on #659
Bittray confirmed the max size has been removed, but I asked for additional details ....  https://twitter.com/tombujok/status/430004014047326208

[2015-06-11 08:55] zwobit commented on #659
@dizzzz I think in the linked GitHub pages at stackoverflow they are talking about the "repo". So there is a file size limit for versioned files.

[2015-06-11 09:05] dizzzz commented on #659
Two things:
- GitHub is no CDN, world wide are they? -- my main requirement ; the world is larger than the U.S. , Europe plus UK
- from what I read here, we don't have sufficient facts to make a decision.

In general The help pages of the services do not give good enough clues, so we need to contact the services. I started with one already.....

[2015-06-11 15:43] dizzzz commented on #659
Ok feedback from bintray:
* no max size anymore for downloads (was 50 some time ago)
* multi continent distribution.

From Twitter:
@bintray: @dizzzz downloads are delivered via CDN (amazon cloudfront and akamai)

So.... Bintray is now a serious candidate for me!

[2015-06-11 16:41] joewiz commented on #659
I've dropped a question to GitHub about this.  Will keep you updated.

[2015-06-11 19:28] ford-thomas-w commented on #458
Any update on this? Was this fixed in 2.2?

[2015-06-11 20:59] jbaruch commented on #659
If you have questions on @bintray you can ask them here :)

[2015-06-12 08:37] adamretter commented on #294
@WillemvdW I couldn't see how to do that from oXygen. So yes a Skype would be good, my username is 'adam.retter'

[2015-06-12 09:09] #345 closed

[2015-06-12 10:41] adamretter commented on #659
I would be ***really*** surprised if a site of GitHub's size were not using a CDN.

[2015-06-12 10:51] adamretter commented on #631
I will also add that if you only have one node, then just a let/return is enough to make it work also:

[code]

[2015-06-12 11:05] adamretter commented on #631
Interestingly if the `p` element is the root element of a document then you will get results, if it is a descendant then you will not. For some reason the leftOp side of Simple Map Operator sometimes returns an empty sequence when it should not

[2015-06-12 11:16] adamretter commented on #631
So I have discovered that even wrapping the LHS in a  sequence constructor is enough to make it evaluate correctly, i.e. this works:

[code]

[2015-06-12 11:28] adamretter commented on #631
The problem is PathExpr.java line 260 is always setting a contextItem:

[code]

 which is used by the LocationStep on the LHS of the query, the contextItem should remain null in this instance so that the contextSequence is used instead. I am not sure how this is best solved. Perhaps @wolfgangmm has a suggestion?

[2015-06-12 11:38] adamretter commented on #547
@shabanovd Any update on this?

[2015-06-12 11:39] wolfgangmm commented on #631
I guess a wrong context item dependency is reported somewhere, causing PathExpr to take this route of execution. This is a difficult matter and I'll have to step through it myself to see where it goes wrong. Your observations should help a lot though. I'll do a debugging session later tonight.

[2015-06-12 11:40] adamretter commented on #522
I think this should have been closed by https://github.com/eXist-db/exist/pull/593. @rvdb @wolfgangmm can you confirm?

[2015-06-12 11:45] adamretter commented on #482
@wshager I am not sure I completely understand your request. An XQuery main module is the only one that can be made setUid or setGid (or a RESTXQ library module) because that is the thing that will be executed. Any *imported* modules should be run under the same setUid and/or setGid account as the module that started the execution.

[2015-06-12 11:58] adamretter commented on #465
I think that JSON has to be either a map (object) or an array. So you could have either the following JSON:

[code]

or

[code]

Which of these are you aiming for?

[2015-06-12 12:01] adamretter commented on #465
I can get very close to my first example with this:

[code]

Although I do see a bug where `json:literal` is ignored when used with `json:array` here.

[2015-06-12 12:02] wshager commented on #465
That's what I mean yes.

[2015-06-12 12:03] adamretter commented on #465
I can also get quite close to my second example with this:

[code]

Again there is perhaps another bug with `json:literal`, where if I add it to the `json:value` then the array is instead returned as an object.

[2015-06-12 12:03] wshager commented on #465
Sorry I didn't add that. I probably mentioned on the exist mailinglist but forgot to do so here.

[2015-06-12 13:00] #458 closed

[2015-06-12 13:01] #611 closed

[2015-06-12 17:29] adamretter commented on #294
Okay I spent some time on Skype with @WillemvdW and unfortunately we cannot reproduce the issue. As such I am going to close the ticket. If anyone else has the same problem or can reproduce, please re-open the ticket and let me know.

[2015-06-12 17:29] #294 closed

[2015-06-12 17:49] shabanovd commented on #659
Most likely, it quite slow for me.

[2015-06-12 17:50] shabanovd commented on #547
Nothing so far

[2015-06-13 11:22] #574 closed

[2015-06-13 12:40] sanderd17 commented on #659
After seeing this thread, bintray also looked as a viable alternative for our current SourceForge release hosting. But when trying to upload a ~500MB file, bintray reports that the maximum file size is 0.2GB, and advises me to upgrade to a premium plan. So there still seems to be a maximum file size at least.

[2015-06-13 14:06] adamretter commented on #659
@sanderd17 Our largest files are currently less than 124MB so we might be okay for a while

[2015-06-13 15:11] #631 closed

[2015-06-13 15:12] wolfgangmm commented on #631
It turns out it was an issue in our XQuery grammar. Not sure why we had it wrong, maybe the specs changed over time.

[2015-06-13 17:36] joewiz commented on #631
Wow, thank you! I reach to this syntax often, so I appreciate not having to resort to the workaround anymore!

[2015-06-13 19:17] #511 closed

[2015-06-14 10:38] #362 closed

[2015-06-15 19:31] #465 closed

[2015-06-16 00:26] jbaruch commented on #659
@sanderd17 that shouldn't happen. Let me check and get back to you, guys.

[2015-06-16 05:46] jbaruch commented on #659
Ok, so I figured it out. It's a combination of a desired functionality an a bug :)
Bintray doesn't have a limit of file size when uploading via REST (which is the normal way to get files to Bintray from Artifactory, CI servers and build tools).
When uploading files from the UI we do impose a limit to prevent a browser timeout. Suggesting an upgrade to premium plan is a bug though.

[2015-06-16 06:03] sanderd17 commented on #659
I tried REST and the browser upload. With REST via curl, I didn't get a lot of feedback (should look into parameters to get better feedback), but at a certain point, it stopped with the message "file size too big". With the browser, I got the message that mentioned 0.2GB.

[2015-06-16 07:43] adamretter commented on #659
If we are going to do this, then we should do it... So can we draw a consensus then? It seems that the BinTray folks are very helpful ;-)

[2015-06-16 08:43] wolfgangmm commented on #659
Due to the positive feedback in this thread, I tried BinTray and uploading works very well. Let's go for it.

I created an organisation, so anyone from the core team who wants admin access and help set it up, send me the username.

[2015-06-16 08:44] jbaruch commented on #659
:+1:

[2015-06-16 08:52] ljo commented on #659
OK. +1

[2015-06-16 11:20] joewiz commented on #659
FYI, I received a response from GitHub support last night that GitHub Releases is not CDN-backed; a check with curl will show the resources are actually stored on S3. They added the request for CDN backing to their issue tracker.

[2015-06-16 13:46] adamretter commented on #659
@wolfgangmm My bintray username is `adamretter` please can you add me.

[2015-06-16 21:12] dizzzz commented on #659
Super! Thnx @bintray !

--
www.exist-db.org

[2015-06-16 21:12] dizzzz commented on #651
No signing is OK for me :) I know about side effects, they do not make you too happy...

--
www.exist-db.org

[2015-06-17 10:36] wshager opened #676 "infinite loops cannot be killed"
I've tried to kill some running queries (using monex) but they won't be terminated. The query possibly hits an infinite loop while creating a map.

[2015-06-17 10:38] wshager commented on #676
the hanging query appears to also prevent a shutdown of exist.

[2015-06-17 10:55] wolfgangmm commented on #676
I would need to see the code. I believe I made all of the looping constructs check the terminate flag, but it's possible I missed something.

[2015-06-17 11:02] wshager commented on #676
I know this is little to go on... the loop seems to involve the recursive calling of functions, in this case both creating maps. I'll try to isolate a test.

[2015-06-17 11:26] wshager commented on #676
xquery version "3.1";

declare namespace output="http://www.w3.org/2010/xslt-xquery-serialization";

declare function local:use($map){
    let $maps := array:for-each($map("process"),function($_){
        let $parsed := parse-json($_)
        return local:process($parsed)
    })
    return array:fold-left($maps,map {},function($acc,$map){
        map:new(($acc,$map))
    })
};

declare function lo

[2015-06-17 11:39] wshager commented on #676
The `parse-json` line seems to be optional. When the "process" value is an array of maps, and the function would return `local:process($_)` the query hangs as well.

I'd be happy to know how to prevent the problem too.

[2015-06-17 13:45] wshager commented on #676
A simpler version:

[code]

[2015-06-17 13:45] wshager commented on #676
The problem is in the last array:for-each

[2015-06-17 14:15] wshager commented on #676
Quick fix:

[code]

[2015-06-17 14:25] wshager commented on #676
I guess my case would also be helped by having the map:merge function

[2015-06-17 14:27] wolfgangmm commented on #676
As far as I know, map:merge is basically map:new. It was just renamed.

[2015-06-17 14:36] wshager commented on #676
OK please ignore that then. I was thinking specifically about merging arrays of maps, but this means they can be array:flattened to sequences of maps. It's all still a bit confusing ;)

[2015-06-17 14:51] wolfgangmm commented on #676
Ok, I confirm your query does indeed not stop, even though array:for-each should check the terminate flag. I will investigate why this happens. As far as I can see in the code, it should all be fine...

[2015-06-18 16:41] #522 closed

[2015-06-18 21:25] wshager opened #679 "map to array bug"
This strange bug I encountered while trying to transform maps to arrays:

[code]

The script accumulates ["b","b"] instead of ["a',"b"]

[2015-06-19 15:58] wshager commented on #676
Would it be possible to separate the execution context from the database, so that runaway scripts can be killed without having to wait for the cooldown time the storage layer needs?

[2015-06-19 16:09] wolfgangmm commented on #676
The problem is that you cannot just kill a thread without causing trouble. The query needs to cooperate and terminate properly if it is requested to do so. All looping constructs, function calls and the like do check for the terminate signal.

But in your example the query does not stop even though it gets the signal. I have the debugger open on it...

[2015-06-19 16:13] wshager commented on #676
I see. Sorry for my naive presumptions.

[2015-06-19 16:20] wshager commented on #679
The issue has nothing to do with maps. The following code illustrates the problem succinctly:

[code]
Apparently the nested loop results in the last iteration getting overwritten, a well-known issue in imperative loops...

[2015-06-19 20:50] wolfgangmm commented on #676
I found out the infinite loop was inside the query engine. No surprise the query couldn't be killed.

[2015-06-19 20:51] joewiz commented on #676
Wow, great reporting, @wshager, and sleuthing, @wolfgangmm!

[2015-06-19 21:16] wshager commented on #676
The fix works for my case. The query returns the expected result. Much obliged :+1:

[2015-06-20 09:00] pherk opened #681 "utf8/locale problem: failed to restore resource"
the failure occurs during backup/restore from pc running SLES (locale: en_US_.UTF-8) to pc running Ubuntu (locale: de_DE.UTF-8)
both newest exist-db develop branch
I renamed the file, so no big deal
...
Using locale: de_DE.UTF-8
...
Failed to restore resource 'UKK-Seitenfu%C3%9F.JPG'
from file '/home/ph/devel/existdb-2.2/../backup/db/apps/nabu/resources/images/UKK-Seitenfu%C3%9F.JPG'.
Reason: Unab

[2015-06-20 09:03] pherk commented on #681
"__contents__.xml"
   <resource type="BinaryResource" name="UKK-Seitenfu%C3%9F.JPG" skip="no" owner="admin" group="admin" mode="644" created="2015-05-15T12:50:16.993+02:00" modified="2015-05-15T12:50:16.993+02:00" filename="UKK-Seitenfuß.JPG" mimetype="image/jpeg">
        <acl entries="0" version="1"/>
    </resource>

[2015-06-20 09:05] pherk commented on #681
sorry, I am struggling with the editor
contents.xml:
...
name="UKK-Seitenfu%C3%9F.JPG" skip="no" owner="admin" group="admin" mode="644" created="2015-05-15T12:50:16.993+02:00" modified="2015-05-15T12:50:16.993+02:00" filename="UKK-Seitenfuß.JPG"
...

[2015-06-20 12:41] #676 closed

[2015-06-20 19:52] grantmacken commented on #659
Hi, just my 2 cents worth.  I think from a user perspective, it would preferable to have existdb the release asset install  jar located on github.  IMO,  the expected social go-to point when finding out about the project and looking for an installable exist download file ought to be github.  Dialog ( comment, issues ) about the release I think ought to be at the download location.  This social asp

[2015-06-20 19:57] jbaruch commented on #659
@bintray has a github download badge, which makes finding the downloads a no-brainer. And is has all the social aspects of GitHub as well. Also, from user perspective, it has a "watch" feature, which allows users to get notified once a new version is released. @grantmacken did you take a look at @bintray?

[2015-06-20 21:01] wolfgangmm opened #683 "Closure variable bug"
[code]

Returns the empty sequence though it should return "b". Renaming the second $a variable fixes the issue. It's the combination of the hidden $a with a closure which causes the bug.

[2015-06-20 21:06] wolfgangmm commented on #603
Should all be fine with the latest monex.

[2015-06-20 21:06] #603 closed

[2015-06-21 15:01] wolfgangmm commented on #443
I fixed normalize-unicode to behave as expected.

Concerning indexing: as I understand it, you would suggest that eXist should always normalize strings to NFC form before putting them into the index (unless an explicit collation is given)? Is that right?

[2015-06-21 16:10] jensopetersen commented on #443
Thanks a lot!

I think the standard approach would be to NFC-normalize when exchanging documents, because this brings backwards compatibility with non-Unicode operating systems and apps (I don't think this is all that important any more), but to NFD-normalize when searching, since this makes certain grep searches simpler, but the most important thing is to apply one NF and know which one it is, si

[2015-06-21 16:16] jensopetersen commented on #443
Oh, I see you are not using ICU for unicode-normalization ….

[2015-06-21 19:04] #443 closed

[2015-06-21 19:05] #683 closed

[2015-06-21 19:06] #679 closed

[2015-06-22 11:12] JonathanRowell opened #688 "xml-to-json does not escape properly"
import module namespace json = "http://www.json.org";

let $jrData := json:xml-to-json($result)

<result>
<Description>
<title>Alla turca </title>
<type>Sachbücher</type>
<date>1951</date>
<description>Sonate KV 331 mit dem 3. Satz "Alla turca".</description>
</Description>
</result>

<jrData>
{"title" : "Alla turca ", "type" : "Sachbücher", "date" : "1951",
"description" : "Sonate KV 331 mit dem

[2015-06-22 11:29] wolfgangmm commented on #688
The json:xml-to-json is a bit outdated (I wonder if we should remove the module from the next release). I would prefer to use the json serializer:

[code]

[2015-06-22 11:42] JonathanRowell commented on #688
I don't think I would object, since I'll have to change the script if the module is fixed to remove the kludge I built into the XSLT which removes the Marc21 non-sorting characters. Does the XSLT processor have json output capabilities?

It would make Erik and Adam's book a bit out of date. And you'll probably need to remove THREE of them, for there is json (page 508), jsonp (page 509) and xqjson

[2015-06-22 19:53] opax opened #689 "Internal evaluation error: context is missing for node 1"
I found a really strange bug that is reproducible with my exist-2.2 installation:

The query

[code]

exits with the error message "context is missing for node ...", assuming a matching document exists in `/db/tmp`.

It seems like every element in the query is necessary to reproduce the bug - the function must be called from within a map constructor, simply calling the function works. The simpler

[2015-06-22 20:59] opax commented on #689
FWIW, the same query worked without problems in eXist-db 2.1.

[2015-06-23 14:25] dizzzz commented on #681
How did you rename the file?
Which java + exist-db versions?

[2015-06-24 08:15] opax commented on #689
Self-contained version of bug, works in eXide:

    xquery version "3.0";
    declare variable $collection-uri := "/db/issue689";

    declare function local:setup() {
        let $c := tokenize($collection-uri, '/')
        return
        xmldb:create-collection(string-join($c[position() lt last()], '/'), $c[last()]),
        xmldb:store($collection-uri, "bla.xml", <a><b><c d="1"/></b></a>)
    }

[2015-06-24 11:19] #381 closed

[2015-06-24 12:57] dizzzz commented on #689
why do you use `xcollection()` in stead of `collection()` ?

[2015-06-24 13:40] jensopetersen opened #691 "The // pseudo-operator followed by an axis step is misinterpreted"
In the following, preceding-1, preceding-2 and preceding-3 should return the same, but preceding-3 returns the same as descendant-or-self.

	let $node :=
	<x>
		<y/>
		<a>a</a>
		<b n="1">b</b>
		<c>c</c>
		<z/>
	</x>
	(:let $node := doc('/db/x.xml'):)
	let $node := $node//b

	return
		<preceding>
			<preceding-1>{for $node in $node/preceding::node() return <node>{$node}</node>}</preceding-1>
			<

[2015-06-24 14:02] opax commented on #689
I tend to prefer `xcollection()` over `collection()` whenever I know that the relevant documents can't be in subcollections, so I do not have to bother about whether subcollections are actually present or not. Defensive programming against changes in the database layout :)

It is not relevant for the bug, though: The error is triggered with `collection()` as well as with `xcollection()`.

[2015-06-24 16:24] pherk commented on #681
the source server uses eXistdb 2.2 master d447d01 and java 1.7.0 IBM J9 VM
the target uses newest 2.3dev and java 1.8.0_45 from Oracle

I renamed the file externally, reloaded it via Dashboard as
UKK_Seitenfuss.jpg, deleted the old version
and changed the references.
As I said no big problem for me but I thought my opening the issue
helps the development.

many thanks for your effort

Peter Herken

[2015-06-25 11:47] adamretter opened #692 "Switch to NIO.2"
At least for file system operations, so that they become atomic, e.g. see the comment in `NativeBroker#removeBinaryResource` where we could instead use NIO.2's `Files#move`

[2015-06-25 11:49] dizzzz commented on #692
Yes, good plan. I have been mentioning this already...

[2015-06-25 15:21] wshager opened #695 "array:tail on nested array incorrect"
`array:tail($array)` doesn't return the correct tail when `$array` is nested.

[2015-06-25 16:15] joewiz commented on #695
Example, please?

[2015-06-25 16:45] wshager commented on #695
I expect the following to return `[[2,3]]`, but it returns `[2,3]`

[code]

[2015-06-25 17:27] wshager opened #698 "error in tail-recursive array function with numbers"
The following tail-recursively optimized function throws an error when the array contains numbers:

[code]
exerr:ERROR Type error: cannot compare operands: xs:integer and xs:string [at line 4, column 5] In function: 	local:replace(item()*, item()*) [17:1:String]

[2015-06-25 17:32] joewiz commented on #698
Am I wrong?  I thought for the optimizer to recognize tail recursion, you had to put the recursion bit in the "else" clause - i.e., in the tail.

(Apologies if this isn't directly related to the issue you raised here.)

[2015-06-25 17:34] wshager commented on #698
@joe Could you rewrite this function to reflect that perhaps?

[2015-06-25 17:36] joewiz commented on #698
I'd just flip the conditional logic.  Warning: untested!

[code]

[2015-06-25 17:42] wshager commented on #698
@joe perhaps...
Did you mean `array:size($arr) = 0`?
;-)

[2015-06-25 17:56] joewiz commented on #698
Indeed, sir!  I tracked down where I read the bit about **tail**-recursion. Wolfgang wrote this:

- from http://markmail.org/message/3463w3h53xvhjsbg

[2015-06-25 19:26] #573 closed

[2015-06-25 20:52] wolfgangmm commented on #695
This was easy to fix, so I just did it along the way.

[2015-06-25 20:54] wshager commented on #695
Great.

[2015-06-25 21:04] wshager commented on #695
Seems in order.

[2015-06-25 21:52] #695 closed

[2015-06-26 08:53] wshager commented on #698
I thought TCO to mean that the last line that a recursive function executes returns the accumulated result.

[2015-06-26 08:55] wshager commented on #698
i.e. the last instruction, not the last line.

[2015-06-26 12:19] joewiz commented on #698
@wolfgangmm Could you clarify our understanding of tail recursive functions in eXist?

[2015-06-26 22:08] Flamenco opened #706 "optimize count expression"
For collection with 40,000 items

[code]

[2015-06-27 10:50] dizzzz commented on #706
Please can you explain why you consider this a bug? What behavior do you expect?  (Essential info for a big report) which exist version?

[2015-06-27 11:00] Flamenco commented on #706
This was tested using current master branch.

All expressions return the same value.  No content indexes need to be used.

I think it's self explanatory that the first expression is 162x/277x faster than the others should not need to be.

[2015-06-28 12:24] wshager commented on #698
Oops! The error is in the test `if($v = "x")` as I'm sure you will have spotted. My bad, very bad.

[2015-06-28 12:26] wshager commented on #698
Closing this issue in shame...

[2015-06-28 12:26] #698 closed

[2015-06-29 11:32] #570 closed

[2015-06-30 13:34] grzegorzewicz opened #711 "VersioningTrigger/VersioningFilter not working"
Forgive my english. In the CollectionConfiguration.java in exist 2.2 FINAL, there is very interesting method:

//TODO: code
    public boolean triggerRegistered(Class<?> triggerClass) {
        return false;
    }

this method is used by VersioningFilter class and startElement method and non of the document receives versioning metatags and conflict resolver is not working. Are you aware of that?

[2015-06-30 13:35] StephanMa opened #712 "Binary-Files in older Versions are missing"
We are using eXist 2.0 for our Plattform.
So we have to build eXist very often while developing.
Since Friday we are no longer able to build eXist (2.0 and 2.2).

After some Investigations, we saw that git removes some binaries and java-files, while cloning
e.g. eXist/tools/ant, eXist/lib/* etc. etc. ! The Files are renamed to %Name +"REMOVED.git-id".

Are you able to disable this git-"feature"?

[2015-06-30 13:37] joewiz commented on #712
See this announcement from the exist-development mailing list: http://markmail.org/message/taqru6bdkzpap7hk.

[2015-06-30 13:46] StephanMa commented on #712
The Problem is still there...
We get this issue still on a clean Installation of Ubuntu, while downloading the branch eXist-2.0.x and eXist-2.2. There is no given Repository to rebuild

[2015-06-30 14:02] joewiz commented on #712
To help this issue along, could you further describe what exactly you're doing and the error(s) you're getting?

[2015-06-30 14:08] StephanMa commented on #712
In an ANT-Task we pull eXist from this URL
https://github.com/eXist-db/exist/archive/eXist-2.0.x.zip

and while compiling eXist, the error occurs that some classe, like ant.Main are missing.

This Issue occurs while cloning the eXist-2.0.x Branch. So its not just a Problem of this ZIP-File.

When you are downloading this file / cloning this branch, just search for "REMOVED.git-id". There are sever

[2015-06-30 14:22] joewiz commented on #712
The guys involved with the changes to the git repository mentioned on eXist-development were @windauer and @adamretter. Guys, do you have suggestions for Stephan? Perhaps the zip file is stale? In this case, should Stephan perform a fresh checkout of the repo, instead of accessing the zip file?

[2015-06-30 14:26] adamretter commented on #712
I am just checking Stephan's claim at the moment, sorry for the delay,
internet here is slow, so cloning is taking some time...

On 30 June 2015 at 15:22, Joe Wicentowski <notifications@github.com> wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2015-06-30 14:50] adamretter commented on #712
@joewiz @StephanMa Yeah it seems there are still problems. I think the only branch I fixed was `develop`. So the others which are older will still have issues. Will see what I can do...

[2015-06-30 14:52] StephanMa commented on #712
Thank you! I appreciate your help.

[2015-06-30 15:54] adamretter commented on #712
@StephanMa Okay I just repaied `master` and also `eXist-2.0.x`, I will continue with the other remaining ones

[2015-07-01 07:03] StephanMa commented on #712
Everything is working fine.
Thanks for your fast support!

[2015-07-02 08:11] wolfgangmm opened #713 "Windows: Unclean shutdown"
On windows 7, 32bit: machine is shut down cleanly, but eXist crashes and reinforces a recovery run upon restart. This used to work in the past, i.e. eXist received the shutdown signal and stopped properly before windows powered off the machine.

Could someone confirm if this happens on other windows versions as well?

[2015-07-02 08:13] dizzzz commented on #713
how significant is the 32bit thing? how to start the server? bin\startup.bat ?

[2015-07-02 08:15] wolfgangmm commented on #713
@dizzzz Use the jar installer, then launch eXist via the start menu (using the launcher).

I have no idea if 32 bit is relevant here, but shutting down the machine definitely used to work on this very same machine with eXistdb 2.2. Same Java8, same setup.

[2015-07-02 09:10] dizzzz opened #714 "Upgrade keystore file to support SSL"
reported by wouter and andreas: the keystore file is outdated; it needs to be updated to re-enable SSL

[2015-07-02 09:11] dizzzz commented on #714
attached on http://markmail.org/message/ugh6ury52sjieyto

[2015-07-02 10:13] #714 closed

[2015-07-02 14:21] wolfgangmm commented on #713
The issue is reproducible:

* launch a fresh eXist (via the start menu or bin\startup.bat)
* install one or more apps via the dashboard
* shutdown windows, but without closing eXist
* restart windows and eXist

[2015-07-03 10:52] zwobit commented on #712
@adamretter @StephanMa close?

[2015-07-03 11:44] StephanMa commented on #712
It is fixed for eXist 2.0 but not for 2.2 (zip file) ...

[2015-07-03 12:08] adamretter commented on #712
@StephanMa It should now be fixed for all branches and all tags apart from (`eXist-2.2.RC1`, `eXist-2.2.RC2` and `eXist-2.2`). I am just looking into those last three now...

[2015-07-03 13:15] adamretter commented on #712
@StephanMa I think I have now repaired all tags and all branches. If you encounter any further problems just re-open the ticket with a comment.

[2015-07-03 13:15] #712 closed

[2015-07-03 14:56] adamretter commented on #711
@grzegorzewicz The Versioning Trigger is no longer part of eXist as per https://github.com/eXist-db/exist/pull/707. At the moment @zwobit is looking into placing this into its own Git repo, and so might be able to update you on that...

[2015-07-03 14:56] #711 closed

[2015-07-03 16:17] adamretter commented on #688
@JonathanRowell I think you refer to the `json` and `jsonp` modules in the appendix? Also note that `xqjson` is unrelated to what @wolfgang is proposing. I also note that the book covers the built-in JSON serializer in eXist too which also won't be removed.

[2015-07-03 16:18] adamretter commented on #688
@wolfgangmm I agree, can we remove those old modules?

[2015-07-03 17:12] wolfgangmm commented on #688
Yes, we should remove json.xq and jsonp.xq.

[2015-07-04 15:53] adamretter opened #717 "JnlpWriter has a dependency on an optional module"
`org.exist.webstart.JnlpWriter` in exist-optional has a dependency on a library (`milton-api-1.8.3.jar`) provided by the optional WebDav module. Without enabling the WebDAV module this now makes it impossible to compile eXist correctly.

[2015-07-04 16:04] adamretter opened #718 "WebDAV should be upgraded to Milton 1.8.1.4"
As per the discussion [here](http://milton-users.96038.n3.nabble.com/1-8-1-3-Jars-missing-from-maven-repo-td4025347.html), Milton 1.8.1.3 Jar files are no longer obtainable and are known to have bugs. Having attempted to replace with 1.8.1.4, this does seem to be a drop-in replacement.

@dizzzz Any complaints?

[2015-07-04 16:12] adamretter commented on #718
Okay so it seems that 1.8.1.4 is under GPL v3.0. Whereas 1.8.1.3 is under Apache v2.0 :-(

[2015-07-04 16:12] #718 closed

[2015-07-04 16:18] pboz commented on #718
http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-strip.jpg
On Jul 4, 2015 12:12 PM, "Adam Retter" <notifications@github.com> wrote:

[2015-07-04 16:24] adamretter commented on #718
@pboz :-)

[2015-07-05 11:25] dizzzz commented on #718
I think (again) two routes are messed up
1) for the 1.8.x versions, the latest fixes are very minimal, updating JAR files does not solve real issues
2) for the 2.x version we have a licensing issue;

for (2) I have been in contact with the author, he is willing, but we did not settle a real agreement. It is by far no drop-in replacement hence I did not put any effort in it.

in addition: the past

[2015-07-05 12:30] #717 closed

[2015-07-08 15:08] jensopetersen opened #724 "setting preserve-whitespace-mixed-content="yes" adds whitespace nodes not in mixed-content"
With

	xquery version "3.0";

	let $test :=
	<x>
		<y>a <b>b</b> c</y>
		<z>a<b>b</b>c</z>
	</x>
	(:let $test := doc('/db/test/test.xml')/*:)

	return
		<result>
		{
			for $node at $i in $test//node()
			return <node n="{$i}">{$node}</node>
		}
		</result>

one can see that whitespace-only nodes are added if preserve-whitespace-mixed-content is set to "yes" in conf.xml.

The in-mem result and the

[2015-07-08 17:43] adamretter commented on #659
Downloads are now over at Bintray - https://bintray.com/existdb/releases/exist/3.0.RC1/view and we have added the download badge to our README.md.

[2015-07-08 17:43] #659 closed

[2015-07-08 17:55] jbaruch commented on #659
You're more than welcome to transfer the maven artifacts to Bintray as well. It will make your build easier (as you can use [a built-in Ivy resolver](http://ant.apache.org/ivy/history/latest-milestone/resolver/bintray.html) to publish), it has auto-index generation and you can link them to [jcenter repository](https://bintray.com/bintray/jcenter) (1st class citizen in Gradle, Ivy and Groovy Grapes

[2015-07-08 18:07] adamretter commented on #659
@jbaruch Very kind, but we are not quite ready for that yet.

[2015-07-08 18:42] jbaruch commented on #659
No problem at all. Let me know if (and when) you need help with that. Having the jars in central repositories like jcenter and maven central is very important for the users.

[2015-07-08 18:59] adamretter commented on #659
@jbaruch completely agree. However at the moment we do not meet the requirements for Maven central. I generated all the poms by hand as our current build system doesn't support that. I hope to move us to Maven in the near future.

[2015-07-08 19:04] jbaruch commented on #659
I see. Just for you to know, the requirements for jcenter are significantly easier than for maven central. All it requires is valid maven artifacts and a source url (this github repo).

[2015-07-09 07:44] dizzzz commented on #659
@jbaruch good to know, thanks for your valuable feedback!

[2015-07-09 13:55] zopyx opened #728 "Installation issue of 3.0rc1 on CentOS 2.6 64bit"
I installed 3.0RC1 on CentOS 2.6.

Starting existdb fails:

[ajung@dev1 existdb-3.0rc1]$ tools/wrapper/bin/exist.sh console
Running eXist-db Native XML Database...
/home/ajung/sandboxes/existdb-3.0rc1/tools/wrapper/bin/./wrapper-linux-x86-64: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /home/ajung/sandboxes/existdb-3.0rc1/tools/wrapper/bin/./wrapper-linux-x86-64)

[2015-07-09 14:31] dizzzz commented on #728
Hmmmm, the 'ddl-hell' has started;  We have embedded a new wrapper.so file (custom build) to prevent memory leaks; and because of systems that cannot update libc ; The error suggests to upgrade libc? @adam ?

[2015-07-09 14:41] adamretter commented on #728
@zopyx Do you really mean CentOS 2.6? Perhaps you mean 6.2?

[2015-07-09 14:52] zopyx commented on #728
Sorry, CentOS 6.6, latest 6.X release.

2015-07-09 16:41 GMT+02:00 Adam Retter <notifications@github.com>:

[2015-07-09 20:06] jbaruch commented on #659
:+1:

[2015-07-12 11:34] adamretter opened #729 "A space in JAVA_HOME on Windows 7 causes build.bat to fail"
Using cmd.exe:

[code]

Results in:
`Files\Java\jdk1.8.0_45"" was unexpected at this time.`

[2015-07-12 16:47] adamretter commented on #495
@hungerburg Are you saying that this is acceptable behaviour?

[2015-07-12 20:13] dizzzz commented on #729
yes, this has been the case for a long time :-( I typically use Program~1\Java\jdk as work around;  I am not sure anymore why I never fixed it,it might because XP, windows7 and ..... have different behaviour here....

[2015-07-12 21:49] borsna commented on #659
great work! :+1:

[2015-07-12 22:45] hungerburg commented on #495
@adamretter I do not know, if I fully understand. At first look there are two parts: HTTP REST space and WEBDAV space. HTTP is a subset of DAV, if I am not mistaken. So they should follow the same rules. I think that the recent commit https://github.com/eXist-db/exist/commit/2c00a7b85471400b9e556f36957e043ab483300a will bring them more in line. Although the @ sign is missing from the unit test, an

[2015-07-15 13:32] jensopetersen opened #735 "The value of local-name applied to a text node is null, not the empty string"
Calling local-name() on a text node should return the zero-length string. In the following, the let statement does nothing, but brings about a NPE.

	declare function local:copy($element as element(), $tests as element()) as element() {
		element {node-name($element)}
		{$element/@*,
		for $child in $element/node()
		let $name := $tests//test[case eq local-name($child)]
		return
			if ($child inst

[2015-07-16 12:29] adamretter opened #736 "Switch from Ant to a Maven build system"
I want to switch eXist from the existing Ant and shell script build system to Maven. The advantages I see are this:
1. A simple build process that is by convention
   1 Currently with Ant it is very hard to determine what JUnit tests are included in which build targets and which tests are never executed.
2. Easy management, resolution and update of dependencies.
   1. No longer need to keep depend

[2015-07-16 13:31] jensopetersen commented on #736
Thank you for this detailed advance explanation of what you wish to achieve. Now let's hear some arguments pro et con.

[2015-07-16 13:57] adamretter commented on #736
@jensopetersen I opened a Doodle poll for gauging support, it is by invite, so I just invited you. If anyone else has a string opinion, please ask and I will also invite you.

[2015-07-16 15:41] #729 closed

[2015-07-16 20:40] telic commented on #735
Actually, node-name should return the empty **sequence** for a text node, not an empty string.

Here's a simplified query that exhibits the NPE:

[code]

Importantly, this only seems to be a problem with constructed nodes, not with text nodes in stored documents. If we had a document "test.xml" that contained `<a>b</a>`, the query `doc('test.xml')/a/node-name(text())` would work as expected.

[2015-07-16 20:50] telic commented on #706
The `/count(*)` form is actually quite different than the other two and it makes sense that it would be slower.  The first two are computing a *single* count of a single sequence. The other is computing a count *for each item* in the sequence.

[2015-07-16 21:40] telic opened #739 "use of "order by" is too restrictive"
According to the spec, FLWOR expressions may contain any number of "order by" clauses intermingled with other clauses before the return. However, eXist only allows a single "order by" clause as the final clause before the return; all other uses result in a parse error.

For example, this is a valid XQuery that results in a parse error in eXist:

[code]

This can usually be worked around by rearran

[2015-07-16 21:53] telic opened #740 "child collection permissions affect parent"
Removing the execute permission on a collection prevents unauthenticated access to the parent through REST.

[2015-07-16 22:09] telic opened #741 "xs:QName not coerced by value/general comparison"
Comparing an xs:QName to another atomic type results in a type error, even when explicit casts allow the comparison.

For example `'test' eq xs:QName('test')` results in `err:XPTY0004 cannot compare xs:string('test') with xs:QName('test')`, but `'test' eq xs:QName('test') cast as xs:string` results in `true()`.

This affects both value and general comparisons.  General comparisons are a particular

[2015-07-16 22:18] joewiz commented on #740
eXist version?

Can you provide a simple reproducible test?

[2015-07-16 22:35] telic opened #742 "catch does not support partial wildcards"
According to the XQuery 3 spec, the catch clause in a try/catch expression should support any NameTest, including `*:name`, and `ns:*` wildcard forms.  However, only NCName's, QName's, and " * " are currently supported by eXist.  eXide reports an "<AST>:0:0: Unexpected AST node" error for other wildcard types.

PS: URIQualifiedName's aren't supported either, but they seem to be generally unsupport

[2015-07-16 22:47] telic opened #743 "error variables in catch occluded by namespace definition"
Try/catch clauses make some "magic variables" available in the catch block under the "err" namespace which the XQuery spec defines as "http://www.w3.org/2005/xqt-errors" (eg. $err:code, $err:description, etc).  However, eXist only understands these variables if the 'err' prefix is **unbound** in the query.

For example, this works as one would expect, returning 'just a test':
[code]
But simply add

[2015-07-16 22:50] telic commented on #740
I've had this problem in 2.0, 2.1, 2.2, and now 3.0rc1.

Simply setting the 'apps' collection's permissions to "crwxrwxr--" prevents unauthenticated access over REST to the entire database.

[2015-07-16 23:10] telic opened #744 "unbound namespaces allowed in catch clause"
eXist allows unbound namespaces to be used in the NameTest of a catch clause.  I'm not entirely convinced this is actually a bug according to the spec, but it still feels wrong.

For example, the following compiles and runs just fine

[code]

but I would expect it to fail with a err:XPST0008 during compile time since the "unbound" prefix is not statically known.  Is there any case where this would

[2015-07-16 23:42] telic opened #745 "unmatching try/catch occludes outer try/catch"
A try/catch expression that does not catch the particular error type raised in the try's body changes the error in a way that makes it impossible to catch the error in an outer try/catch.

For example:
[code]
The expected result is 'outer catch', but instead the query raises an "exerr:ERROR Error." error.  This error cannot be caught with `catch exerr:ERROR` (even if the "exerr" namespace is expli

[2015-07-17 07:06] ljo commented on #745
Contrived or not, thanks for reporting this. The spec has changed a bit since its first appearance for many of the version 3 introduced constructs.

[2015-07-17 07:08] ljo commented on #744
Thanks, lets see.

[2015-07-17 07:09] ljo commented on #743
Yes, you are right.

[2015-07-17 07:11] ljo commented on #742
Yes, this is an area where some improvements can be done. Thanks.

[2015-07-17 07:14] ljo commented on #739
Thanks, this is a chasing problem.

[2015-07-17 07:55] jensopetersen commented on #735
No, node-name should only return the empty sequence if it is passed the empty sequence.

local-name() should return the empty string when passed a text node: "If the node identified by $arg has no name (that is, if it is a document node, a comment, a text node, or a namespace node having no name), the function returns the zero-length string." http://www.w3.org/TR/xpath-functions-31/#func-local-nam

[2015-07-17 18:56] telic commented on #735
Apparently my brain was not fully engaged yesterday, sorry! Not only did my reduced test case not show the problem, but I was talking about node-name the whole while you were talking about local-name...

I've corrected my comment above accordingly.

The behaviour difference between local-name and node-name definitely is a little strange. It seems the authors of the spec were thinking of node-name

[2015-07-18 10:33] adamretter commented on #743
Should be addressed at the same time as https://github.com/eXist-db/exist/issues/745

[2015-07-18 10:35] adamretter commented on #742
Should be addressed at the same time as https://github.com/eXist-db/exist/issues/743 and https://github.com/eXist-db/exist/issues/745

[2015-07-19 11:53] dizzzz commented on #736
thnx adam for elaborating on your ideas...

[2015-07-19 11:58] dizzzz commented on #736
idea: we can make the build system a bit simpler by moving out the webstart/jnlp jars (signed) into a separate XAR library....

[2015-07-19 12:10] adamretter commented on #736
@dizzzz `bin/start.sh` would become `mvn jetty:run`

[2015-07-19 14:06] dizzzz commented on #736
Right, I do not agree on that. :) maven is to
Build not no execute. This is a serious point to me and the community. Maven as a build and dependency tool is ok, but there it stops.

--
www.exist-db.org

[2015-07-19 14:09] adamretter commented on #736
@dizzzz Maven is much more than just a build an dependency tool. You can create scripts if you want, but you will end up reinventing wheels that are rounder and faster... Not to mention you then have to maintain these odd shaped wheels ;-)

[2015-07-19 20:00] shabanovd commented on #736
@dizzzz running production by maven is safe and best way to go. Also possible to generate lib folder with all jars if prefer control things and have installer to deploy without maven.