[2018-06-22 07:55] #1944 closed

[2018-06-23 18:53] joewiz opened #1964 "fn:collection returns binary resources as document-node"
### What is the problem

The `fn:collection` function returns binary resources as `document-node`.

### What did you expect

I expected that `fn:collection` would either (1) exclude binary resources from its results (as the XQuery 1.0-3.0 specs suggest) or (2) return them with the correct datatype of `xs:base64Binary` (as the XQuery 3.1 spec suggests).

For context, see https://www.w3.org/TR/xpath

[2018-06-23 23:17] joewiz commented on #1964
I stumbled across this behavior when testing https://github.com/eXist-db/eXide/pull/196. Even after that fix, calling `fn:collection` function on a collection that contains binary resources will yield a `500 Server Error`. Specifically, the call to `http://localhost:8080/exist/apps/eXide/results/1?output=adaptive&auto-expand-matches=true&indent=true` to retrieve the 1st result stored in the sessio

[2018-06-25 17:42] adamretter opened #1971 "Large XQuery range can crash eXist-db"
The following very simple query will result in a `java.lang.OutOfMemoryError`.

[code]

It should also be considered as a security issue. This simple query could be sent to the REST end-point of any eXist-db server (which exposes the service), and it will cause the JVM to shutdown.

[2018-06-25 18:38] adamretter opened #1972 "Treat as expr can crash eXist-db"
The following very simple query from the XQTS 3.1 will result in a `java.lang.StackOverflowError`.

[code]

It should also be considered as a security issue. This simple query could be sent to the REST end-point of any eXist-db server (which exposes the service), and it will cause the JVM to shutdown.

The XQTS states that we can should return the value `4`, or any error code. So we can decide wha

[2018-06-26 15:06] duncdrum commented on #1972
In dubio pro `4`

[2018-06-26 15:07] duncdrum commented on #1971
let's go with `3000000000`

[2018-06-26 19:55] adamretter commented on #1971
@duncdrum that would be the ideal solution, however that value has to be computed, and doing that efficiently (i.e. not running our of memory) would need quite some changes to eXist-db as far as I can see.

[2018-06-26 20:17] duncdrum commented on #1971
@adamretter major work for a major release? I checked saxon and it produces and error, about the maximum sequence length no exceeding `2147483647`. I vaguely recall  [new BigInteger](https://dzone.com/articles/new-biginteger-methods-java-8) methods coming to java 8 could we maybe leverage that for throwing `ArithmenticException`?

[2018-06-27 12:46] eriksiegel opened #1975 "parse-xml() and util:parse() do seem to use catalogs"
### What is the problem
We're trying to load an XML file with a PUBLIC DTD ref in it using file:read and then turn this into XML using parse-xml() or util:parse(). Both report that they can't find the DTD (sorry for the Dutch in the message):
`exerr:EXXQDY0002 Error while parsing XML:            c:\eXist-db-4.2.1\dummy.dtd (Het systeem kan het opgegeven bestand            niet vinden) [at line 7,

[2018-06-27 13:09] eriksiegel opened #1976 "Namespaces mangled on using doc() with file:/"
### What is the problem
After reporting #1975 I tried to load the doc from the file system using `doc('file:/path/to/file.xml')` (as the `admin` user).

Big surprise: it totally mangles the namespaces!

What goes in as:
[code]

Comes out as:
[code]

Note the double `xmlns=""`, this makes the document not well-formed

### What did you expect
Using `doc()` with a `file:/` URL should load the documen

[2018-06-27 20:29] dizzzz commented on #1976
what version of exist-db are you using? I am surprised that `doc('file:///')` actually works :-)
please could you verify what happens when you put three slashes after file: ?

[2018-06-28 06:02] eriksiegel commented on #1975
All right, that might be a workaround, and nice that you can add catalogs as an argument.
Yes, restarting eXist is necessary, it tells you in the log about the catalogs. BUT: When such a file isn't there it doesn't complain :-(

[2018-06-28 09:56] mgraauw commented on #1682
Still an issue in tonight's build...

Does not look like a Saxon issue to me, since replacing @finianoboyle 's:
[code]

with simply:
`return transform:transform($xml, $xslt, ())`
works fine.

[2018-06-28 10:35] eriksiegel commented on #1976
file:/// doesn't change anything

The XQuery was stored in eXist. I have tried to run iut both from within oXygen using its eXist connector and through the REST interface: All the same results

Version information (as I already provided): See #1975 (4.2.1 running on W10)

I think its *very* troublesome that a parsed XML file contains these kinds of errors. That looks like a very fundamental flaw..

[2018-06-29 08:49] mgraauw commented on #1682
Another finding, which I hope may be useful in finding the cause (and at least is a workaround): storing the transform results in the database, then retrieving and wrapping those in <package> works fine.

[code]

[2018-06-30 21:30] MaryPet91 opened #1985 ""Failed to start service""
Hi, can you help me?

### What is the problem

Here there are the screenshots of the installation procedure with the related problem:
https://drive.google.com/open?id=18jB94FQ0F0pHDnhoCexe6udtvTmN2Jza

### What did you expect

### Context information
- eXist-db version "eXist-db-setup-4.2.1" and "eXist-db-setup-4.1.0"
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
- Windows

[2018-07-01 04:37] adamretter commented on #1985
I think after installation there should be a little eXist-db icon in the system tray. Do you see anything?

[2018-07-01 10:07] MaryPet91 commented on #1985
Yes, there is.. Have you seen the screenshots?

[2018-07-01 21:53] joewiz opened #1988 "Parsing error XPST0003 when constructing attribute values"
### What is the problem

The following query raises an XPST0003 error in eXist, but does not in Saxon or BaseX:

[code]

The error:

### What did you expect

I expected the query to return `<x y="z"/>`

### Describe how to reproduce or add a test

To trigger the error, use a direct constructor to create an attribute value with an enclosed expression beginning with a literal string - no matter the

[2018-07-02 14:14] joewiz commented on #1985
In a workshop last week, where we had all users install eXist 4.2.1 (and Java 8) on their laptops beforehand, the two Windows 10 users both were unable to start eXist via service / system tray or `java -jar start.jar` (which also started the service); eXist was installed at `C:\eXist` and not in Program Files. While we didn't have time to fully troubleshoot, we did get eXist started via `bin\start

[2018-07-03 09:00] adamretter commented on #1963
Closed by https://github.com/eXist-db/exist/pull/1984

[2018-07-03 09:01] adamretter commented on #1922
@floerke Did you manage to test this?

[2018-07-03 09:08] floerke commented on #1922
Hi @adamretter, my daily business prevent me from investigating your comment. I will comment this week.

[2018-07-03 10:19] duncdrum commented on #1976
this reminds me of what happened to repo.xml files a while ago.

[2018-07-03 10:43] adamretter commented on #1975
@dizzzz I think we should add validation to `fn:parse-xml` (and possibly `fn:parse-xml-fragment`) so that they are inline with storing into the db. Any idea how much work that would be?

[2018-07-03 10:54] adamretter commented on #1682
Okay so looking into this, the following query works fine on eXist-db develop HEAD:

[code]

This query also works fine:
[code]

However this query causes an **error**:
[code]

[2018-07-03 15:18] line-o commented on #1960
[code]

does also trigger the behaviour while

[code]

does not

[2018-07-03 15:23] line-o commented on #1960
Added a test case for wrapping atomic values with explicit type conversion.

[2018-07-03 16:12] mgraauw commented on #1682
Right

Op di 3 jul. 2018 12:55 schreef Adam Retter <notifications@github.com>:

[2018-07-04 12:47] floerke commented on #1922
Retesting with

* eXist 4.2.1, Windows7, 64Bit, Java8

results in wrong encoded character (see screenshot). The utf-8 xml contains the byte E4 (instead of C3 A4) for german umlaut ä.

[2018-07-04 12:48] floerke commented on #1922
![encoding_error](https://user-images.githubusercontent.com/26478323/42277908-3dc64662-7f99-11e8-904b-6bea24d5faf8.png)

[2018-07-05 11:04] dizzzz commented on #1975
I will have a look at the current code, but I think I remember there is quite some plumbing involved with the catalogs, and I do not like the end result. A long time I started a kind of re-implementation of the catalog resolver, but this got never finished. Ideally I'd like to store a catalog document inside the database.

@ndw 's work on a xmlresolver might be a good start.

In all I guess it wil

[2018-07-05 11:42] #1682 closed

[2018-07-05 11:42] #1945 closed

[2018-07-05 11:42] #1976 closed

[2018-07-05 14:17] ndw commented on #1975
I'll help if I can. I'd certainly prefer to see the xmlresolver work I've done extended or improved so that it's useful to eXist rather than having different implementations.

P.S. https://github.com/ndw/xmlresolver

[2018-07-05 14:21] babslgam opened #1996 "restore process hangs at restoring empty file"
### What is the problem
exist hangs during restore process if the file to restore is empty.

### What did you expect
that the file is restored (or skipped with a warning) and restoring process continues

### how to reproduce

install exist 4.2.1
create backup
restore backup via admin client
stuck at restoring /db/apps/shared-resources/resources/scripts/ace/mode-text.js (btw the file is not empty i

[2018-07-05 14:33] adamretter commented on #1996
I believe this is fixed. It should be in the next release. You could check
a nightly build...

On 5 Jul 2018 19:51, "babslgam" <notifications@github.com> wrote:

What is the problem

exist hangs during restore process if the file to restore is empty.
What did you expect

that the file is restored (or skipped with a warning) and restoring process
continues
how to reproduce

install exist 4.2.1
crea

[2018-07-06 05:00] adamretter opened #1997 "Declare variable self-reference causes StackOverflowError"
[code]

[2018-07-06 05:51] adamretter commented on #1922
@floerke What is your Windows locale set to please?

[2018-07-06 07:06] adamretter commented on #1922
@floerke further testing from me, does not yet discover your issue:

* eXist-db: `5.0.0-SNAPSHOT`
* Java: `Oracle 1.8.0_144`
* Operating system: `Windows 10 Pro N 64-bit (10.0, Build 14393)`
    * Language: `English (Regional Setting: English)`
    * Location: `United Kingdom
    * Codepage: `850`

I ran the simplified query above, and then used the UTF-8 Validator tool that I mentioned to check e

[2018-07-06 08:56] floerke commented on #1922
eXist-db: 4.2.1
Java: Oracle 1.8.0_162
Operating system: Microsoft Windows 7 Pro [Version 6.1.7601], Service Pack 1, 64-Bit
Language: Deutsch (Deutschland) = "German (Reginal Setting: Germany)"
Location: Germany
Codepage: 850

...>java -jar utf8-validator-1.3-SNAPSHOT.jar test_utf8.xml
Validating: test_utf8.xml
[ERROR] Invalid UTF-8 sequence, byte 2 of 3 byte multibyte sequence. @ byte posi
tion:

[2018-07-06 09:16] floerke commented on #1922
Maybe we can strip down the problem with a small Java-Commandline snippet. Are you able extract, what file:serialize is doing when writing a string to a file?

[2018-07-06 09:41] babslgam commented on #1996
is it possible to fix this for the 4.2.1 stable release with a patch?

[2018-07-06 09:45] adamretter commented on #1922
@floerke so the issue *might* be here: https://github.com/eXist-db/exist/blob/develop/extensions/modules/src/org/exist/xquery/modules/file/SerializeToFile.java#L208

When calling `new OutputStreamWriter(os)` you can specify a character encoding.

If you don't specify a character encoding, the Java doc says `Creates an OutputStreamWriter that uses the default character encoding.`. It seems that ult

[2018-07-06 09:51] adamretter commented on #1996
@babslgam Commits needed are in this PR - https://github.com/eXist-db/exist/pull/1955 You could cherry-pick them when rebuilding from source if you wanted too.

[2018-07-06 09:51] #1996 closed

[2018-07-06 11:12] tasmo opened #1999 "Nixos and non-standard paths"
The installer cannot set rights through `chmod`

[code]

because it is not found under `/bin`.

When using `startup.sh` there is a similar problem

[code]

These are the paths on Nixos

[code]

The solution for the `startup.sh` script is to change line 14 in `bin/functions.d/eXist-settings.sh` to

[code]

bash should know the path to the executables anyway.

[2018-07-06 15:54] simar0at opened #2000 "Fetching LDAP users from our server ends in an exception and additional groups a user might be in are never fetched."
### What is the problem
* `LDAPRealm` contains code that `LdapUtils.closeContext(ctx)` even though `ctx` gets passed in as final and is not created within the method
*  `createAccountInDatabase` at line 334 passes the `LdapContext` to `getGroup` (line 348) which closes it and then to `getGroupMembershipForLdapUser` (line 364) which tries to use it to get more group memberships for the user.
* this

[2018-07-06 16:02] simar0at opened #2001 "Fetching LDAP groups does not work correctly because some escaping is missing"
### What is the problem
- If you have a user name containing ```\``` and ```()``` like ```Omar\, Siam``` in an organisational unit like ```Austrian Center for digital humanities (ACDH)``` the LDAP code is unable to search for the corresponding groups because  for the search the DN is taken as is.

### What did you expect
* The ```\``` and ```()``` need to be escaped. ```\5c, \28, \29```.

### Desc

[2018-07-07 06:19] adamretter commented on #1384
@dizzzz Were you able to test this on 4.3.0 and 5.0.0-RC1?

[2018-07-07 06:20] adamretter commented on #1792
Is this fixed on 4.3.0?

[2018-07-07 07:29] kohsah opened #2005 "eXist-db installed as yajsw daemon service does not startup on Ubuntu 16.04 / Ubuntu 18.04"
### What is the problem

### What did you expect

### Describe how to reproduce or add a test

### Fixing the Problem

`yajsw/conf/wrapper.conf` is set with an incorrect path (possibly by the eXist-db installer). It points to a non-existent JVM on my system
[code]
Once i change it to the actual `<JAVA_HOME_PATH>/bin/java` and reinstall the daemon, eXist-db startups fine with yajsw.

[2018-07-07 08:10] duncdrum commented on #1792
@adamretter  \o/
![screen shot 2018-07-07 at 10 08 25](https://user-images.githubusercontent.com/6205362/42408495-c483e430-81cd-11e8-8c45-08de0fa2bb61.png)

I would suggest updating the hombrew dependency for the next RC

[2018-07-07 09:06] adamretter commented on #1792
@duncdrum I am not sure I follow. How is this related to Homebrew?

[2018-07-07 09:13] duncdrum commented on #1792
@adamretter like this [depends_on_java '8'](https://github.com/Homebrew/homebrew-cask/blob/abb9dc1f1e7d76f3b8bebe7ad2fa099006098043/Casks/exist-db.rb#L15)

[2018-07-07 09:44] adamretter commented on #1792
@joewiz what do you think we should do about that?

[2018-07-07 13:13] joewiz commented on #1792
Agreed, if we are compatible with the current stable release of Java, then we should update the dependency declaration in homebrew from `java8` to `java` - across our various casks, exist-db, exist-db-nightly, and, when RC2 comes out, exist-db-rc.

[2018-07-07 20:33] dizzzz commented on #1384
I'll do so

[2018-07-07 20:34] dizzzz commented on #2000
@shabanovd is this you domain?

[2018-07-08 06:20] adamretter commented on #2001
@simar0at Can you suggest:

1) All the places in the LDAP code we need to encode strings before sending them? I am guessing it is not just for group searches.

2) What the encoding scheme should be? I am guessing we may need to encode more than just `\`, `(`, and `)` characters?

[2018-07-08 06:21] adamretter commented on #2000
@dizzzz I got this :-)

[2018-07-08 06:22] adamretter commented on #1922
@floerke If you could let me know in the next day or so that would be excellent, as I am hoping to push out a hotfix release.

[2018-07-08 12:59] dariok opened #2006 "Wrong MIME type on HTML5 pages in XHTML namespace"
## What is the problem
When using eXide to create an HTML file with the option "HTML5 file in XHTML namespace", this file is saved (and consequently served) with the incorrect MIME type of `text/html`. Additionally, the doctype is omitted by Jetty. While it is possible to manually change the MIME type, it is changed back to `text/html` each time you save the file from eXide.

### _The beginning of

[2018-07-08 13:36] joewiz commented on #2006
Which file extension are you using? If you’re using `.html` could you please test `.xhtml` and report your results?

In my next reply, I’ll cover the difference between eXide’s templates, eXide’s saving behavior, eXist’s file extension-based mime-type resolution, and XQuery serialization.

[2018-07-08 13:39] dariok commented on #2006
The extension does not seem to make a difference. Cf. http://exist.baukast.digital:8888/exist/apps/pageCount/index.xhtml which also is returned as `text/html`.

[2018-07-08 17:14] pherk opened #2007 "Xerces 2.12: problems with betterform <xf:bind/>"
### What is the problem

the update to xerces 2.12 leads to NullPointerExecption if betterform is used.
the problem seems to be a call via <xf:bind id="" ref="" type="xs:int"/>.
Actually only the datatype xs:string is ok (xf:integer, xf:boolean tested with error result).

[code]

### What did you expect

I know it is a betterform problem not a eXist, but it is relevant for some eXist users.
better

[2018-07-08 17:19] pherk commented on #2007
`xquery version "3.1";

module namespace app="http://enahar.org/exist/apps/test";

declare namespace  xf="http://www.w3.org/2002/xforms";

declare function app:bind($node as node(), $model as map(*)) {
(
    <div style="display:none">
        <xf:model id="m-cps">
            <xf:instance xmlns="" id="iiter">
                <data >
                    <iter xmlns="http://hl7.org/fhir" value="true

[2018-07-08 17:20] pherk commented on #2007
---
xquery version "3.1";

module namespace app="http://enahar.org/exist/apps/test";

declare namespace  xf="http://www.w3.org/2002/xforms";

declare function app:bind($node as node(), $model as map(*)) {
(
    <div style="display:none">
        <xf:model id="m-cps">
            <xf:instance xmlns="" id="iiter">
                <data >
                    <iter xmlns="http://hl7.org/fhir" value="t

[2018-07-08 17:21] pherk commented on #2007
[code]

[2018-07-08 21:04] dizzzz commented on #2007
@JoernT can you have a look? xerces bug? or changed API semantics ?

[2018-07-09 08:19] adamretter commented on #2006
/move eXide

[2018-07-09 08:19] #2006 closed

[2018-07-09 10:29] simar0at commented on #2001
Isn't there a class containing SearchAttributes? Perhaps this class should do the magic. It's a particularity of LDAP search filters. As in these () are used to delimit search terms they have to be encoded and \ needs to be encoded because it is the escape character used to encode characters. I think that it is sufficient to have these three encoded. I don't know for sure and I can't do further re

[2018-07-09 10:38] claudius108 commented on #2005
Fixing wrapper.java.command=/usr/bin/java is not solving for me in Ubuntu 18, java 1.8.0_171, and eXist 4.2.1.

[2018-07-09 10:52] dizzzz commented on #2005
You need to fix it in `$EXIST_HOME/tools/yajsw/conf/wrapper.conf` too...

[2018-07-09 11:34] claudius108 commented on #2005
In $EXIST_HOME/tools/yajsw/conf/wrapper.conf.in there is wrapper.java.command=@java.vm@, and in $EXIST_HOME/tools/yajsw/conf/wrapper.conf there is wrapper.java.command=/usr/bin/java.
Neither with wrapper.java.command=/usr/lib/jvm/java-8-oracle in $EXIST_HOME/tools/yajsw/conf/wrapper.conf is not working.

[2018-07-09 11:40] dizzzz commented on #2005
not sure if you need to re-install the service when the file is update. e.g. if a copy is installed in /etc/init.d in stead of a symlink.....

[2018-07-09 11:59] claudius108 commented on #2005
Sure, I am reinstalling the service ...

[2018-07-09 13:49] adamretter commented on #2005
So it seems that we ship `wrapper.conf.install` as `wrapper.conf` inside the IzPack installer. From `installer/install.xml.tmpl`:

[code]

[2018-07-09 15:39] peterstadler commented on #1550
Help! This is really an issue for me that prevents me from upgrading to a recent eXist version. Is a fix anywhere on the roadmap or do I have to refactor my code?

[2018-07-09 15:53] wolfgangmm commented on #1550
Assigning high prio for myself.

[2018-07-09 17:32] dizzzz commented on #2007
@pherk is there a simple way for me to verify your code?  I could either replace xerces 2.12 with the version that does not support XSD1.1 or downgrade...

[2018-07-09 17:58] #1922 closed

[2018-07-09 18:33] adamretter commented on #2001
Would you be able to test out this patch and let me know if it works for you? - https://github.com/eXist-db/exist/pull/2012

[2018-07-09 19:15] wolfgangmm commented on #2005
I can only guess, but I assume either (1) the wrapper.conf.install was already there when we were still relying on jsw instead of yajsw and I simply copied the steps, or (2) it was necessary for windows.

It would be important to see if the suggested service installation works without hardcoded path on windows when you start eXist via start.jar the first time.

[2018-07-09 19:20] adamretter commented on #2005
@wolfgangmm From the git history it looks like you added it when you switched to YAJSW.
I don't think it can be for Windows purposes, as the path in that file to Java is a Mac style filesystem path.

[2018-07-10 04:33] joewiz opened #2014 "Performance of 5.0.0-RC1 - XPath expressions"
### What is the problem

Comparing the current stable release (4.3.0) to 5.0.0-RC1, the performance of an XPath expression like `/package:expath` is measurably slower in 5.0.0-RC1—by a factor of 4-5x. This performance gap persists as the database size increases.

I believe this issue contributes to the slower performance I'm seeing under 5.0.0-RC1 in real-world apps running on a database with a su

[2018-07-10 12:10] dariok commented on #1771
It seems that this issue, EXPath not finding the class of a Java XQUery module, goes back to (at least) 3.6.1 and happens not only for installed packages but also for .jar files deployed manually.

Cf. [exgit-full.zip](https://github.com/eXist-db/exist/files/2180232/exgit-full.zip) (rename to .jar; this is an early beta for a small jgit wrapper for XQuery). Copying to `{$eXist-home)/lib/user` and

[2018-07-10 13:06] claudius108 commented on #2005
Thank you, Adam, I can now confirm that installing 4.3.0, as you said, works.

[2018-07-10 17:07] pherk commented on #2007
send a small test xar to @dizzzz per email
-> localhost:8080/exist/apps/test/bind.html shows
   exception with xerces-2.12 and a page with
   Hello it is 2018-07-10T19:04:56.643+02:00 with xerces-2.11

[2018-07-10 19:12] adamretter opened #2015 "GPL issue with Exificient"
The version of Exificient (0.9.3) that we ship in `lib/user`, is licensed under GPL v2. See https://search.maven.org/remotecontent?filepath=com/siemens/ct/exi/exificient/0.9.3/exificient-0.9.3.pom for confirmation.

Newer versions are licensed until MIT. We should either update, or remove the module from the main code base.

[2018-07-10 23:31] joewiz commented on #2014
In the original post I mentioned "hsg-project" system:

Here are the actual results of the test in the original post run on the identical database contents, when running with 4.3.0 vs. 5.0.0-RC1:

[code]

In other words, in this test, the performance of 5.0.0-RC1 is about 12x slower by this benchmark. To reproduce these results:

1. Install eXist 4.3.0 via DMG installer, renaming eXist-db.app as e

[2018-07-11 06:54] dizzzz commented on #2014
factor 12.... that is is 'open for improvement'.

I think that I saw recently that upon XAR install not necessarily the indexes are actually created/updated ; that is: I had to perform a manual re-index of the database, and I recall I even touched the .xconf files. Maybe it is related.

I assume memory settings, javaversion  are all the same?

[2018-07-11 12:14] joewiz commented on #2014
Yes, memory settings (accepted defaults on startup) and java version were the same.

[2018-07-11 12:44] dariok commented on #1771
I have testing this on other machines and it seems that it depends on the OS rather than the eXist version. An eXist 3.1.1 on a CentOS machine cannot find the module, either. I will try a current version on Windows an report back.

[2018-07-11 12:47] joewiz commented on #2014
Re: indexes, I did wonder whether indexes were a factor in the performance in my first report, but when I deleted /db/system/config/db/apps and reindexed, the test results were identical. This suggests defined indexes aren’t a factor in the performance reported here.

As for needing to reindex after installing an xar with 5.x when this was unnecessary under 4.x, I haven’t seen that myself, but def

[2018-07-11 12:57] dizzzz commented on #2014
yes I will report.... opening the xconf and saving it again worked for me; I think after restore it was not recognized as an XML file or so.

[2018-07-11 14:46] dariok commented on #1985
I also could not get eXist 4.3.0 to run under Windows 10.
However, what I found is that the file path in the Service was wrong, it started with `/Library`. It is possible to change that to the correct path via the command line (assuming eXist is installed in c:\exist-db):

    sc config eXist-db binPath= "java.exe -classpath C:\eXist-db\tools\yajsw\wrapper.jar -Xrs -Dwrapper.service=true -Dwrapper

[2018-07-11 15:49] dariok commented on #1771
Some more on this, slightly puzzling: The eXist 4.3.0 on Ubuntu which until now always claimed not to find the module, suddenly does after a complete restart of the computer (while restarting eXist did not help). But this is only true for the manual installation.

When installing a xar, though, the module still is not available. I created a .xar with my example jar from above. expath.log says the

[2018-07-12 13:17] mgraauw commented on #1682
@adamretter Confirmed fixed, also in our own code. Thanks! (cc: @ahenket)

[2018-07-13 07:01] #2000 closed

[2018-07-13 07:01] #2001 closed

[2018-07-13 09:29] kev1807 opened #2020 "404 when opening dashboard"
Hi there,
I am planning on using exist-db for my PhD Project (An Edition of early modern sources), so I decided to dive right into it.
I am running Windows 10 64bit

After installing I started it, installed as a service as well. Server is running.
Open Dashboard
![grafik](https://user-images.githubusercontent.com/15955790/42684055-4db8211a-868f-11e8-821b-171bd46637f8.png)
This happens with each se

[2018-07-13 11:18] inormann commented on #1586
To make the `patchWebXml`  work it seems to be important to follow a certain build order. The following should be reproducable:
[code]
The Dashboard should be now visible in the Browser.

[2018-07-13 14:55] dizzzz commented on #2020
probably a permissions issue?

[2018-07-14 06:11] kev1807 commented on #2020
thought so, too, but I cannot find any issues ...

[2018-07-15 17:33] adamretter commented on #1586
@mathias-goebel @inormann So I think the following should work:

[code]

The problem you have is that the Dashboard (and some apps) were designed in a way that lacked a separation of concerns, as such they require a component from betterForm which is actually not really anything to do with XForms or betterForm.

Unfortunately that means they will not work without betterForm being present. Normally

[2018-07-16 05:32] raducoravu opened #2036 "Cannot import DTD to Exist server using "RemoteCollection" API (Exist 4.3.0)"
Using Oxygen XML Editor with Exist 4.3.0 to import a local DTD to an Exist DB.
Code looks like this:

[code]
and throws this error:

        org.apache.xmlrpc.XmlRpcException: Failed to invoke method parseLocalExt in class org.exist.xmlrpc.RpcConnection: null
        	at ro.sync.db.nxd.exist.ExistContainer$ExistImportCollection.createResource(ExistContainer.java:674)
        	at ro.sync.db.nxd.NXD

[2018-07-16 05:32] raducoravu commented on #2036
This used to work with any previous Exist server versions.

[2018-07-16 08:31] adamretter commented on #2036
Hi @raducoravu can you provide the relevant parts from the eXist-db server logs please as the stack-traces from the client dont' help much. You should take a look in `exist.log` and `xml-rpc.log` in `$EXIST_HOME/webapp/WEB-INF/data`.

[2018-07-16 09:08] raducoravu commented on #2036
I found something interesting in the xmlrpc.log, I'm attaching it:

[xmlrpc.log](https://github.com/eXist-db/exist/files/2197033/xmlrpc.log)

[2018-07-16 10:06] adamretter commented on #2036
So the interesting bit from `xml-rpc.log` is:

[code]

The interesting thing here is that line 1463 will only be invoked if there is a `NumberFormatException` thrown by `Integer.parseInt(localFile)`.

So it seems that somehow your call to `existCollection.storeResource(document);` on the client side is either doing something wrong or something that causes a fault in the server side.

@raducoravu I

[2018-07-16 11:35] raducoravu commented on #2036
@adamretter Funny that I did not have the idea to look inside the file until now. It's an empty file (0 bytes) called "log4j.dtd".

[2018-07-16 11:57] adamretter commented on #2036
@raducoravu Okay interesting. I just want to check, are you certain this is with eXist-db 4.3.0? It may well be, but I wanted to check as we fixed some problems with 0-byte files in the XML-RPC API in
374cb35d.

[2018-07-16 12:02] raducoravu commented on #2036
@adamretter, this particular automated test we have on our side started failing after upgrading our servers to Exist 4.3.0. Our previous Exist test server version was "4.0.0" build "201802140047".

[2018-07-16 12:08] joewiz commented on #1985
Related: https://github.com/eXist-db/exist/issues/2005#issuecomment-403497966.

[2018-07-16 13:08] adamretter commented on #2036
@raducoravu Okay, from your code I have managed to reproduce the issue. Thanks

[2018-07-16 15:41] caseydawsonjordan opened #2042 "Changes to global variable reset in modules causes regressions"
This commit: https://github.com/eXist-db/exist/commit/7e6b2691012cfccb76fd772c0aacfa5d55eaa505#diff-1a7f6e1a39c50b3b42adcf60d6dfc6bd

changed the behavior for how global variables are reset in eXist. The issue is that multiple instances of modules are instantiated as part of normal system operation. However some modules are still in use when others are reset, this causes the global variables to be

[2018-07-16 15:46] wolfgangmm commented on #2014
From various stress tests I can confirm that current develop is up to 3 times slower on average than 4.x.x (both as of today). For example, jmeter tests on an app which should go live this week show this:

|eXist version | avg | min | max |
|-------------|-----|-----|-----|
|4.x.x | 1001 | 119 | 3181 |
|develop | 2850 | 187 | 18414 |

Tests were performed with the same settings, indexes were used

[2018-07-16 16:59] wolfgangmm commented on #2005
@adamretter after removing `conf/wrapper.conf` and `conf/wrapper.conf.install`, installing the service worked on windows 10, whereas it would fail when those files were present.

[2018-07-16 17:02] wolfgangmm commented on #2020
Likely the issue is caused by the problem described in #2005

[2018-07-16 17:03] wolfgangmm commented on #1985
As Joe already wrote, the issue is probably caused by the problem described in #2005

[2018-07-16 18:11] Torcsi commented on #873
We have run into further issues and decided to make a complete test.
We have used 4.3 and our measures show 3.3-16x performance drop on synthetic exampples, totally obstructing porting to 4.3.
All former tips were tested.
The test environment and results are detailed [here](http://www.arcdev.hu/temp/eXistDb4.3performance/eXist4-3vs2-2.html)

Please advice what should we do. Is this the performance

[2018-07-16 18:52] caseydawsonjordan commented on #2042
More details:

Our module looks something like this:

[code]

Then we have an xql that attempts to use one of these defined variables and produces the following exception:

Caused by: org.exist.xquery.XPathException: err:XPDY0002 variable '$jcm-localization:d2x-xsl' is not set. [at line 12, column 18, source: file:generate-job-xliff.xql]
	at org.exist.xquery.VariableReference.eval(VariableReferenc

[2018-07-17 04:07] raducoravu commented on #2036
👍

[2018-07-17 12:46] agwidarsito commented on #1314
I had same problem: make sure you launch the bat file from a CMD that is launched as administrator :)

[2018-07-17 19:54] dizzzz commented on #1314
@agwidarsito  you are referring to an old and closed issue. please can you describe what you mean in more details? Your oneliner without context is not really understandable (for me).

[2018-07-18 07:33] adamretter opened #2043 "Need backports to fix installed YAJSW"
This fix was committed directly to `develop-4.x.x` https://github.com/eXist-db/exist/commit/ed7b83b787f557ab62907629026acb3d905947a7

We need backport PR's for `develop` and `develop-5.0.0`.

[2018-07-18 09:55] adamretter commented on #2042
I think you are looking at the`HEAD` of the `develop` branch, is that correct?

So I have started by creating  a very simple test as the basis for further discussion and tests. I  am able to reproduce your problem quite simply: https://github.com/adamretter/exist/blob/hotfix/internal-module-variables/test/src/org/exist/xquery/InternalModuleTest.java#L55

To start with I wanted to reason a little a

[2018-07-19 06:35] #2036 closed

[2018-07-20 13:58] adamretter opened #2049 "Insufficient Query Caching"
The following should compile and cache queries:

1. `XQueryTrigger`
2. `IPRangeRealm`
3. `OpenIDUtility`
4. `LocalXPathQueryService` could be more aggressive with caching. At the moment only some `execute` methods use caching.

[2018-07-20 15:56] merenyics opened #2050 "calling a non-existent templating function no longer(?) reports error"
### What is the problem

 `<div class="some:function"/>`
resulted in an error being thrown immediately, indicating that the given function does not exist. Right now, using 4.3, the server does not respond within a reasonable amount of time, I can see in Monex that a query is running (view.xql) but it won't return, I need to kill it manually.

### What did you expect

### Describe how to reproduce

[2018-07-20 16:09] merenyics opened #2051 "sibling axes used without element name very inefficient"
### What is the problem

`preceding-sibling::a`
works as it should, more general expressions involving the sibling axes are _exremely_ inefficient.
`preceding-sibling::*
preceding-sibling::node()
preceding-sibling::text()
`
do seem to work, but take ages to evaluate both as steps in an XPath and as filter expressions. The same goes for following-sibling.

### What did you expect

### Describe how

[2018-07-20 16:54] agucabral21 opened #2052 "Running build.sh with no conf.xml changes makes the Dashboard Crash"
I was trying to add the Cache Module to eXist-db 4.2.1, but when I run `./build.sh extension-modules` and start eXist-db again, the web dashboard crashes, and logs the following error (tried to sum up the log):

[code]

So I installed eXist-db again and ran `./build.sh extension-modules` without adding the Cache Module in `conf.xml`,  I just ran the script without changing anything, and I got the

[2018-07-20 17:30] adamretter commented on #2050
@wolfgangmm I wonder if this is that infinite issue I pointed out to you - where it tries to call a function with 1 parameter, then 2, then 3 and then so on and so on...

[2018-07-20 18:33] agucabral21 commented on #2052
well.. ive tried it with 4.3.0, and it works without adding the cache-module, now im trying that.

[2018-07-20 19:32] ahenket opened #2054 "eXist-db 4.3.0 NullPointer on map:get for db resources"
As of eXist-db 4.3.0 there is a new bug in map:get when the input data comes from the db. If you have in-memory fragments the bug does not occur. The same code works under eXist-db 2.2 and 4.0.0.

Reproduction code:

[code]

Code that works: change $template/@statusCode into $xml/@statusCode:

```<template from="new" to="draft" expect="false">{map:get($map, string($template/@statusCode)) = 'draft'

[2018-07-20 19:50] ahenket opened #2055 "eXist-db 4.3.0 incorrect undefined variable in for loop"
As of eXist-db 4.3.0 there is a problem when you reuse a variable in a for loop, before the return statement. eXist-db then claims the variable is not set.

Reproduction code:

[code]

Expected return:

[code]

Actual return:

```err:XPDY0002 undefined value for variable '$vsref' [at line 11, column 47]```

The issue only occurs when the xml fragment comes from the db. It does not occur when the f

[2018-07-20 22:02] duncdrum commented on #2055
could you try with
`doc(xmldb:store('/db/apps', 'termasoc.xml', $xml))//x`
 the return type of doc() is document-node hence two `//` might be required

[2018-07-20 22:05] duncdrum commented on #2054
see my comment in #2005

[2018-07-21 05:01] metacontext opened #2056 "HTML5 doctype is removed when saving, editing or serving static HTML5 files"
### What is the problem
When importing / saving static HTML5 files (e.g. via the collection browser or oXygen) the doctype gets removed. When editing those files in eXide the doctype is not present and also cannot be included manually (inserting and saving has no effect). Serving those files to the browser results in an XML-prologue being inserted instead. When exporting the files the former HTML5

[2018-07-21 05:10] joewiz commented on #2056
See the mailing list discussion of the doctype issue from 2009 at https://markmail.org/thread/27fxcjicang6yk3q, and the recent discussion of this issue peeling apart the relevant layers at https://github.com/eXist-db/eXide/issues/198.

[2018-07-21 05:50] dizzzz commented on #2054
@ahenket how do you invoke the query?

[2018-07-21 11:01] ahenket commented on #2055
/x  is enough as what I store is exactly 1 node, but I tried with //x just now and that does not change the situation.

[2018-07-21 11:06] ahenket commented on #2054
/... or //... makes no difference nor should it, as what I want is the root element of the document.

I tried involving this query using OxygenXML, eXide, and just after storing the code in the db and calling it in the browser. I think eXide masks the error as nothing comes back at all.

[2018-07-21 11:12] adamretter commented on #2055
I wonder if this is related?

On Sat, 21 Jul 2018, 01:20 Alexander Henket, <notifications@github.com>
wrote:

[2018-07-21 11:13] adamretter commented on #2055
I wonder if this is related? https://github.com/eXist-db/exist/pull/2053

On Sat, 21 Jul 2018, 16:42 Adam Retter, <adam.retter@googlemail.com> wrote:

[2018-07-21 20:19] dizzzz commented on #2054
The RPCconnection.class indicates you are not using the Rest interface but a higher level remote API.in these cases , we should have a look at the exist.log on the server.

[2018-07-23 05:31] adamretter commented on #2055
Thanks for your bug report :-)

So this seems to have already been fixed on the `HEAD` of `develop-4.x.x`. Could you test with that, or test when 4.3.1 comes out shortly?

As I think this is already fixed, I am going to close this issue. Please re-open with details if you believe it is still not fixed.

[2018-07-23 05:31] #2055 closed

[2018-07-23 05:34] adamretter commented on #2052
@agucabral21 Can you tell me how you installed eXist-db please? Did you use the Jar installer, the DMG for Mac, or some other process?

[2018-07-23 06:13] adamretter commented on #2056
I would love to get to the bottom of the Doctype handling stuff and fix it once and for all; It seems from what I have read, that it hasn't been properly implemented since at least 2009, which is a bit bad really :-/

I want to fix the issues in eXist-db and it's API's and then App developers can fix anything they need themselves.

As I understand it, if you store a document into eXist-db, the Doc

[2018-07-23 07:10] metacontext commented on #2056
@adamretter @joewiz Thanks a lot for the helpful information and your efforts! A fix would be great since this issue comes up quite regularly as I also know from talks with my colleagues. As @dariok has said in the other thread from a users perspective it is surprising that eXist would change the contents of binary files during ingestion (making it necessary to (re)serialize the file). If you need

[2018-07-23 09:02] adamretter commented on #2051
So my findings so far are:

1. the EQName Test query (`preceding-sibling::a`) takes a very different path to both, the Wildcard name test query (`preceding-sibling::*`), and the `AnyKindTest` query (`preceding-sibling::node()`). This disjunction happens at line 888 of https://github.com/eXist-db/exist/blob/develop/src/org/exist/xquery/LocationStep.java#L888
   1. The Wildcard and AnyKindTest queri

[2018-07-23 09:08] adamretter commented on #2051
I would add that I see the same problems and possible improvements with the `following-sibling` as well, as it is implemented in the same way as `preceding-sibling`

[2018-07-23 12:17] merenyics commented on #2051
Thank you very much for looking into the problem, very promising findings...
I'm developing an advanced search application for a huge dictionary project and I build a lot of complex XQueries dynamically. So far my other major problem with filtering expressions has been that `[1]` is sometimes (usually when combined with a range index lookup, but I'm not sure about the exact circumstances) much slo

[2018-07-23 12:22] merenyics commented on #2051
I would like to add that text() is also problematic in my case, probably because I do have text nodes around the elements I'm filtering for, unlike your test case which has no text nodes at all (?)

[2018-07-23 15:53] duncdrum commented on #2051
@merenyics about the `[position() = 1]` one thing, there was a problem with the old Saxon used in exist version 4, if you have access to exist 5.0.0RC could you try the same queries there and see if there is still a difference in performance.

[2018-07-23 16:02] merenyics commented on #2051
Sorry, right now I don't have existdb v5.0.0RC on  my computer. I will install it and test my queries when I have the time, and will get back to you.

[2018-07-23 18:22] adamretter commented on #2051
@duncdrum The Saxon update won't help @merenyics here. We only use Saxon for XSLT. eXist-db has its own XQuery engine.

[2018-07-24 06:01] adamretter opened #2060 "Undefined variable throws wrong dynamic error as static, should throw static error"
This XQuery in eXist-db throws an `XPDY0002` error:

[code]

The `XPDY` indicates a dynamic error, however if we try to catch it:

[code]

We still get an `XPDY0002` error, i.e. we can't catch it.

Two things are going wrong here in eXist-db:

1. The `XPDY0002` error is being thrown as a static error, and not a dynamic error. So we can't catch it.
2. I think we are using the wrong error here. The

[2018-07-24 07:46] dizzzz commented on #2060
Makes sense to me..... @wolfgangmm  ?

[2018-07-24 08:53] #2042 closed

[2018-07-25 00:05] craigberry commented on #2051
There was a gitlab discussion many months ago about this issue:

https://gitlab.existsolutions.com/tei-publisher/tei-publisher-app/issues/92

I don't know if that is public, but maybe Adam can see it there.  Wolfgang certainly can.  I have copied in below the most relevant bits.  The gist of it is that iterating over every node in the document for preceding and following (especially during recursi

[2018-07-26 01:57] craigberry commented on #2051
Apologies.  I assumed this ticket would be about common flaws in wildards in combination with any before and after axis, but reading more carefully, it seems to be specific to preceding-sibling and following-sibling.  Which surprises me, since those axes perform massively better than plain preceding and following.  Let me know if I should open a separate issue.

[2018-07-26 05:38] ttasovac opened #2063 "Passing the password to the Java Admin Client from the command line"
### What is the problem
It is impossible to set the password in the Java Admin Client GUI from the command line.

`/Applications/eXist-db.app/Contents/Resources/eXist-db/bin/client.sh -ouri=xmldb:exist://XXX.XXX.XX.XXX:8080/exist/xmlrpc -u admin -P xxxxxx`

will open the GUI, with the URL entered correctly, but the password field will remain empty

### What did you expect
To have the password fiel

[2018-07-26 06:03] adamretter commented on #2051
@craigberry I am not involved in tei-publisher and I don't have visibility of it, so I can't help you with things that are specific to that. However, it does look like you have identified an issue with eXist-db, which is something I might be able to help with :-)

I would agree that your question is not about the same issue that is detailed here. Could you please open a new issue and move your com

[2018-07-27 05:44] ttasovac opened #2064 "Restoring from backup fails in 5.0.0"
### What is the problem
Restoring from backup fails in 5.0.0 with the message

[code]
### Describe how to reproduce or add a test
1.  Create a new collection ("test")
2. Back up the collection "test"
3. Restore from the previously made backup
4. The restore will fail.

### Context information
Please always add the following information
- eXist-db version: 5.0.0RC1 and 5.0.0RC2
- Java version: 1.8.

[2018-07-27 12:52] adamretter commented on #2064
Thanks for reporting @ttasovac. I have sent a PR with a fix for this, in the mean time you might be able to workaround by using the restore function of the Dashboard?

[2018-07-27 16:55] dariok opened #2074 "Templating and transform:transform: empty output on error"
## What is the problem
- The templating system is used to provide the basic HTML for displaying the result of an XSL transformation:
[code]
- the function to apply the transformation is basically this:
[code]
- this works fine if there are no errors in the XSLT. However, if there is an error, e.g. calling `doc()` on a file that does not exist, the output is an empty file:
[code]
## What did you ex

[2018-07-27 20:40] dizzzz commented on #2074
How is $xslt constructed ?

[2018-07-27 21:56] joewiz commented on #2074
I have installed your .zip file in 4.3.1 and see what I would expect when I call <http://localhost:8080/exist/apps/catch/view.html>` and view source - the following HTML and not an "empty file," as you described it:

[code]

What did you expect?

[2018-07-28 05:10] #2064 closed

[2018-07-28 15:40] dariok commented on #2074
@joewiz: Indeed, app.xql in the zip contains "stream-transform()" from my testing (line 19). Change that to just "transform()" and you should observe the described behaviour.

@dizzzz: from an XSLT file stored in the DB via doc(). See app.xql in my zip.

[2018-07-28 16:35] dizzzz commented on #2074
@dariok the reason I ask.... I typically read mail on a phone/tablet, opening attachments is somewhat cumbersome :-)

[2018-07-29 16:24] kev1807 opened #2078 "Cannot access exist-db via localhost:8080 or any other way!"
Hi there,

After uninstalling and reinstalling I cannot boot access exist-db via localhost:8080 or any other way.
(I guess I played around a little too much for it to remain with the first installation ...)

exist-db: 4.3.0 ;

And I still cannot get it to run as a service - has anyone an easy answer? :-D

best wishes
and thanks in advance!

[2018-07-29 16:33] adamretter commented on #2078
We are going to need a bunch more information to help you.

Which OS?
Which version of Java?
How did you install eXist-db?
What's present in exist.log?

[2018-07-29 16:44] kev1807 commented on #2078
Log with the last few minutes:
https://pastebin.com/WsbZPAA4
![grafik](https://user-images.githubusercontent.com/15955790/43368556-53e2da30-935f-11e8-91fa-ac48cfa42e29.png)

Windows 10, 64 bit,
via the executable jar-file I downloaded a few days back ...

[2018-07-30 02:01] ahenket opened #2079 "Packagemanager can't read repo"
eXist-db 2.2.0, 4.3.1 - Dashboard 1.1.0 - any platform

When I try to get to packages from our own repository (http://decor.nictiz.nl/apps/public-repo-dev) I get a 404 in the package manager. Looking a little deeper the problem is that when it tries to load the apps.xml list, it interprets that list to be text/xml instead of application/xml.

This happens in function packages:public-repo-contents

[2018-07-30 02:32] joewiz commented on #2079
Pardon if I missed it, but what version of the public-repo app are you running?

[2018-07-30 03:07] ahenket commented on #2079
I didn't mention that part: updated the issue. We based it off 0.5.4

[2018-07-30 08:11] dizzzz commented on #2078
for sure the 32bit JDK will cause problems....

[2018-07-30 08:12] dizzzz commented on #2078
Please verify if you have a firewall running, a proxy defined, etc;
according to the log -if it is the correct one- eXist-db is just running fine.

[2018-07-30 08:21] claudius108 commented on #2005
eXist 4.3.1 still needs the workaround mentioned by Adam above.

[2018-07-30 10:52] pherk commented on #2078
http://192.168.0.17:8080/exist is configured.
localhost = 127.0.1.1?

[2018-07-30 12:52] dizzzz commented on #2078
170.0.0.1 ; eXist-db reports the public IP numbers but indeed, they should work provided there is no firewall...

[2018-07-30 14:29] agucabral21 commented on #2052
@adamretter sorry for the delay, i installed it using the jar instaler and by console
the information was in the exist.log file indeed
urlrewrite.log has the same log errors exist.log has

[2018-07-30 15:39] joewiz commented on #2074
@dariok Thanks for the pointer. I've confirmed your results, and I've tried to reduce the files you've provided into a single, self-contained query that demonstrates the problem. Basically, I took modules/view.xql and brought all of the other aspects of the test into the file. Unfortunately, the query pegs my processor and runs out of memory for me with eXist 4.3.1. My hunch is that the core issue

[2018-07-30 16:01] adamretter commented on #2079
So cURL shows the following response:

[code]

It seems that the public-repo on your server is returning the data as `text/plain`. This is almost certainly why the EXPath HTTP Client isn't giving you the results that you expect.

You said above:

However, I am assuming from the cURL output, that you meant `text/plain` and not `text/xml`.

[2018-07-30 16:09] adamretter commented on #2079
Looks like I discovered something similar before: https://github.com/eXist-db/public-xar-repo/issues/17

@ahenket what happens if you access the eXist-db server URL direct;ly for "http://decor.nictiz.nl/apps/public-repo-dev/public/apps.xml?version=4.3.1&source=" i.e. from the server itself, likely something like http://localhost:8080/exist/apps/public-repo-dev/public/apps.xml?version=4.3.1&source=

[2018-07-30 16:48] adamretter commented on #2005
@claudius108 So the fix https://github.com/eXist-db/exist/commit/ed7b83b787f557ab62907629026acb3d905947a7 by @wolfgangmm was not enough?

[2018-07-30 16:59] kev1807 commented on #2078
Hi there, sorry for the long offline-time, I had to work.... sadly, this is not part of my job, so I had to postpone answers for now.
As I had a clean slate, I reinstalled exist-db, again, I got rid of the JDK (32-bit) and cleaned my PC properly. Now besides being unable to use "run as service" for exist-db it works fine ...
I think this rather is a java-issue there with permissions to perform som

[2018-07-30 17:13] ahenket commented on #2079
I checked using postman and found the return type to be application/xml. I checked the server and list.xql has method xml and explicitly sets Content-Type application/xml

I’m not sure what more I can do server side

[2018-07-30 17:31] adamretter commented on #2052
Okay I can reproduce the problem.

The issue is that the betterForm resources servlet is not included in `webapp/WEB-INF/web.xml`.

Instead of `build.sh extension-modules` can you please try `build.sh extension-betterform extension-modules`?

[2018-07-30 17:40] wsalesky opened #2081 "Incorrectly serialized brackets in HTML/JavaScript"
### What is the problem
Saving HTML files to the database (tested with webdav, eXide and notices on deploying a .xar)  eXist serializes brackets, even those inside CDATA sections. So `>` becomes` &gt;`

### What did you expect
This does not happen in the 3.x.x branch, the brackets inside CDATA sections are preserved. This is important for the JavaScript sections embedded in HTML.

### Describe how

[2018-07-30 17:47] dizzzz commented on #2005
See #2043

[2018-07-30 18:07] duncdrum commented on #2081
Confirmed on 5.0.0 RC2 3eb07483b

[2018-07-30 18:53] adamretter commented on #2079
@ahenket Okay but something must be confusing us here. As you seem to have different results to me, what do you get when you run:

[code]

Also what do you get when you run that on the server itself as:

[code]

[2018-07-30 18:58] adamretter commented on #2078
@kev1807 Okay cool. So I think we can close this issue then. Feel free to reopen it if the original problem persists.

[2018-07-30 18:58] #2078 closed

[2018-07-31 04:29] ahenket commented on #2079
Ok so chewing some more on that last part I've updated the controller.xql to say:

[code]

That does the trick and I don't need a client patch anymore. That is very good news, but leaves on the table why the controller.xql would override the Content-Type set by list.xql.

[2018-07-31 13:23] marcelotrevisani opened #2089 "Trying to build package for conda"
Hello, I'm trying to create a package for existdb in conda-forge. However, I'm facing some erros, please see
https://circleci.com/gh/conda-forge/staged-recipes/29270?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

The recipe could be found here:
https://github.com/conda-forge/staged-recipes/pull/6377/files

[2018-07-31 14:51] joewiz commented on #2081
I'm able to reproduce this result with 4.3.1 with curl - ruling out eXide as the source of the behavior, presumably, which also simply submits a PUT request to the database.

[code]

For this PUT request to work with curl, of course, you have to first create the /db/temp collection and chmod it to o+w:

[code]

When opening the resulting file via WebDAV or eXide, the CDATA section is removed - as

[2018-07-31 19:04] paulmer commented on #1691
4.3.1 and 5.0.0RC2 both exhibit this behavior.  I highly recommend to anyone pursuing this issue to download the very simple test files I supplied.  It's trivial to reproduce and you'll have much faster turn around.

[2018-07-31 21:25] ahenket commented on #2079
Not quite sure, but I think I've done what you asked and added the last tidbit to that issue under public-xar-repo app

[2018-08-01 06:35] #2043 closed

[2018-08-01 06:35] #2005 closed

[2018-08-01 07:07] dizzzz commented on #2089
is it about... building a docker image?
please be more specific as you cannot expect any one to know what  "conda-forge" is.

[2018-08-01 07:09] dizzzz commented on #1691
so it is about re-indexing, but there is no `collection.xconf` configured for the collection?

[2018-08-01 08:02] duncdrum commented on #2089
@marcelotrevisani I have 0 experience with Conda so it would help if you could describe your use case.

the first thing that comes to my mind is here
[code]
You are missing the $EXIST_HOME env variable, so exist fails to start since it doesn't know where the start jar is supposed to be. You could add one via `answers.txt` i think

You might need to also  check if JAVA_HOME is actually pointing to

[2018-08-01 10:14] adamretter commented on #2089
I don't know anything about conda, but I am wondering if you really want to use the Jar installer? It might be easier just to use the `tar.gz` distribution we provide, then you only have to unzip it rather than run the installer.

[2018-08-01 10:16] adamretter commented on #2079
@ahenket thanks. Would you be able to open a Pull Request against the public-xar-repo to fix the problem and close that issue?

[2018-08-01 12:07] merenyics opened #2092 "arrow operator in combination with range index"
### What is the problem

The following expressions (which should be interpreted and evaluated identically as far as I know),

[code]
and
[code]
... may, in fact, return different values.

After some investigation I concluded that the difference is due to the fact that element 'a' has a case-insensitive range index defined on it, and the first expression containing the arrow operator fails to use t

[2018-08-01 12:46] merenyics commented on #2092
This may help you reproduce the bug a little easier:

### my XML
[code]

### index config

[code]
### xquery
[code]
and the offending result:

[code]

[2018-08-01 15:24] windauer commented on #2050
I exerienced the same issue and can confirm this!

[2018-08-01 17:50] paulmer commented on #1691
For the test case I've given, that's correct, no special collection.xconf.  I just installed eXist-5.0.0RC2, ran the Java Admin Client, loaded the test at /db/test using "Store files/directories", then opened and submitted the test.xql script to get the results.

I've tested it under other scenarios with the same results, such as placing the test collection under existing collections, some with xc

[2018-08-01 17:56] joewiz commented on #2081
Upon further study, I don't believe any additional escaping should be needed when submitting CDATA blocks inside HTTP PUT requests.

Thus, I think we have two problems here:

1. When uploading an XML file to eXist via an HTTP PUT request to the `/rest` endpoint, CDATA delimiters are stripped.
2. When uploading an XML file to eXist via an HTTP PUT request to all endpoints (`/rest`, `/webdav`, or `/

[2018-08-02 09:10] marcelotrevisani commented on #2089
Just one thing, I was able to create the package in ``conda-forge``. However if I try to execute the server using
[code]

it will give me an error:
[code]

How do I fix it?

[2018-08-02 09:26] marcelotrevisani commented on #2089
I also tried
[code]

and I had the same error

[2018-08-02 09:27] adamretter commented on #2089
@marcelotrevisani You don't need the trailing '/'.

`export` is the way to set it.

If you want to set it via the Java command, I think the order is important, it should be:

[code]

[2018-08-02 09:36] marcelotrevisani commented on #2089
It would be better to set that through environment variable. However, I tried

[code]
and I saw the same error. Using the java variable as you explained it worked.

[2018-08-02 09:40] adamretter commented on #2089
Well I can't comment on your environment but in a standard linux Shell setting that `EXIST_HOME` environment works very well on many platforms.

[2018-08-02 09:40] #2089 closed

[2018-08-02 09:43] marcelotrevisani commented on #2089
It's a normal env, as you can see the variable is being recognized properly
[code]

However, for some reason the existdb is not being able to recognize that

[2018-08-02 09:44] duncdrum commented on #2089
P.S.: You should see indications about the paths actually used by exist in the exist.logs

[2018-08-02 11:49] adamretter opened #2096 "XSLT cannot return a document node to eXist-db XQuery"
Returning an `<xsl:document>` from transform:transform actually causes eXist-db to return an XDM `element()`, it should instead return an XDM `document-node()`.

[2018-08-02 11:51] marcelotrevisani commented on #2089
One more thing, How do I install using the ``-console -options`` and set the admin password inside of the file which I will pass to the existdb?
Which variable do I have to set?

[2018-08-02 12:27] duncdrum commented on #2096
document-node handling is repeatedly creating problems it seems.
see #1964, #1932, #1562, #1464, …

[2018-08-02 12:34] adamretter commented on #1691
@paulmer okay I have created tests for your issue - https://github.com/adamretter/exist/commit/a1c7dfb8aed10992e59e8e26851f1f5e32198db9

I am still digging into the cause of it...

[2018-08-02 12:36] adamretter commented on #2096
Yeah, it seems out in-memory DOM is basically broken and has been for a long time. I think it was based on Saxon's TinyTree, my plan is to bring over the latest version from Saxon as soon as I can.

[2018-08-02 12:47] duncdrum commented on #2063
@eXist-db/core someone more familiar with how the java admin client is supposed to work, please take a look.

[2018-08-02 12:49] duncdrum commented on #1781
I m not sure that there is a bug here, maybe move this onto the mailing list.

[2018-08-02 12:50] brihaye commented on #2096
If I remember well, one of the developers, years ago, commited some code that removed all document-node handling...

[2018-08-02 12:51] duncdrum commented on #1841
@dizzzz bug no bug? reproducible?

[2018-08-02 12:57] duncdrum commented on #2007
so merging into RC branch won't autoclose this @adam close or wait for it to make its way into master?

[2018-08-02 12:59] adamretter commented on #2007
It's fixed in 4.3.x

[2018-08-02 12:59] #2007 closed

[2018-08-02 13:07] dizzzz commented on #1841
Good question. No idea for now...

[2018-08-02 13:11] dizzzz commented on #2063
I am not aware that this should be possible, as there is a login box.
But to go back... what is the usecase to have this password filled in? what is the purpose?
Filling a password might impose some risks....

[2018-08-02 14:26] paulmer opened #2097 "Sequences reordered on evaluation of XPath."
Please fill in the following sections:

Please note I posted this problem in July on the exist-open mailing list, and @adamretter has taken note of the issue.

### What is the problem

A sequence that is constructed from the contents of multiple documents is ordered differently depending on the XPath expressions evaluated against the sequence.  (The files necessary to reproduce this issue are atta

[2018-08-02 15:01] paulmer commented on #2097
Here is the full output (slightly reformatted for readability) from the test script I provided:

    <result>

        <file path="1.xml"/>
        <file path="2.xml"/>

        <all-content>
            <values>
                <item key="a" value="1-A"/>
            </values>
            <values>
                <item key="a" value="2-A"/>
                <item key="b" value="2-B"/>

[2018-08-02 22:17] duncdrum commented on #59
ok 2013… *yay* for docs

[2018-08-03 02:37] joewiz commented on #59
Given the time that has passed since then and our discussions of improving spec conformance, I think we should consider taking advantage of an upcoming major version to fix this.

[2018-08-03 04:39] ttasovac commented on #2063
I like to start the Java Admin Client from a script. It would be easier if the password could be filled out the same way the URL can be filled out from the script. So this is just a matter of convenience. And consistency: passing a password to the interactive shell mode from a script works.

[2018-08-03 08:48] algrw opened #2098 "execution time have increased a lot between eXist-db 2.2 and 4.3.1"
We use eXist-db from our Hava application with the XMLDB APIs and we have a lot of XQueries using the XSLT transformation and the XSLT `fn:doc` function

I am trying to migrate from eXist-db 2.2 to 4.3.1 and I have a huge difference of execution time between these 2 versions.

### What is the problem
I am running a query using an XSLT resource to transform an XML document. The XSLT document uses t

[2018-08-03 09:11] dizzzz commented on #2098
probably related to https://github.com/eXist-db/exist/issues/2051

[2018-08-03 12:55] dizzzz commented on #2098
Ok thnx for confirming. Since v2.2 a lot of IO things have changed 'under the hood', and we use Saxon these days for XSLT etc etc.

[2018-08-03 15:33] ahenket opened #2099 "NPE for nesting for with group and order"
eXist-db 4.3.1 macOS Mojave.

I'm trying to get to the core of the problem but so far I cannot get closer than this query fragment:

[code]

This code yields a NullPointException from the exist.log no stack trace:

[code]

When I remove the line "order by $prefix, $tid" the xquery finishes normally. When I remove the line "let $cachedProject  := $colDecorCache//cacheme[@bbrident = $repoident][@bbr

[2018-08-04 07:44] duncdrum commented on #845
This should have been closed in 2016, if the fix doesn't work please open a new issue

[2018-08-04 07:44] #845 closed

[2018-08-04 07:53] duncdrum commented on #2099
hmm feels like a blast from the past #845, however i can run the code of the old issue without problems.

@ahenket to reproduce this we would need a minimal sample data, and the xconf, any chance you could expand your report?

[2018-08-04 07:55] duncdrum commented on #2098
@algrw just a long shot, but are you using old range indexes in`2.2` what about `4.3.1` have you converted them to new-range, still the old?

[2018-08-04 08:03] dizzzz commented on #2099
I remembered the original issue, and the fix. A new NPE would be bad :(

[2018-08-04 08:07] dizzzz commented on #2098
Checking the zip file.... please could you follow the documentation and rename the file to have it end with “.xconf” iso “.conf”  and retry?

I’d recommend to follow the name ing conventions even more, eg have query files end with “xq”....

[2018-08-06 07:34] algrw commented on #2098
Sorry, the file wasn't named correctly within the zip file. The collection config file end with .xconf and the index can be seen with monex/indexes

![image](https://user-images.githubusercontent.com/29659124/43703021-d74e11b2-995b-11e8-946c-ff4a0133d580.png)

[2018-08-06 10:38] dizzzz commented on #2098
if data is not carefully provided, we really cannot provide support :-( and it costs too much time :-(
please be aware of that.

[2018-08-06 10:42] dizzzz commented on #2098
did you check with the profiler what is happening?

![image](https://user-images.githubusercontent.com/1700062/43712334-1821b3f0-9976-11e8-954f-91bcf2c1eb80.png)

please provide a complete bundle of correct information (=zip file), a description is just not sufficient.

[2018-08-06 16:07] algrw commented on #2098
@dizzzz Thanks for your reply . And I understand very well that the information should be correctly provided. Sorry about that.

Attached is the XAR file. As it is the first one I do (we use xmldb to access the eXist-db database from our java application), please tell me if something is wrong and I will provide you zip files instead.

After installing it, it should create the agdResult application

[2018-08-07 07:00] algrw commented on #2098
Just a little more information. When I run the query ..../exist/apps/agdResult/xqueries/bilano_noXsl.xq, I don't have the warning (Node 0 not found) in the exist log.

[2018-08-08 05:58] ttasovac opened #2101 "Building 5.0.0 fails if module.sql is set to false"
### What is the problem
Building eXist from source will fail if local.build.properties exclude the sql module.

### What did you expect
To be able to build without the sql module.

### Describe how to reproduce or add a test

1. clone eXist
[code]
2. create /usr/local/exist/extensions/local.build.properties with  `include.module.sql = false`
3. `./build.sh clean && ./build.sh`

The build will fail

[2018-08-08 13:13] ahenket commented on #2099
[repro-github-2099.zip](https://github.com/eXist-db/exist/files/2270344/repro-github-2099.zip)

I created a repro package. Setup is described in the repro.xquery, but for convenience I'll copy that here:

- Copy cache-collection.xconf as /db/system/config/db/apps/decor/cache/collection.xconf
- Copy data-collection.xconf as /db/system/config/db/apps/decor/data/collection.xonf

- Copy demo1-decor.xm

[2018-08-08 19:16] joewiz commented on #2050
/move shared-resources

[2018-08-08 19:16] #2050 closed

[2018-08-09 05:42] joewiz opened #2102 "NPE in LuceneMatchListener.scanMatches when expanding node containing both Lucene & NGram matches"
### What is the problem

In a search application I'm building, I encountered an NPE when using `util:expand` to expand hits in a query that includes hits on Lucene full text and ngram indexes.

### What did you expect

[The documentation](https://exist-db.org/exist/apps/doc/kwic) indicates that Lucene full text and ngram indexes both support match highlighting, so it should be possible to apply `u

[2018-08-09 07:07] dizzzz commented on #2102
According to [the code](https://github.com/eXist-db/exist/blob/e2276c54b046eddb8b81579f1714303fad92a66a/extensions/indexes/lucene/src/org/exist/indexing/lucene/LuceneMatchListener.java#L217)  an index configuration is missing at that point of execution.... (constructed by [this line](https://github.com/eXist-db/exist/blob/e2276c54b046eddb8b81579f1714303fad92a66a/extensions/indexes/lucene/src/org/e

[2018-08-12 07:00] adamretter commented on #2098
I compared how Saxon retrieves nodes in eXist-db 2.2 (Saxon-HE 9.4.0-7) and eXist-db 5.0.0-RC2 (Saxon-HE 9.8.0-12).

When looking up a following-sibling node the calls that Saxon makes on the eXist-db DOM implementation looks something like this:

eXist-db 2.2 (Saxon HE 9.4.0-7)
=========
1. Document.hasChildNodes() == true
2. Document.hasChildNodes() == true
3. Document.getChildNodes() == [<n/>]

[2018-08-12 07:01] adamretter commented on #1691
@paulmer Okay so this one took some time to solve, each time I fixed one problem it uncovered another. I am now able to reproduce the problem from XSLT as you describe here: https://github.com/adamretter/exist/commit/66a4d5728555cf7f96a6a9e0e832934891f64cac, and also directly in eXist-db without XSLT here: https://github.com/adamretter/exist/commit/f171771bddeac9f8f0032e9b8d141e13d3b83984

I can c

[2018-08-12 07:03] adamretter commented on #1892
I think I might have fixed this here: https://github.com/adamretter/exist/commit/00ec2d7e48e5cb517349bc7ca69e56144f70d6d5 there will be a Pull Request soon I hope.

[2018-08-12 07:04] adamretter commented on #1555
I think I might have fixed that here https://github.com/adamretter/exist/commit/0096c8c7f0272cfa3b18c0497e283be41a7783ee. There will be a PR soon I hope.

[2018-08-12 07:07] adamretter commented on #623
I think I have fixed this here: https://github.com/adamretter/exist/commit/15bed5a55950f5e830ef1e019c9752fabd4ad737 I hope to send a Pull Request soon.

[2018-08-12 07:38] adamretter commented on #1301
I can confirm this is a bug and I have been able to produce a fix.

[2018-08-13 01:33] joewiz commented on #1691
@adamretter Fascinating and [extensive](https://github.com/eXist-db/exist/compare/develop...adamretter:hotfix/transform-reindex) research with far-ranging consequences, such the preceding-sibling issues as you noted. Thank you for digging in!!

[2018-08-13 06:14] algrw commented on #2098
@adamretter Thanks a lot. I will wait for your PR and re-test it

[2018-08-13 07:11] #2063 closed

[2018-08-13 12:57] paulmer commented on #1691
@adamretter I agree, fascinating.  Thanks for spending the time looking into this!

[2018-08-13 13:26] adamretter commented on #1691
Okay my PR to fix this is here: https://github.com/eXist-db/exist/pull/2113

[2018-08-13 13:26] adamretter commented on #2098
@algrw Okay my PR which might help with this is here - https://github.com/eXist-db/exist/issues/1691 please can you test?

[2018-08-13 13:27] adamretter commented on #1892
@joewiz Okay my PR which might help with this is here - https://github.com/eXist-db/exist/issues/1691 please can you test?

[2018-08-13 13:27] adamretter commented on #1555
@joewiz Okay my PR which might help with this is here - https://github.com/eXist-db/exist/issues/1691 please can you test?

[2018-08-13 13:27] adamretter commented on #623
@joewiz Okay my PR which might help with this is here - https://github.com/eXist-db/exist/issues/1691 please can you test?

[2018-08-13 13:30] adamretter commented on #2051
@craigberry The changes in this PR may help, it is more intelligent about sibling scans and overall does less work to get the same results: https://github.com/eXist-db/exist/issues/1691 please can you test?

If not, can you open a new issue succinctly describing your performance problem and how to reproduce (outside of the TEI Publisher).

[2018-08-13 13:37] joewiz commented on #1892
@adamretter The error still appears to be present. Checking out #2113 and running the xqsuite test above, the result is:

[code]

[2018-08-13 13:40] joewiz commented on #1555
@adamretter The error still appears to be present. Checking out #2113 and running the test in the issue description, the final result is still `false()` - indicating that there is still a problem with eXist's processing of the `following-sibling` axis on nodes stored in the database.

[2018-08-13 13:57] joewiz commented on #623
@adamretter Building #2113 and running my original test shows that your PR fixes the problem in the original post. However, a test in one of @rvdb's comments is still failing. I'll adapt it to the following code to demonstrate the failure:

[code]

... returns a document-node. Change `self::attribute()` to any node test - e.g., `self::comment()`, `self::element()`, `self::processing-instruction` -

[2018-08-13 14:26] joewiz commented on #2098
@algrw While there are [decent command-line methods of checking out a PR](https://stackoverflow.com/questions/27567846/how-can-i-check-out-a-github-pull-request), my preferred way is to use the free GitHub Desktop client, pointing it to the directory where you've cloned eXist, and then navigating to the Branches list > Pull Requests:

Just click on the PR you'd like to check out, and GitHub does t

[2018-08-14 13:32] adamretter commented on #1892
I was able to reduce your test case further to this:

[code]
Interestingly, if I use `position()` in the predicate instead of just a numeric position then the test passes, e.g.

[code]

[2018-08-14 15:07] algrw commented on #2098
@joewiz Thanks, I was able to pull the PR on the develop branch

@adamretter There is no more warning "node 0 not found" in the exist log. But when I run my application this morning after pulling the PR, I got an error "GC overhead limit exceeded" (see logs attached).
I tried to reproduce the error but when I run the application, the wrapper re-started the database because of the ping timeout.
I m

[2018-08-14 15:32] duncdrum commented on #2098
@algrw you can try switching to a difference garbage collecting mechanism by passing JAVA_TOOL_OPTIONS to exist at start time: `-XX:+UseG1GC -XX:+UseStringDeduplication`. We're doing this for the [docker images](https://github.com/eXist-db/docker-existdb/blob/7ab7c4623337a7abf781ca9a48c75cf9575b08c5/Dockerfile#L95) and it made quite a difference in my experience.

[2018-08-14 15:33] adamretter commented on #1892
I am really struggling to find where the problem is here, I think it is somehow related to predicate evaluation, perhaps @wolfgangmm has some thoughts?

[2018-08-14 15:34] adamretter commented on #1892
I have these test cases now:

[code]

[2018-08-14 19:12] dizzzz commented on #2098
@duncdrum the GC option is switched on by default for java8uXX no?

[2018-08-14 21:06] duncdrum commented on #2098
@dizzzz i m not sure i think it also depends on the patch version, but its easy to see if G1GC is used or not.

[2018-08-15 08:15] adamretter commented on #2098
@algrw If the GC1G option suggested doesn't help. Then it seems like we have another issue in 5.0.0 perhaps. I will also send a PR for 4.3.1 shortly, so you could test that, which should rule out any differences in 5.0.0.

[2018-08-15 20:16] agucabral21 commented on #2052
Still have errors when trying the dashboard

[exist.log](https://github.com/eXist-db/exist/files/2291544/exist.log)
[urlrewrite.log](https://github.com/eXist-db/exist/files/2291545/urlrewrite.log)

[2018-08-16 05:28] adamretter commented on #2052
@agucabral21 looks like the same problem. Did you try my advice above? If that still doesn't work, can you try a fresh checkout/install and then my advice above?

[2018-08-16 05:52] adamretter commented on #623
@joewiz Definitely a separate issue, but I have fixed it anyway :-)

[2018-08-16 07:34] duncdrum commented on #623
@adamretter would this require a 4.4 release? Should this only be ported to 5.0.0? I would imagine that many apps rely on the bugged behaviour.

[2018-08-16 07:49] adamretter commented on #623
@duncdrum there will be a backport PR shortly for 4.x.x and 5.0.0.

[2018-08-16 08:00] adamretter commented on #2102
@joewiz Did you resolve this one?

[2018-08-16 08:02] adamretter commented on #2101
Yes, I am afraid this is a known issue as there is a Java test which depends on it. It is hard to fix in the Ant build. Should be sorted eventually by our move to Maven.

[2018-08-16 08:02] #2101 closed

[2018-08-16 08:40] algrw commented on #2098
@adamretter I added the GC1G option and I had the same issue (java heap space). Attached are the logs files.
[logs java heap space.zip](https://github.com/eXist-db/exist/files/2292993/logs.java.heap.space.zip)

[2018-08-16 08:47] adamretter commented on #2098
@algrw okay thanks. For the moment you might like to test against 4.3.1+ then. I have opened a PR for that version now too: https://github.com/eXist-db/exist/pull/2115

[2018-08-16 09:45] duncdrum commented on #2098
@algrw lots to dig into here,  just to get a better sense of the scale of the problem, what are your memory settings in 2.2m that were able to run this?

[2018-08-16 10:40] algrw commented on #2098
@duncdrum For the initial test, there was 2560M as max memory on the wrapper.conf file for the eXist-db 2.2. Both tests were running on the same server. And I run it on my computer with 1024M as mas memory

[2018-08-16 12:05] algrw commented on #2098
@adamretter I tested it against 4.x.x with your PR. No more warning "node 0 not found" in the exist log. The application was able to run without memory errors. The execution time is better (around 15s with the small XML) so better than in 4.3.1 but much longer than in 2.2 (around 0.3s).

[2018-08-16 13:11] joewiz commented on #1555
@adamretter I tested #2113 and can confirm the tests in this issue and the ones in PR #1555 now pass. Thank you so much!

[2018-08-16 14:22] dizzzz opened #2118 "JMX servlet does not contain eXist-db specific information"
### What is the problem
The url http://localhost:8080/exist/status does not return all required information for the Monex app. As a result the Monex app does not work as expected.

in logging:

[code]

with debugger

[code]

![image](https://user-images.githubusercontent.com/1700062/44214884-6e609580-a171-11e8-9b26-0614556c4fff.png)

### What did you expect
The XML file should contain the sections

[2018-08-16 15:14] duncdrum commented on #2118
yup same as 5.0.0 logs a couple:
[code]

Not sure about the storage manage, but MonitoringManager sounds relevant.

[2018-08-16 19:28] #1691 closed

[2018-08-16 19:28] #623 closed

[2018-08-16 19:28] #1301 closed

[2018-08-16 19:28] #1555 closed

[2018-08-17 08:41] zopyx opened #2122 "Docker build for 5.0.0RC3 does not work"
I tried to build the Docker image for the latest 5.0.0 RC release using

https://hub.docker.com/r/existdb/existdb/~/dockerfile/

and this fails:

Step 15/28 : COPY --from=builder /usr/lib/x86_64-linux-gnu/liblcms2.so.2.0.8 /usr/lib/x86_64-linux-gnu/liblcms2.so.2
 ---> 52ac0864623d
Step 16/28 : COPY --from=builder /usr/lib/x86_64-linux-gnu/libpng16.so.16.28.0 /usr/lib/x86_64-linux-gnu/libpng16.so.1

[2018-08-17 09:06] zopyx opened #2123 "5.0.0RC3 does not install from JAR file"
Starting process Setting admin password ... (1/1)
--- Starting embedded database instance ---
Caught an exception while initializing db: configuration error: Duplicate field name "ajc$initFailureCause" with signature "Ljava.lang.Throwable;" in class file org/exist/security/PermissionRequiredAspect
org.xmldb.api.base.XMLDBException: configuration error: Duplicate field name "ajc$initFailureCause" w

[2018-08-17 09:09] duncdrum commented on #2122
RC builds require manual building since we're automatically building full releases and bleeding edge (each commit in the main repo)
to build locally you need the git-ref of the RC release
`docker build --build-arg BRANCH=eXist-5.0.0-RC3 .`

we have published a RC3 image so simply:
`docker pull existdb/existdb:5.0.0-RC3` will do the trick.

[2018-08-17 09:10] duncdrum commented on #2122
/move docker-existdb

[2018-08-17 09:10] #2122 closed

[2018-08-17 09:30] duncdrum commented on #2123
Can you give us a more details on the steps to reproduce? OS version, Java version etc. RC3 building seems to work fine for me.

[2018-08-17 13:12] adamretter commented on #2123
@zopyx This line looks very suspicious: `org.apache.lucene.store.LockObtainFailedException: Lock obtain timed out: NativeFSLock@/tmp/xx/webapp/WEB-INF/data/lucene/write.lock`

Are you trying to install over an existing install that is running? Do you have stuff already in `/tmp/xx` ? What is the output from the `jps` command?

[2018-08-17 14:05] brihaye commented on #1301
I see in getPrecedingSiblings()  :

            // if the context node is an attribute or namespace node, the preceding-sibling axis is empty
            if (node.getNodeType() != Node.ATTRIBUTE_NODE) {

Where is the Namespace node test ?

Same issue for getFollowingSiblings()

[2018-08-17 14:17] adamretter commented on #1301
@brihaye AFAIK there is no separate Node type for a Namespace Node.

[2018-08-17 18:04] craigberry opened #2124 "implement Lucene range queries"
### What is the problem

Start with a Lucene index on a field named "date" created with ft:index.  Either of the following two query strings, when passed to ft:search, returns the correct results:

[code]

but when I turn that into an inclusive range, like so:

[code]

nothing is returned.  There is no syntax error -- it just silently fails. Specifying a range query using an XML query description

[2018-08-18 02:45] adamretter commented on #1424
I am going to close this as we were not able to find or reproduce the problem. Feel free to reopen it with more information relevant to a new release.

[2018-08-18 02:45] #1424 closed

[2018-08-18 02:47] adamretter commented on #1376
I am going to close this. The argument seems to be that we believe it is fixed in a newer version of eXist-db. Unfortunately we cannot support eXist-db 2.2 any longer.

[2018-08-18 02:47] #1376 closed

[2018-08-18 02:49] adamretter commented on #1648
@joewiz can you tell me if we can close this now please?

[2018-08-18 07:32] duncdrum commented on #2124
looking through the documentation in your OP I agree that
[code]

should work. Out of curiosity does the following work, i.e. switching from array to sequence?

[code]

[2018-08-18 14:07] joewiz commented on #1648
@adamretter Yes, I trust @wolfgangmm's assessment that #1763 fixed the issue.

[2018-08-18 14:07] #1648 closed

[2018-08-18 21:14] craigberry commented on #2124
OK, here is a reproducer.  The suggestion of using "date:(1601 to 1610)" doesn't really make sense because that just means give me matches on any of the three words "1601", "to", or "1610".  You get two results because 1601 and 1610 both match, but "to" doesn't and is not a keyword in this context.

[code]

[2018-08-18 21:38] craigberry commented on #2124
For the XML Lucene query syntax, as far as I know no standard governs it, but you might want to make the equivalent thing to my above example work for that too, and it might look something like the following, though there are different syntaxes possible and I have not thought too deeply about this:

[code]

[2018-08-21 01:46] craigberry commented on #2051
I compared the average of five trials of the following script in 4.3.1 and eXist-5.0.0-RC1-165-ge607599f4.  The script basically starts from a known node in the middle of a largish document (getting to that point is not timed) and then times gathering the 5 preceding and 5 following nodes relative to that starting node.  4.3.1 averaged 0.439 seconds for the timed portion of the script, and the new

[2018-08-21 02:13] craigberry opened #2129 "wildcard following and preceding axes are slow"
Some of this has previously been discussed in issue #2051 but here I focus specifically on the non-sibling axes.

I compared the average of five trials of the following script in 4.3.1 and eXist-5.0.0-RC1-165-ge607599f4. The script basically starts from a known node in the middle of a largish document (getting to that point is not timed) and then times gathering the 5 preceding and 5 following nod

[2018-08-22 06:28] adamretter commented on #2051
Do you have timings for 2.2 please?

[2018-08-22 06:29] adamretter commented on #2129
Do you have timings for eXist-db 2.2 please?

[2018-08-23 00:02] craigberry commented on #2051
With the script posted above but the "-sibling" versions of the axes used, the xquery version changed from "3.1" to "3.0" and xml:id changed to id to get it to work with 2.2, I get:

`Took 305.148 seconds to produce '24995 24996 24997 24998 24999 [25000] 25001 25002 25003 25004 25005'`

so that is quite a bit faster than 4.3.1 and somewhat faster than the 5.x development branch.

All tests on mid-

[2018-08-23 00:09] craigberry commented on #2129
Average of 5 trials with 2.2 (after changing xquery version to "3.0" and xml:id to id) is 0.560 seconds, so not quite as good v4.3.1 but twice as good as the 5.x development stream.

[2018-08-23 17:32] agucabral21 commented on #2052
adam, that is what i do, i reinstall existdb from start, then run build.sh extension-betterform extension-modules and i keep getting the same error, i will try this again tomorrow, sorry for the delay between responses, i will be faster to get you back from now on!

[2018-08-26 06:44] EfraimFeinstein commented on #1610
This bug is still valid for eXist 4.3.1 and 5.0.0 RC (see https://sourceforge.net/p/exist/mailman/message/36399501/ ).

A simplified xar that demonstrates the failure is at https://github.com/EfraimFeinstein/exist-issue-1610

[2018-08-27 18:31] adamretter commented on #1586
@mathias-goebel can I now close this one?

[2018-08-27 18:35] #1586 closed

[2018-08-27 18:35] mathias-goebel commented on #1586
yes, and thank you for pointing this out. i proceed building the from source and continue with the "dist" target in a following call.

[2018-09-02 15:47] #2118 closed

[2018-09-02 16:10] dizzzz opened #2136 "Two JSR305 jars?"
In our archive i see to JSR305 jar files:

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/1700062/44958072-16e55800-aedb-11e8-9a26-02e601ebba31.png">

Both are added by @adamretter  .... is this done on purpose?

cheers

Dannes

[2018-09-03 07:19] opax opened #2139 "NPEs in SQL module"
### What is the problem

When executing a prepared statement with the SQL module containing an empty parameter, an NPE is thrown. Worse yet, in the error handler, another NPE avoids generation of a meaningful error message.

An NPE stack trace in the log, no error and no output in eXide

### What did you expect

Unfortunately, this is not completely clear from the function documentation. To use an

[2018-09-03 07:45] adamretter commented on #2139
@opax Thanks for reporting, do you want to send a PR to fix?

[2018-09-03 09:49] opax commented on #2139
Just did.

[2018-09-03 09:59] opax commented on #2139
What the pull request does not address is the problem that it is not possible to discriminate between a NULL value and an empty string. I did not change the current behavior, which means that an empty
element `<sql:param type="varchar"/>` yields a NULL value when executing the statement.

For VARCHAR, an empty string would be a better default IMHO, but this is not feasible for other types like INT

[2018-09-04 06:49] ahenket opened #2150 "sm:passwd($user, $pass) inaccessible to non-dba users"
So... after 5 years of update troubles that kept us safely at version 2.2, we are now seriously considering 4.3.1 as our next big migration.

When I revisited https://github.com/eXist-db/exist/issues/35 I found the error changed. When you run sm:passwd as non-dba user on your own account you'll get:

`exerr:ERROR org.exist.security.PermissionDeniedException: Permission denied to open collection: /

[2018-09-04 08:07] duncdrum commented on #2150
FYI @JoernT since you recently worked on user-manager features.
Looks like a regression against #36

[2018-09-04 16:32] ahenket commented on #2099
Ok, so I've created a simpler reproduction based on a single file, stripped to the max. Rename to xquery and run it against your server. It's going create /db/apps/tmp with one small resource, and index that using a single combined index of 2 fields.

You may solve the NullPointer by:
- Removing the index
- Removing the order by clause all the way to the bottom
- Replace the function call with the

[2018-09-04 19:25] andray71 opened #2151 "backup/restore not working"
### What is the problem

executing command:

[code]

getting errors:

[code]

### What did you expect

restored content from the zip file (old backup)

works fine when i restore it using Java Admin UI

older versions (3.*) worked fine.

### Describe how to reproduce or add a test

running the eXist in alpine docker image

### Context information

- eXist-db version  - 4.3.1
- Java version - 1.8.0_

[2018-09-04 20:07] duncdrum commented on #2151
From the error message I would say this is a problem with how Java is configured inside alpine. You could try with the exist-db provided images. Or we need more info about your docker configuration, whats the base image, how do you install java, how do you install exist, etc.

[2018-09-04 23:14] opax commented on #2139
Okay. I have an implementation for `sql:null` in `sql:param` elements, but I need to update the documentation and polish a little before putting it into a pull request.

[2018-09-05 06:30] dizzzz commented on #2099
Thnx! A stacktrace helps....

[2018-09-05 08:26] ahenket commented on #2099
Just in case, from the xmlrpc.log (I ran it through Oxygen)

2018-09-05 10:24:47,586 [qtp1639290814-38] ERROR (XmlRpcErrorLogger.java [log]:36) - Failed to invoke method queryP in class org.exist.xmlrpc.RpcConnection: null
org.apache.xmlrpc.common.XmlRpcInvocationException: Failed to invoke method queryP in class org.exist.xmlrpc.RpcConnection: null
	at org.apache.xmlrpc.server.ReflectiveXmlRpcHan

[2018-09-05 17:11] agucabral21 commented on #2052
@adamretter still getting the same problem, this time i tried with exist version 4.3.1

Insalled Exist from start
Start exist to check if everything is ok
Shutdown exist
Moved webapp/WEB-INF/web.xml
Run `build.sh extension-betterform extension-modules`

And i keep getting the same problem, dashboard wont start and logs same errors.

[urlrewrite.log](https://github.com/eXist-db/exist/files/2353830/

[2018-09-11 16:28] ahenket commented on #2099
I'm encountering more places in our code where I need a rewrite to something without order or a revert to a different index. We This makes the issue blocking for migration to 4.3.1, and we would preferably need 4.3.2. Anything that can be said about this?

[2018-09-13 13:24] move[bot] opened #2155 "Bug in eXist's handling of / when using context item declaration"
*@martin-honnen commented on Sep 11, 2018, 9:11 PM UTC:*

When I run the code

[code]

at [http://demo.exist-db.org/exist/apps/eXide/index.html](http://demo.exist-db.org/exist/apps/eXide/index.html) with the "Eval" button I get a strange result, it returns lots of elements like

[code]

Result I want is

[code]

I tried to reproduce the problem with simpler input

[code]

but there I get the corre

[2018-09-13 13:53] joewiz opened #2156 "Bug in eXist's handling of / when a context item has been declared"
### What is the problem

Support for the [context item declaration](https://www.w3.org/TR/xquery-31/#id-context-item-declarations) was added in #1571. eXist's implementation correctly redefines the [context item expression](https://www.w3.org/TR/xpath-31/#id-context-item-expression) `.` to be the item from the declaration.

However, eXist's implementation does not carry this through to redefine th

[2018-09-13 13:53] joewiz commented on #2155
To make it easier to follow, I created a new issue: https://github.com/eXist-db/exist/issues/2156.

[2018-09-13 13:53] #2155 closed

[2018-09-15 10:28] omkarnix commented on #2151
If no one else is working on this issue, I would like to give a try to investigate.

[2018-09-15 12:56] joewiz commented on #2151
@omkarnix That would be great, thank you!

[2018-09-15 19:19] joewiz opened #2157 "Module import via remote URL is broken"
### What is the problem

eXist used to support loading modules over the web, but doing so with 4.3.1 raises an error:

[code]

The error raised is:

Under 4.0.0 (release), this query does not raise an error, but instead returns the expected result, `"hello"`.

### What did you expect

Loading modules via URI is discussed at https://exist-db.org/exist/apps/doc/xquery#module-system.

### Describe ho

[2018-09-15 23:29] joewiz commented on #2156
I have confirmed that BaseX and Saxon exhibit the expected behavior, while only eXist exhibits the bug.

[2018-09-16 01:35] joewiz commented on #2156
I rely on this behavior in my forthcoming XQuery for Digital Humanists book and would really appreciate it if we could get this working in the near term.

[2018-09-16 11:30] dizzzz commented on #2157
is it a bug or a design change?

[2018-09-16 13:43] joewiz commented on #2157
I sure hope it wasn’t a design change, as it was made without incrementing major versions, and without discussion or announcement.

I should also add that the sample code above works in Saxon and BaseX.

I also depend on this feature in my forthcoming XQuery book, and would appreciate it if anyone could help resolve this soon.

[2018-09-16 13:57] joewiz commented on #2157
Looking at the stack trace, I think the problem is in `getSource` in `SourceFactory.java`, specifically https://github.com/eXist-db/exist/blob/develop/src/org/exist/source/SourceFactory.java#L76-L139. Instead of getting to lines 123-134 (where "any other URL" should be handled), the code thinks the URL is an xmldb URI and so tries to handle the URI up above in lines 90-100. I think the change was

[2018-09-16 14:06] joewiz commented on #2157
Perhaps the solution is to reorder the logic for resolving resource URIs: first, see if there's an explicit scheme (http, file, xmldb), and only if there isn't one assume that the URI is an xmldb URI.

[2018-09-16 23:34] vincentml opened #2158 "XPath evaluation ending in function gives incorrect result"
### What is the problem

This is a possible bug which was found at the XML Summer School in the XQuery class taught by @adamretter

An XQuery that attempts to match a path and return either the result of a function or the empty sequence, using an idiom for "if present then something else empty sequence", appears to be returning incorrect results in eXist-db 4.3.1.

### What did you expect

Using t

[2018-09-17 13:05] joewiz commented on #2157
Related: #1031

[2018-09-17 13:53] eriksiegel commented on #2099
I've looked into this bug as well, and its getting weirder and weirder. It looks like a total memory/pointer fuck-up.

The situation can be summarized as follows:

- There is some data with a combined index on some attributes
- You access this data with a predicate on the indexed attributes inside a function that is called from a for-loop with an order-by clause (I have tried various order-by clau

[2018-09-17 13:58] eriksiegel commented on #2099
Here is some more minimal code that also gives this error:

[code]

The collection.xconf for /db/apps/decor-test/cache reads:

[code]

Commenting-out the order by clause *or* putting the code from the function into the main for loop makes the bug disappear. As we say in The Netherlands: Can anybody make chocolate from that?

[2018-09-17 14:32] dizzzz commented on #2158
alaso Saxon returns

[code]

[2018-09-17 14:39] dizzzz commented on #2157
it look slike `contextPath` has in [line 83](https://github.com/eXist-db/exist/blob/be7cb57cbc410a3e29a32de46518f7584bcffb7a/src/org/exist/source/SourceFactory.java#L82)somedifferent content than expected....

[2018-09-17 14:43] dizzzz commented on #2157
Personally, I would like to be able to switch-off these remote dependencies; I think it will slow down the database, and potentially harmful code is loaded...

[2018-09-17 16:14] joewiz commented on #2097
Updating this thread with some additional info posted to exist-open at https://exist-open.markmail.org/thread/4tc4eusdj6uol7qs.

@adamretter wrote:

@paulmer replied:

[2018-09-17 16:18] joewiz commented on #1884
It appears this report has been addressed. Please open a new issue if there are any other concerns.

[2018-09-17 16:18] #1884 closed

[2018-09-17 16:19] joewiz commented on #2157
@dizzzz Agreed that it has to do with something involving `contextPath`.

Also, this issue is possibly related to https://github.com/eXist-db/exist/issues/1853.

[2018-09-17 16:27] joewiz commented on #1842
I can reproduce the test, confirming this still affects eXist 4.3.1.

[2018-09-18 07:57] rvdb commented on #1853
@joewiz Indeed, it's gone in eXist 4.3.1, and performance in my real-life scenario is up to standards again, too. Thanks, eXist team, for fixing, and Joe for following up!

[2018-09-18 07:57] #1853 closed

[2018-09-18 20:51] sekrup commented on #1985
Just wanted to chime in;
I ran into the same issue on Windows and was able to fix this by escaping the path to wrapper.java.command in the EXIST_DIR/tools/yajsw/conf/wrapper.conf file.

For example, this would work:
[code]

[2018-09-19 08:01] eriksiegel opened #2159 "Weird "cannot convert xs:boolean('true') to a node set" message"
### What is the problem`
The following XQuery gives an error message that as far as I understand things doesn't make sense:
[code]
### What did you expect
An empty sequence as output

### Describe how to reproduce or add a test
Run the XQuery above

### Context information
Please always add the following information
- eXist 4.3.1 build 201807241821
- Java version 1.8.0_181
- Operating system W10
-

[2018-09-19 08:02] eriksiegel commented on #2159
The problem disappears if you write `empty(self::abc)` instead of `not(self::abc)` so that's an easy workaround.

However, still something seems wrong...

[2018-09-19 08:06] eriksiegel commented on #2159
Another hint: I thought it was the use of the `self::` axis, but this gives the same error: `$doc/*[not(*)]`

[2018-09-19 11:44] eriksiegel opened #2160 "REST interface does not accept accented characters"
### What is the problem
I have XML files in my database with accented characters in their filenames that I would like to access with REST. For instance `/db/TEST/bäk.xml`

I do not seem to be able to access this file using the REST interface. I tried (in the Chrome's address bar) `http://.../exist/rest/db/TEST/bäk.xml` and `http://.../exist/rest/db/TEST/b%C3%A4k.xml` but all yield the same result:

[2018-09-19 13:41] joewiz commented on #2159
Here's a simplified test case:

[code]

eXist returns:

Saxon and BaseX both return the empty sequence.

[2018-09-19 15:06] joewiz commented on #2160
I suspect that underlying this is the phenomenon I described in https://github.com/eXist-db/exist/issues/1824#issuecomment-381876383. I don't think I had ever quite encountered this aspect of it - where there's no way at all to address a resource over REST - though I am able to see it over WebDAV via http://localhost:8080/exist/webdav/db/b%C3%A4k.xml. That URL opens up just fine for me in Chrome.

[2018-09-19 19:34] dizzzz commented on #1985
interestingly the space in `Program Files` is not escaped...

[2018-09-21 05:29] #2157 closed

[2018-09-21 06:07] duncdrum commented on #1842
@wolfgangmm this seems to have been introduced by your fn:load changes. I'm frankly clueless what might be causing the regression.

[2018-09-21 09:34] dizzzz commented on #1842
@duncdrum do you which PR is involved?

[2018-09-21 09:36] duncdrum commented on #1842
@dizzzz its in the OP #1299

[2018-09-24 17:30] agucabral21 commented on #2052
@adamretter , i've found another problem but already solved it, im using external jars in my installation, and in this latest version the eXist-settings.sh file, doesnt have the `-Djava.endorsed.dirs=${JAVA_ENDORSED_DIRS}` property in the set_java_options() function

I was using exist 2.2 and trying to migrate to  4.3.1 and these are the differences

On exist 2.2
`set_java_options() {
    if [ -z

[2018-09-24 18:14] dizzzz commented on #2052
JAVA_ENDORSED_DIRS is not supported anymore starting java8 or so.

[2018-09-25 04:45] adamretter commented on #2052
@agucabral21 Glad you resolved your build issue.

As @dizzzz mentioned Java 9 onwards does not have an "endorsed" mechanism. You can place custom jars into `$EXIST_HOME/lib/user`.

Can we close this issue now?

[2018-09-25 13:28] agucabral21 commented on #2052
Ok! im using java 8 now but ill keep that in mind...
yeap close it!
Thank you!

[2018-09-25 13:45] #2052 closed

[2018-09-25 22:57] rvdb opened #2170 "util:expand() duplicates content fragments of matching elements"
### What is the problem
In eXist-4.4.0 and eXist-5.0.0-RC4, when elements containing descendants that match a Lucene full-text search with `ft:query()` are expanded with `util:expand()`, this creates duplications of parts of the content of elements with full-text hits.

### What did you expect
I would expect an identical copy of the nodes in the input documents to be returned, with `<exist:match>`

[2018-09-26 11:43] eriksiegel commented on #1711
@joewiz Sorry to bother you with this but I do would like to draw attention to this bug.

I just installed eXist on a UNIX server and also there the given data directory during the installation procedure did NOT register. conf.xml still holds `webapp/WEB-INF/data` for the data directory location.

This is not only annoying but also causus a lot of confusion (until you find out *why* your database

[2018-09-26 13:48] joewiz commented on #1711
@eriksiegel Okay, so you're seeing the same problem on Windows and now Linux. Since Linux is the newest environment where you experiences this, could you describe your installation procedure, and provide the usual bits of info - eXist, Java, OS versions.

[2018-09-26 14:08] joewiz commented on #1711
How about without `sudo`? It's a stretch, I know, but if we follow the letter of the docs on headless installation, they do not say `sudo`: https://exist-db.org/exist/apps/doc/advanced-installation.xml#headless.

[2018-09-26 14:16] eriksiegel commented on #1711
Sorry, but that sounds too far fetched. sudo gives you all rights on anything, so why would that fail or be a cause for something like this. Its probably just a typo in the installation script or something like that.

[2018-09-26 17:13] bkcsfi commented on #1720
hello,

just reporting that this issue still exists in 4.4.0 (official docker image)

I upgraded from 4.1.0 following instructions (install, run, shutdown, copy data directory) then re-indexed collections..

but we continue to have this issue.

[2018-09-27 16:28] joewiz opened #2171 "Unable to start eXist-db.app with Java 11"
### What is the problem

Starting eXist-db.app with Java 11 on macOS yields the following error:

This problem is analogous to https://github.com/eXist-db/exist/issues/1792 and is caused by a version string parsing bug in the "appbundler" tool used to create eXist-db.app, https://bitbucket.org/infinitekind/appbundler.

References:
- Commit in default branch addressing version checking (2017-08-01)

[2018-09-27 18:13] joewiz commented on #1160
This issue was referenced in https://stackoverflow.com/questions/46197136/xquery-fuzzy-search-in-exist-db/46198421.

[2018-09-27 18:35] joewiz opened #2172 "Update to Saxon 9.9"
Upgrade from Saxon-HE-9.8.0-12 to Saxon-HE-9.9.0-1.

See release notes http://www.saxonica.com/documentation/index.html#!changes/all/9.8-9.9.

[2018-09-27 18:39] joewiz opened #2173 "Update contentextraction extension to Tika 1.20"
Since adopting Tika 1.16 last September in https://github.com/eXist-db/exist/pull/1391, several updates to Tika have been released, with significant new features and bug fixes. Release notes are at:

- 1.17: http://tika.apache.org/1.17/index.html
- 1.18: http://tika.apache.org/1.18/index.html
- 1.19: http://tika.apache.org/1.19/index.html
- 1.19.1: https://tika.apache.org/1.19.1/index.html
- 1.20:

[2018-09-27 18:45] joewiz opened #2174 "Update xslfo extension to FOP 2.3"
Only two major changes listed in the release notes for FOP 2.3, so I'll reproduce them here:

- Support for unicode Surrogate pairs
- OTF fonts not working on Mac Preview

See https://xmlgraphics.apache.org/fop/2.3/releaseNotes_2.3.html.

[2018-09-29 01:05] #2156 closed

[2018-09-29 02:00] joewiz commented on #2157
@adamretter I just stumbled onto a similar odd issue in which (1) a query that imports (2) a module on the filesystem that imports (3) a module from a remote URL fails.  If this bothers you and strikes you as something that should be fixed, I could adapt this into a new issue, or am happy to let this one lie as an unlikely scenario...

(1) query run in eXide:

[code]

(2) module on filesystem that

[2018-09-29 02:01] joewiz commented on #2157
The relevant portion of exist.log:

[code]

[2018-09-29 10:37] ProDigySML opened #2180 "XXE in RESTServer.java"
# The Issue

An XML External Entity attack is a type of attack against an application that parses XML input. This attack occurs when XML input containing a reference to an external entity is processed by a weakly configured XML parser. This attack may lead to the disclosure of confidential data, denial of service, server side request forgery, port scanning from the perspective of the machine where

[2018-09-29 18:38] dizzzz commented on #2180
I am pretty sure things have already been fixed with https://github.com/eXist-db/exist/pull/2145

[2018-09-30 02:45] ProDigySML commented on #2180
@dizzzz Unfortunately the parser here is different to what has been patched previously (as far as I know).
![image](https://user-images.githubusercontent.com/16996819/46252630-a6683180-c4ae-11e8-8878-51f11b126386.png)

[2018-09-30 11:40] dizzzz commented on #2180
Right you are! we should get the XMLparser here from the pool too... @adamretter @wolfgangmm

[2018-09-30 11:42] dizzzz commented on #2180
please could you file this issue at security@exist-db.org ?

[2018-10-01 17:31] joewiz opened #2181 "parse-xml-fragment is not returning document-node"
### What is the problem

The `fn:parse-xml-fragment()` function (added by @claudius108 in https://github.com/eXist-db/exist/pull/158) is returning items of the wrong type and arity.

### What did you expect

According to https://www.w3.org/TR/xpath-functions-31/#func-parse-xml-fragment, the function's signature is:

[code]

### Describe how to reproduce or add a test

The following query should re

[2018-10-01 17:37] duncdrum commented on #802
Closing, because ancient. If you still have questions please open another issue.

[2018-10-01 17:37] #802 closed

[2018-10-01 17:41] duncdrum commented on #2181
see #1964, #1932, #1562, #1463, there is a lot of fubar in exist's handling of document-node

[2018-10-01 18:11] duncdrum commented on #442
A lot of things have changed since 2.2 if this is still an issue, please open a new issue. Thx.

[2018-10-01 18:11] #442 closed

[2018-10-01 18:16] duncdrum commented on #793
lock mechanism have undergone a fairly comprehensive overhaul. Please open a new issue, if there are new problems in that area. It would help the discussion if you could outline your use cases and how the current approach is not serving them. Thx

[2018-10-01 18:16] #793 closed

[2018-10-01 18:18] duncdrum commented on #968
Since this has moved to the mailing list  i m going to close. If you would like to request a new feature, please open a new issue.

[2018-10-01 18:18] #968 closed

[2018-10-01 23:22] ahenket opened #2182 "Fragment selection skips namespace declaration for xsi:type value"
When you select a piece of XML , all relevant namespace declarations are copied into the fragment, except when the @xsi:type value has one. The net result is now an invalid fragment.

Tested with eXist-db 2.2 and 4.4.0 on macOS Mojave, you may run the following code to reproduce:

[code]

Actual result:

```<effectiveTime xmlns="urn:hl7-org:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

[2018-10-01 23:30] ahenket opened #2183 "Adding namespace nodes leads to illegal XML"
eXist-db 4.4.0

When you run the following code you get illegal XML

[code]

Actual output:
```<effectiveTime xmlns="urn:hl7-org:v3" xmlns:hl7nl="urn:hl7-nl:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="" xsi:type="hl7nl:PIVL_TS"/>```

Expected output:
```<effectiveTime xmlns="urn:hl7-org:v3" xmlns:hl7nl="urn:hl7-nl:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:t

[2018-10-02 02:34] adamretter commented on #793
@duncdrum Probably better to reopen the same issue rather than a new issue (if it is still relevant)

[2018-10-02 05:02] joewiz commented on #2182
I'm genuinely unsure where in the spec the feature that would yield the expected outcome is stated or implied. Is it the static typing feature, https://www.w3.org/TR/xquery-31/#id-static-typing-feature?

For comparison:

- BaseX returns the same actual result as eXist.
- Saxon returns the expected result.

[2018-10-02 05:02] joewiz commented on #2183
I think this may be a variant or duplicate of https://github.com/eXist-db/exist/issues/1237.

[2018-10-02 07:09] duncdrum commented on #2183
@joewiz i agree, exist should not output illegal xml here.

[2018-10-02 07:18] duncdrum commented on #2182
I m very much leaning to Saxon being right, and both eXist and BaseX being wrong. @adamretter thoughts?

[2018-10-02 08:54] duncdrum commented on #69
@dizzzz good to close?

[2018-10-02 09:02] duncdrum commented on #41
maybe something like this could help, in essence write a catalog file dynamically to the filesystem -> execute xsl -> remove catalog.
https://gitlab.existsolutions.com/tei-publisher/tei-publisher-app/blob/master/modules/odd-by-example.xql#L70

[2018-10-02 12:30] pwin opened #2184 "New feature requirement: actual file sizes of indexes in jmx status report"
### What is the problem
I had a paradoxical extremely large index file (ngram.dbx) occur in exist-db v2.1 but did not "see" this developing from the data in e.g. monex

### What is the suggestion
proposal for jmx information to be extended to include actual size of the index files (in addition to the memory footprint of the index caches)

[2018-10-02 13:43] joewiz commented on #2182
@ahenket Thank you for that reference. I actually meant "where in the *XQuery* spec". I'd like to be able to point to a section in the XQuery specification that says that processors must respect this. There are a number of schema- and type- related features that are labeled "optional" here: https://www.w3.org/TR/xquery-31/#id-conform-optional-features. And eXist's documentation says which optional

[2018-10-02 13:52] duncdrum commented on #2184
/move eXist-db/monex

[2018-10-02 13:52] #2184 closed

[2018-10-02 18:48] bkcsfi opened #2185 "random java.util.ConcurrentModificationException in 4.4.0 during xupdate via REST call"
### What is the problem
a java.util.ConcurrentModificationException exception is randomly raised while processing an xupdate statement submitted via REST POST, returns 5xx status code

This has happened 3 times in 3 weeks, perhaps 1 out of every 2000 xupdate calls.

### What did you expect
I expect the documents to be updated and get back a 200 response code

### Describe how to reproduce or add a

[2018-10-02 19:07] bkcsfi commented on #2185
just happened again..

[code]

[2018-10-02 19:08] bkcsfi commented on #2185
Hmm, frequency appears to be a lot higher than I first  reported

[code]

[2018-10-02 20:33] dizzzz commented on #69
Think so Yes

[2018-10-02 20:33] #69 closed

[2018-10-03 09:29] eriksiegel opened #2186 "REST interface put method failing"
### What is the problem
We have code that copies files from one server to the other using the standard REST interface functionality eXist provides. Here is a dressed down code example:

[code]
The environment is all ok as far as I can see. The source file exists, is well-formed, the destination collection exists and is writable.

Since using 4.4.0 there are problems with this:

- When the file to

[2018-10-03 09:36] duncdrum commented on #2186
Hi Eric,  just to make sure:  are these machines behind a reverse-proxy,  could that limit the max size allowed for file transfers (i know nginx does that by default)?

[2018-10-03 09:43] eriksiegel commented on #2186
@duncdrum Maybe, I'll check. But it worked before, so... sounds unlikely.

Another problem could be in the http client module I'm using. The native  hc module is no longer recommended I think?

The standard conf.xml is a bit schizophrenic about it: It flags it as deprecated and the <module> entry is commented out, *but* it also has a <module> entry that enables it... Maybe that's something to impr

[2018-10-03 10:46] ahenket commented on #2182
I can only say that if you don't respect the QName(), you may end up with illegal XML. I don't see how you could skip implementation in that sense.

[2018-10-03 10:56] eriksiegel commented on #2186
Using the expath module makes no difference

there is no NGINX or other proxy in the way

[2018-10-03 11:02] adamretter commented on #2184
@duncdrum I don't think this should have been moved. The JMX info is part of the eXist-db project.

[2018-10-03 11:06] duncdrum commented on #2184
Yes but the code that displays it, sits here. To address the OP, we could also report the filesize without modifying the jmx report.

[2018-10-03 14:17] bkcsfi commented on #2185
I see in the above list doPut operations also failing.  Those are not xquery operations, they are just putting an xml document to the server.

I've attached a traceback

[put-exception.txt](https://github.com/eXist-db/exist/files/2442377/put-exception.txt)

We've had 3 doPost exceptions this morning. I was able to wrap a retry around our code for the xupdate/doPost that's failing.

However there a

[2018-10-03 18:10] bkcsfi commented on #2185
I have implemented retry code for PUT operations as a workaround.

[2018-10-03 20:52] joewiz commented on #1248
After further study, this issue is not specific to the eXist-db.app application, but can be reproduced on macOS even when building eXist from source. Steps to reproduce:

1. Build eXist
2. Delete the `vm.properties` file to cause eXist's launcher to think eXist is starting up for the first time: `rm vm.properties`
3. Start eXist via `open start.jar` or double-clicking on start.jar.
4. A new icon t

[2018-10-03 20:55] joewiz commented on #2171
I've confirmed that a PR submitted to the appbundler code base fixes the issue: https://bitbucket.org/infinitekind/appbundler/pull-requests/49/account-for-change-in-location-of-jdk/diff. I'll prepare a PR built from this branch.

[2018-10-03 21:56] joewiz commented on #2185
Any chance you could test your application with the 5.0.0 release candidate? A big focus of the work in 5.x was addressing concurrency and locking.

[2018-10-04 00:14] bkcsfi commented on #2185
I might be able to do some limited testing. Unfortunately I don't have any  automated testing that can simulate the regular load and random operations experienced in production.

[2018-10-04 14:57] rvdb commented on #2170
It's definitely the serialization of the larger context containing indexed nodes with `ft:query()` matches which is at stake. Given `$doc := doc('/db/apps/expand-test/test.xml')`, all of these queries return an inaccurate result, containing too many `<exist:match>` elements:
  - reverse axis:
    - `$doc//p[ft:query(., 'sleep')]/ancestor::test/util:expand(.)`
    - `$doc//p[ft:query(., 'sleep')]/a

[2018-10-04 15:17] kev1807 opened #2193 "Installation stops at Step 7: "Could not create lock files""
Hello everyone,

I just wanted to upgrade to 4.4.0 and have an issue I cannot get my head around! (I uninstalled 3.6.1 beforehand) (there are no projects lost!)

### What is the problem

https://pastebin.com/7UNEFD2b

My Setup:
Windows 10, 64bit, without October Update
exist-db 4.4.0 (just downloaded a few seconds ago)
Java 10.0.2

[2018-10-04 15:39] duncdrum commented on #2193
Did you download the windows installer linked from the exist-db.org webpage?
@adamretter could this be related to the bad binaries that were accidentally released with 4.4.0?

@kev1807 i m sorry but i m windows illiterate, during normal operations a simple reboot and wait can take care of those lockfile issues, but i doubt that ll work for a fresh install.

[2018-10-04 16:15] kev1807 commented on #2193
Hi, sorry for brevity, I am now out, having dinner :
After uninstalling (apparently it was Installed and just the win-installer had a hickup of some sort) and starting the Installation again several times it worked.

[2018-10-05 09:48] move[bot] opened #2194 "Documentation not accessible via public-repo by "doc" abbrev during build"
*@joewiz commented on Oct 5, 2018, 9:39 AM UTC:*

### Where is the problem

In the generated package's expath-pkg.xml file.

### What is the problem

The same issue I fixed in [eXist-db/shared-resources#37](https://github.com/eXist-db/shared-resources/pull/37) affects the documentation app. Its `@abbrev` (in `expath-pkg.xml` under `package/@abbrev`) used to be "doc", but it is now "exist-documenta

[2018-10-05 09:52] joewiz commented on #2194
We'd need 2 copies of the documentation app in the public-repo then, one an old one with the old abbrev, and a new one with the new abbrev. I think the public-repo uses `package/@name` as its key, though, not abbrev, so the newer abbrev will essentially prevent anyone from requesting the older one. This is a mess...

[2018-10-05 10:01] duncdrum commented on #2194
Yet it's a mess. See eXist-db/documentation#181

I m not following, we haven't shipped with an autodeployed docs app since moving to maven around exist 3.5.1, with the next release we start again. changing the artifact-id will just mean the mess spreads to the nexus maven repo.

Since moving to versioned releases I really can't think why anyone would want to request an old version via public-repo,

[2018-10-05 10:18] joewiz commented on #2194
Current situation:

- App name: `doc` (i.e., the app is installed at `/exist/apps/doc`)
- Package abbrev name: `exist-documentation`
- Repo name: `documentation`

The public repo allows lookup of apps by (a) package abbrev name or (b) package URI:

- abbrev:
  - http://demo.exist-db.org/exist/apps/public-repo/packages/exist-documentation.html?eXist-db-min-version=4.3.0
  - http://demo.exist-db.org

[2018-10-05 13:05] duncdrum commented on #2194
@joewiz Actually i think if we simply fix the abbrev value here, we should be fine, since the artifact-id stays the same.

https://github.com/eXist-db/exist-apps-parent/blob/ea5fe0d0c003975796bde1288410e1809a54b02d/pom.xml#L57

[2018-10-05 15:35] joewiz commented on #2194
@duncdrum Oh good, I was hoping something like that would be possible. Changing the documentation packages' abbrev is definitely the shortest path to a fix.

If we ever decide to change any package's abbrev, we'll need to remember to update the app URI, to avoid the public-repo problem described above.

[2018-10-08 09:35] ptrckb opened #2195 "Error on taking a subsequence of stored nodes"
Thank you for reporting your issue!

To be able to better understand you problem or suggestion, please add as much information as possible to this ticket. When there is no or just little information, it will be too difficult to work on it (and hence we will not be able to solve it)

Please fill in the following sections:

### What is the problem

Since #2138 I am experiencing problems with taking

[2018-10-08 14:10] duncdrum commented on #1792
and it is back both java and exist installed via homebrew
macOS `10.14`
with exist-db `4.4.0` and just
`java version "10.0.2" 2018-07-17`

[2018-10-08 14:17] eriksiegel commented on #2186
I'm no longer sure about the "since 4.4.0" statement I made: it was used recently only on a 4.4.0 installation, so it might be in older versions as well.

[2018-10-08 14:28] eriksiegel opened #2199 "Function documentation shows old information"
### What is the problem
If you create an XQuery module yourself with XQdoc comments, in some cases you see old information which does not go away on a regenerate.

### What did you expect
Consistent information displayed by the fundocs app

### Describe how to reproduce or add a test

- Add a module with XQdoc in it to the database (anywhere). Here is an example: [testmod.zip](https://github.com/e

[2018-10-08 14:30] duncdrum commented on #2199
/move eXist-db/function-documentation

[2018-10-08 14:30] #2199 closed

[2018-10-08 17:01] duncdrum commented on #2183
actually when executing the code from the OP, Saxon returns an error for me:
9.8.0.12 EE (via oXygen)
[code]

If I modify the code to take the empty namespace of the root element of the return statement `element {name($in)}` into account, i get the desired result:

[code]

Saxon returns the expected result
[code]

exist however
[code]

[2018-10-08 17:13] duncdrum commented on #2183
a somewhat shortened version of the OPs query
[code]

[2018-10-08 17:20] duncdrum commented on #2182
no bad query here, just a bug

[2018-10-08 18:38] joewiz commented on #2182
Duncan, do you see where in the spec the required behavior is described?

[2018-10-08 18:39] adamretter commented on #2186
@eriksiegel So to be clear. Do you have exactly the same problem with the legacy HTTP module and the EXPath HTTP module?

Could you share your simple example that uses the EXPath HTTP module?

[2018-10-08 20:26] line-o opened #2203 "map with duplicate keys should throw an error"
### What is the problem

The following code

[code]

evaluates to

[code]

### What did you expect

An error should be raised, that key 'a' was entered twice.
BaseX does exactly that:

[code]

This should not affect `map:put` or `map:merge` where this actually overwrites the given key in the returned, new map.

### Context information

- eXist-db 5.0.0-RC3 /  bfdcc8406
- Java version: 1.8.0_152
-

[2018-10-08 21:15] ahenket commented on #2182
In the mean time I have worked my way around it. This had to be done in two steps:

- Send full xml to XSLT that will extract the right path and copy required namespace declarations

That is is enough for schema validation, but not for schematron validation as upon transform:transform() eXist kick in and kills my carefully crafted namespace declarations again thus leading to incorrect errors

- Sa

[2018-10-08 23:01] duncdrum commented on #2182
@joewiz i d say thats here https://www.w3.org/TR/xquery-31/#id-ns-nodes-on-elements but I can't really see how the differences between basex/exist and saxon are covered there.

One could argue that the following
[code]

implies `xmlns:hl7nl="urn:hl7-nl:v3"` can be dropped since it is not in use for the newly constructed element `$xml/*`, but the prefix should still be resolved imv (ala Saxon), hen

[2018-10-09 06:54] eriksiegel commented on #2186
@adamretter Ah, good you ask. I thought I used the legacy http client but it turned out to be the EXPath client after all, right from the beginning. Confusion on my side and sorry I didn't amend this issue once I realized it.

What about the example in the first comment? That's code that pretty consistently runs into errors on my machine(s). It uses the EXPath client.

[2018-10-09 09:01] adamretter commented on #2186
@eriksiegel, okay as I suspected. Can you make it super simple for me to reproduce so I can send my time on fixing the issue instead of setting up for it. Would you be able to send me a zip file with the collection structure (and just a very few XML files!) and the XQuery script in it. Before sending, can you just test that zip file against a clean eXist-db to make sure it reproduces?

If you can

[2018-10-09 09:12] eriksiegel commented on #2186
@adamretter I'll try to do this somewhere this week. You need at least two machines I suspect.

We've also encountered something similar when using eXist's ANT extensions to store data on a remote machine. Scripts worked before, now lots of errors. It might be linked. I'll investigate.

[2018-10-09 12:37] eriksiegel commented on #2186
Ok, I've set up a test situation, here is what I've done:

- I have to W10 machines, all updates installed, latest Java 1.8.0_181
- Both are on my own LAN, no reverse proxies, no Apache, no NGINX
- I installed eXist 4.4.0 (using the 4.4.0 install .jar file) on both machines without changing  defaults, except the directory where things are installed (to prevent overwriting my "real" installation)
-

[2018-10-09 14:45] adamretter commented on #2186
@eriksiegel looks good to me. I will try and take a look tomorrow...

[2018-10-09 14:55] joewiz commented on #1792
@duncdrum Judging by the build date, were you using 4.4.0 (release) via DMG installer? Or a local build? What method of starting eXist? Also, which cask did you use to install the version java that gave you the problem - `java`, `java10`?

[2018-10-09 15:00] duncdrum commented on #1792
@joewiz as I meant to say installed via:
[code]

java was installed way back when via
[code]

At the time this meant Java10,  I have since then postponed the upgrade to 11.
There were no other JVMs on my system, which used to work with exist `4.3.1` installed in the same manner, but not with `4.4.0`.

[2018-10-09 15:31] joewiz commented on #1792
What method of starting eXist?

[2018-10-09 15:36] duncdrum commented on #1792
GUI (clicking on exist-db icon in application folder)

[2018-10-09 19:03] duncdrum commented on #2183
so looking at our own [testsuite](https://github.com/eXist-db/exist/blob/2d65467705f3cde8592eb68bf3691d6e8aa41dc6/test/src/xquery/namespaces.xql#L65) (!) it seems we are well aware of the NCName behaviour:

[2018-10-09 20:37] djbpitt opened #2204 "ngram:contains() bug?"
Thank you for reporting your issue!

To be able to better understand you problem or suggestion, please add as much information as possible to this ticket. When there is no or just little information, it will be too difficult to work on it (and hence we will not be able to solve it)

Please fill in the following sections:

### What is the problem

I am filtering a list of titles (in a single auxili

[2018-10-09 21:43] duncdrum commented on #2203
Yup, the [specs](https://www.w3.org/TR/xquery-31/#id-map-constructors) are pretty unambiguous.

[2018-10-10 07:04] ahenket opened #2205 "Context problem with map:get() in xpath"
eXist-db 4.4.0 (build Sept 21)

Code:
[code]

Yields:

_err:XPTY0004 checking function parameter 2 in call map:get($myMap, untyped-value-check[xs:anyAtomicType, attribute::{}k1]): XPTY0004: The actual cardinality for parameter 2 does not match the cardinality declared in the function's signature: map:get($map as map(*), $key as xs:anyAtomicType) item()*. Expected cardinality: exactly one, got 2. [

[2018-10-10 12:46] iampopuri opened #2206 "/tmp directory full issue"
### What is the problem

We are constantly getting /tmp directory full issue as eXist is writing all temporary files (eg: **exist-db-temp-file-manager-3318681857832932102**) into /tmp folder in Linux server. Because of too much data inflow, we have noticed that even 5GB storage is not enough for /tmp folder.

We tried to avoid this issue by adding additional argument **-Djava.io.tmpdir=/var/opt/da

[2018-10-10 13:15] joewiz commented on #2205
I can confirm the bug.  Here is a single query that demonstrates the difference between the in-memory and on-disk operation here:

[code]

This returns two items:

[code]

[2018-10-10 15:04] adamretter commented on #2186
@eriksiegel `smallfile.xml` is missing from your zip. It only contains `mediumfile.xml` (566KB) and `bigfile.xml` (2.1MB).

When running with `mediumfile.xml` I get the error `Broken pipe (Write failed)` with the stacktrace:

[code]

[2018-10-10 17:04] adamretter commented on #2186
So my working theory so far is this -

1. The Client opens a HTTP connection to the server
2. The Client starts sending data to the server
3. The Server starts receiving the data from the client, reads the HTTP request headers and sees that client is not authorized.
4. The Server responds `HTTP 401 Unauthorized` to the client
5. The server closes the connection.
6. The client, which is still writi

[2018-10-10 17:08] adamretter commented on #2186
Okay I have been able to isolate the HTTP Client code from eXist-db and reproduce the issue simply with the following Java code acting as the Client:

[code]

Running the above code results in the output and then errors:

[code]

So whilst I can reproduce it, I am still not sure who is at fault here. The client or the server?

[2018-10-11 06:00] eriksiegel commented on #2186
@adamretter Thanks for investigating so quickly. And: Oops. Sorry for omitting `smallfile.xml`. It was just a tiny file with a single (empty) XML element.

But the testscript sends authorization... (at least its specified). So where does it gets missing then?

And the EXPath http client worked fine in the past. So what's changed then in the newest release(s) of eXist that broke it?

[2018-10-11 08:48] adamretter commented on #2186
You mentioned 4.3.1 and 4.4.0. I can see no changes made to either the EXPath HTTP Client or the Jetty Server during that time. So I really can't see that anything could have broken it...

Interestingly I can see that the authentication is not being send pre-emptively, which I think it should be as you set `send-authorization="true"`. The headers I see in reality are:
[code]

So we might have two

[2018-10-11 11:07] adamretter commented on #2186
@eriksiegel Okay I sent fixes for the Preemptive Authentication stuff. It looks to me like that can't have ever worked in the EXPath HTTP Client.

Fixing the other stuff might be much more difficult, and if it involves fixes to the HTTP Client itself, I would be inclined to leave that until we deliver and implement [HTTP Client 2.0](http://expath.github.io/expath-cg/specs/http-client-2/).

[2018-10-11 14:28] adamretter commented on #2186
Okay so fixing the EXPath HTTP Client 1.0 implementation to correctly support the issue we have would be a lot of work. Instead, I think we will say that we won't fix it.

Instead my plan is to implement the EXPath HTTP Client 2.0, and when I do that, I will make sure to use the Asynchronous mode of the Apache HTTP Client.

[2018-10-11 15:09] iampopuri commented on #2206
**After starting the exist I see below log messages,**

`2018-10-11 17:03:56,729 [qtp1861754673-20] INFO  (Descriptor.java [<init>]:99) - Reading Descriptor from file /opt/exist/descriptor.xml`

**`2018-10-11 17:03:57,930 [qtp1861754673-23] INFO  (TemporaryFileManager.java [<init>]:109) - Temporary folder is: /var/opt/data/tmp/exist-db-temp-file-manager-8119779027601835711`**

`2018-10-11 17:03:58

[2018-10-11 17:28] adamretter commented on #2185
Okay so it looks like there is insufficient synchronization around the state held by `XQueryContext$ContextUpdateListener`.

[2018-10-12 06:37] #2185 closed

[2018-10-12 10:18] line-o commented on #1960
Hint from @wolfgangmm

[2018-10-14 13:37] #2203 closed

[2018-10-14 15:58] #1699 closed

[2018-10-14 18:07] #2195 closed

[2018-10-15 08:28] wolfgangmm commented on #923
Closing because it seems to have been fixed along the way.

[2018-10-15 08:28] #923 closed

[2018-10-15 13:06] #2186 closed

[2018-10-15 16:42] wsalesky commented on #2081
This does not seem to be limited to CDATA blocks, I also encounter this when attempting to serialize my data as ttl, or plain text (v4.4.0)

[code]

Returns:
[code]

It should look like this:
[code]
See: http://syriaca.org/person/13/ttl (running on version 3.5.0)

[2018-10-16 06:54] adamretter opened #2220 "Symbols Table is not crash safe"
The Symbols Table (`symbols.dbx`) does not use the WAL (Write Ahead Journal), because each entry added to it is immediately. I imagine that the thinking was:
1. the symbols were written before they are used in the DOM store (`dom.dbx`)
2. the DOM store has crash recovery via the WAL
3. if a crash occurs, when recovering the DOM, the symbols would always be there because they were written before th

[2018-10-16 08:07] duncdrum commented on #2220
Initially option 3 seems the best solution, avoiding writing to disc on every entry

[2018-10-16 08:35] adamretter commented on #2220
@duncdrum Yeah, unfortunately they are also listed in terms of effort (smallest first).

[2018-10-17 00:42] cwittern commented on #1711
Here is a similar experience with the installer:
I just used the newest stable version to install eXist on Ubuntu 16.04.
I used the file eXist-db-setup-4.4.0.jar available from the eXist
homepage. During installation, I entered a password for admin and a data
directory different from the one suggested by the installer.

When I started eXist (using the desktop icon provided by the installer)
and in

[2018-10-17 12:51] paulmer commented on #2097
Just noticed the tests zip I attached was empty for some reason, sorry.  Here are the correct test files.
[tests.zip](https://github.com/eXist-db/exist/files/2487448/tests.zip)

[2018-10-22 07:42] dizzzz opened #2225 "Build @ travis: change to OpenJDK10"
![image](https://user-images.githubusercontent.com/1700062/47282237-b7542080-d5de-11e8-9c47-de5eb0a382ec.png)

[2018-10-22 07:45] dizzzz opened #2226 "Build @ travis: disable Oracle10 build"
![image](https://user-images.githubusercontent.com/1700062/47282237-b7542080-d5de-11e8-9c47-de5eb0a382ec.png)

[2018-10-22 07:46] dizzzz opened #2227 "Disable Oracle Java10 build on travis"
As it is now deprecated; should we focus on Java8/Java11 only?

![image](https://user-images.githubusercontent.com/1700062/47282237-b7542080-d5de-11e8-9c47-de5eb0a382ec.png)

[2018-10-22 07:47] dizzzz commented on #2227
ping

[2018-10-22 11:29] adamretter commented on #2227
What value does disabling it give us? I would assume there are users out there with Oracle's JDK10

[2018-10-22 11:59] dizzzz commented on #2227
Java9/10 are EOL, unsupported, cannot be downloaded anymore. PPL need to upgrade anytime soon anyway....

Travis does not provide Oracle Java10 to us anymore, so we have to disable it anyway.
I'd say... lets focus on Java8 and Java11 alone. will make the builds faster

[2018-10-22 12:00] dizzzz commented on #2227
it is biting https://github.com/eXist-db/exist/pull/2169#issuecomment-431779949

[2018-10-22 12:14] duncdrum commented on #2227
for consistency we should disable both oracle java9 and java10 builds on travis, but keeping their openjdk counterparts. As far as i am concerned this satisfies our due diligence towards users running EOL oracle java versions.

Not that exist-db would run on java > 8 on macOS right now.

[2018-10-22 14:41] dizzzz commented on #2227
Fair enough, for now. As the version Iteration of Java is now accelerating, and new versions are EOLled faster than ever, we cannot afford (IMO) to follow the complete cycle. I'd recommend to have 'LTS' versions supported for a longer time: that is Java8 and Java11 for now.

And: I have no reason to upgrade java8 on my macs. it is still downloadable, the Java10 plugin has been forced removed by or

[2018-10-22 15:48] sunxinpeng1994 opened #2228 "ActiveMQ: Synchronization between servers"
The original question is on [stackoverflow](https://stackoverflow.com/questions/52599870/exist-db-content-synchronize-issue-between-different-servers)

### What is the problem
There are two eXist-db servers. One is master and one is slave. I know we can replicate the content using ActiveMQ when they are running in the same time(I made this work). But I want to know is there a way to replicate the

[2018-10-22 17:37] dizzzz commented on #2228
What version of the extension are you using?

[2018-10-22 17:41] sunxinpeng1994 commented on #2228
Messaging and Replication
Version: 0.30.2

[2018-10-22 18:17] wolfgangmm commented on #2099
Likely identical to the issue fixed by #2221, but need to confirm when github allows me again ...

[2018-10-22 18:20] joewiz commented on #2099
@wolfgangmm says this is most likely the same as https://github.com/eXist-db/exist/pull/2221.

[2018-10-22 18:21] joewiz commented on #1711
As per community call, @dizzzz will try to reproduce.

[2018-10-22 18:50] duncdrum commented on #2225
See #2227

[2018-10-22 18:50] #2225 closed

[2018-10-22 18:50] duncdrum commented on #2226
see #2227

[2018-10-22 18:50] #2226 closed

[2018-10-22 18:59] duncdrum commented on #2227
i think the open non-lts versions serve their purpose, as an early warning. I m on (open)java 10 since some of my stuff needs it, but exist-db is blocking me from going java11 across the board.
I think this is a pattern that will continue to apply in the new world of java releases, so keeping non lts openjdk in the testsuite serves a good purpose.

Given that removing a java version also shortens

[2018-10-22 19:23] joewiz opened #2233 "Implement cdata-section-elements serialization parameter"
### What is the problem

eXist has not implemented the `cdata-section-elements` serialization parameter.

### What did you expect

I expected eXist to support https://www.w3.org/TR/xslt-xquery-serialization-31/#XML_CDATA-SECTION-ELEMENTS.

See discussion in exist-open at https://markmail.org/message/lintubwl3wiowa3i.

### Describe how to reproduce or add a test

The following query should return t

[2018-10-22 19:24] #1674 closed, assigned to ljo, dizzzz

[2018-10-22 20:00] #2227 closed

[2018-10-22 20:02] wolfgangmm commented on #2099
Should be fixed by #2221. Closing for now.

[2018-10-22 20:02] #2099 closed

[2018-10-22 20:21] joewiz commented on #2081
@wsalesky Remove the `serialize` function and declare the output method in the prolog:

[code]

This yields the expected result:

[code]

As for the unwanted stripping of CDATA section markings and escaping of characters within, I believe this is answered in https://github.com/eXist-db/exist/issues/2233. Without support for the `cdata-section-elements` serialization parameter, eXist is falling bac

[2018-10-22 21:02] joewiz commented on #2081
Still a problem, for sure, is the double escaping of CDATA blocks saved (PUT) to eXist over REST, WebDAV, and XML-RPC: https://github.com/eXist-db/exist/issues/2081#issuecomment-409664770.

Still a mystery to me!

[2018-10-25 12:58] mathias-goebel opened #2239 "yajsw: unattended installation"
When using the scripts provided in `$EXIST_HOME/tools/yajsw/bin` the installation of the daemon uses `read` to get interactive response in `installDaemon.sh`.
I suggest using env variables to allow an unattended installation, so the service wrapper can be enabled by installation via package scripts (like deb or rpm).

[2018-10-26 14:56] sunxinpeng1994 commented on #2228
Can I have the document about `function replication:sync()`? Because I don't find anything related.

[2018-10-27 14:47] dizzzz commented on #2228
if you use eXide you should be able to see which functions are available....

the code should look like

[code]

[2018-10-27 14:51] dizzzz commented on #2228
/move to eXist-db/messaging-replication

[2018-10-27 14:51] #2228 closed

[2018-10-29 05:18] claudius108 commented on #1129
With version 4.4.0, I was able to do a restore of a backup from version 2.* without problems.

So, the issues mentioned above are gone, as follows:
1. No need to copy /db/system/security/config.xml into the new eXist 4.4.0, as it is restored;
2. The collection/resources with LDAP user as owner are restored correctly as to owner:group.

[2018-10-29 05:46] #1129 closed

[2018-10-29 08:19] welblaud opened #2242 "Image module can’t initialize class javax.imageio.ImageIO"
### The problem

1. `util:binary-doc()` works as expected, the image is returned properly;
2. ` image:get-width($someImage)` throws: `Could not initialize class javax.imageio.ImageIO`

### Sample code
[code]

### Context
- eXist-db version 4.2.1
- Java 1.8.0_191
- CentOs 7
- 64 bit
- eXist-db installed with JAR installer

[2018-10-29 08:21] dizzzz commented on #2242
Is there any specific info in `exist.log` ?

[2018-10-29 08:30] dizzzz commented on #2242
thnx

[2018-10-29 08:44] welblaud commented on #2242
I don’t give up!

[2018-10-29 11:00] line-o commented on #2150
@ahenket you could still enable users to change their password.
Have a specific script run with a sticky user or group bit set or with executing a code block with `system:as-user`.

[2018-10-29 11:37] welblaud commented on #2242
That’s interesting, another question emerges—which file types does the module support?

[2018-10-29 12:10] duncdrum commented on #2242
@welblaud the problem is that despite the correct mime-type and a file accessible in the DB `util:binary-doc-available` returns empty for the `.jpg` file so the nothing even arrives at imageIO irrespective of what files types it supports. You could try with `.jpeg` file ending, to see if that makes a difference.

Suggested XQsuite test for the img module below

[code]

[2018-10-29 17:11] duncdrum commented on #2242
@welblaud good new and bad news.
The error you are seeing is related to the kind of jpg image that you are trying to read. As i found out from this [SO thread](https://stackoverflow.com/questions/2408613/unable-to-read-jpeg-image-using-imageio-readfile-file#16149142).

If you consider this a bug you should discuss this with the authors of the imageIO library. But this behaviour is not on exist. Un

[2018-10-30 07:52] welblaud commented on #2242
Thank you for investigating (and for the great example of testing in XQuery [topic not much clearly commented for non-programmers])! I have just tried to test more images. Unfortunately, no matter which color space my images have, it still fails. The ugliest solution for me would be using XProc and solving this via ImageMagick (oh, my).

[2018-10-30 08:00] duncdrum commented on #2242
hmm so there might be another problem. Just to be sure could you try with the `$good-jpg` from my test `https://i.imgur.com/AD5NOgEm.jpg` how about the other image formats can you get the width of pngs?

Could you share a stable link to an image that you think should work?

[2018-10-30 08:15] welblaud commented on #2242
I have just tried to run the test suite (your test):

[code]

[2018-10-30 08:52] adamretter commented on #2242
@welblaud Have you tried adding JAI to your system?

If I recall correctly you used to have to download and install JAI seperately from Oracle to get access to more image formats and improved performance - https://www.oracle.com/technetwork/java/javasebusiness/downloads/java-archive-downloads-java-client-419417.html

I suspect that @duncdrum is on a Mac, which probably has JAI natively.

[2018-10-30 09:09] welblaud commented on #2242
@adamretter No, I haven’t. On the Oracle page, there are many packages listed. Do you think these could be sufficient?

Java Advanced Imaging API 1.1.2_01
Java Advanced Imaging 1.1.1_01
Java Advanced Imaging Image I/O Tools 1.0_01
Java Advanced Imaging ICC Profiles

[2018-10-30 09:17] adamretter commented on #2242
I think you likely only need:
* Java Advanced Imaging API 1.1.2_01
* Java Advanced Imaging ICC Profiles

[2018-10-30 09:55] duncdrum commented on #2242
@adamretter indeed was running on my laptop, looks like our docker images can't handle jpegs at all.
[code]

[2018-10-30 10:58] joewiz commented on #2242
Some docs relevant to installing JAI: https://github.com/eXist-db/exist/blob/develop/extensions/images/README.

[2018-10-30 11:06] welblaud commented on #2242
@adamretter Unfortunately, it seems those packages are too old, aren’t they (2004)? Additionally, aren’t they for 32-bit only? Simply said, my admin refused to install them because of this. That’s bad.

[2018-10-30 11:19] duncdrum commented on #2242
@welblaud you could try with this library instead of JAI https://github.com/haraldk/TwelveMonkeys

[2018-10-30 13:45] adamretter commented on #2242
@welblaud Hmm you might be right about the 32bit thing.

[2018-10-31 08:19] welblaud commented on #2242
I have just tried to use another configuration:
- Java 1.8.0_181
- Ubuntu Server machine (Linux 4.15.0-38-generic amd 64)
- eXist 3.5

This code works perfectly:
[code]
Result:
[code]

As for the test:suite, it somehow does not work there don’t know why):
[code]

[2018-10-31 09:18] dizzzz commented on #2242
or different linux kernel/libc or...  it can be anything.

under the hood, in Java8u191 there has been a libpng update ( [releasenotes ](https://www.oracle.com/technetwork/java/javase/2col/8u191-bugfixes-5032184.html)) but nothing is mentioned on jpeg. you could try to install [Java8u192 ](https://www.oracle.com/technetwork/java/javase/2col/8u192-bugfixes-4479410.html)....

[2018-10-31 09:30] #2180 closed

[2018-10-31 13:48] duncdrum commented on #2242
@welblaud i can't imagine anything that would allow you to run your query but not the tests. If there are errors these should be in the logs, maybe that can give you a hint.

[2018-10-31 16:06] htInEdin commented on #1442
Same problem with Konqueror and curl.  Reports an error, but whole file is actually transferred.  To reproduce, open a webdav folder in Konqueror and try to copy an xml file to another folder with ctrl-c, ..., ctrl-v.  You'll get an error popup, and a file called orig.xml.part, which actually has the whole file in it.

[2018-10-31 18:21] dizzzz commented on #1442
@htInEdin please specify exist-db version, curl versions and conqueror version. and the form of the webdav http end-point definition in your app.

control-c control-v sounds to me like a KDE specific operation, so maybe it is a bug in there? For sure I have no idea what webdav calls are done under the hood, please check the logging.

[2018-10-31 19:43] funkyfuture commented on #2239
is this a duplicate of #964?

environment variables are okay, though i prefer cli arguments that are not prone to side-effects.

[2018-10-31 19:44] funkyfuture commented on #964
@dizzzz could please add the 'Installer' label to this issue?

[2018-10-31 19:49] htInEdin commented on #1442
Dannes Wessels writes:

Versions:
  Exist-db: 4.4
      curl: 7.29
     Linux: Scientific Linux 7.5
 Konqueror: 4.14.8
        Qt: 4.8.7
 KDE Pform: 4.14.8

No idea about what curl or Konqueror are using in that regard -- how
would I find out?

Not if curl exhibits the same problem.  Also it's at least odd that this
problem occurs with .xml files but not .js files, which again suggests
the problem

[2018-10-31 19:59] funkyfuture commented on #1442
@htInEdin could you also post your proxy configuration and the Jetty config?

i think this refers to keyboard commands for clipboard interactions.

[2018-10-31 20:09] dizzzz commented on #1442
@htInEdin what is the URL you are connecting to? (leave out the hostname for obvious privacy reasons) ; it is the webdav URL you typed in to connect with the database.

@funkyfuture yes true, but I have no idea what is happening under the hood.

[2018-10-31 20:18] dizzzz commented on #964
yes sir :-)

[2018-11-01 12:16] htInEdin commented on #1442
No proxy, not sure which file you mean for jetty config, but all xml files under `tools/jetty` are unchanged from 4.4 release.

[2018-11-01 12:36] dizzzz commented on #1442
ah ok. thnx. it is all clear for me now.

In exist-db there is not something like actual document size: the actual document size that is serialized out of the database model highly depends on the serialization parameters, indenting, inclusion of PIs etc etc.

So as a result, we make a guesstimation on the size by looking a the amount of datapages the document uses. nr of pages * size of page (4k)

[2018-11-01 14:38] iampopuri commented on #2206
Found the issue. The application server (JBoss EAP) is also writing eXist temporary files into /tmp folder. I changed the path to different location.

Issue is solved.

[2018-11-01 14:38] #2206 closed

[2018-11-02 15:05] htInEdin commented on #1442
OK, so, following your suggestion solves the original problem, but took three of us all morning to actually implement.

When you document this, you should explain _how_  to do it.  I believe the right way to do it is by editting `$EXIST_HOME/vm.properties` to replace
[code]
with
[code]
The change to `.linux` (or whatever your OS is) is needed because the value of `vmoptions` as such is not split b

[2018-11-02 17:11] adamretter commented on #1442
@htInEdin Would you be able to send a Pull Request to improve our documentation? https://github.com/exist-db/documentation

[2018-11-02 19:06] duncdrum commented on #2242
Ok i spend some more time digging into this and some related problems of the image module.
@welblaud there are numerous open issues with openJDK and imageIO, especially with JPEG I d recommend using oracleJDK on ubuntu instead of the default openJDK.

[2018-11-02 19:36] duncdrum opened #2261 "outstanding issues with image module"
### What is the problem

- Currently the xquery functions exposed by the image module are not tested.
- Support for imageIO varies between different Java engines, in particular openJDK has some nasty bugs, which are unlikely to get fixed any time soon. Leading to e.g.
- Transformation functions inadvertently  strip alpha channels in both jpg and png and convert them to black (or whatever default b

[2018-11-02 20:43] dizzzz commented on #2261
for the "Could not initialize class com.sun.imageio.plugins.jpeg.JPEGImageReader" ... this makes sense ; do you have a full trace?

[2018-11-02 20:43] dizzzz commented on #2242
@duncdrum do you have any links to documentation ?

[2018-11-05 11:41] ahenket commented on #2150
We run open source code, so I would need something where the dba password doesn't live in the code. Sure it's doable, thanks for pointing out the suggestion, but really a proper fix is preferable.

[2018-11-05 11:43] line-o commented on #2150
@ahenket you set the sticky group or user bit in post-install via `xmldb:chmod`. Since the installer runs with the appropriate permissions no password has to given at that point.

[2018-11-05 18:20] htInEdin commented on #1442
Will try, but given the way the code is written it's not easy.  Am I allowed to suggest reverting a change to the code (in `launcher/LauncherWrapper.java`)?

[2018-11-05 18:32] ahenket commented on #2150
There’s no installer at play. There are manually registered users with a password set by me because I’m unable to offer them a way to register themselves and determine their own password

[2018-11-06 12:14] line-o commented on #2150
You can set the user or group bit in exide as well.
<img width="948" alt="screenshot 2018-11-05 at 23 06 15" src="https://user-images.githubusercontent.com/657222/48063457-6428c300-e1c5-11e8-9c8b-c86d7a0c7ef4.png">

PS: A password reset script will always need this or something similar, since the application should not run as an administrator and the user cannot be logged in when the password is u

[2018-11-06 17:37] ahenket opened #2267 "FORG0001 cannot cast 'xs:anyAtomicType("ext")' to xs:NCName"
eXist-db 4.4.0. Cannot reproduce with eXist-db 2.2

[code]

I've not been able to create a simple repro for this, but just from reading the error, it should be clear that "ext" is a proper NCName and so the error is unjustified. Seeking advice on how to get around this problem in eXist-db 4.4.0.

Note that the function below is as complex as it is, because eXist-db insists on ditching every namesp

[2018-11-07 16:52] adamretter opened #2274 "Journal Corruptions possible during concurrent transactions"
Even after all the recent work. It is still possible for corruptions to occur in the Journal from concurrent transactions.

This currently affects all versions of eXist-db and the same tests are present in each version branch.

This is a place holder to remind us of:
1. https://github.com/eXist-db/exist/blob/develop/exist-core/src/test/java/org/exist/storage/AbstractRecoverTest.java#L454
2. https:

[2018-11-08 04:03] joewiz opened #2278 "String index out of range when using UCA collation to sort >8,192 strings"
### What is the problem

When using the `numeric=yes` option with the UCA collation in an `order by` clause of a FLWOR expression, sorting more than >8,192 strings will raise an "String index out of range" error.

### What did you expect

I expected there to be no fixed limit to the number of strings that could be sorted.

For the documentation on the `numeric=yes` option, see https://www.w3.org/T

[2018-11-08 14:42] simar0at opened #2280 "LDAP: NullPointerException in findAllGroupMembers"
### What is the problem
LDAPRealm findAllGroupMembers is also called with built-in groups as parameter. Searching these in LDAP [results in a null return](https://github.com/eXist-db/exist/blob/develop/extensions/security/ldap/src/org/exist/security/realm/ldap/LDAPRealm.java#L1240) which is not checked but [subseqently just used as an object](https://github.com/eXist-db/exist/blob/develop/extensio

[2018-11-08 14:56] simar0at opened #2281 "LDAP: Different hasGroup() and findAllGroupNames() implementations lead to 500 in web user manager"
### What is the problem
LDAPRealm contains a findAllGroupNames() implementation that returns all groups in LDAP. This could be a very large number, only a view of them relevant to a particular exist instance. The caching mechanism now only saves groups to the local instance which are actually used by some LDAP user account exist read from LDAP. There are filter options for this and there are defau

[2018-11-08 19:19] djbpitt opened #2282 "Unexpected output in Java GUI client"
### What is the problem

The output of `ls` in the command-line window at the bottom of the Java GUI client does not include the owner, group, or permissions, and does not match the output that I see when I launch the client in non-GUI mode from a command line. What I see in the command-line in the bottom of the GUI client is:

[code]

Note that owner, group, and permissions are missing.

### What

[2018-11-08 19:54] shanemcgarry opened #2283 "Additional criteria in where clause breaks KWIC when also using a full-text index"
### What is the problem

**Standard xQuery**
[code]

**xQuery with Additional Where Criteria**
[code]

### What did you expect

### Describe how to reproduce or add a test

1. Open the public eXide application (http://exist-db.org/exist/apps/eXide/index.html)
2. Run the "Standard xQuery" from above. Verify results in <match> node exist.
3. Run the "xQuery with Additional Where Criteria" from above

[2018-11-08 20:40] joewiz commented on #2283
@shanemcgarry Thank you for filing this!

I can reproduce the buggy behavior as described.

See also the original discussion on the exist-open mailing list: https://markmail.org/message/efdrkr2hy6hwm2a7.

[2018-11-09 09:25] adamretter opened #2287 "LockTable change - LinkedTransferQueue -> LinkedBlockingQueue"
We don't need the complexity of a TransferQueue.

TransferQueue offers additional synchronisations e.g allowing the producer to wait upon the consumer,  we don't need such functionality, and so can use the simpler LinkedBlockingQueue. This could mean that LinkedBlockingQueue has less overhead than LinkedTransferQueue, and we could benefit from that.

[2018-11-12 12:12] djbpitt opened #2291 "XInclude doesn't follow relative path"
This is a **feature request**.

### What is the problem

A XIncluded resource identified with a relative path is not processed.

### What did you expect

I expected XInclude resolution to traverse a relative path.

### Describe how to reproduce or add a test

Given the following calling file, located at `/db/apps/appname/modules/index.xq`:

[code]

and the included file, located at `/db/apps/appna

[2018-11-12 12:34] duncdrum commented on #2291
I edited the op, since relative paths in xml resources are working as expected.

[2018-11-13 11:15] duncdrum commented on #2183
this seems to have somewhat dropped under the radar. While there are workarounds, any insights into how to fix this @eXist-db/core ?

[2018-11-15 21:05] amclark42 opened #2295 "d"
Thank you for reporting your issue!

To be able to better understand you problem or suggestion, please add as much information as possible to this ticket. When there is no or just little information, it will be too difficult to work on it (and hence we will not be able to solve it)

Please fill in the following sections:

### What is the problem

### What did you expect

### Describe how to reprod

[2018-11-15 21:06] #2295 closed

[2018-11-15 21:06] amclark42 commented on #2295
Sorry, meant to type in search box!

[2018-11-20 03:04] adamretter opened #2304 "Insufficient synchronization in TransactionManager"
The internal state of the transaction manager is read and modified by multiple threads, sometimes with a lock and sometimes without. This should be fixed so that it is consistent and correct memory affects are seen.

1. `TransactionManager#transactions` is potentially accessed without sufficient synchronisation:
    1. https://github.com/eXist-db/exist/blob/eXist-4.4.0/src/org/exist/storage/txn/Tr

[2018-11-21 12:48] eriksiegel opened #2308 "not() function failing on boolean sequence"
### What is the problem
The `not()` function used in a predicate on a boolean sequence fails... I'm trying to count the number of false or true entries in a sequence of booleans.

1. Counting the number of false entries:
    1. `count((true(), false(), false())[not(.)])` fails with the message: item of '(true, false, false)...' is not a node, and sequence length > 1
    1. `count((true(), false(),

[2018-11-21 16:52] joewiz commented on #2308
Similarly, these expressions return the same error when they should not:

[code]

The full error message:

This error message is incorrect in two respects:

1. There is no requirement in the rules for determining effective boolean values that only nodes can be tested. See the 6 rules for determining effective boolean values at https://www.w3.org/TR/xpath-30/#id-ebv. The `(true(), false())` case sh

[2018-11-22 10:14] peterstadler commented on #1550
Sorry for bothering, but is there any chance this will be tackled in the near future?

[2018-11-22 10:41] duncdrum commented on #1550
not directly related,  but because namespace prefixes can appear in maps,  the preferred and specs compliant map syntax is
[code]

only one ws after `:` in `{ key: value }`

[2018-11-22 14:31] adamretter commented on #1550
@peterstadler I think you will have to ask @wolfgangmm

[2018-11-23 14:45] line-o opened #2309 "provide pre-install hook for applications"
### What is the problem

Install an app **A** in version *x* and modify some data.

Now update **A** to a new version *y*.

In order to be able to backup or migrate the data in the running instance of A the installation process has to have a hook where:

- The application versions of the current and the new one are known.
- No data was deleted.
- a script is run when defined in `repo.xml`

### Wha

[2018-11-23 14:53] duncdrum commented on #2309
there is a `setup` hook for repo.xml??
needs documentation

[2018-11-23 14:55] line-o commented on #2309
I know, found it by reading source code :)

[2018-11-23 16:16] duncdrum commented on #2171
work for me @joewiz want to do the honors of closing?

[2018-11-23 21:21] joewiz commented on #2171
@duncdrum Thanks!

Closed by https://github.com/eXist-db/exist/pull/2187.

[2018-11-23 21:21] #2171 closed

[2018-11-26 12:29] lguariento opened #2311 "Cannot launch Java Admin Client (JNLP)"
### What is the problem

[code]

If I do curl -v http://localhost:8080/xmlrpc I get:

[code]
### Describe how to reproduce
[code]

connect to the dashboard - click on 'Java Admin Client' - download the jnlp, and double click on it.

### Context information
Please always add the following information
- eXist-db 4.5.0  / e29b4099c71094e25fae7d627975bf8e6b78658e
- build 1.8.0_152-b16
- CentoS 7
- 64

[2018-11-26 19:51] tuurma opened #2312 "ft:get-field not returning expected results when indexed document contains elements with fulltext index configured"
### Problem

For the following collection configuration

[code]

After creating index upon storing the document retrieval of named index field is not returning expected results but only if the document stored contains one of the elements for which lucene index has been configured (`<foo>` in the example)

[code]

### Actual result

Only ft:search returns a match

[code]

### Expected result

[code

[2018-11-27 11:19] #1728 closed

[2018-11-27 22:11] dizzzz commented on #2311
@adamretter we updated the name of this jar file no? In the jnlp package there is a filename pattern... for sure this one does not match :)

[2018-11-28 03:08] adamretter commented on #2311
@dizzzz Oh? Where is that filename pattern?

[2018-11-28 03:43] adamretter opened #2315 "Insufficient synchronization in Journal.java"
There is insufficient synchronization on the `currentBuffer` field in `Journal.java`, sometimes it is accessed under ` synchronized` block:

1. `Journal#writeToLog(Loggable)` -> currentBuffer...
2. `Journal#flushToLog(Loggable)` -> `Journal#flushBuffer()` -> currentBuffer...

...and other times it is **NOT**, e.g.:

1. `Journal#checkpoint(long, boolean)` -> `Journal#flushBuffer()` -> currentBuffer

[2018-11-28 08:53] eriksiegel commented on #2312
We seem to have something alike: All indexes that rely on the underlying Lucene (like also the new range indexes)  stay empty after a reindex on 4.5.0.

So it might be the problem is bigger than just full-text indexes.

[2018-11-28 08:56] eriksiegel commented on #2312
With this 4.5.0 became un-usable for us. We're reverting back to 4.4.0.

[2018-11-28 22:10] dizzzz commented on #2311
Here it is sir : https://github.com/eXist-db/exist/blob/develop/src/org/exist/webstart/JnlpJarFiles.java

[2018-11-29 14:27] babslgam opened #2316 "util:get-fragment-between is not producing correct fragment(s)"
### What is the problem

The fragmenting process used by `util:get-fragment-between` isn't stopping at second node.

Running `util:get-fragment-between` to get the fragment between the first and second `<pb>` in the full sample below returns:

[code]

Maybe the problem was caused here?
https://github.com/eXist-db/exist/blob/eXist-4.4.0/src/org/exist/xquery/functions/util/GetFragmentBetween.java#L1

[2018-11-29 17:36] joewiz commented on #2316
I can confirm @babslgam's report with the current eXist-db develop-4.x.x.  A simplified example:

[code]

unexpectedly returns an additional `<z/>` and `</root>`:

[code]

instead of the expected:

[code]

With the 3rd parameter as `false()`, the results also include an unexpected `<z/>` and `</root>`:

[code]

instead of the expected:

[code]

We don't appear to have any tests for this function.

[2018-11-30 13:11] median1st opened #2317 "array:get IndexOutOfBoundsException"
While accessing an out-of-bound index of array in XQuery using the parentheses notation correctly throws XQuery error, using array:get() function for the same purpose ends with an IndexOutOfBoundsException thrown within the servlet.

**Steps to reproduce:**

1.  Open new XQuery 3.1 window
2. evaluate the following expression:
[code]
This correctly ends with **err:FOAY0001 Position 10 does not exis

[2018-11-30 13:18] duncdrum commented on #2317
confirmed on `4.5.0` via docker

[2018-11-30 13:21] duncdrum commented on #2267
see #2183, #540

[2018-11-30 13:33] duncdrum commented on #547
I can't locate the test on the latest builds is this still and issue, or superseded by later test-suite changes?

[2018-11-30 13:38] duncdrum commented on #2280
duplicate of #2281

[2018-11-30 13:50] simar0at commented on #2280
If someone fixes this problem and #2281 then I'm fine with this being a duplicate. But that is a stretch of the word. These two problems only have in commen that they are within the same source file.

[2018-11-30 13:59] duncdrum commented on #2280
From your description these seem the same problem to me, but if you think they're I'm happy to be shown otherwise.

[2018-12-02 09:33] tuurma opened #2318 "xmld:reindex messes up named indexes"
### What is the problem

Reindexing the collection via xmldb:reindex empties all named indexes defined on that collection.

Already reported in #2312 but likely it is a separate issue

### Context information

4.4.0-SNAPSHOT / 302ed73a2 (Erik Siegel reported same on 4.5.0)

[2018-12-03 16:35] #2311 closed

[2018-12-04 01:07] #2136 closed

[2018-12-04 05:50] adamretter commented on #2281
@simar0at Could you please test the fix https://github.com/eXist-db/exist/pull/2327 and report back.

[2018-12-04 06:15] adamretter commented on #2309
@line-o @duncdrum Can we close this now?

[2018-12-04 06:45] adamretter commented on #2308
So I took a quick look into this. Unfortunately the root of the problem is that eXist-db's parser and XQuery engine does not correctly understand `.` i.e. the Context Item, instead it treats it as `self::node()` with a bunch of hacks for when it might actually mean the context item.

There are two hacks that I could implement to fix this:

1. Commenting out lines 281-296 of `Predicate.java`. This

[2018-12-04 07:53] duncdrum commented on #2309
@adamretter afaik its still not working, and not-documented why would we close this?

[2018-12-04 08:00] adamretter commented on #2309
I thought from the conversation above it was fixed

[2018-12-04 08:03] duncdrum commented on #2309
no a) the hook exists but isn't working, b) the existence of the hook is not documented.

[2018-12-06 08:05] adamretter opened #2332 "eXist-db Systemd service with YAJSW fails on Java 11"
If you install OpenJDK 11 on Ubuntu 18.04.1 LTS, then install eXist-db as a service to systemd using `tools/yajsw/bin/installDaemon.sh`. eXist-db will not start under systemd. You will see repeated messages about the pid file in the systemd output. Seems to be a problem with YAJSW.

Using OpenJDK 8 everything works fine.

[2018-12-06 11:38] adamretter commented on #2205
@joewiz interestingly if you modify your predicate to use atomic equality, you will get the correct result. e.g. change:

[code]

to:
[code]

[2018-12-06 11:53] adamretter commented on #2205
I have managed to simplify this further by removing the need for the map:

[code]

[2018-12-06 12:19] adamretter commented on #2242
@duncdrum @welblaud was the resolution to this to use OracleJDK?

[2018-12-07 12:36] line-o opened #2339 "fn:serialize returns emtp for arrays"
### What is the problem

[code]

returns ''

### What did you expect

### Describe how to reproduce or add a test

### Context information
Please always add the following information
- eXist-db version + Git Revision hash e.g. eXist-db 3.0 /  acd0c14
- Java version (e.g. Java8u121)
- Operating system (Windows 7, Linux, MacOs)
- 32 or 64 bit
- How is eXist-db installed? (JAR installer, DMG, WAR fil

[2018-12-07 12:43] line-o commented on #2339
I am also wondering what the expected behaviour for maps is.
BaseX just throws an error while existdb will return an empty string again.
When I have time to look at the spec I might expand this issue.

[2018-12-07 12:45] line-o commented on #2339
Same behaviour applies to `util:log([1,2])`

[2018-12-07 17:23] dizzzz commented on #2339
maybe in `fn:serialize([1])` the [1] is seen as a predicate.....

saxon returns "1" anyway

[2018-12-07 18:10] joewiz commented on #2339
`[1] instance of array(*), [1,2] instance of array(*)` returns `true(), true()`, so eXist knows it's an array.

The spec for `fn:serialize` says:

This leads to the question, what is eXist's default set of serialization parameters?

If, however, we supply a serialization method, then eXist should respect it. Let's try "text":

[code]

This also returns "". Thus I think we have a serialization bug.

[2018-12-08 11:16] line-o commented on #2339
Thanks @joewiz for your thorough investigation of the issue. I already learned a lot.

[2018-12-08 11:35] line-o commented on #2339
When serializing maps

[code]
They all seem to be broken, if the JSON serialisation really does add quotes to key and value.

[2018-12-08 11:56] line-o commented on #2339
Digging a little deeper I found that there is an 'adaptive' method which does things as one would expect
[code]

[2018-12-08 12:03] line-o commented on #2339
Just read the spec for `array:flatten` to learn that is indeed a function that returns a sequence of all members of nested arrays.

[2018-12-08 12:12] line-o opened #2340 "util:log should default to adaptive serialization"
This spawned from the discussion in https://github.com/eXist-db/exist/issues/2339

### What is the problem

Logging more complex data structures using `util:log` can lead to misleading conclusions since maps and arrays are serialised to empty strings.

Example:

[code]

Will be logged as

[code]

### What did you expect

[code]

### Describe how to reproduce or add a test

1. eval the example
1. l

[2018-12-09 12:57] line-o commented on #164
Does exist implement [fn:load-xquery-module](https://www.w3.org/TR/xpath-functions-31/#func-load-xquery-module)?

[2018-12-10 10:29] JoernT commented on #2150
@ahenket i fully agree that this feature is missing in eXist-db.  I have a similar issue in an app and will work on it. Maybe i can come up with a solution but can't promise it within days.

[2018-12-10 11:32] adamretter commented on #2150
@ahenket I think some things are being confused. I think @line-o means that you should use the `setUid/setGid` bits, NOT the sticky bit. They allow an XQuery to be executed as a different user, so if a .xq file is owner by a user in the DBA group or by the DBA group, and has the setUid/setGid bit, it will execute as though it has DBA permissions, and then you don't need the `system:as-user` call a

[2018-12-10 11:35] adamretter commented on #2150
@ahenket Regards the permissions problem you originally mentioned, can you please tell me the user/group/mode of both `/db/system/security/exist/accounts` and `/db/system/security/exist/accounts/testuser.xml` in your system?

[2018-12-10 11:40] adamretter commented on #2150
It looks to me like this change happened in 2012 for eXist-db 2.0-RC2 (and was pre-GitHub), see https://github.com/eXist-db/exist/commit/8493b454#diff-e62f7d6102f35961d2376efa40ed5993L40

[2018-12-10 11:51] ahenket commented on #2150
```sm:get-permissions(xs:anyURI('/db/system/security/exist/accounts'))```
and
```sm:get-permissions(xs:anyURI('/db/system/security/exist/accounts/testuser.xml'))```

    <sm:permission xmlns:sm="http://exist-db.org/xquery/securitymanager" owner="SYSTEM" group="dba" mode="rwxrwx---">
      <sm:acl entries="0"/>
    </sm:permission>

@adamretter Setting the setUid/setGid bit on the xquery like you d

[2018-12-10 15:47] duncdrum commented on #2332
see #1764 ?

[2018-12-10 23:36] grantmacken commented on #2332
yajsw problems have popped up IMHO way to often.
It is a trivial exercise to write  eXist systemd sevice files on  Linux
based systems that support systemd
Which is just about all of them.

For what it is worth, my advise to eXist users on linux based os, would be,
don't use yajsw, and learn how to use systemctl
Better still, start developing in a docker environment and just use docker
images.
and

[2018-12-11 02:58] adamretter commented on #2150
So indeed, currently the way eXist-db is setup by default, only a DBA can access user-credentials. You can use a setUid/setGid XQuery to manage password changes though...

Whether the current way eXist-db is setup is certainly up for discussion.

[2018-12-11 11:26] welblaud opened #2342 "File permissions are not preserved (WebDAV)"
### What is the problem
Permissions of files edited via WebDAV (e.g., in oXygen or Vim) are not preserved. They are set as if the file was stored for the first time. Typically `-rw-r--r--`.

### What did you expect
Permissions should be preserved.

### Describe how to reproduce or add a test
Open some XQuery or XML file (doc/module/simple query) in an editor over WebDAV, make some changes, save it

[2018-12-11 14:06] dizzzz commented on #2342
It all depends how the specific editor performs an update: if it first removes a resource and then upload a new one... there is no way of preserving the permission. If it is really updating the file, it should be possible.

Please could you attach some logs , filtered for ther webdav log statements only?

[2018-12-11 14:06] dizzzz commented on #2342
Did you test with both Oxygen and Vim? In the latter, what Webdav client does it use, any idea?

[2018-12-11 14:10] dizzzz commented on #2332
YAJSW helps us to abstract us from all kind of details of all kind of UNIXes (macOS, BSD, Linux), and of all kind of (silly) differences and inconsistencies between linux distributions. This way we don’t need to build up knowledge of distribution X, Y, or even Z.

So clearly we have an issue with YAJSW. Lets have that fixed. FIle a report there, or we need to revert changes in our scripts.

[2018-12-11 14:17] adamretter commented on #2332
I thought the reason we had YAJSW was for Windows users?

[2018-12-11 17:49] dizzzz commented on #2332
hmmmm that is indeed a good argument @adamretter ; at least it is one tool that supports macOS, l*n*x and windows....

[2018-12-11 20:56] ahenket opened #2343 "transform:transform progressively slower each run for external xsl"
When you run an xquery with a transform:transform() it becomes progressively slower each time you run it, gaining almost a second each run. This only happens when the xsl file is called through http. I could not reproduce when the xsl is in the same exist-db instance.

I've not seen this behavior in eXist-db 4.4.0 so to the best of my knowledge this is regression for version 4.5.0. Tested using lo

[2018-12-12 08:47] welblaud commented on #2342
@dizzzz I thought WebDAV is a thing of an OS. In these two cases, I use Win 7, which maps the DB as a local disk. Where is the log for WebDAV located? Is it just included in the main eXist’s log?

As for Vim, it always reads the file, its contents are loaded into a buffer, later, the buffer is written back to the file (the file resides untouched until the writing). I guess it should be the same wi

[2018-12-12 15:03] dizzzz commented on #2342
@welblaud windows(7) does include a webdav client in the explorer, but IMO that code is not reliable or predictable (in the past the patch level of MS office would make thing (or not) work correctly). Windows' native client gave many issues and questions in the past; I gave up on it :-)

Oxygen has a reliable native webdav client built in, i can certainly recommend it, but the exist-db native supp

[2018-12-12 15:08] dizzzz commented on #2343
As the `transform` functions havent been touched recently, and the loading of the external resource entirely depends on an external http server.... hmmmmm @adamretter maybe a resource leak in the file  cache handling or so....

[2018-12-12 15:10] dizzzz commented on #2150
@adamretter knowing userids is half of the 'attack vector' ; i'd day try to keep it shielded as we server everything via a easily accessible HTTP(s) interface.

[2018-12-12 16:06] joewiz commented on #164
@line-o Yes. See http://exist-db.org/exist/apps/fundocs/view.html?uri=http://www.w3.org/2005/xpath-functions#load-xquery-module.1.

[2018-12-12 22:01] joewiz commented on #164
@cmisztur I think the `fn:load-xquery-module`, supported for some time now in eXist, should do the trick. Thanks for proposing this to the WG! Please open a new issue if you have any problems with the implementation of this function.

[2018-12-12 22:01] #164 closed

[2018-12-14 14:13] #2317 closed

[2018-12-14 15:39] ahenket commented on #2343
I've been trying to reproduce this, and me nor my colleagues could. So best to close this and reopen if it reproduces reliably.

[2018-12-14 15:39] #2343 closed

[2018-12-15 00:38] line-o commented on #291
This error is still present in eXist-5.0.0-RC3
Workarounds (ugly but working)

    let $a := 'a'
    return <root a="{$a}"/>

    <root a="{['a']?1}"/>

[2018-12-15 17:49] #2282 closed

[2018-12-17 11:09] adamretter opened #2353 "Consider NSIS for Windows Installer"
https://blog.alejandrocelaya.com/2014/02/01/compile-nsis-scripts-in-linux/

[2018-12-18 09:47] ahenket commented on #2205
Both accuracy and speed are important. If pressed for a choice, accuracy wins. We are already in a bad place performance wise and have had numerous rewrite sessions to fix that. The maps actually came in as a performance booster. Would hate to loose that.

[2018-12-18 09:52] adamretter commented on #2205
@ahenket could I suggest you tabling this for discussion at a community call?

[2018-12-18 10:13] ahenket commented on #2205
Could do. I'm having trouble finding the schedule, or is this [info](https://docs.google.com/document/d/1n6stPc3C8sndL2IiuINzTzoUM-dFjRqvTVIQTZsSsZE/edit) still accurate?

[2018-12-18 15:35] andbue opened #2354 "Error handling in tomcat not working"
### What is the problem
exist-5.0.0-RC5.war deployed in a tomcat8 server doesn't return 404 pages when an \<error-handler\> containing a \<forward\> is present in controller.xql, line 86-87. Instead, a request to e.g. /exist/apps/dashboard/someurl.html is answered with 500 - Internal Server Error: Cannot forward after response has been committed.

### What did you expect
Redirect to  error-page.ht

[2018-12-18 17:07] dizzzz commented on #2354
Is there an error logged in `catalina.out` or `exist.log`

[2018-12-18 17:10] andbue commented on #2354
Nothing in catalina.out, but in /var/log/tomcat8/localhost.2018-12-18.log:
[code]

[2018-12-18 17:12] dizzzz commented on #2354
committed response...... ouch....

[2018-12-18 17:13] dizzzz commented on #2354
which tomcat version are you using ? Maybe this specific version has an issue?

[2018-12-18 17:16] andbue commented on #2354
It's the standard tomcat8 on debian. I'm trying to figure out how to find the version of this thing...

[2018-12-18 17:18] andbue commented on #2354
Server version: Apache Tomcat/8.5.14 (Debian)

[2018-12-18 17:25] andbue commented on #2354
Same with tomcat8 8.0.53-1.

[2018-12-18 17:31] andbue commented on #2354
The same error occurs with exist-4.5.0 stable version.

[2018-12-18 21:14] dizzzz commented on #2354
ok thnx....

[2018-12-19 02:55] adamretter commented on #2205
The last call details are here -
https://docs.google.com/document/d/1I-3W6jfJ2ZdF8F6rG_JpnPt-Lh23DaNZfEtEch6nec0/edit?usp=sharing

There are two calls a month always on a Monday, usually two weeks
apart. The timing alternates between an earlier time and a later time.

The first meeting in the month is at the earlier time of:
18:30-19:30 UTC
7:30-8:30pm Europe Central (CET) / 10:30am US Pacific (PS

[2018-12-20 09:06] zopyx opened #2355 "Installation 5.0.0RC5: Illegal reflective access by org.exist.storage.BrokerPool (file:/home/ajung/src/exist-5.0/exist.jar) to field java.lang.Thread.threadLocals"
Installing 5.0.0-RC5 gives me the attached warning (not sure if I should be concerned).

[code]

[code]

[2018-12-20 09:10] dizzzz commented on #2355
It is a message that pops-up after java8 ; I think it is a warning only, but we need to get rid of it... in the end.
I'd recommend java8 if it disturbs you too much...

[2018-12-23 03:18] adamretter commented on #2355
It can be safely ignored.

[2018-12-23 03:18] #2355 closed

[2018-12-23 03:18] adamretter commented on #2340
@line-o can you send a PR please?

[2018-12-26 09:35] dizzzz commented on #2340
we should check `fn:trace()` too

[2018-12-26 09:40] dizzzz commented on #2355
@zopyx i;d recommend to get away from java 9/10 and stick to 'LTS" versions: either java8 or java11.
Java 9/10 are EOL already,

[2018-12-26 19:12] claudius108 commented on #2124
A sort of a workaround:
<query>
    <term>date:/160[0-9]|1610/</term>
</query>

[2018-12-26 19:13] claudius108 commented on #2124
The
[code]

[2019-01-03 11:27] adamretter opened #2363 "Range Indexes are ignored"
The following XQuery shows 3 different formulations of the same simple query expression. The two most obvious formulations fail to use the configured Range Index. The least obvious and most complex formulation correctly uses the Range Index.

Occurs on both eXist-db 4.5.0 and 5.0.0-RC5.
This was originally reported by KevinBrown on StackOverflow: https://stackoverflow.com/questions/53858401/issue-

[2019-01-03 15:03] adamretter opened #2364 "Map lookup parser failure"
The following query should return the second map, instead we get an error `XPST0003`. This does work in BaseX and Saxon, but not in eXist-db. Appears to be a parser error.

Tested on eXist-db 5.0.0-RC6

[code]

[2019-01-03 18:18] duncdrum commented on #2364
is this a separate problem from #2205, i can't really tell?

[2019-01-04 01:57] adamretter commented on #2364
@duncdrum yes, it's different.

[2019-01-04 03:06] adamretter opened #2365 "Simple Map Operator fails with Maps"
The context item (`.`) used with the simple-map-operator (`!`) below is misinterpreted as the XQuery self-axis. The query below raises the error:

[code]

[code]

[2019-01-04 13:17] oberoc opened #2366 "http://exist-db.org/collection-config/1.0 is 404ing"

[2019-01-07 15:55] wolfgangmm commented on #2308
eXist handles not() in a particular way by trying to evaluate it as a set operation. Obviously this approach is wrongly applied here. A naive fix would likely result in many expressions becoming slower by an order of magnitude, so we need to be careful here. We'll keep this issue open, but fixing will take considerable time.

[2019-01-07 15:56] adamretter commented on #2308
As Erik mentions, the temporary workaround is: `count((true(), false(), false())[. eq false()])`

[2019-01-08 08:35] #2304 closed

[2019-01-08 10:11] duncdrum commented on #129
looking at the commit this should have been closed with #1505. Please reopen if the problem persists.

[2019-01-08 10:11] #129 closed

[2019-01-08 10:15] duncdrum commented on #147
According to the discussion in the linked PR this is a nofix for now. @jlo how about that documentation any progress since 01/25/2016?

[2019-01-08 10:20] duncdrum commented on #179
@joewiz there were some updates with respect to JAC can you please confirm with the latest develop, thx.

[2019-01-08 10:32] duncdrum commented on #187
it seems that this issue was solved with #408. If there are further issues please open a new ticket. Thank you

[2019-01-08 10:32] #187 closed

[2019-01-08 10:36] duncdrum commented on #194
see #2363
@dizzzz i m a bit lost trying to follow the conversation, could you post an update in here, if this is superseded, still an issue, … ?

[2019-01-08 10:48] duncdrum commented on #200
hmm since the OP the handling of non-breaking space in serialization settings has changed, i can't get a reproducible code sample to run based on the OP.

@dizzzz since you've assigned yourself the issue can you please wrap this up by either creating a testcase, or closing as unreproducible.

[2019-01-08 10:53] duncdrum commented on #237
see #229

[2019-01-08 10:55] duncdrum commented on #241
duplicate of #1824

[2019-01-08 10:55] #241 closed

[2019-01-08 10:56] duncdrum commented on #2160
@joewiz agreed
@eric consolidating this ticket, please continue the discussion in #1824

[2019-01-08 10:56] #2160 closed

[2019-01-08 10:58] duncdrum commented on #246
see #101

[2019-01-08 11:01] duncdrum commented on #251
@jlo where are we on this?

[2019-01-08 11:03] duncdrum commented on #256
closing as invalid @phattire please open a new issue if you are still experiencing this including step to reproduce, and working code that shows the problem, thanks.

[2019-01-08 11:03] #256 closed

[2019-01-08 11:08] duncdrum commented on #274
@phattire can you provide a working code sample, including a description of the expected output vs actual output.

[2019-01-08 11:13] duncdrum commented on #291
@line-o care to submit a PR with a pending test-case?

[2019-01-08 11:16] duncdrum commented on #292
/move eXist-db/eXide

[2019-01-08 11:16] #292 closed

[2019-01-08 11:20] duncdrum commented on #350
see #41

[2019-01-08 11:32] duncdrum commented on #392
@eXist-db/core any takers?

[2019-01-08 11:43] duncdrum commented on #426
[code]

returns

[code]

[2019-01-08 11:43] #426 closed

[2019-01-08 11:56] duncdrum commented on #485
/move eXist-db/existdb-dashboard

[2019-01-08 11:56] #485 closed

[2019-01-08 11:58] #706 closed

[2019-01-08 12:03] joewiz commented on #251
It’s @ljo - Leif Jöran, not Jöran Leif ;)

[2019-01-08 12:04] duncdrum commented on #495
consolidating this with #1824 all different sides of the same coin

[2019-01-08 12:04] #495 closed

[2019-01-08 12:04] joewiz commented on #147
@ljo ^

[2019-01-08 12:08] duncdrum commented on #251
[apologies](https://en.wikipedia.org/wiki/Jennifer_Lopez)

[2019-01-08 12:11] #547 closed

[2019-01-08 12:30] duncdrum commented on #681
see #1824

[2019-01-08 12:35] line-o commented on #291
@duncdrum I will give it a try to create a reasonable test case.
Regarding the name change: Do you happen to know, that it has nothing to do with the grammar exist uses?

[2019-01-08 12:41] duncdrum commented on #744
closed with test in #764

[2019-01-08 12:41] #744 closed

[2019-01-08 12:45] duncdrum commented on #769
@dizzzz not seeing these by default anymore, good to close?

[2019-01-08 12:52] duncdrum commented on #780
reproduced on 4.5.0

[2019-01-08 12:57] duncdrum commented on #794
@joewiz ?

[2019-01-08 13:02] duncdrum commented on #797
still and issue in 4.5.0

[2019-01-08 13:22] duncdrum commented on #780
see #798

[2019-01-08 13:23] duncdrum commented on #798
confirmed with 4.5.0 in-memory query returns `3 3` while stored doc returns `3`

[2019-01-08 13:31] duncdrum commented on #2261
see #805

[2019-01-08 13:32] duncdrum commented on #808
@trondaal could you confirm if this is still an issue with a more recent version of exist, and update this ticket with some example code demonstrating the behaviour?

[2019-01-08 13:36] duncdrum commented on #823
@wshager could you provide the code that generates the error in the op?

[2019-01-08 13:39] duncdrum commented on #829
closing due to lack of response. Please reopen if you still experience these problems.

[2019-01-08 13:39] #829 closed

[2019-01-08 13:42] duncdrum commented on #838
duplicate of #1072

[2019-01-08 13:42] #838 closed

[2019-01-08 13:46] duncdrum commented on #847
@adamretter where are we on this?

[2019-01-08 13:50] #851 closed

[2019-01-08 13:51] duncdrum commented on #851
closed by rebased #886

[2019-01-08 13:52] duncdrum commented on #852
closed by rebased #886

[2019-01-08 13:52] #852 closed

[2019-01-08 13:53] duncdrum commented on #855
@alebastrov can you confirm this still to be an issue for 4.x ?

[2019-01-08 13:54] duncdrum commented on #856
@adamretter good to close?

[2019-01-08 14:00] duncdrum commented on #857
@adamretter is this still an issue?

[2019-01-08 14:03] line-o commented on #291
@duncdrum As expected, it is not possible to write a useful test-case for this.
This is because it raises a static error.
I still created one 😶 and found some more workarounds.
https://gist.github.com/line-o/fea1c46357e84e18f3c01ce2503cbe50
If this is of any help, just tell me where to put it.

[2019-01-08 14:05] adamretter commented on #856
I think this is likely addressed now.

[2019-01-08 14:05] #856 closed

[2019-01-08 14:06] adamretter commented on #857
I think this is likely fixed.

[2019-01-08 14:06] #857 closed

[2019-01-08 14:07] adamretter commented on #858
Evolved Binary's Locking and Cache improvements were merged to `develop` so this can be closed.

[2019-01-08 14:07] #858 closed

[2019-01-08 15:18] duncdrum commented on #291
@line-o certainly helpful, if you could open a PR with the test and mention the issue number both in the PR and inline in the testfile that would be great. thx.

[2019-01-08 15:30] line-o commented on #2308
I just found out that wrapping `fn:not()` in a function works, too.

[code]

[2019-01-08 15:38] line-o commented on #2308
I created some [tests](https://gist.github.com/line-o/c06d1d7b8baf3ec4447c273f03726b54) on my way to this discovery. If you think they or some of them are useful I can prepare a PR.

[2019-01-08 16:08] duncdrum commented on #2308
yes please if you could create a pr with both pending test and some that are passing like the wrapped function thingy that would be great. If you could also add some xqdoc comments with a link to the issue number that would be nice, thx.

[2019-01-08 16:20] JoernT commented on #1253
is this still a valid ticket or outdated?

[2019-01-08 21:40] dizzzz commented on #855
eXist-db v2.x is very old, the core has been changed a lot since then.

[2019-01-08 21:44] dizzzz commented on #1253
"I setted up a new server for that so I don't have to use the Jetty server" means.... tomcat?

[2019-01-08 21:50] dizzzz commented on #769
yep

[2019-01-08 21:50] #769 closed

[2019-01-08 21:52] dizzzz commented on #823
looks like a saxon license is  missing?

[2019-01-09 02:25] adamretter opened #2373 "CharArrayPool leak due to XMLString misuse"
When a new XMLString is constructed it takes a char array from the `CharArrayPool`. In many instances, neither `XMLString#reset()` or `XMLString#release()` is called, which means that array is never returned to the pool.

This quickly causes the pool to lease all its resources, which are never returned or released. We should ensure these are always returned to the pool. It might be prudent to also

[2019-01-09 04:20] joewiz commented on #147
I performed the original test as specified in the OP using the current `develop-4.x.x`, with the following result:

[code]

Comparing the two results, they are identical. Thus I would conclude that this issue is no longer present and that the issue should be closed.

[2019-01-09 04:20] #147 closed

[2019-01-09 04:49] joewiz commented on #794
Yes, I can confirm this is still a problem with develop-4.x.x. A quick self-contained adaptation of the test [from above](https://github.com/eXist-db/exist/issues/794#issuecomment-142620973) is:

[code]

This query returns 0 results, instead of the expected one result, `<para xmlns="test">Hello, my name is Joe.</para>`.

Thus, the problem remains that the keyword analyzer returns 0 results.

[2019-01-09 04:52] joewiz commented on #179
@duncdrum Yes, the problem is still present in the latest develop.

[2019-01-09 04:55] adamretter commented on #179
@joewiz What would you suggest it should do? If you have multiple files, there could be multiple differing permissions?

[2019-01-09 06:10] joewiz commented on #179
@adamretter See the last paragraph of my original post for my suggestion. I'd start with not making up values :-) Then for the cases of differing values for a field, I believe the UI term for what I describe is an "indeterminate" state for a checkbox - I also see the term "TristateCheckBox" used. Some way to indicate that there are multiple values and you've got to choose one or leave existing non

[2019-01-09 07:12] duncdrum commented on #794
@joewiz can you prepare a PR with a pending test that mentions this issue pls?

[2019-01-09 21:30] dizzzz commented on #794
Hmmm I need to check the code... again. I think we see a logging of a fallback mechanism. Step one fails and the second attempt, different interface probably works. I remember a discussion with @adamretter some time ago...

[2019-01-10 10:33] duncdrum commented on #896
if the client says
[code]

you should be connected imv.

[2019-01-10 10:35] duncdrum commented on #902
@dizzzz `wontfix` close?

[2019-01-10 10:43] duncdrum commented on #919
/move eXist-db/xquery-versioning-module

[2019-01-10 10:43] #919 closed

[2019-01-10 10:47] duncdrum commented on #925
@adamretter is this still relevant?

[2019-01-10 10:54] duncdrum commented on #953
@wolfgangmm @dizzzz could you finish triaging this issue?

[2019-01-10 11:05] duncdrum commented on #973
@dizzzz is it?

[2019-01-10 11:17] duncdrum commented on #990
@joewiz could you triage this please, thx.

[2019-01-10 11:32] duncdrum commented on #991
There seem to be three distinct questions here:
1.   the question of improving the documentation examples for ft:search()
2.   the question of the demo app
3.   the question of the potentially problematic implementation of `ft:search`

@eXist-db/core can we get a quick take on 3 so we can create corresponding tickets for demo and docs, thx.

[2019-01-10 11:53] #1072 closed

[2019-01-10 11:54] duncdrum commented on #1085
@adamretter good to close?

[2019-01-10 11:58] duncdrum commented on #1094
I remember some work in this area (might wrong though). @adamretter still an issue?

[2019-01-10 12:02] duncdrum commented on #1111
@dizzzz any updates ?

[2019-01-10 12:07] duncdrum commented on #1142
@joewiz care to prepare a PR with your tests?

[2019-01-10 12:12] duncdrum commented on #1147
I m tempted to close and consolidate this with #1154,
@dizzzz is this still an issue that is high-prio and needs resolution?

[2019-01-10 12:16] duncdrum commented on #1150
/move eXist-db/dashboard

[2019-01-10 12:17] #1150 closed

[2019-01-10 12:30] duncdrum commented on #1163
@ljo ?

[2019-01-10 12:36] duncdrum commented on #1174
@gspringtech could you point us to the xquery specs section that say this should be supported?

@joewiz thoughts?

[2019-01-10 12:41] duncdrum commented on #1176
@joewiz  i think this might have been fixed, but could you update / submit a test pr, thx.

[2019-01-10 12:44] duncdrum commented on #1182
closing as duplicate please continue the discussion in #1010

[2019-01-10 12:44] #1182 closed

[2019-01-10 12:48] duncdrum commented on #1186
@adamretter could you provide a test PR with a pending test please, thx.

[2019-01-10 17:52] joewiz opened #2381 "XQuery parser chokes on legal attribute names"
### What is the problem

eXist throws an XPST0003 error if it encounters an direct element constructor with attributes named `copy-namespaces`, `empty-sequence`, or `schema-element`.

I suspect there may be other cases since these are tokens defined in the XQuery parser. Other tokens that also contain hyphens do not raise this error.

### What did you expect

I expected these legal attribute names

[2019-01-10 18:30] joewiz opened #2382 "Document back/forward porting in CONTRIBUTING.md"
From https://github.com/eXist-db/exist/pull/2370#issuecomment-453059619:

[2019-01-10 19:47] dizzzz commented on #973
I did not see it anymore.....

[2019-01-10 19:47] #973 closed

[2019-01-10 19:52] dizzzz commented on #1147
ok to close and consolidate.

[2019-01-10 20:52] gspringtech commented on #1174
@duncdrum
https://www.w3.org/TR/xquery-31/#id-module-handling-multiple-same

[2019-01-10 21:33] dizzzz commented on #1174
@gspringtech thnx; clear!

[2019-01-10 21:44] dizzzz commented on #801
the restxq code has been updated quite [recently](https://github.com/eXist-db/exist/commits/develop/extensions/exquery/lib); at least after the 4.0 release . i hope for an improvement there? @adamretter

[2019-01-10 21:47] #902 closed

[2019-01-11 04:06] adamretter commented on #992
@duncdrum yes this is resolved.

[2019-01-11 04:06] #992 closed

[2019-01-11 04:07] adamretter commented on #1094
It's still a valid issue

[2019-01-11 04:08] adamretter commented on #1085
@duncdrum Still a valid issue.

[2019-01-11 04:09] adamretter commented on #991
I think only @wolfgangmm can comment on (3)

[2019-01-11 04:13] adamretter commented on #2205
Likely related - https://github.com/eXist-db/exist/issues/1186

[2019-01-11 04:32] #925 closed

[2019-01-11 04:33] adamretter commented on #926
Still a problem.

[2019-01-11 04:58] #801 closed

[2019-01-11 05:05] adamretter commented on #847
@duncdrum I believe this is solved in `develop`

[2019-01-11 05:05] #847 closed

[2019-01-11 09:14] duncdrum commented on #1218
@zacheryt757 it looks like you managed to save your db, if there is still an issue please open a new ticket. thx.

[2019-01-11 09:14] #1218 closed

[2019-01-11 09:16] duncdrum commented on #1244
indeed duplicate of #1115

[2019-01-11 09:16] #1244 closed

[2019-01-11 09:19] duncdrum commented on #1247
TEI-publisher is the last one standing, and on its way to being migrated

[2019-01-11 09:37] duncdrum commented on #1306
/move eXist-db/existdb-dashboard

[2019-01-11 09:38] #1306 closed

[2019-01-11 09:46] duncdrum commented on #1348
@olvidalo would you mind creating a PR with the test script you posted marked as pending? thank you.

[2019-01-11 09:51] duncdrum commented on #1353
@merenyics i m sorry but i m having a hard time getting a means of reproducing the issue from you report. Which is why it has taken so long for someone to look at it i suppose. Could try to create a minimal working code sample including the xquery, index configuration, sample data, expected and actual outputs? thanks.
Alternatively a link to a minimal `.xar`. that shows the behaviour would work as

[2019-01-11 09:53] duncdrum commented on #1373
@ljo any progress on this?

[2019-01-11 10:01] duncdrum commented on #1379
@joewiz @peterstadler could one of you please create a PR with the failing tests marked as `%pending`, including a link in xqDoc annotations to the issue, thx.

[2019-01-11 10:06] duncdrum commented on #1386
@lcahlander since your recent work in this area, tagging you here for future reference. Any comments welcome.

[2019-01-11 10:15] duncdrum commented on #1396
please continue the discussion in the linked documentation issue. Thx.

[2019-01-11 10:15] #1396 closed

[2019-01-11 10:17] duncdrum commented on #1400
@adamretter this is still not part of 5.0 ?

[2019-01-11 10:22] duncdrum commented on #1420
@line-o duplicate of #291 ?
see #2375

[2019-01-11 10:30] duncdrum commented on #1445
@Jeffr22 with more improvements in these core areas could confirm that you are still experiencing these problems with the latest RC of exist-db v5? Also what version of oxygen are you using, and how to you set-up the initial connection to exist?

[2019-01-11 10:39] duncdrum commented on #1464
duplicate of  #798

[2019-01-11 10:39] #1464 closed

[2019-01-11 10:42] duncdrum commented on #1467
@joewiz the PR was merged can you re-confirm this issue, and check for missing tests, thx.

[2019-01-11 10:45] Torcsi commented on #1420
We have solved with workarounds...

[2019-01-11 10:45] #1420 closed

[2019-01-11 10:45] duncdrum commented on #1482
we should add these as pending tests

[2019-01-11 10:46] adamretter commented on #1400
@duncdrum No. It cannot be easily fixed. All of eXist-db's BTrees in their current design require exclusive locking. This is unlikely to be changed.

[2019-01-11 10:46] #1400 closed

[2019-01-11 10:56] duncdrum commented on #1521
@adamretter did you get to reproduce this with the provided `controller.xql`?

[2019-01-11 11:02] duncdrum commented on #1574
@JoernT is this still an issue with 5-RC?

[2019-01-11 11:09] duncdrum commented on #1600
@joewiz can we put this for discussion into the next community call, please so we can decide if and how to move on this, thx.

[2019-01-11 11:10] #1604 closed

[2019-01-11 11:21] duncdrum commented on #1147
while not 100% identical please continue discussion in #1154 thanks

[2019-01-11 11:21] #1147 closed

[2019-01-11 11:22] duncdrum commented on #1665
see #1174 for a related problem

[2019-01-11 11:31] duncdrum commented on #1348
We could still use the PR to avoid regressions, but i m glad this is working properly now.